<app-header [header]="header"></app-header>
<ion-content class="ion-padding">
    <div class="item-header-container">
        <div class="select-container">
            <span>{{'ORDER.LABEL.ORDER_STATUS'|translate}}:</span>
            <select class="form-control filter-select" [(ngModel)]="request.status"
                (change)="onStatusChanged(request.status)">
                <option value="ALL">{{'ORDER.FILTER.ALL'|translate}}</option>
                <option value="NEW">{{'ORDER.FILTER.ORDER_PLACED'|translate}}</option>
                <option value="ASSIGNED_DRIVER">{{'ORDER.FILTER.ASSIGNED_DRIVER'|translate}}</option>
                <option value="AWAITING_COLLECTION">{{'ORDER.FILTER.AWAITING_COLLECTION'|translate}}</option>
                <option value="COLLECTED">{{'ORDER.FILTER.COLLECTED'|translate}}</option>
                <option value="CLEANING_IN_PROGRESS">{{'ORDER.FILTER.CLEANING_IN_PROGRESS'|translate}}</option>
                <option value="CLEANING_COMPLETED">{{'ORDER.FILTER.CLEANING_COMPLETED'|translate}}</option>
                <option value="ASSIGNED_DRIVER_FOR_DELIVERY">{{'ORDER.FILTER.ASSIGNED_DRIVER_FOR_DELIVERY'|translate}}
                </option>
                <option value="ON_THE_WAY">{{'ORDER.FILTER.ON_THE_WAY'|translate}}</option>
                <option value="DELIVERED">{{'ORDER.FILTER.DELIVERED'|translate}}</option>
                <option value="CANCELLED">{{'ORDER.FILTER.CANCELLED'|translate}}</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="!loading && orders.length===0" class="margin-top-20">
        <div class="custom-ui-card ion-text-center">
            {{'PAGES.COMMON.NO_ORDER' | translate}}
        </div>
    </div>
    <div class="order-container" *ngIf="!loading">
        <div class="custom-card" *ngFor="let order of orders">
            <div class="order-number">
                {{'PAGES.ORDER.LABEL.ORDER'|translate}}{{order.orderId}}
                <div class="cancel-order" *ngIf="order.status==='NEW'" (click)="cancel($event,order)">
                    <span>{{'PAGES.ORDER.LABEL.CANCEL'|translate}}</span>
                    <ion-icon name="md-close"></ion-icon>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-20">
                <div class="order-item-payment-container">
                    <div class="item-total">
                        {{order.totalItems}} {{'PAGES.ORDER.LABEL.ITEMS'|translate}}
                    </div>
                    <div class="item-payment-status">
                        <span>{{'PAGES.ORDER.LABEL.PAYMENT_STATUS'|translate}}</span>
                        <span class="payment-status paid" *ngIf="order.paymentStatus==='PAID'">
                            <img class="payment-status-icon" src="/assets/icon/paid.svg">
                            <span>{{'PAGES.ORDER.LABEL.PAID'|translate}}</span>
                        </span>
                        <span class="payment-status" *ngIf="order.paymentStatus!=='PAID'">
                            <img class="payment-status-icon" src="/assets/icon/unpaid.svg">
                            <span>{{'PAGES.ORDER.LABEL.UNPAID'|translate}}</span>
                        </span>
                    </div>
                </div>
                <div class="order-price">
                    {{order.totalPrice| number : '1.2-2'}}<span>&#3647;</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-20">
                <div class="order-pickup-delivery-date">
                    {{'PAGES.ORDER.LABEL.PICKUP_DATE'|translate}}-{{order.pickupDate|date:'dd MMM yyyy' }}
                    &nbsp; {{order.pickupSlot}}
                </div>
                <div class="order-pickup-delivery-date">
                    {{'PAGES.ORDER.LABEL.DELIVERY_DATE'|translate}}-{{order.deliveryDate|date:'dd MMM yyyy'}}
                    &nbsp; {{order.deliverySlot}}
                </div>
            </div>
            <div class="margin-top-10">
                <div class="order-date">
                    {{'PAGES.ORDER.LABEL.ORDER_PLACED_ON'|translate}}-{{order.createdOn|date:'dd MMM'}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top-20" *ngIf="order">
                <div class="delivery-preview {{order.deliveryType|lowercase}}">
                    <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                    <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="order-status-container" *ngIf="order.status==='NEW'">
                    <img class="payment-status-icon" src="/assets/icon/status/order-placed.svg">
                    <span>{{'PAGES.ORDER.LABEL.ORDER_PLACED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ASSIGNED_DRIVER'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver.svg">
                    <span>{{'PAGES.ORDER.LABEL.ASSIGNED_DRIVER'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='AWAITING_COLLECTION'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-pickup.svg">
                    <span>{{'PAGES.ORDER.LABEL.AWAITING_COLLECTION'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='COLLECTED'">
                    <img class="payment-status-icon" src="/assets/icon/status/collected.svg">
                    <span>{{'PAGES.ORDER.LABEL.COLLECTED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='CLEANING_IN_PROGRESS'">
                    <img class="payment-status-icon" src="/assets/icon/status/cleaning-In-progress.svg">
                    <span>{{'PAGES.ORDER.LABEL.CLEANING_IN_PROGRESS'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='CLEANING_COMPLETED'">
                    <img class="payment-status-icon" src="/assets/icon/status/cleaning-finished.svg">
                    <span>{{'PAGES.ORDER.LABEL.CLEANING_COMPLETED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ASSIGNED_DRIVER_FOR_DELIVERY'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver.svg">
                    <span>{{'PAGES.ORDER.LABEL.ASSIGNED_DRIVER_FOR_DELIVERY'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ON_THE_WAY'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-delivery.svg">
                    <span>{{'PAGES.ORDER.LABEL.ON_THE_WAY'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='DELIVERED'">
                    <img class="payment-status-icon" src="/assets/icon/status/delivered.svg">
                    <span>{{'PAGES.ORDER.LABEL.DELIVERED'|translate}}</span>
                </div>
                <!---->
                <div class="order-status-container" *ngIf="order.status==='CANCELLED'">
                    <img class="payment-status-icon" src="/assets/icon/status/cancelled.svg">
                    <span>{{'PAGES.ORDER.LABEL.CANCELLED'|translate}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="flex-space-between">
                <ion-button class="track-order-button small" (click)="detail(order)">
                    {{'PAGES.ORDER.BUTTON.VIEW_DETAIL'|translate}}
                </ion-button>
                <ion-button class="track-order-button small"
                    *ngIf="order.status==='ON_THE_WAY' || order.status==='AWAITING_COLLECTION'" (click)="detail(order)">
                    {{'PAGES.ORDER.BUTTON.TRACK_ORDER'|translate}}
                    <ion-icon src="/assets/icon/tracking-button-icon.svg"></ion-icon>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>