.item-header-container {
    font-size: 14px;

    h4 {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        margin: 3px 0px 0px;
        float: left;
    }

    .select-container {
        float: right;

        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        .filter-select {
            width: 220px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.order-container {
    margin-top: 20px;

    .custom-card {
        text-align: left;
        padding: 15px;
        margin-bottom: 20px;

        .order-number {
            font-family: 'Futura-Bold-BT', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            position: relative;

            .cancel-order {
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 13px;
                line-height: 18px;
                color: #E50C0C !important;
                position: absolute;
                right: 0px;
                top: 0px;
                cursor: pointer !important;

                span,
                ion-icon {
                    display: inline-block;
                    vertical-align: middle;
                    color: #E50C0C !important;
                }
            }
        }

        .order-item-payment-container {
            display: inline-block;
            vertical-align: middle;
            width: 190px;

            .item-total {
                color: #104B7A;
                font-size: 12px;
            }

            .item-payment-status {
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 10px;
                line-height: 12px;
                margin-top: 5px;

                span,
                img {
                    display: inline-block;
                    vertical-align: middle;
                }

                .payment-status {
                    &.paid {
                        color: #22ED5F;
                    }

                    .payment-status-icon {
                        margin-left: 5px;
                        margin-right: 2px;
                        width: 20px;
                    }
                }
            }
        }

        .order-price {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 190px);
            text-align: right;
        }

        .order-status-container {
            width: 100%;
            text-align: right;
            display: inline-block;
            vertical-align: middle;

            span,
            img {
                display: inline-block;
                vertical-align: middle;
                max-height: 20px;
            }

            span {
                font-family: Nunito-SemiBold, sans-serif;
                color: #104B7A;
                margin-left: 5px;
                font-size: 13px;
                line-height: 18px;
            }
        }

        .order-delivery-type {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .order-date {
            font-family: 'Nunito-Bold', sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
            display: inline-block;
            vertical-align: middle;
            width: 150px;
        }

        .order-pickup-delivery-date {
            font-family: 'Nunito-Bold', sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 10px;
        }

        .track-order-button {
            background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 15px #27262629;
            border-radius: 6px;
            font-family: Nunito-SemiBold, sans-serif;
            font-size: 12px;
            line-height: 16px;
            height: 33px;

            ion-icon {
                margin-left: 5px;
            }

            &.small {
                margin-top: 10px;
                width: 125px !important;
            }
        }
    }
}

.delivery-preview {
    width: 100% !important;
}

.track-order-button {
    &.small {
        margin-top: 10px !important;
        width: 150px !important;
    }
}