.notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible !important;

    .notifications-badge {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        font-size: 8px;
        text-align: center;
        padding-left: 5px;
        padding-top: 4px;
    }
}