<ion-header class="ion-text-center">
    <ion-toolbar *ngIf="header">
        <ion-buttons slot="start" *ngIf="header.showMenu">
            <ion-menu-toggle>
                <img src="/assets/images/menu.svg" style="width: 45px;margin-left: 10px;margin-top: 2px;">
            </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="header.showBackButton">
            <ion-back-button [defaultHref]="header.parentLink"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="header.showModalBackButton">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" icon="md-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-align-items-center" *ngIf="header.title">{{header.title|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button class="notification-button">
                <ion-icon slot="icon-only" src="">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>