.profilepic {
  width: 122px;
  margin-top: 20px;

}

h2 {
  font-weight: 800;
}

.address-line {
  margin-top: 20px;

}

.bold-span {
  font-weight: 800;
}

.panel {

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #337ab7;
  font-weight: 600;
  font-size: 18px
}

.panel-body {
  padding: 15px;
}

.change-button {
  background: #337ab7;
  color: #ffffff;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  height: 32px;
  outline: none;
  max-width: 100%;
  white-space: normal;
  line-height: 1.1;
  font-weight: 600;
}
