<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">
        {{filterParam.relationTable === 'DRIVER' ? "Driver" : filterParam.relationTable === 'CUSTOMER' ? "Customer" : "Customer"}}
        {{"COMMON.DETAIL" | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{"DASHBOARD.objName" | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/customers']">{{"CUSTOMER.objName" | translate}}
          {{'ADMINISTRATION' | translate}}</a></li>
        <li class="active">{{"COMMON.DETAIL" | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="site-page-container">
  <div class="site-card">
    <div class="panel-body no-padding" *ngIf="customer">
      <div class="row">
        <div class="col-md-2 text-center">
          <img class="profilepic" [src]="customer.profileimageUrl||'assets/images/profilepic.png'"/>
        </div>
        <div class="col-md-10">
          <h2>&nbsp;&nbsp;{{customer.fullName}}</h2>
          <div class="col-md-7">
            <p><b>{{"CUSTOMER.NICK_NAME" | translate}}:&nbsp;&nbsp; </b>{{customer.nickName}}</p>
            <p><b>{{"CUSTOMER.PhoneNumber" | translate}}:</b>&nbsp;&nbsp; 0{{customer.mobileNo}}</p>
            <p><b>{{"CUSTOMER.Email" | translate}}:</b>&nbsp;&nbsp; {{customer.email}}</p>
            <p><b>{{"CUSTOMER.NOTE_TO_CUSTOMER" | translate}}:</b>&nbsp;&nbsp; {{customer.adminNote}}&nbsp;
              <button *ngIf="customer.adminNote" class="change-button"
                      (click)="changeNote()">{{"COMMON.CHANGE" | translate}}</button>
              <button *ngIf="!customer.adminNote" class="change-button"
                      (click)="changeNote()">{{"COMMON.ADD" | translate}}</button>
            </p>
          </div>
          <div class="col-md-5">
            <p><b>{{"CUSTOMER.GENDER" | translate}}:&nbsp;</b>&nbsp;{{customer.gender}}</p>
            <p><b>{{"CUSTOMER.DATE_OF_BIRTH" | translate}}:&nbsp;</b>&nbsp;{{customer.DOB| date: 'dd/MM/yyyy'}}</p>
            <!-- <p><b>Account Type:&nbsp;</b>&nbsp;{{customer.accountType}}</p> -->
          </div>
        </div>
      </div>
      <div class="address-line" *ngIf="addressData && addressData.type === 'PICKUP_DELIVERY'">
        <div class="panel-heading">
          <span>{{"CUSTOMER.ADDRESS" | translate}}</span>
        </div>
        <div class="panel panel-info">

          <div class="panel-body">
            <div class="row">
              <div class="col-md-8">
                <p *ngIf="addressData.residenceType"><b>{{"CUSTOMER.ADDRESS_TYPE" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.residenceType}}</p>
                <p *ngIf="addressData.houseNumber"><b>{{"CUSTOMER.HOUSE_NUMBER" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.houseNumber}}</p>
                <p *ngIf="addressData.streetNumber"><b>{{"CUSTOMER.STREET_NAME" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.streetNumber}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p *ngIf="addressData.buildingName"><b>{{"CUSTOMER.BUILDING_NAME" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.buildingName}}</p>
                <p *ngIf="addressData.subDistrictName"><b>Sub District:</b>&nbsp;&nbsp; {{addressData.subDistrictName}}
                </p>
                <p *ngIf="addressData.province">
                  <b>{{"CUSTOMER.PROVINCE" | translate}}:</b>&nbsp;&nbsp;{{addressData.province}}</p>
                <p *ngIf="addressData.phoneNo">
                  <b>{{"CUSTOMER.CONTACT_NUMBER" | translate}}:</b>&nbsp;&nbsp;0{{addressData.phoneNo}},
                  0{{addressData.alternatePhoneNo}}</p>
                <p *ngIf="addressData.note">
                  <b>{{"CUSTOMER.CUSTOMER_NOTE" | translate}}:</b>&nbsp;&nbsp;{{addressData.note}}</p>
              </div>
              <div class="col-md-6">
                <p *ngIf="addressData.floor">
                  <b>{{"CUSTOMER.FLOOR_NUMBER" | translate}}:</b>&nbsp;&nbsp;{{addressData.floor}}</p>
                <p *ngIf="addressData.districtName"><b>{{"CUSTOMER.DISTRICT" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.districtName}}</p>
                <p *ngIf="addressData.postalCode"><b>{{"CUSTOMER.POSTAL_CODE" | translate}}:</b>&nbsp;&nbsp;
                  {{addressData.postalCode}}</p>
                <p *ngIf="addressData.ext"><b>{{"CUSTOMER.EXTENSION" | translate}}:</b>&nbsp;&nbsp; {{addressData.ext}}
                </p>
                <p *ngIf="addressData.unit">
                  <b>{{"CUSTOMER.UNIT_NUMBER" | translate}}:</b>&nbsp;&nbsp;{{addressData.unit}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="adminNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminNote" aria-hidden="true"
     data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showAdminNoteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.enterNote' | translate}}</div>
        <div class="custom-textarea">
          <input class="form-control" [(ngModel)]="customer.adminNote"
                 placeholder="{{'CUSTOMER.ADD_NOTES_HERE' | translate}}"
                 maxlength="40"/>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="saveNote()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelAdminNote()"
                  data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
