<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'UserAddress.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'UserAddress.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('USERADDRESS','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('USERADDRESS','AddButton')">
      <span class="hidden-xs">{{'UserAddress.ADD_NEW_USERADDRESS' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card">
    <div class="table-responsive" *ngIf="hasDataLoad">
      <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>{{'UserAddress.userId' | translate}}</th>
            <th>{{'UserAddress.adressLine1' | translate}}</th>
            <th>{{'UserAddress.adressLine2' | translate}}</th>
            <th>{{'UserAddress.districtId' | translate}}</th>
            <th>{{'UserAddress.subDistrictId' | translate}}</th>
            <th>{{'UserAddress.createdOn' | translate}}</th>
            <th>{{'UserAddress.zipCode' | translate}}</th>
            <th>{{'UserAddress.isDefault' | translate}}</th>
            <th>{{'UserAddress.tag' | translate}}</th>
            <th>{{'UserAddress.provinceId' | translate}}</th>
            <th>{{'UserAddress.latitude' | translate}}</th>
            <th>{{'UserAddress.longitude' | translate}}</th>
            <th width="50">{{'COMMON.ACTION' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{record.userId}}</td>
            <td>
              <div [innerHtml]="record.adressLine1" style="max-height: 100px;overflow:auto"></div>
            </td>
            <td>
              <div [innerHtml]="record.adressLine2" style="max-height: 100px;overflow:auto"></div>
            </td>
            <td>{{record.districtId}}</td>
            <td>{{record.subDistrictId}}</td>
            <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
            <td>{{record.zipCode}}</td>
            <td class="text-center">
              <i class="fa"
                [ngClass]="{'fa-check enabled-icon':record.isDefault,'fa-times disabled-icon':!record.isDefault}"
                aria-hidden="true"></i>
            </td>
            <td>{{record.tag}}</td>
            <td>{{record.provinceId}}</td>
            <td>{{record.latitude}}</td>
            <td>{{record.longitude}}</td>
            <td class="text-center">
              <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
                (click)="onItemSelection(record)" *ngIf="isPlusButton">
                {{'COMMON.SELECT' | translate}}
              </a>
              <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('USERADDRESS','DetailButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('USERADDRESS','DetailButton')"
                (click)="loadDetailPage(record.id)">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
              <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('USERADDRESS','EditButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('USERADDRESS','EditButton')"
                [routerLink]="['/dashboard/user-address/edit/'+record.id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('USERADDRESS','DeleteButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('USERADDRESS','DeleteButton')" (click)="remove(record.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="records.length===0">
            <td class="text-center" colspan="15">
              {{"COMMON.NO_RECORDS_FOUND" | translate}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-useraddress-edit *ngIf="request.loadEditPage" [onCancel]="onCancel.bind(this)"></app-useraddress-edit>

<div class="modal fade site-detail-modal right" id="userAddressDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="userAddressDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-useraddress-detail [recordId]="selectedId"></app-useraddress-detail>
      </div>
    </div>
  </div>
</div>
