<ion-content>
    <div class="success-box">
        <div class="icon-container">
            <img src="/assets/icon/order-success.svg">
        </div>
        <div class="order-text">
            {{'ORDER.ORDER_ID' | translate}} <b>#{{orderNumber}}</b>
        </div>
        <div class="header-text">
            {{'ORDER.THANK_YOU_LABEL' | translate}}
        </div>
        <div class="sub-header-text">
            {{'ORDER.SUB_HEADING_LABEL' | translate}}
        </div>
        <div class="margin-top-20">
            <ion-button class="order-detail-button" (click)="detail()">
                {{'ORDER.ORDER_DETAIL_BUTTON' | translate}}
            </ion-button>
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="call()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>
