<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container margin-bottom-20">
                <img src="../assets/images/checked.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.RESET_SUCCESSFUL.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.RESET_SUCCESSFUL.SUB_HEADING' | translate}}</ion-label>
            </div>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="login()">{{'PAGES.RESET_SUCCESSFUL.BUTTON.OK' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>