@font-face {
    font-family: Futura-Medium-BT;
    src: url('/assets/fonts/FuturaMediumBT.ttf');
}

@font-face {
    font-family: Futura-Bold-BT;
    src: url('/assets/fonts/FuturaBoldBT.ttf');
}

@font-face {
    font-family: Futura-Heavy;
    src: url('/assets/fonts/Futura-Heavy.ttf');
}

@font-face {
    font-family: Nunito-ExtraBold;
    src: url('/assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: Nunito-Bold;
    src: url('/assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url('/assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: Nunito-Regular;
    src: url('/assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito-Light;
    src: url('/assets/fonts/Nunito-Light.ttf');
}