/* Padding classes */

.padding-16 {
    padding: 16px !important;
}


/* Margin left classes */

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-left-28 {
    margin-left: 28px !important;
}


/* Margin right classes */

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}


/* Margin top classes */
.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-16 {
    margin-top: 16px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-24 {
    margin-top: 24px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-48 {
    margin-top: 48px !important;
}

.margin-top-72 {
    margin-top: 72px !important;
}

.margin-top-96 {
    margin-top: 96px !important;
}


/* Margin bottom classes */

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}


/* Margin horizontal classes */

.margin-horizontal-8 {
    margin: 0 8px !important;
}


/* Margin vertical classes */

.margin-vertical-8 {
    margin: 8px 0 !important;
}


/* Padding left classes */


/* Padding right classes */


/* Padding top classes */

.padding-top-16 {
    padding-top: 16px !important;
}


/* Padding bottom classes */

.padding-bottom-16 {
    padding-bottom: 16px !important;
}


/* Padding horizontal classes */

.padding-horizontal-24 {
    padding: 0 24px !important;
}


/* Padding horizontal classes */


/* Border Radius  classes */

.border-radius-24 {
    --border-radius: 24px !important;
    border-radius: 24px !important;
}


/* Other Custom  classes */

.width-100 {
    width: 100% !important;
}

[no-padding] {
    padding: 0 !important;
}

[absolute] {
    position: absolute !important;
}

.is-invalid {
    border: 2px solid red !important;
    box-shadow: none !important;
    border-radius: 6px;
}

.is-invalid-float {
    ion-input {
        border-bottom: 2px solid red !important;
    }
}

.is-invalid-radio {
    border: 2px solid red !important;
    box-shadow: none !important;
    border-radius: 50%;
}

.is-invalid-checkbox {
    border: 2px solid red !important;
    box-shadow: none !important;
    border-radius: 6px;
}

.error-text {
    font-size: 1rem;
    width: 100%;
    color: red;
    animation: error-text-animation;
    animation-duration: .8s;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    margin-bottom: 4px;
}

.flexible-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.profile-image-sheet {
    .action-sheet-group {
        border-radius: 0px;
        background-color: transparent;
    }

    .action-sheet-button {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5px;
        background: var(--ion-color-primary) !important;
        color: var(--app-light-color) !important;
        height: 40px;
        font-size: 14px;
        border-radius: 4px;
    }

    .action-sheet-group-cancel {
        .action-sheet-button {
            margin-bottom: 0px !important;
        }
    }
}

.term-and-condition-popup {
    .modal-wrapper {
        height: 92%;
        width: 86%;
    }
}

.term-and-condition-container {
    padding: 10px;
}

.agree-checkbox-label {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-top: 2px;

    b {
        color: var(--app-hyperlink-text-color);
    }
}

.categories-container {
    margin-top: 20px;

    .category-item,
    .category-main-item {
        text-decoration: none !important;
        margin-bottom: 20px;
        cursor: pointer;

        .category-icon {
            float: left;
            width: 84px;
            height: 85px;
            background: #0060AE 0% 0%;
            border-radius: 10px;
            opacity: 1;
            text-align: center;
            line-height: 85px;

            img {
                vertical-align: middle;
                max-width: 50px;
            }
        }


        .category-text {
            margin-left: 10px;
            width: calc(100% - 95px);
            float: left;


            .category-name {
                text-align: left;
                letter-spacing: 0;
                color: #000000;
                opacity: 1;
                font-size: 15px;
                line-height: 18px;
                font-family: 'Futura-Medium-BT', sans-serif;
            }

            p {
                font-family: 'Nunito-Regular', sans-serif;
                color: #606060;
                margin: 0px;
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    .category-main-item {
        .category-icon {
            float: left;
            width: 74px;
            height: 77px;
            background: #0060AE 0% 0%;
            border-radius: 10px;
            opacity: 1;
            text-align: center;
            line-height: 74px;

            img {
                vertical-align: middle;
                max-width: 40px;
            }
        }

        .category-name {
            font-size: 16px !important;
            font-weight: 600 !important;
            line-height: 45px !important;
        }
    }
}

.alert-wrapper {
    background-color: #EAE9EB !important;
    color: #000;
    --max-width: 332px !important;

    .alert-head {
        .alert-title {
            font-weight: 800;
            color: #000;
        }
    }

    .alert-message {
        color: #000;
    }

    .alert-button-group {
        justify-content: center;
        padding: 0px 24px 16px;

        .alert-button {
            background-color: #005FAE !important;
            color: #fff;
            border-radius: 4px;
            min-width: calc(50% - 8px);
            max-width: calc(50% - 8px);
            text-align: center;

            &.disagreeBtn {
                background-color: #1D222A !important;
                margin: 0 8px 0 0;
                min-width: calc(50% - 8px);
            }

            .alert-button-inner {
                justify-content: center;
            }
        }
    }
}

.info-alert {
    .alert-wrapper {
        background-color: #fff !important;
        color: #000;
    }
}

.order-detail-container {
    margin-top: 10px;

    .order-number {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 135px);
    }

    .order-date {
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: 135px;
    }
}

.delivery-preview {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.delivery-payment-preview {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 14px;
    line-height: 16px;

    span,
    ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    ion-icon {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.delivery-user-detail-info {
    font-family: Nunito-SemiBold, sans-serif;
    color: #1D1E1E;
    font-size: 12px;
    line-height: 22px;

    .delivery-user-info {
        .user-name {
            font-family: Nunito-Bold, sans-serif;
            color: #000000;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.order-delivery-date {
    margin-top: 10px;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;

    span {
        font-family: Nunito-Bold, sans-serif;
    }
}

.order-driver-detail {
    min-height: 250px;
}

.loading-wrapper {
    padding: 11px !important;
    border-radius: 6px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.user-tracking-card {
    margin-top: 20px;

    .order-user-name {
        font-size: 21px;
        font-weight: bold;
    }

    .user-order-status-container {
        margin-top: 10px;

        .cloth-label {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            font-size: 14px;
        }

        .order-status-container {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 68px);

            span,
            img {
                display: inline-block;
                vertical-align: middle;
                max-height: 20px;
            }

            span {
                font-family: Nunito-SemiBold, sans-serif;
                color: #104B7A;
                margin-left: 5px;
                font-size: 13px;
                line-height: 18px;
            }
        }
    }
}

.track-order-button {
    width: 100%;
}


.cancel-order-status {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    span,
    img {
        display: inline-block;
        vertical-align: middle;
        max-height: 40px;
    }

    span {
        font-family: Nunito-SemiBold, sans-serif;
        color: #104B7A;
        margin-left: 5px;
        font-size: 18px;
        line-height: 18px;
    }
}

.no-margin-top {
    margin-top: 0px !important;
}

.rate-it {
    background-color: #cac4c4;
    color: #222;
    padding: 10px;

    h6 {
        margin: 0px;
    }
}

.alert-wrapper.sc-ion-alert-md,
.alert-wrapper.sc-ion-alert-ios {
    margin: 0 20px;
}