<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'MessageLog.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'MessageLog.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('MESSAGELOG','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('MESSAGELOG','AddButton')">
      <span class="hidden-xs">{{'MessageLog.ADD_NEW_MESSAGELOG' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card">
    <div class="table-responsive" *ngIf="hasDataLoad">
      <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>{{'MessageLog.userId' | translate}}</th>
            <th>{{'MessageLog.message' | translate}}</th>
            <th>{{'MessageLog.languageId' | translate}}</th>
            <th>{{'MessageLog.type' | translate}}</th>
            <th>{{'MessageLog.createdOn' | translate}}</th>
            <th width="50">{{'COMMON.ACTION' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{record.userId}}</td>
            <td>
              <div [innerHtml]="record.message" style="max-height: 100px;overflow:auto"></div>
            </td>
            <td>{{record.languageId}}</td>
            <td>{{record.type}}</td>
            <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
            <td class="text-center">
              <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
                (click)="onItemSelection(record)" *ngIf="isPlusButton">
                {{'COMMON.SELECT' | translate}}
              </a>
              <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('MESSAGELOG','DetailButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('MESSAGELOG','DetailButton')"
                (click)="loadDetailPage(record.id)">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
              <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('MESSAGELOG','EditButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('MESSAGELOG','EditButton')"
                [routerLink]="['/dashboard/message-log/edit/'+record.id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
                *ngIf="authService.isAccessible('MESSAGELOG','DeleteButton') && !isPlusButton"
                [class.disabled]="authService.isDisabled('MESSAGELOG','DeleteButton')" (click)="remove(record.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="records.length===0">
            <td class="text-center" colspan="15">
              {{"COMMON.NO_RECORDS_FOUND" | translate}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-messagelog-edit *ngIf="request.loadEditPage" [onCancel]="onCancel.bind(this)"></app-messagelog-edit>

<div class="modal fade site-detail-modal right" id="messageLogDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="messageLogDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-messagelog-detail [recordId]="selectedId"></app-messagelog-detail>
      </div>
    </div>
  </div>
</div>
