.box-icon {
    width: 20px;
    height: 20px;
}

.ios {
    .user-profile-image {
        margin: 50px auto 20px;
    }
}

.user-profile-image {
    width: 160px;
    margin: 20px auto;
    height: 160px;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.user-profile-text {
    width: 100%;
    text-align: center;
    display: block;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;

    span,
    ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    ion-icon {
        margin-left: 5px;
    }
}

.selected {
    color: #0462AF !important;

    ion-icon {
        color: #0462AF !important;
        ;
    }
}

ion-content {
    position: relative;

    ion-list {
        position: relative;
        height: 100%;
    }

    .company-logo {
        position: absolute;
        bottom: 0px;
    }

    .build-version-container {
        position: absolute;
        bottom: 190px;
        width: 100%;
        text-align: center;
        font-family: Nunito-SemiBold, sans-serif;
        font-size: 14px;

        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            margin-right: 7px;
            width: 14px;
        }

        .version-no {
            color: #0462AF !important;
            margin-left: 4px;
        }
    }
}

.build-version {
    padding-left: 14px;
    font-size: 11px;
}