.category-header {
    font-family: 'Futura-Bold-BT', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.new-address {
    background: var(--app-light-color);
    box-shadow: 0px 0px 10px #E7EAF0;
    border: 1px dashed var(--ion-color-primary);
    border-radius: 6px;
    height: 51px;
    text-align: center;
    line-height: 47px;

    span {
        text-align: center;
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        display: inline-block;
        vertical-align: middle;
    }

    .plus-icon {
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
        margin-right: 5px;
    }
}

.old-address {
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 12px;
    line-height: 23px;
    color: #1D1E1E;
    position: relative;

    .address-text {
        width: calc(100% - 30px);
        float: left;
    }

    .edit-icon {
        float: right;
        font-size: 18px;
        margin-top: 10px;
        cursor: pointer;
    }
}

.custom-card {
    text-align: left;
    padding: 10px;

    .pickup-slot {
        margin-right: 5px;
        margin-bottom: 5px;
        background: var(--app-light-color);
        border: 1px solid #BBB4B4;
        border-radius: 6px;
        padding: 8px;
        width: 120px;
        display: inline-block;
        vertical-align: top;
        font-family: 'Futura-Medium-BT', sans-serif;
        color: #000000;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        cursor: pointer;

        &.selected {
            background: var(--ion-color-primary) 0% 0% no-repeat padding-box !important;
            color: var(--app-light-color) !important;
        }
    }
}

.customer-drop-off {
    ion-checkbox {
        --padding-start: 0px;
        --inner-padding-start: 0px;
        margin-right: 5px;
        margin-left: -15px;
        --size: 20px;
    }
}

.date-header-label {
    margin-top: 0px !important;
}

.custom-datetime {
    margin-bottom: 10px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.address-cart {
    padding: 15px;
}

.date-picker-container {
    position: relative;

    img {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}