<app-header [header]="header"></app-header>
<ion-content class="ion-padding" *ngIf="basicDetail">
    <div class="address-section">
        <h4 class="category-header">{{'PAGES.CHECKOUT.LABEL.PICKUP_DELIVERY_ADDRESS'|translate}}</h4>
        <div class="new-address" *ngIf="!pickupDeliveryAddress" (click)="addAddress()">
            <ion-icon slot="icon-only" class="plus-icon" src="/assets/icon/plus.svg"></ion-icon>
            <span>{{'PAGES.CHECKOUT.LABEL.ADD_ADDRESS'|translate}}</span>
        </div>
        <div class="old-address" *ngIf="pickupDeliveryAddress">
            <span class="address-text">
                {{pickupDeliveryAddress.houseNumber}} {{pickupDeliveryAddress.streetNumber}}
                {{pickupDeliveryAddress.buildingName}} {{pickupDeliveryAddress.floor}} {{pickupDeliveryAddress.unit}}
                {{pickupDeliveryAddress.subDistrictName}}
                , {{pickupDeliveryAddress.districtName}}, {{pickupDeliveryAddress.postalCode}}
                , {{pickupDeliveryAddress.phoneNo}}{{pickupDeliveryAddress.ext}}
            </span>
            <ion-icon slot="icon-only" (click)="editAddress(pickupDeliveryAddress)" class="edit-icon"
                src="/assets/icon/edit.svg"></ion-icon>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="address-section">
        <h4 class="category-header">{{'PAGES.CHECKOUT.LABEL.NOTE'|translate}}</h4>
        <div class="old-address" *ngIf="pickupDeliveryAddress">
            <span class="address-text">{{cart.note}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div clas="delivery-container" *ngIf="cart">
        <h4 class="category-header">{{'PAGES.COMMON.LABEL.DELIVERY_OPTION'|translate}}</h4>
        <div class="delivery-preview {{cart.deliveryType|lowercase}}">
            <ion-icon src="/assets/icon/delivery/{{cart.deliveryType|lowercase}}.svg"></ion-icon>
            <span>{{'PAGES.COMMON.DELIVERY.' + cart.deliveryType | translate}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <h4 class="category-header">{{'PAGES.CHECKOUT.LABEL.PICKUP_TIME'|translate}}</h4>
    <!--<ion-item class="customer-drop-off" *ngIf="cart">
        <ion-label>{{'PAGES.CHECKOUT.LABEL.CUSTOMER_DROP_OFF'|translate}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="cart.customerDropOff" mode="ios"></ion-checkbox>
    </ion-item>-->
    <div class="custom-card address-cart" *ngIf="cart">
        <div class="date-item-container">
            <h4 class="category-header date-header-label">{{'PAGES.CHECKOUT.LABEL.DATE'|translate}}</h4>
            <div class="date-picker-container">
                <ion-datetime class="custom-datetime" displayFormat="DD/MM/YYYY"
                    placeholder="{{'PAGES.CHECKOUT.LABEL.SELECT_DATE'|translate}}" [min]="request.pickupMin"
                    [max]="request.max" [(ngModel)]="cart.pickupDate"
                    (ionChange)="onPickupDateChanged(cart.pickupDate)">
                </ion-datetime>
                <img src="/assets/icon/calendar.png" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pickup-slot" [ngClass]="{'selected':cart.pickupSlot===slot.id}" *ngFor="let slot of pickupSlots"
            (click)="onPickupSlotSelection(slot)">
            {{slot.slug}}
        </div>
    </div>
    <h4 class="category-header">{{'PAGES.CHECKOUT.LABEL.DELIVERY_TIME'|translate}}</h4>
    <!-- <ion-item class="customer-drop-off" *ngIf="cart">
         <ion-label>{{'PAGES.CHECKOUT.LABEL.CUSTOMER_PICK_UP'|translate}}</ion-label>
         <ion-checkbox slot="start" [(ngModel)]="cart.customerPickup" mode="ios"></ion-checkbox>
     </ion-item>-->
    <div class="custom-card address-cart" *ngIf="cart">
        <div>
            <h4 class="category-header date-header-label">{{'PAGES.CHECKOUT.LABEL.DATE'|translate}}</h4>
            <div class="date-picker-container">
                <ion-datetime class="custom-datetime" displayFormat="DD/MM/YYYY"
                    placeholder="{{'PAGES.CHECKOUT.LABEL.SELECT_DATE'|translate}}" [min]="request.deliveryMin"
                    [max]="request.deliveryMax" [(ngModel)]="cart.deliveryDate"
                    (ionChange)="onDeliveryDateChanged(cart.deliveryDate)"></ion-datetime>
                <img src="/assets/icon/calendar.png" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pickup-slot" [ngClass]="{'selected':cart.deliverySlot===slot.id}" *ngFor="let slot of deliverySlots"
            (click)="onDeliverySlotSelection(slot)">
            {{slot.name}}
        </div>
    </div>
    <div class="clearfix"></div>
    <ion-button class="proceed-button̥ margin-top-20" (click)="continue()">{{'PROCEED_BUTTON' | translate}}</ion-button>
</ion-content>