<app-header [header]="header"></app-header>

<ion-content [scrollEvents]="true" #scrollMe class="ion-padding"
             (ionScroll)="getPreviousMessagesOnScroll($event)">
    <div class="ion-text-center" *ngIf="isLoadingPreviousMessages">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div *ngFor="let dateChat of chatMessages">
        <div *ngFor="let chat of dateChat">
            <div class="message-item left-side" *ngIf="chat.userId !== twiloCurrentUserId">
                <div class="message-text">
                    <p class="message-body" [innerHTML]="chat.body | linky:{newWindow: false}"
                       *ngIf="chat.type === 'text'">
                        {{chat.body}}
                    </p>
                </div>
                <div class="user-detail">
                    <span class="driver-name">Driver</span>
                    <span class="message-date-time">{{chat.timestamp|date:'hh:mm a'}}</span>
                </div>
            </div>
            <div class="message-item right-side" *ngIf="chat.userId === twiloCurrentUserId">
                <div class="message-text">
                    <p class="message-body" [innerHTML]="chat.body | linky:{newWindow: false}"
                       *ngIf="chat.type === 'text'">
                        {{chat.body}}
                    </p>
                </div>
                <div class="user-detail">
                    <span class="message-date-time">{{chat.timestamp|date:'hh:mm a'}}</span>
                </div>
            </div>
        </div>
        <div class="message-item left-side" *ngIf="isTyping">
            <div class="message-text">
                <img src="/assets/images/typing-loading.gif">
            </div>
        </div>
        <div class="loading-item" *ngIf="!messageLoaded">
            <div class="message-text">
                <img src="/assets/images/message-loading.gif">
            </div>
        </div>
    </div>
</ion-content>
<div class="chat-input-section" slot="fixed">
    <div class="default-message-container" *ngIf="defaultMessages && defaultMessages.length>0">
        <div class="default-message-inner-container">
            <div class="default-message-item" *ngFor="let defaultMessage of defaultMessages"
                 (click)="sendDefaultMessage(defaultMessage)">
                {{defaultMessage.message}}
            </div>
        </div>
    </div>
    <ion-row>
        <ion-col size="10">
            <ion-textarea placeholder="Type a Message" [(ngModel)]="data.message" name="message"
                          (keyup)="typingHandler($event)"
                          [disabled]="!messageLoaded" (ionBlur)="onDisableKeyboard()"
                          (ionFocus)="onEnableKeyboard()" cols="1"></ion-textarea>
        </ion-col>
        <ion-col size="2" (click)="sendMessage()">
            <ion-icon class="send-icon" src="/assets/images/send.svg"></ion-icon>
        </ion-col>
    </ion-row>
</div>