.chat-input-section {
    --offset-bottom: 0px;
    background-color: #f5f5f5;
    --background-color: #f5f5f5;
    padding: 15px 10px;

    ion-row {
        padding: 0px;
    }

    ion-col {
        --ion-grid-column-padding: 0px;
    }

    ion-textarea {
        height: 44px;
        --background: #fff;
        border-radius: 4px;
        margin: 0px;
    }

    .send-icon {
        font-size: 31px;
        margin-top: 6px;
        margin-left: 10px;
    }
}

.message-item {
    clear: both;
    display: block;
    margin-bottom: 10px;
    width: 60%;
    max-width: 80%;

    &.left-side {
        float: left;
        text-align: left;

        .message-text {
            background-color: #BFD4F2;
            border-radius: 0px 7px 0px 7px;
        }
    }

    &.right-side {
        float: right;
        text-align: right;

        .message-text {
            background-color: #EBEBEB;
            border-radius: 7px 0px 7px 0px;
        }
    }

    .message-text {
        padding: 9px 10px;
        width: 100%;
        display: inline-block;
        font-size: 14px;

        .message-body {
            margin: 0px;
        }
    }

    .user-detail {
        font-size: 10px;
        padding: 0px 3px;

        .message-date-time {
            float: right;
        }
    }
}

.loading-item {
    padding: 7px 10px;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: fixed;
    top: 65px;

    .message-body {
        margin: 0px;
    }

    .message-text {
        background-color: #f1f1f1;
        border-radius: 0px 7px 0px 7px;
        width: 85px;
        text-align: center;
    }
}

.default-message-container {
    margin-bottom: 20px;

    .default-message-inner-container {
        overflow-x: auto;
        white-space: nowrap;

        .default-message-item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            padding: 6px 10px;
            background-color: #ddd;
            border-radius: 4px;
        }
    }
}