ion-textarea {
    border: 2px solid var(--ion-color-primary);
}

.custom-button-item {
    box-shadow: 0px 0px 12px 0px var(--app-button-box-shadow);
    border-radius: 6px;
    --padding-start: 0px;
    --inner-padding-end: 0px;

    ion-button {
        --background: var(--ion-color-primary);
        --background-activated: var(--ion-color-primary);
        --background-focused: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        width: 100%;
        height: 100%;
        font-family: Nunito-ExtraBold, sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-transform: initial;
        margin: 0;
        letter-spacing: -0.1px;
        --border-radius: 6px;

        button {
            padding: 0;
        }
    }
}

.custom-button-2-item {
    @extend .custom-button-item;

    ion-button {
        --background: var(--ion-color-secondary);
        --background-activated: var(--ion-color-secondary);
        --background-focused: var(--ion-color-secondary);
        --background-hover: var(--ion-color-secondary);
    }
}