<ion-content>
    <div class="ion-padding">
        <h3>{{'PAGES.RATE.HEADING' | translate}}</h3>
        <h6>{{'PAGES.RATE.QUALITY' | translate}}</h6>
        <ionic4-star-rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFC90E" defaultColor="#0060AE"
            readonly="false" rating="0" fontSize="32px" (ratingChanged)="onQualityChanged($event)">
        </ionic4-star-rating>
        <h6>{{'PAGES.RATE.DELIVERY_SERVICE' | translate}}</h6>
        <ionic4-star-rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFC90E" defaultColor="#0060AE"
            readonly="false" rating="0" fontSize="32px" (ratingChanged)="onDeliveryChanged($event)">
        </ionic4-star-rating>
        <h6>{{'PAGES.RATE.STAFFS' | translate}}</h6>
        <ionic4-star-rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFC90E" defaultColor="#0060AE"
            readonly="false" rating="0" fontSize="32px" (ratingChanged)="onStaffChanged($event)">
        </ionic4-star-rating>
        <h6>{{'PAGES.RATE.PACKING' | translate}}</h6>
        <ionic4-star-rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFC90E" defaultColor="#0060AE"
            readonly="false" rating="0" fontSize="32px" (ratingChanged)="onPackingChanged($event)">
        </ionic4-star-rating>
        <h6>{{'PAGES.RATE.OVERALL_SATISFACTION' | translate}}</h6>
        <ionic4-star-rating activeIcon="star" defaultIcon="star-outline" activeColor="#FFC90E" defaultColor="#0060AE"
            readonly="false" rating="0" fontSize="32px" (ratingChanged)="onOverallChanged($event)">
        </ionic4-star-rating>
        <div class="custom-input-item margin-top-20">
            <ion-textarea rows="4" cols="20" type="text" #note="ngModel" name="note"
                [ngClass]="{ 'is-invalid': rating.feedbackEmpty }" placeholder="{{'PAGES.RATE.FEEDBACK' | translate}}"
                [(ngModel)]="rating.feedback" autocomplete="off" (keyup)="onInputChange()" required="required"
                #note="ngModel">
            </ion-textarea>
        </div>
        <ion-item class="custom-button-item margin-top-20">
            <ion-button (click)="save()">{{'PAGES.RATE.BUTTON.SUBMIT'| translate}}
            </ion-button>
        </ion-item>
        <ion-item class="custom-button-2-item margin-top-16">
            <ion-button (click)="back(false)">
                {{'PAGES.RATE.BUTTON.SKIP'| translate}}
            </ion-button>
        </ion-item>
    </div>
</ion-content>