<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">Dashboard</h3>
      <ol class="breadcrumb">
        <li class="active">{{'DASHBOARD.objName' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- <div class="site-page-container" *ngIf="authService.hasRole(['ROLE_ADMIN'])">
  <div class="info-card-container">
    <div class="info-card">
      <div class="info-card-header">
        Delivery
      </div>
      <div class="info-card-body">
        <img src="/assets/images/loading.png">
        <div class="total-count">20</div>
      </div>
      <div class="total-label">View Detail</div>
      <img src="/assets/images/charts/6.png" class="img-responsive">
    </div>
  </div>
  <div class="info-card-container">
    <div class="info-card">
      <div class="info-card-header">
        Delivery
      </div>
      <div class="info-card-body">
        <img src="/assets/images/loading.png">
        <div class="total-count">20</div>
      </div>
      <div class="total-label">View Detail</div>
      <img src="/assets/images/charts/6.png" class="img-responsive">
    </div>
  </div>
  <div class="info-card-container">
    <div class="info-card">
      <div class="info-card-header">
        Delivery
      </div>
      <div class="info-card-body">
        <img src="/assets/images/loading.png">
        <div class="total-count">20</div>
      </div>
      <div class="total-label">View Detail</div>
      <div class="count-container">
        <div class="count-item">
          <h6>Normal</h6>
          <div class="item-count">789</div>
          <p>View Detail</p>
        </div>
        <div class="count-item">
          <h6>Express</h6>
          <div class="item-count">789</div>
          <p>View Detail</p>
        </div>
        <div class="count-item">
          <h6>Same Day</h6>
          <div class="item-count">789</div>
          <p>View Detail</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-card-container">
    <div class="info-card">
      <div class="info-card-header">
        Delivery
      </div>
      <div class="info-card-body">
        <img src="/assets/images/loading.png">
        <div class="total-count">20</div>
      </div>
      <div class="total-label">View Detail</div>
      <img src="/assets/images/charts/6.png" class="img-responsive">
    </div>
  </div>
  <div class="info-card-container">
    <div class="info-card">
      <div class="info-card-header">
        Delivery
      </div>
      <div class="info-card-body">
        <img src="/assets/images/loading.png">
        <div class="total-count">20</div>
      </div>
      <div class="total-label">View Detail</div>
      <img src="/assets/images/charts/6.png" class="img-responsive">
    </div>
  </div>
  <div class="clearfix"></div>
</div> -->
