.info-card-container {
  display: inline-block;
  vertical-align: top;
  width: 246px;
  margin-left: 10px;


  .info-card {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;

    .info-card-header {
      padding: 15px;
      color: #48465b;
      font-size: 18px;
      font-weight: 500;
      text-align: right;
    }

    .info-card-body {
      padding: 5px 15px 15px;

      img {
        max-width: 38px;
      }

      .total-count {
        font-weight: 600;
        font-size: 4.8rem;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 38px);
        text-align: right;
      }
    }

    .total-label {
      font-size: 1.2rem;
      text-align: center !important;
      width: 100%;
    }
  }
}

.count-container {
  width: 100%;
  margin-top: 15px;

  .count-item {
    width: 81.3px;
    border: 1px solid #ddd;
    height: 83px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    &:nth-child(even) {
      border-left: 0px !important;
      border-right: 0px !important;
    }

    h6 {
      margin-bottom: 8px;
    }

    .item-count {
      font-size: 18px;
      margin-bottom: 3px;
    }

    p {
      font-size: 11px;
      margin-bottom: 0px;
    }
  }
}

