<app-header [header]="header"></app-header>
<div class="map-container" *ngIf="detail && detail.showMap">
    <agm-map [fitBounds]="true">
        <agm-marker [animation]="'DROP'" [latitude]="order.deliveryAddress.latitude"
                    [longitude]="order.deliveryAddress.longitude"
                    [markerDraggable]="false"
                    [iconUrl]="'/assets/icon/tracking/'+getDeliveryType(order)+'-small.svg'"
                    (markerClick)="onMarkerDetail(order)"
                    *ngFor="let order of orders" [agmFitBounds]="true">
        </agm-marker>
    </agm-map>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="call()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</div>