#map_canvas, agm-map, .map {
    width: 100%;
    height: 100vh;

    .map-container {
        position: relative;

        .eta-time {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: blue;
            color: #fff;
            border-radius: 5px;
        }
    }
}