<div class="breadcrumb-container">
    <div class="col-md-12 breadcrumb-detail-container">
        <a class="menu-icon-button" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/back.png" class="img-responsive">
        </a>
        <div class="project-name-container">
            <h3 class="project-name">{{'PostalCode.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
            <ol class="breadcrumb">
                <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
                <li><a data-dismiss="modal" aria-label="Close">{{'PostalCode.objNames' | translate}}</a></li>
                <li class="active">{{'COMMON.DETAIL' | translate}}</li>
            </ol>
        </div>
        <button class="btn btn-primary add-new-item-button pull-right"
                title="{{'COMMON.EDIT' | translate}}" *ngIf="authService.isAccessible('POSTALCODE','EditButton')"
                data-dismiss="modal" aria-label="Close" [routerLink]="['/dashboard/postal-code/edit/'+record.id]">
            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container no-padding">
    <div class="site-card">
    	<div class="custom-tab-container">
    		<ul class="nav nav-pills nav-tabs">
		        <li [ngClass]="{'active':tabView == 'DETAIL'}"><a (click)="onChangeTab('DETAIL')">{{'PostalCode.objName' | translate}}</a></li>
	      </ul>
      	</div>
        <div class="clearfix"></div>
        <div class="custom-tab-content-container">
		      <table class="table table-bordered table-striped" [hidden]="tabView !== 'DETAIL'" *ngIf="tabViewed['DETAIL'] || tabView == 'DETAIL'">
		    	<tbody>
					        <tr>
					          <td class="detail-page-label" width="200">
					            {{"PostalCode.postalCode" | translate}}
					          </td>
					            <td>{{record.postalCode}}</td>
					        </tr>
					        <tr>
					          <td class="detail-page-label" width="200">
					            {{"PostalCode.updatedOn" | translate}}
					          </td>
					             <td>{{record.updatedOn|date:'dd/MM/yyyy'}}</td>
					        </tr>
					        <tr>
					          <td class="detail-page-label" width="200">
					            {{"PostalCode.isActive" | translate}}
					          </td>
					            <td>{{record.isActive}}</td>
					        </tr>
		    		</tbody>
		    	</table>
        </div>
     </div>
</div>
