<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Promotion.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/promotion']">{{'Promotion.objNames' | translate}}</a></li>
        <li class="active">{{"COMMON.UPDATE" | translate}} {{'Promotion.objName' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #promotionForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Promotion.title" | translate}}
            </label>
            <div class="color-picker-input" [ngClass]="{'has-error':!title.valid && onClickValidation}">
              <input class="form-control" type="text" minlength="0" maxlength="200" name="title" required="required"
                [(ngModel)]="promotion.title" #title="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Promotion.path" | translate}}
            </label>
            <div class="color-picker-input" [ngClass]="{'has-error':!url.valid && onClickValidation}">
              <input class="form-control" type="text" name="url" [(ngModel)]="promotion.url" #url="ngModel"
                required="required">
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="promotionImage">
          <input class="file-input" id="attachment" type="file" ng2FileSelect [uploader]="attachmentUploader" />
          <div class="form-group attachment-item-container margin-bottom-10">
            <div class="image-preview-container">
              <a target="_blank" (click)="goToLink(promotionImage.path)">
                <img [src]="promotionImage.path" class="img-responsive" alt="promotion">
              </a>
              <span class="remove-icon">
                <i class="fa fa-pencil" (click)="openFileUploader()"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="saveRecord(promotionForm.form.valid)" *ngIf="authService.isAccessible('PROMOTION','AddButton')"
        [disabled]="authService.isDisabled('PROMOTION','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" [routerLink]="['/dashboard/promotion']">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
