<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" data-dismiss="modal" aria-label="Close">
      <img src="/assets/images/back.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'UserAddress.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a data-dismiss="modal" aria-label="Close">{{'UserAddress.objNames' | translate}}</a></li>
        <li class="active">{{'COMMON.DETAIL' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" title="{{'COMMON.EDIT' | translate}}"
      *ngIf="authService.isAccessible('USERADDRESS','EditButton')" data-dismiss="modal" aria-label="Close"
      [routerLink]="['/dashboard/user-address/edit/'+record.id]">
      <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container no-padding">
  <div class="site-card">
    <div class="custom-tab-container">
      <ul class="nav nav-pills nav-tabs">
        <li [ngClass]="{'active':tabView == 'DETAIL'}"><a
            (click)="onChangeTab('DETAIL')">{{'UserAddress.objName' | translate}}</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="custom-tab-content-container">
      <table class="table table-bordered table-striped" [hidden]="tabView !== 'DETAIL'"
        *ngIf="tabViewed['DETAIL'] || tabView == 'DETAIL'">
        <tbody>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.userId" | translate}}
            </td>
            <td>{{record.userId}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.adressLine1" | translate}}
            </td>
            <td>{{record.adressLine1}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.adressLine2" | translate}}
            </td>
            <td>{{record.adressLine2}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.districtId" | translate}}
            </td>
            <td>{{record.districtId}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.subDistrictId" | translate}}
            </td>
            <td>{{record.subDistrictId}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.updatedOn" | translate}}
            </td>
            <td>{{record.updatedOn|date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.isActive" | translate}}
            </td>
            <td>{{record.isActive}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.zipCode" | translate}}
            </td>
            <td>{{record.zipCode}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.isDefault" | translate}}
            </td>
            <td>
              <span class="label label-info">{{record.isDefault ? 'Yes' : 'No'}}</span>
            </td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.tag" | translate}}
            </td>
            <td>{{record.tag}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.provinceId" | translate}}
            </td>
            <td>{{record.provinceId}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.latitude" | translate}}
            </td>
            <td>{{record.latitude}}</td>
          </tr>
          <tr>
            <td class="detail-page-label" width="200">
              {{"UserAddress.longitude" | translate}}
            </td>
            <td>{{record.longitude}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
