ion-content {
    .main-container {
        form {
            margin-top: 50px;
        }

        padding: 20px 30px 0;

        ion-item {
            --inner-border-width: 0;
        }

        ion-avatar {
            position: relative;
            width: 140px;
            height: 140px;
            margin: 0 auto;

            .edit-icon {
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: var(--ion-color-primary);

                fa-icon {
                    color: var(--app-light-color);
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .account-header {
            display: grid;
            text-align: center;
            margin: 14px 0;

            .user-name {
                font-family: Nunito-Bold, sans-serif;
                font-size: 16px;
                line-height: 26px;
            }

            .edit-label {
                font-family: Nunito-SemiBold, sans-serif;
                color: #707070;
                font-size: 14px;
                line-height: 19px;
                cursor: pointer;
            }
        }

        .languages {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 24px 0;

            ion-label {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--app-light-color);
                box-shadow: 0px 4px 20px var(--app-input-box-shadow);
                font-family: Nunito-Bold, sans-serif;
                margin: 0 8px;
                font-size: 13px;
                line-height: 16px;
                height: 40px;
                border-radius: 6px;
                cursor: pointer;

                img {
                    height: 22px;
                    margin: 0 6px;
                }
            }

            .selected {
                background: var(--ion-color-primary);
                color: var(--app-light-color);
            }
        }
    }

    .change-password-label {
        background: var(--ion-color-primary);
        color: var(--app-light-color);
        padding: 7px 10px;
        border-radius: 4px;
        font-size: 13px;
    }

    .resend-verification {
        color: var(--app-input-color);
        cursor: pointer;
        font-size: 12px;
    }
}


.user-address-container {
    .value {
        span {
            color: #91A1B1;
            font-size: 12px;
            line-height: 16px;
            margin-right: 5px;
        }

        .address-value {
            width: 90%;
            display: inline-block;
            vertical-align: middle;
        }

        .status {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer !important;
        }
    }

    .delivery-address-text {
        display: inline-block;
        vertical-align: middle;
    }

    .delivery-address-plus-icon {
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        margin-left: 5px;
    }
}