<app-header [header]="header"></app-header>

<ion-content class="ion-padding">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let promotion of promotions" (click)="openLink(promotion)">
            <ion-img [src]="promotion.file[0].path"
                     *ngIf="promotion.file && promotion.file.length>0"></ion-img>
            <ion-img src="/assets/images/slider-image.png"
                     *ngIf="!promotion.file || promotion.file.length<=0"></ion-img>
            <div class="pro-text">{{promotion.title}}</div>
        </ion-slide>
    </ion-slides>
    <ion-list class="categories-container">
        <div class="category-item" *ngFor="let category of categories | orderBy: 'name'"
             (click)="onCategorySelect(category)">
            <div class="category-icon">
                <img [src]="category.icon || '/assets/icon/default-icon-bw.png'"/>
            </div>
            <div class="category-text">
                <h4 class="category-name">{{category.name}}</h4>
                <p>{{category.description}}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
        <ion-fab-button class="main-fav-button">
            <ion-img src="/assets/images/fav-icon.png"></ion-img>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="/landing" routerDirection="root">
                <ion-icon name="ios-home"></ion-icon>
            </ion-fab-button>
            <ion-fab-button routerLink="/my/orders" routerDirection="root">
                <ion-icon src="/assets/icon/box.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button routerLink="/account/settings" routerDirection="root">
                <ion-icon name="md-settings"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
