ion-slide {
    height: 205px;

    .pro-text {
        position: absolute;
        font-family: Nunito-ExtraBold, sans-serif;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: -0.48px;
        color: #FFFFFF;
        text-shadow: 0px 3px 6px #000000BF;
        bottom: 23px;
        left: 23px;
        text-align: left;
        width: 80%;
    }
}