<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'UserAddress.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/user-address']">{{'UserAddress.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}}
          {{'UserAddress.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{userAddress.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #useraddressForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.userId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressUserId" [(ngModel)]="userAddress.userId"
              #UserId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.adressLine1" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="max" name="userAddressAdressLine1"
                [(ngModel)]="userAddress.adressLine1" #AdressLine1="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.adressLine2" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="max" name="userAddressAdressLine2"
                [(ngModel)]="userAddress.adressLine2" #AdressLine2="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.districtId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressDistrictId"
              [(ngModel)]="userAddress.districtId" #DistrictId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.subDistrictId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressSubDistrictId"
              [(ngModel)]="userAddress.subDistrictId" #SubDistrictId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.zipCode" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="40" name="userAddressZipCode"
                [(ngModel)]="userAddress.zipCode" #ZipCode="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.isDefault" | translate}}
            </label>
            <div class="material-switch">
              <input id="userAddressIsDefaultId" name="userAddressIsDefault" type="checkbox"
                [(ngModel)]="userAddress.isDefault" />
              <label for="userAddressIsDefaultId" class="label-primary"></label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.tag" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="40" name="userAddressTag"
                required="required" [(ngModel)]="userAddress.tag" #Tag="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.provinceId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressProvinceId"
              [(ngModel)]="userAddress.provinceId" #ProvinceId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.latitude" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressLatitude"
              [(ngModel)]="userAddress.latitude" #Latitude="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserAddress.longitude" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userAddressLongitude"
              [(ngModel)]="userAddress.longitude" #Longitude="ngModel">
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(useraddressForm.form)" *ngIf="authService.isAccessible('USERADDRESS','AddButton')"
        [disabled]="authService.isDisabled('USERADDRESS','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
