ion-content {
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    --padding-bottom: 16px !important;
    --padding-top: 16px !important;

    .payment-header {
        h4 {
            font-size: 22px;
            line-height: 42px;
            color: #1A1A1A;
        }

        p {
            color: #6C738A;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.custom-pay-button {
    margin-top: 20px;
    background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #807E7EC4;
    border-radius: 6px;
    width: 100%;
    height: 48px;
}

ion-input,
ion-label,
ion-item {
    --highlight-background: unset;
    --highlight-color-focused: unset;
    --highlight-color-valid: unset;
    --highlight-color-invalid: unset;
}

.is-invalid {
    border: 2px solid red !important;
    box-shadow: none !important;
    border-radius: 6px;
    margin-top: 8px;
}


.error-text {
    font-size: 1rem;
    width: 100%;
    color: red;
    -webkit-animation: error-text-animation;
    animation: error-text-animation;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    margin-bottom: 4px;
    margin-top: 6px;
}

.terms-conditions {
    display: flex;
    align-items: center;
    justify-content: center;
}