<app-header [header]="header"></app-header>
<ion-content>
    <div class="payment-header ion-text-center">
        <h4 class="category-header">{{'PAGES.PAYMENT.CASH.HEADING'|translate}}</h4>
        <img src="../assets/icon/payment/cash.svg" height="150">
    </div>
    <p><b>{{'PAGES.PAYMENT.CASH.SUB_HEADING_1'|translate}} {{cart?.total| number:'1.2-2'}}.</b>
        {{'PAGES.PAYMENT.CASH.SUB_HEADING_2'|translate}}</p>
    <p>{{'PAGES.PAYMENT.CASH.SUB_HEADING_3'|translate}}</p>
    <form name="orderPaymentForm" class="order-payment-form" novalidate="novalidate" #orderPaymentForm="ngForm"
        autocomplete="off" *ngIf="pickupDeliveryAddress">
        <ion-item>
            <ion-label position="floating">{{'PAGES.PAYMENT.CASH.CHANGE_LABEL' | translate}}</ion-label>
            <ion-input type="number" name="name" [(ngModel)]="cart.change" autocomplete="off"
                (keyup)="onChangeValueChange()" [ngClass]="{ 'is-invalid': changeValueInvalid }" 
                placeholder="{{'PAGES.PAYMENT.CASH.CHANGE_LABEL_LIKE'| translate}}">
            </ion-input>
        </ion-item>
        <div class="error-text">
            <span *ngIf="changeValueInvalid">{{'USER_ACCOUNT_INPUT_ERROR.CHANGE_VALUE_ERROR'| translate}}</span>
        </div>
        <div class="clearfix"></div>
        <div class="terms-conditions margin-top-20" (click)="openTermPopup()">
            <ion-checkbox
                [ngClass]="{ 'is-invalid-checkbox': onClickValidation && (agreementAccepted?.errors?.required || !user.agreementAccepted) }"
                #agreementAccepted="ngModel" name="agreementAccepted" slot="start" [(ngModel)]="iAgreementAccepted"
                mode="md" autocomplete="off" required="required" disabled="disabled"></ion-checkbox>
            <ion-label class="agree-checkbox-label">{{'PAGES.REGISTRATION.LABEL.AGREED'| translate}}
                <span><b>{{'PAGES.REGISTRATION.LABEL.TERMS_OF_SERVICE'| translate}}</b></span>
            </ion-label>
            <div class="margin-top-10 error-text" *ngIf="onClickValidation && !iAgreementAccepted">
                {{'USER_ACCOUNT_INPUT_ERROR.ACCEPT_TERM' | translate}}
            </div>
        </div>
        <ion-button class="custom-pay-button" (click)="makePayment(orderPaymentForm.form.valid)"
            [disabled]="!iAgreementAccepted || changeValueInvalid">
            {{'PAYMENT.COMPLETE_ORDER' | translate}}
        </ion-button>
    </form>
</ion-content>