.site-page-container .action-button {
  margin: 0 8px;
}

.status-active {
  color: green;
  margin-right: 5px;
}

.status-in-active {
  color: orange;
  margin-right: 5px;
}

.status-deleted {
  color: red;
  margin-right: 5px;
}
