<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">
        {{filterParam.relationTable === 'DRIVER' ? "Driver" : filterParam.relationTable === 'CUSTOMER' ? "Customer" : "Employee"}}
        {{'ADMINISTRATION' | translate}}
      </h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li *ngIf="filterParam.relationTable === 'ADMIN'" class="active">{{'USERS.objNames' | translate}}</li>
        <li *ngIf="filterParam.relationTable === 'DRIVER'" class="active">{{'DRIVER.objNames' | translate}}</li>
        <li *ngIf="filterParam.relationTable === 'CUSTOMER'" class="active">{{'CUSTOMER.objNames' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" [routerLink]="['/dashboard/user/edit/0']"
            title="{{'COMMON.ADD' | translate}}" *ngIf="filterParam.relationTable==='ADMIN'">
      <span class="hidden-xs">{{'USERS.ADD_NEW_USERS' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
    <button class="btn btn-primary add-new-item-button pull-right" [routerLink]="['/dashboard/driver/edit/0']"
            title="{{'COMMON.ADD' | translate}}" *ngIf="filterParam.relationTable==='DRIVER'">
      <span class="hidden-xs">{{'DRIVER.ADD_NEW_USERS' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           *ngIf="filterParam.relationTable==='ADMIN'">
      <thead>
      <tr>
        <th>{{"USERS.EmployeeId" | translate}}</th>
        <th>{{"USERS.Name" | translate}}</th>
        <th>{{"USERS.Email" | translate}}</th>
        <th>{{"USERS.Position" | translate}}</th>
        <th>{{"USERS.Role" | translate}}</th>
        <th>{{"USERS.Action" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records;">
        <td>{{record.employeeId}}</td>
        <td class="text-capitalize">{{record.fullName}}</td>
        <td class="text-lowercase">{{record.email}}</td>
        <td>{{record.position}}</td>
        <td class="text-uppercase">{{record.commonRoleName}}</td>
        <td class="text-center">
          <a title="{{'COMMON.SELECT' | translate}}" class="action-button" (click)="onItemSelection(record)"
             *ngIf="isPlusButton">
            {{'COMMON.SELECT' | translate}}
          </a>
          <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
             [routerLink]="['/dashboard/driver/edit/'+record.id]"
             *ngIf="!isPlusButton && filterParam.relationTable==='DRIVER'">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
             *ngIf="!isPlusButton && filterParam.relationTable==='ADMIN'"
             [routerLink]="['/dashboard/user/edit/'+record.id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a title="{{'COMMON.DELETE' | translate}}" class="action-button" (click)="remove(record.id)"
             *ngIf="!isPlusButton && hasMoreAdmins(record)" [class.disabled]="record.id === authUser.id">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="records && records.length === 0">
      <tr class="text-center">
        <td colspan="15">{{'COMMON.NO_RECORDS_FOUND' | translate}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           *ngIf="filterParam.relationTable==='DRIVER'">
      <thead>
      <tr>
        <th>{{"DRIVER.StaffId" | translate}}</th>
        <th>{{"DRIVER.Name" | translate}}</th>
        <th>{{"DRIVER.Email" | translate}}</th>
        <th>{{"DRIVER.PhoneNumber" | translate}}</th>
        <th>{{"DRIVER.LicensePlate" | translate}}</th>
        <th>{{"DRIVER.Status" | translate}}</th>
        <th>{{"DRIVER.Action" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records;">
        <td>{{record.employeeId}}</td>
        <td class="text-capitalize">{{record.fullName}}</td>
        <td class="text-lowercase">{{record.email}}</td>
        <td>{{record.phoneNumber}}</td>
        <td>{{record.licencePlate}}</td>
        <td>
          <i class="fa fa-check status-active" aria-hidden="true" *ngIf="record.status==='Active'"></i>
          <i class="fa fa-square-o status-in-active" aria-hidden="true" *ngIf="record.status==='Inactive'"></i>
          <i class="fa fa-times status-deleted" aria-hidden="true" *ngIf="record.status==='Deleted'"></i>
          <a class="status-text"
             [ngClass]="{'active':record.status==='Active','inactive':record.status==='Inactive'}">{{record.status}}</a>
        </td>
        <td class="text-center">
          <a title="{{'COMMON.LOCATION' | translate}}" class="action-button" (click)="loadLocationMap(record.id)"
             [class.disabled]="record.isDeleted">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </a>
          <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
             [routerLink]="['/dashboard/driver/edit/'+record.id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a title="{{'COMMON.DELETE' | translate}}" class="action-button" (click)="remove(record.id)"
             [class.disabled]="record.isDeleted">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="records && records.length === 0">
      <tr class="text-center">
        <td colspan="15">{{'COMMON.NO_RECORDS_FOUND' | translate}}</td>
      </tr>
      </tbody>
    </table>
    <div class="filter-options" *ngIf="filterParam.relationTable === 'CUSTOMER' && filterOption">
      <div class="row">
        <div class="custom-select col-md-3 col-sm-6">
          <div class="select-label">{{'Order.district' | translate}}</div>
          <ng-select [items]="districts" bindLabel="name" bindValue="id" name="district" #district="ngModel"
                     [(ngModel)]="filterOption.districtId" (change)="selectFilter('DISTRICT')" required="required"
                     placeholder="{{'Order.all' | translate}}">
          </ng-select>
        </div>
        <div class="custom-select col-md-3 col-sm-6">
          <div class="select-label">{{'Order.subDistrict' | translate}}</div>
          <ng-select [items]="subDistricts" bindLabel="name" bindValue="id" name="subDistrict" #subDistrict="ngModel"
                     [(ngModel)]="filterOption.subDistrictId" appendTo="body" (change)="selectFilter('SUB_DISTRICT')"
                     required="required" placeholder="{{'Order.all' | translate}}"
                     [disabled]="!filterOption.districtId">
          </ng-select>
        </div>
        <div class="col-md-6 col-sm-12 custom-select search-options">
          <div class="col-md-6 flexible-item">
            <div class="select-label">{{'Order.searchBy' | translate}}</div>
            <ng-select class="custom-ng-select" [items]="customerFilterOptions" bindLabel="name" bindValue="filterType"
                       name="customer" #customer="ngModel" [(ngModel)]="filterOption.customerFilterType"
                       (change)="selectFilter('CUSTOMER')" required="required"
                       placeholder="{{'Order.all' | translate}}">
            </ng-select>
          </div>
          <div class="col-md-6 flexible-item">
            <input type="text" class="searchbar" [(ngModel)]="searchTerm"
                   *ngIf="filterOption.customerFilterType !== 'REGISTERED_DATE' && filterOption.customerFilterType !== 'LAST_ORDER_DATE'">
            <my-date-picker class="custom-datepicker" [(ngModel)]="pickerDate" name="mydate"
                            *ngIf="filterOption.customerFilterType === 'REGISTERED_DATE' || filterOption.customerFilterType === 'LAST_ORDER_DATE'"
                            [options]="datePickerOptions" (dateChanged)="onPickerDateChanged($event)" required>
            </my-date-picker>
            <button class="search-button" (click)="search()">{{'Order.search' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           *ngIf="filterParam.relationTable==='CUSTOMER'">
      <thead>
      <tr>
        <th>{{"CUSTOMER.Name" | translate}}</th>
        <th>{{"CUSTOMER.NICK_NAME" | translate}}</th>
        <!--<th>{{"CUSTOMER.MONTLY_SUBSCRIPTION" | translate}}</th>-->
        <th>{{"CUSTOMER.PhoneNumber" | translate}}</th>
        <th>{{"CUSTOMER.Email" | translate}}</th>
        <th>{{"CUSTOMER.EMAIL_VERIFY" | translate}}</th>
        <th class="text-center">{{"CUSTOMER.ordersCount" | translate}}</th>
        <th>{{"CUSTOMER.LastOrder" | translate}}</th>
        <th class="text-center">{{"CUSTOMER.Action" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records;">
        <td class="text-capitalize">{{record.fullName}}</td>
        <td class="text-capitalize">{{record.nickName}}</td>
        <!--<td></td>-->
        <td>0{{record.phoneNumber}}</td>
        <td>{{record.email}}</td>
        <td>{{record.emailConfirmed ? 'Yes' : 'No'}}</td>
        <td class="text-center">
          <span *ngIf="record.ordersCount">{{record.ordersCount}}</span>
          <span *ngIf="!record.ordersCount">0</span>
        </td>
        <td>{{record.lastOrderDate|date:'dd/MM/yyyy h:mm a'}}</td>
        <td class="text-center">
          <a title="{{'COMMON.VIEW' | translate}}" *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_OPERATION'])"
             class="action-button" [routerLink]="['/dashboard/user/detail/' + record.id]">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a title="{{'COMMON.NOTE' | translate}}" *ngIf="authService.hasRole(['ROLE_ADMIN','ROLE_OPERATION'])"
             class="action-button" (click)="changeNote(record)">
            <i *ngIf="!record.adminNote" class="fa fa-commenting-o" aria-hidden="true"></i>
            <i *ngIf="record.adminNote" class="fa fa-commenting" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="records && records.length === 0">
      <tr class="text-center">
        <td colspan="15">{{'COMMON.NO_RECORDS_FOUND' | translate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card data-body" *ngIf="hasDataLoad"></div>
<div class="modal fade site-detail-modal right" id="pluginDetailPage" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-user-detail [recordId]="selectedId" [failure]="onFailureCallback"></app-user-detail>
      </div>
    </div>
  </div>
</div>
<div id="fetchRecords"></div>
<div class="modal fade" id="locationMap" tabindex="-1" role="dialog" aria-labelledby="locationMap" aria-hidden="true"
     *ngIf="showLocationModal">
  <div class="modal-dialog map-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="map-container">
          <div class="model-heading">{{'COMMON.CURRENT_LOCATION' | translate}}</div>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="adminNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminNote" aria-hidden="true"
     data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showAdminNoteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.enterNote' | translate}}</div>
        <div class="custom-textarea">
          <textarea [(ngModel)]="selectedCustomer.adminNote"
                    placeholder="{{'CUSTOMER.ADD_NOTES_HERE' | translate}}"></textarea>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="saveNote()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelAdminNote()"
                  data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
