<ion-header class="ion-text-center">
    <ion-toolbar *ngIf="header">
        <ion-buttons slot="start" *ngIf="header.showMenu">
            <ion-menu-toggle>
                <img src="/assets/images/menu.svg" style="width: 45px;margin-left: 10px;margin-top: 2px;">
            </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="header.showBackButton">
            <ion-back-button [defaultHref]="header.parentLink"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-align-items-center" *ngIf="header.title">{{header.title|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button class="notification-button" (click)="fetchOrders(true)">
                <img src="assets/icon/refresh-circle-outline.svg"
                     style="width: 36px;margin-left: 10px;margin-top: 2px;">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="ordersLoaded">
    <div class="order-date-label">
        <ion-icon class="left-arrow-icon" src="/assets/icon/arrow/left-arrow.svg" (click)="previousDate()"></ion-icon>
        <span *ngIf="showDate">{{selectedDate|date:'dd MMMM yyyy'}}</span>
        <span *ngIf="!showDate">{{selectedDate|date:'dd MMMM yyyy'}}</span>
        <ion-icon class="right-arrow-icon" src="/assets/icon/arrow/right-arrow.svg" (click)="nextDate()"></ion-icon>
        <ion-icon class="calender-icon" src="/assets/icon/calendar-sharp.svg" (click)="openDatepicker()"></ion-icon>
    </div>
    <div class="landing-banner">
        <div class="count-block" [ngClass]="{'active':selectedType==='total'}" (click)="filter('total')">
            <div>{{allOrders.length}}</div>
            <div>{{'PAGES.LANDING.LABEL.TOTAL' | translate}}</div>
        </div>
        <div class="count-block" [ngClass]="{'active':selectedType==='delivery'}" (click)="filter('delivery')">
            <div>{{deliveryOrdersCount}}</div>
            <div>{{'PAGES.LANDING.LABEL.DELIVERY' | translate}}</div>
        </div>
        <div class="count-block" [ngClass]="{'active':selectedType==='pickup'}" (click)="filter('pickup')">
            <div>{{pickupOrdersCount}}</div>
            <div>{{'PAGES.LANDING.LABEL.PICKUP' | translate}}</div>
        </div>
    </div>
    <div class="margin-top-20" *ngIf="orders.length===0">
        <div class="custom-ui-card ion-text-center">
            {{'PAGES.COMMON.NO_ORDER' | translate}}
        </div>
    </div>
    <ion-list class="order-list" *ngIf="orders.length>0">
        <div class="ion-text-right margin-top-10 margin-bottom-10">
            <ion-button class="map-all-button" (click)="mapAll()">
                {{'MAP_ALL'|translate}}
            </ion-button>
        </div>
        <ion-item class="single-order-block" *ngFor="let order of orders">
            <div class="single-order">
                <div class="order-no">
                    <span>{{'PAGES.LANDING.LABEL.ORDER' | translate}}{{order.orderId}}</span>
                </div>
                <div class="delivery-type-preview {{order.deliveryType|lowercase}}">
                    <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"
                              *ngIf="order.deliveryType!=='NORMAL'"></ion-icon>
                    <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="details">
                    <span>{{order.totalItems}} {{'PAGES.LANDING.LABEL.ITEMS' | translate}}</span>
                    <span class="label"
                          *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                        <img src="../assets/icon/pickup.svg"> {{'PAGES.LANDING.LABEL.PICKUP' | translate}}</span>
                    <span class="label"
                          *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                        <img src="../assets/icon/delivery.svg"> {{'PAGES.LANDING.LABEL.DELIVER' | translate}}</span>
                </div>
                <div class="order-time-slot">
                    <span>{{'PAGES.LANDING.LABEL.PAYMENT_TYPE' | translate}}: {{order.paymentType}}</span>
                </div>
                <div class="order-time-slot"
                     *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                    <span>{{'PAGES.LANDING.LABEL.PICKUP_TIME' | translate}}: {{order.pickupSlot}}</span>
                </div>
                <div class="order-time-slot"
                     *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                    <span>{{'PAGES.LANDING.LABEL.DELIVERY_TIME' | translate}}: {{order.deliverySlot}}</span>
                </div>
                <div class="customer-name">
                    <span>{{order.customerName}}</span>
                </div>
                <div class="customer-address">
                    <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='HOME'">
                        {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                        {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}},
                        {{order.deliveryAddress.provinceName}}, {{order.deliveryAddress.postalCode}}
                        <br>
                        {{order.deliveryAddress.phoneNo}}
                    </span>
                    <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='BUILDING'">
                        {{order.deliveryAddress.buildingName}}
                        {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                        {{order.deliveryAddress.streetNumber}} {{order.deliveryAddress.subDistrictName}}
                        , {{order.deliveryAddress.districtName}},
                        {{order.deliveryAddress.postalCode}}{{order.deliveryAddress.phoneNo}}
                    </span>
                </div>
                <div class="ion-text-center margin-top-10">
                    <ion-button class="do-it-button" (click)="doIt(order)" *ngIf="todayDate">
                        {{'ACCEPT'|translate}}
                    </ion-button>
                    <ion-button class="do-it-button" (click)="doIt(order)" *ngIf="!todayDate && futureTodayDate">
                        {{'VIEW'|translate}}
                    </ion-button>
                    <ion-button class="do-it-button" (click)="doIt(order)" *ngIf="!todayDate && !futureTodayDate">
                        {{'ACCEPT'|translate}}
                    </ion-button>
                    <ion-button class="map-it-button margin-left-28" (click)="mapIt(order)">
                        {{'MAP_IT'|translate}}
                    </ion-button>
                </div>
            </div>
        </ion-item>
        <ion-item class="single-order-block" *ngIf="orders.length <= 0">
            <div class="margin-auto">{{'PAGES.LANDING.LABEL.NO_ONGOING_ORDERS' | translate}}</div>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="call()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>