.header-item {
    box-shadow: none;
    margin-bottom: 0;
}

.landing-banner {
    text-align: center;

    .count-block {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #00000029;
        padding-top: 15px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin: 0px 4px;
        border: 1px solid var(--ion-color-primary);

        &.active {
            background: var(--ion-color-primary);
        }

        div {
            font-family: Nunito-Bold, sans-serif;
            color: #0C0A0A;
            font-size: 43px;
            line-height: 49px;

            &:last-child {
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

.landing-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 20px;

    .orders-label {
        font-family: Futura-Bold-BT, sans-serif;
        font-size: 18px;
        line-height: 21px;
    }
}

ion-content {
    .order-list {
        padding: 0 8px;
        margin: 0;
        background: transparent;

        .single-order-block {
            --inner-border-width: 0;
            --padding-bottom: 0;
            --padding-end: 0;
            --padding-start: 0;
            --padding-top: 0;
            --inner-padding-bottom: 0;
            --inner-padding-end: 0;
            --inner-padding-start: 0;
            --inner-padding-top: 0;
            box-shadow: 0px 0px 10px var(--app-item-box-shadow);
            border-radius: 6px;
            margin: 0 0 16px;
            padding: 12px 12px 8px;
            background: var(--app-light-color);

            .single-order {
                width: 100%;

                .order-no {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;

                    .mark-order {
                        ion-radio {
                            margin: 0;
                        }

                        ion-label {
                            margin: 0;
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Nunito-SemiBold, sans-serif;
                        font-size: 10px;
                        line-height: 14px;
                        color: var(--app-dark-color);
                        cursor: pointer;

                        .custom-radio {
                            width: 10px;
                            height: 10px;
                            border: 1px solid;
                            border-radius: 50%;
                            margin: 0 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            div {
                                width: 6px;
                                height: 6px;
                                background: #0d0d0d;
                                border-radius: 50%;
                                position: absolute;
                                transform: translate3d(-54%, -46%, 0);
                                left: 50%;
                                top: 50%;
                            }
                        }
                    }

                    span:first-child {
                        font-family: Futura-Bold-BT, sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        background: rgba(137, 153, 170, .2);
                        width: max-content;
                        padding: 6px 8px;
                        border-radius: 6px;
                    }
                }

                .details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #00CBFF;
                    font-size: 17px;
                    line-height: 19px;
                    margin: 10px 0 0;

                    .label {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        font-family: Nunito-SemiBold, sans-serif;
                        color: #060606;
                        font-size: 13px;
                        line-height: 18px;

                        img {
                            margin-right: 10px;
                        }
                    }
                }

                .payment-status {
                    display: flex;
                    align-items: center;
                    font-family: Nunito-SemiBold, sans-serif;
                    color: var(--app-dark-color);
                    font-size: 9px;
                    line-height: 12px;

                    .label {
                        display: flex;
                        align-items: center;
                        padding: 0 4px;
                        color: #22ED5F;

                        img {
                            margin-right: 4px;
                        }
                    }
                }

                .order-status,
                .customer-name,
                .customer-mobile {
                    @extend .payment-status;
                }

                .order-status {
                    .label {
                        color: var(--app-dark-color);
                    }
                }

                .customer-name {
                    font-family: Nunito-Bold, sans-serif;
                    font-size: 18px;
                    line-height: 30px;
                    text-transform: capitalize;
                }

                .date-status {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: Nunito-Bold, sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--app-dark-color);
                    border-top: 1px solid rgba(218, 222, 227, .2);
                    padding: 8px 0 0;

                    .view-all-button {
                        width: 120px;
                        height: 32px;
                    }

                    .label {
                        width: 60px;
                        height: 27px;
                        font-family: Nunito-SemiBold, sans-serif;
                        font-size: 10px;
                        line-height: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--app-light-color);
                        border-radius: 6px;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }
}

.delivery-type-preview {
    font-size: 17px;
    line-height: 16px;
    font-family: Nunito-SemiBold, sans-serif;
    color: #000000;
    display: inline-block;
    vertical-align: middle;

    ion-icon {
        font-size: 25px !important;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

    &.express {
        color: rgb(0, 162, 232);
    }

    &.sameday {
        color: rgb(230, 69, 113);
    }
}

.order-time-slot {
    font-family: Nunito-Bold, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-top: 5px;
}

.refresh-icon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.customer-address {
    color: #91A1B1;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}