<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Notification.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/notification']">{{'Notification.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}}
          {{'Notification.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{notification.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #notificationForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.userId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="notificationUserId"
              [(ngModel)]="notification.userId" #UserId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.message" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="max" name="notificationMessage"
                [(ngModel)]="notification.message" #Message="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.languageId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="notificationLanguageId"
              [(ngModel)]="notification.languageId" #LanguageId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.type" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="100" name="notificationType"
                [(ngModel)]="notification.type" #Type="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.token" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="100" name="notificationToken"
                [(ngModel)]="notification.token" #Token="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.status" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="100" name="notificationStatus"
                [(ngModel)]="notification.status" #Status="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Notification.response" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="max" name="notificationResponse"
                [(ngModel)]="notification.response" #Response="ngModel">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(notificationForm.form)" *ngIf="authService.isAccessible('NOTIFICATION','AddButton')"
        [disabled]="authService.isDisabled('NOTIFICATION','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
