<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'BROADCAST.ENTITY_NAME' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'BROADCAST.ENTITY_NAME' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-item" #broadcastForm="ngForm" novalidate="novalidate">
        <div class="form-group" [ngClass]="{'has-error':customerType.invalid && onClickValidation}">
          <label>{{'COMMON.SELECT' | translate}} {{'BROADCAST.CUSTOMER_TYPE' | translate}}</label>
          <ng-select [items]="customerTypes" bindLabel="name" bindValue="value" name="customerType"
                     #customerType="ngModel" [(ngModel)]="broadcastMessage.customerType" required="required"
                     placeholder="{{'BROADCAST.ALL' | translate}}">
          </ng-select>
        </div>
        <div class="form-group" *ngIf="broadcastMessage.customerType === 'WITH_POSTAL_CODES'"
             [ngClass]="{'has-error':broadcastMessage.customerType === 'WITH_POSTAL_CODES' && postalCode.invalid && onClickValidation}">
          <label>{{'COMMON.SELECT' | translate}} {{'BROADCAST.POSTAL_CODES' | translate}}</label>
          <ng-select [items]="postalCodes" bindLabel="postalCode" bindValue="postalCode" name="postalCode"
                     multiple="true"
                     #postalCode="ngModel" [(ngModel)]="broadcastMessage.postalCodes" required="required"
                     placeholder="{{'BROADCAST.ALL' | translate}}" (add)="onPinCodeAddition($event)"
                     (remove)="onPinCodeRemoval($event)">
          </ng-select>
        </div>
        <div class="form-group" *ngIf="broadcastMessage.customerType !== 'ALL_CUSTOMERS'"
             [ngClass]="{'has-error':gender.invalid && onClickValidation}">
          <label>{{'COMMON.SELECT' | translate}} {{'BROADCAST.GENDER' | translate}}</label>
          <ng-select [items]="genders" bindLabel="name" bindValue="value" name="gender" #gender="ngModel"
                     [(ngModel)]="broadcastMessage.customerGender" placeholder="{{'BROADCAST.ALL' | translate}}">
          </ng-select>
        </div>
        <div class="form-group"
             *ngIf="broadcastMessage.customerType !== 'ALL_CUSTOMERS' && broadcastMessage.customerType !== 'WITHOUT_ORDER'">
          <label>{{'BROADCAST.CUSTOMERS_HAVING_ORDER' | translate}}</label>
          <ng-select [items]="orderTypes" bindLabel="name" bindValue="value" name="orderType" #orderType="ngModel"
                     [(ngModel)]="broadcastMessage.customerOrderType" placeholder="{{'BROADCAST.ALL' | translate}}">
          </ng-select>
        </div>
        <div class="form-group" *ngIf="broadcastMessage.customerOrderType"
             [ngClass]="{'has-error':broadcastMessage.customerOrderType && orderCount.invalid && onClickValidation}">
          <input class="form-control" name="orderCount" #orderCount="ngModel" type="number"
                 [(ngModel)]="broadcastMessage.orderCount" placeholder="{{'BROADCAST.ORDER_COUNT' | translate}}"
                 required="required">
        </div>
        <div class="form-group" [ngClass]="{'has-error':message.invalid && onClickValidation}">
          <textarea class="form-control" rows="6" name="message" #message="ngModel"
                    [(ngModel)]="broadcastMessage.message" maxlength="320"
                    placeholder="{{'BROADCAST.ENTER_YOUR_MESSAGE_HERE' | translate}}"
                    required="required">
          </textarea>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary site-button large-btn"
                  (click)="send(broadcastForm.form.valid)">{{'BROADCAST.SEND' | translate}}</button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
