<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Order.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'Order.objName' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="thumbnails col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="hasDataLoad && orderStats">
    <div class="orders-thumbnail">
      <div class="title">{{orderStats.totalOrder.totalOrderTitle}}</div>
      <div class="info">
        <img src="assets/images/order/total.svg" alt="totalfo">
        <span>{{orderStats.totalOrder.totalOrderCount}}</span>
      </div>
      <div class="view-detail" (click)="viewDetailFilter('TOTAL_ORDERS')">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span>{{'Order.VIEW_DETAIL' | translate}}</span>
      </div>
      <div class="order-options">
        <div class="option">
          <div class="key">{{'Order.SAMEDAY' | translate}}</div>
          <div class="value">{{orderStats.totalOrder.totalSameDayOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('TOTAL_ORDERS', 'SAMEDAY')">{{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
        <div class="option">
          <div class="key">{{'Order.EXPRESS' | translate}}</div>
          <div class="value">{{orderStats.totalOrder.totalExpressOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('TOTAL_ORDERS', 'EXPRESS')">{{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
        <div class="option">
          <div class="key">{{'Order.NORMAL' | translate}}</div>
          <div class="value">{{orderStats.totalOrder.totalNormalOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('TOTAL_ORDERS', 'NORMAL')">{{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="orders-thumbnail">
      <div class="title">{{orderStats.newOrder.newOrderTitle}}</div>
      <div class="info">
        <img src="assets/images/order/new.svg" alt="new">
        <span>{{orderStats.newOrder.newOrderTotalCount}}</span>
      </div>
      <div class="view-detail" (click)="viewDetailFilter('NEW_ORDERS', null, 'NEW')">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span>{{'Order.VIEW_DETAIL' | translate}}</span>
      </div>
      <div class="order-options">
        <div class="option">
          <div class="key">{{'Order.SAMEDAY' | translate}}</div>
          <div class="value">{{orderStats.newOrder.newSameDayOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('NEW_ORDERS', 'SAMEDAY', 'NEW')">
            {{'Order.VIEW_DETAIL' | translate}}</div>
        </div>
        <div class="option">
          <div class="key">{{'Order.EXPRESS' | translate}}</div>
          <div class="value">{{orderStats.newOrder.newExpressOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('NEW_ORDERS', 'EXPRESS', 'NEW')">
            {{'Order.VIEW_DETAIL' | translate}}</div>
        </div>
        <div class="option">
          <div class="key">{{'Order.NORMAL' | translate}}</div>
          <div class="value">{{orderStats.newOrder.newNormalOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('NEW_ORDERS', 'NORMAL', 'NEW')">
            {{'Order.VIEW_DETAIL' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="orders-thumbnail">
      <div class="title">{{orderStats.collectionOrder.collectionOrderTitle}}</div>
      <div class="info">
        <img src="assets/images/order/collecting.svg" alt="collecting">
        <span>{{orderStats.collectionOrder.collectionOrderTotalCount}}</span>
      </div>
      <div class="view-detail" (click)="viewDetailFilter('COLLECTING_ORDERS')">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span>{{'Order.VIEW_DETAIL' | translate}}</span>
      </div>
      <div class="order-options">
        <div class="option">
          <div class="key">{{'Order.ASSIGNED' | translate}}</div>
          <div class="value">{{orderStats.collectionOrder.collectionAssignedOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('COLLECTING_ORDERS_ASSIGNED')">{{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
        <div class="option">
          <div class="key">{{'Order.COLLECTED' | translate}}</div>
          <div class="value">{{orderStats.collectionOrder.collectionCollectedOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('COLLECTING_ORDERS', null, 'COLLECTED')">
            {{'Order.VIEW_DETAIL' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="orders-thumbnail">
      <div class="title">{{orderStats.cleaningOrder.cleaningOrderTitle}}</div>
      <div class="info">
        <img src="assets/images/order/cleaning.svg" alt="cleaning">
        <span>{{orderStats.cleaningOrder.cleaningOrderTotalCount}}</span>
      </div>
      <div class="view-detail" (click)="viewDetailFilter('CLEANING_ORDERS')">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span>{{'Order.VIEW_DETAIL' | translate}}</span>
      </div>
      <div class="order-options">
        <div class="option">
          <div class="key">{{'Order.IN_PROGRESS' | translate}}</div>
          <div class="value">{{orderStats.cleaningOrder.cleaningInprogressOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('CLEANING_ORDERS', null, 'CLEANING_IN_PROGRESS')">
            {{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
        <div class="option">
          <div class="key">{{'Order.COMPLETED' | translate}}</div>
          <div class="value">{{orderStats.cleaningOrder.cleaningCompletedOrderCount}}</div>
          <div class="view" (click)="viewDetailFilter('CLEANING_ORDERS', null, 'CLEANING_COMPLETED')">
            {{'Order.VIEW_DETAIL' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="orders-thumbnail">
      <div class="title">{{orderStats.deliveredOrder.deliveryOrderTitle}}</div>
      <div class="info">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{orderStats.deliveredOrder.deliveryOrderTotalCount}}</span>
      </div>
      <div class="order-options">
        <div class="option">
          <div class="view-detail view-detail-absolute" (click)="viewDetailFilter('DELIVERY_ORDERS')">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{'Order.VIEW_DETAIL' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="site-card">
    <div class="table-responsive">
      <div class="order-filter-options">
        <div class="filter-option">
          <div class="option">
            <div class="select-label">{{'Order.district' | translate}}</div>
            <ng-select [items]="districts" bindLabel="name" bindValue="id" name="district" #district="ngModel"
                       [(ngModel)]="filterOption.districtId" (change)="selectFilter('DISTRICT')" required="required"
                       placeholder="{{'Order.all' | translate}}">
            </ng-select>
          </div>
        </div>
        <div class="filter-option customer-search-option">
          <div class="option">
            <div class="select-label">{{'Order.subDistrict' | translate}}</div>
            <ng-select [items]="subDistricts" bindLabel="name" bindValue="id" name="subDistrict" #subDistrict="ngModel"
                       [(ngModel)]="filterOption.subDistrictId" appendTo="body" (change)="selectFilter('SUB_DISTRICT')"
                       required="required" placeholder="{{'Order.all' | translate}}"
                       [disabled]="!filterOption.districtId">
            </ng-select>
          </div>
        </div>
        <div class="filter-option">
          <div class="option">
            <div class="select-label">{{'Order.status' | translate}}</div>
            <ng-select [items]="orderStatuses" bindLabel="name" bindValue="status" name="status" #status="ngModel"
                       [(ngModel)]="filterOption.status" (change)="selectFilter('STATUS')" required="required"
                       placeholder="{{'Order.all' | translate}}">
            </ng-select>
          </div>
        </div>
        <div class="filter-option">
          <div class="option">
            <div class="select-label font-weight-600">{{'Order.driver' | translate}}</div>
            <ng-select [items]="drivers" bindLabel="fullName" bindValue="id" name="driver" #driver="ngModel"
                       [(ngModel)]="filterOption.driverId" (change)="selectFilter('DRIVER')" required="required"
                       placeholder="{{'Order.all' | translate}}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="order-filter-options">
        <div class="filter-option customer-search-option">
          <div class="option">
            <div class="select-label font-weight-600">{{'Order.searchBy' | translate}}:</div>
            <ng-select class="custom-ng-select" [items]="customerFilterOptions" bindLabel="name" bindValue="filterType"
                       name="customer" #customer="ngModel" [(ngModel)]="filterOption.customerFilterType"
                       (change)="selectFilter('CUSTOMER')" required="required"
                       placeholder="{{'Order.all' | translate}}">
            </ng-select>
          </div>
        </div>
        <div class="filter-option">
          <div class="option">
            <input type="text" class="searchbar" [(ngModel)]="searchTerm" placeholder="Keyword">
            <button id="customerSearchButton" class="search-button">
              {{'Order.search' | translate}}
            </button>
          </div>
        </div>
        <div class="filter-button pull-right">
          <button class="location-export-button"
                  (click)="loadDriverLocationMap()">{{'Order.driverLocation' | translate}}
          </button>
        </div>
        <div class="filter-button pull-right" *ngIf="authService.hasRole(['ROLE_ADMIN'])">
          <button class="location-export-button" (click)="exportExcel()"
                  [disabled]="records && records.length === 0">{{'Order.exportExcel' | translate}}
          </button>
        </div>
      </div>
      <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>{{'Order.orderId' | translate}}</th>
          <th>{{'Order.customer' | translate}}</th>
          <th>{{'Order.orderDate' | translate}}</th>
          <th>{{'Order.collectionDate' | translate}}</th>
          <th>{{'Order.deliveryDate' | translate}}</th>
          <th>{{'Order.service' | translate}}</th>
          <th>
            <div class="diplay-grid">
              <span>{{'Order.district' | translate}}, </span>
              <span>{{'Order.subDistrict' | translate}}</span>
            </div>
          </th>
          <th>{{'Order.price' | translate}}</th>
          <th>{{'Order.paymentType' | translate}}</th>
          <th>
            {{'Order.change' | translate}}<br>
            {{"Order.required" | translate}}
          </th>
          <th>{{'Order.status' | translate}}</th>
          <th>{{'Order.driver' | translate}}</th>
          <th>{{'COMMON.ACTION' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of records">
          <td>#{{record.orderId}}</td>
          <td>{{record.customerName}} </td>
          <td>{{record.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
          <td>{{record.pickupDate | date:'dd/MM/yyyy'}}
            <div class="timeslot">{{record.pickupSlot}}</div>
          </td>
          <td>{{record.deliveryDate |date:'dd/MM/yyyy'}}
            <div class="timeslot">{{record.deliverySlot}}</div>
          </td>
          <td>
            <div *ngIf="record.deliveryType === 'SAMEDAY'" class="sameday">
              <img src="assets/images/order/sameday.svg" alt="sameday">
              <div class="name">{{record.deliveryTypeSlug}}</div>
            </div>
            <div *ngIf="record.deliveryType === 'EXPRESS'" class="express">
              <img src="assets/images/order/express.svg" alt="express">
              <div class="name">{{record.deliveryTypeSlug}}</div>
            </div>
            <div *ngIf="record.deliveryType === 'NORMAL'">{{record.deliveryTypeSlug}}</div>
          </td>
          <td>
            <div class="diplay-grid">
              <span>{{record.districtName}}, </span>
              <span>{{record.subDistrictName}}</span>
            </div>
          </td>
          <td>
            <div class="display-grid">
              <span class="in-single-line">&#3647; {{record.totalPrice | number : '1.2-2'}}</span>
              <span class="status-paid" *ngIf="record.paymentStatus === 'PAID'">{{record.paymentStatusSlug}}</span>
              <span class="status-unpaid"
                    *ngIf="record.paymentStatus === 'UNPAID'">{{record.paymentStatusSlug}}</span>
            </div>
          </td>
          <td>{{record.paymentTypeSlug}}</td>
          <td>{{record.change| number : '1.2-2'}}&#3647;</td>
          <td>{{record.statusSlug}}</td>
          <td>{{record.driverName}}</td>
          <td style="padding: 0 !important" class="text-center">
            <a title="{{'COMMON.CANCEL' | translate}} {{'Order.objName' | translate}}" class="action-button"
               [class.disabled]="record.status === 'CANCELLED' || record.status === 'DELIVERED'"
               (click)="cancelOrder(record)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button" (click)="viewOrder(record.id)">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
               [class.disabled]="record.status === 'DELIVERED' || record.status === 'CANCELLED'"
               (click)="editOrder(record)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.ASSIGN' | translate}} {{'DRIVER.objName' | translate}}" class="action-button"
               [class.disabled]="record.status === 'AWAITING_COLLECTION' || record.status === 'COLLECTED' || record.status === 'CLEANING_IN_PROGRESS' || record.status === 'ON_THE_WAY' || record.status === 'CANCELLED' || record.status === 'DELIVERED'"
               (click)="changeDriver(record.id)">
              <i class="fa fa-motorcycle" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="records && records.length === 0">
        <tr>
          <td colspan="15">{{'COMMON.NO_RECORDS_FOUND' | translate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="driverLocationMap" tabindex="-1" role="dialog" aria-labelledby="driverLocationMap"
     aria-hidden="true" *ngIf="showLocationModal">
  <div class="modal-dialog map-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="map-container">
          <div class="model-heading">{{'Order.DRIVER_CURRENT_LOCATIONS' | translate}}</div>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="assignDriver" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignDriver" aria-hidden="true"
     data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showDriverAssignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.assignDriver' | translate}}</div>
        <div class="custom-select">
          <div class="select-label">{{'Modal.assignTo' | translate}}:</div>
          <ng-select class="custom-ng-select" [items]="drivers" bindLabel="fullName" bindValue="id" name="driver"
                     #driver="ngModel" [(ngModel)]="selectedDriverId" (change)="selectDriver()" required="required"
                     placeholder="{{'Order.SELECT_DRIVER' | translate}}">
          </ng-select>
        </div>
        <div class="workload" *ngIf="selectedDriverId">
          <div class="name">{{selectedDriver?.firstName}}'s {{'Order.WORKLOAD' | translate}}</div>
          <div class="value">{{selectedDriver?.workLoad}}</div>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="assignDriver()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancel()">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--TABLE TO EXPORT -->
<table id="orderTable">
  <thead>
  <tr>
    <th>{{'Order.orderId' | translate}}</th>
    <th>{{'Order.customer' | translate}}</th>
    <th>{{'Order.orderDate' | translate}}</th>
    <th>{{'Order.collectionDate' | translate}},&nbsp;{{'Order.pickupSlot' | translate}}</th>
    <th>{{'Order.deliveryDate' | translate}},&nbsp;{{'Order.deliverySlot' | translate}}</th>
    <th>{{'Order.service' | translate}}</th>
    <th>{{'Order.district' | translate}},&nbsp;{{'Order.subDistrict' | translate}}</th>
    <th>{{'Order.price' | translate}}</th>
    <th>{{'Order.paymentType' | translate}}</th>
    <th>{{'Order.status' | translate}}</th>
    <th>{{'Order.driver' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records">
    <td>#{{record.orderId}}</td>
    <td>{{record.customerName}}</td>
    <td>{{record.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
    <td>{{record.pickupDate | date:'dd/MM/yyyy'}},&nbsp;{{record.pickupSlot}}</td>
    <td>{{record.deliveryDate |date:'dd/MM/yyyy'}},&nbsp;{{record.deliverySlot}}</td>
    <td>{{record.deliveryTypeSlug}}</td>
    <td>{{record.districtName}},&nbsp;{{record.subDistrictName}}</td>
    <td>&#3647;{{record.totalPrice | number : '1.2-2'}},&nbsp;{{record.paymentStatusSlug}}</td>
    <td>{{record.paymentTypeSlug}}</td>
    <td>{{record.statusSlug}}</td>
    <td>{{record.driverName}}</td>
  </tr>
  </tbody>
</table>
