table.table-bordered.dataTable tbody td {
  text-align: center;
}

.thumbnails {
  padding: 0px !important;
  margin-bottom: 20px;

  .orders-thumbnail {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    background: rgba(0, 128, 0, 0.50);
    padding: 8px 12px;
    border-radius: 26px;
    color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, .1);
    cursor: context-menu;
    user-select: none;
    width: 190px;
    height: 190px;
    margin-bottom: 12px;

    .title {
      text-align: right;
      font-size: 18px;
      line-height: 1;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 60px;
      font-weight: 700;
      line-height: 0.8;
      margin: 4px 0;

      img {
        width: 60px;
        height: 60px;
        font-size: 20px;
      }
    }

    .view-detail {
      text-align: center;
      line-height: 1;
      margin-bottom: 8px;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;

      .fa {
        margin-right: 8px;
      }
    }

    .view-detail-absolute {
      position: absolute;
      bottom: 4px;
      left: 50%;
      z-index: 10;
      transform: translate3d(-50%, 0, 0);
    }

    .order-options {
      display: flex;
      justify-content: center;
      border-top: 1px solid #ffffff;

      .option {
        text-align: center;
        display: grid;
        border-right: 1px solid #ffffff;
        padding: 2px 0px;
        width: 100%;
        white-space: pre;

        .key {
          font-size: 10px;
        }

        .value {
          font-size: 40px;
          font-weight: 600;
          line-height: 1;
          margin: 0;
        }

        .view {
          font-size: 9px;
          cursor: pointer;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  & .orders-thumbnail:nth-child(1) {
    background: #76DE40;
  }

  & .orders-thumbnail:nth-child(2) {
    background: #ECE262;

    .order-options {
      .option {
        &:nth-child(1) {

          .key,
          .value {
            color: #ED1C24;
          }
        }

        &:nth-child(2) {

          .key,
          .value {
            color: #FF7F27;
          }
        }
      }
    }
  }

  & .orders-thumbnail:nth-child(3) {
    background: #00A2E8;

    .order-options {
      .option {
        &:nth-child(1) {

          .key,
          .value {
            color: #FFF302;
          }
        }

        &:nth-child(2) {

          .key,
          .value {
            color: #B5E61C;
          }
        }
      }
    }
  }

  & .orders-thumbnail:nth-child(4) {
    background: #E64571;

    .order-options {
      .option {
        &:nth-child(1) {

          .key,
          .value {
            color: #C3C3C3;
          }
        }

        &:nth-child(2) {

          .key,
          .value {
            color: #98DAEB;
          }
        }
      }
    }
  }

  & .orders-thumbnail:nth-child(5) {
    background: #3AEF93;
  }
}

table {
  .no-data-available {
    text-align: center;
  }

  .dataTables_empty {
    display: none;
  }
}


.timeslot {
  font-size: 13px;
  font-weight: 500;
}

.order-filter-options {
  margin: 8px 0;

  .filter-option {
    display: inline-block;
    width: 195px;
    margin: 8px 8px 8px 0;

    .option {
      display: flex;
      align-items: center;

      .select-label {
        margin-right: 8px;
        white-space: pre;
        font-size: 12px;
        font-weight: 400;
      }

      ng-select {
        width: -webkit-fill-available;
        max-width: calc(100% - 46px);
      }

      .searchbar {
        height: 36px;
        padding: 0 8px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .2);
        margin-right: 8px;
      }

      .search-button {
        height: 36px;
        width: 150px;
        border-radius: 6px;
        background: #337ab7;
        border: none;
        color: #ffffff;
        font-size: 15px;
        outline: none;
      }
    }
  }

  .customer-search-option {
    ng-select {
      max-width: calc(100% - 68px) !important;
    }
  }

  .filter-button {
    display: inline-block;
    margin: 8px 8px 8px 0;

    .location-export-button {
      text-align: center;
      border: none;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 36px;
      padding: 0 8px;
      border-radius: 6px;
      font-size: 14px;
      outline: none;
    }
  }
}

#orderTable {
  display: none;
}

@media screen and (max-width: 645px) {
  .thumbnails {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .custom-select {
    display: unset;
  }

  .search-options {
    & > div {
      margin: 8px 0;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .order-filter-options {
    .filter-option {
      width: 118px;
    }
  }
}

@media screen and (min-width: 1366px) {
  .order-filter-options {
    .filter-option {
      width: 140px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .order-filter-options {
    .filter-option {
      width: 145px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .order-filter-options {
    .filter-option {
      width: 150px;
    }
  }
}

@media screen and (min-width: 1520px) {
  .thumbnails {
    .orders-thumbnail {
      min-height: 238px;
      padding: 11px 18px;
      border-radius: 36px;
      width: 246px;

      .info {
        font-size: 80px;
        margin: 12px 0;
      }

      .view-detail {
        font-size: 15px;
      }

      .order-options {
        .option {
          padding: 4px;

          .key {
            font-size: 11px;
          }

          .value {
            margin: 8px 0;
          }

          .view {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .order-filter-options {
    .filter-option {
      width: 174px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .order-filter-options {
    .filter-option {
      width: 186px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .order-filter-options {
    .filter-option {
      width: 221px;
    }
  }
}


table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding: 8px 20px;
  vertical-align: middle;
  text-align: center;
}

.filter-option {
  width: 24% !important;
}

