#map_canvas,
agm-map,
.map {
    width: 100%;
    height: calc(100vh - 264px);

    .map-container {
        position: relative;

        .eta-time {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: #0060ae;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.driver-detail-container {
    background: #ffffff;
    box-shadow: 0px 0px 10px #e5e5e5;
    padding: 10px 20px;
    height: 208px;

    .driver-icon {
        box-shadow: 0px 3px 6px #00000029;
        width: 79px;
        height: 79px;
        float: left;
        border-radius: 50%;
    }

    .driver-action-container {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 79px);
        height: 79px;
        text-align: right;

        img {
            display: inline-block;
            vertical-align: top;
            cursor: pointer !important;
            margin-right: 10px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 50%;
        }
    }

    .driver-info-container {
        font-family: "Nunito-Regular", sans-serif;
        color: #000000;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
        margin-top: 20px;

        .driver-name {
            b {
                font-size: 16px;
                line-height: 26px;
                font-family: "Nunito-Bold", sans-serif;
                letter-spacing: -0.32px;
            }
        }

        .vehicle-no {
            font-family: "Nunito-Bold", sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #0060ae;
            margin-top: 10px;
        }

        .number-plate {
            font-family: "Nunito-SemiBold", sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #282f39;
            margin-top: 10px;
        }
    }
}

.eta-time-section {
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 17px;
    line-height: 22px;
    color: #282f39;
    margin-top: 10px;

    .eta-time {
        color: #0ab253;
    }
}
