<app-header [header]="header"></app-header>
<ion-content>
    <div class="map">
        <div class="map-container" *ngIf="tracking && tracking.showMap">
            <agm-map [latitude]="tracking.latitude" [zoom]="tracking.zoom" [longitude]="tracking.longitude"
                     [zoomControl]="false">
                <agm-direction [origin]="tracking.origin" [destination]="tracking.destination"
                               [markerOptions]="tracking.markerOptions"
                               [renderOptions]="tracking.renderOptions">
                </agm-direction>
            </agm-map>
            <div class="eta-time" *ngIf="tracking.time && tracking.time.duration">
                {{'PAGES.ORDER_TRACKING.ETA'|translate}}: {{tracking.time.duration.text}}
            </div>
        </div>
    </div>
    <div class="driver-detail-container" *ngIf="order">
        <img class="driver-icon" [src]="order.driverDetails.profileimageUrl">
        <div class="driver-action-container">
            <img src="/assets/icon/chat-icon.png" (click)="chat()"/>
            <img src="/assets/icon/call-icon.png" (click)="call()"/>
        </div>
        <div class="clearfix"></div>
        <div class="driver-info-container" *ngIf="order.driverDetails">
            <div class="driver-name">
                <span *ngIf="order.status==='AWAITING_COLLECTION'">{{'PAGES.ORDER_TRACKING.PICKUP_ASSIGNED'|translate}} </span>
                <span *ngIf="order.status==='ON_THE_WAY'">{{'PAGES.ORDER_TRACKING.DRIVER_ASSIGNED'|translate}} </span>
                <b>{{order.driverDetails.fullName}}</b></div>
            <div class="number-plate">{{'PAGES.ORDER_TRACKING.NUMBER_PLATE'|translate}}
                - {{order.driverDetails.licencePlate}}</div>
            <div class="eta-time-section ion-text-center"
                 *ngIf="tracking && tracking.time && tracking.time.duration">
                {{'PAGES.ORDER_TRACKING.ORDER_ARRIVE'|translate}} <span class="eta-time">{{tracking.time.duration.text}}</span></div>
        </div>
        <div class="clearfix"></div>
    </div>
</ion-content>
