<app-header [header]="header"></app-header>
<ion-content *ngIf="order">
    <div class="ion-padding">
        <div class="order-detail-container">
            <div class="order-number">
                {{'PAGES.ORDER.LABEL.ORDER'|translate}}{{order.orderId}}
            </div>
            <div class="order-date">
                {{'PAGES.ORDER.LABEL.ORDER_PLACED_ON'|translate}}-{{order.createdOn|date:'dd MMM'}}
            </div>
        </div>
        <div class="clearfix"></div>
        <div clas="delivery-container">
            <h4 class="category-header" *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                {{'PAGES.COMMON.LABEL.PICKUP_TO'|translate}}
            </h4>
            <h4 class="category-header" *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                {{'PAGES.COMMON.LABEL.DELIVERY_TO'|translate}}
            </h4>
            <div class="delivery-user-detail-info">
                <div class="delivery-user-info">
                    <span class="user-name">{{order.customerDetails.fullName}}</span>
                </div>
                <div class="delivery-user-address">
                    {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                    {{order.deliveryAddress.buildingName}}
                    {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                    {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}}
                    , {{order.deliveryAddress.postalCode}}
                    <br>
                    {{order.deliveryAddress.phoneNo}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="ion-no-padding">
            <div class="no-padding-left order-delivery-date-container">
                <div class="order-delivery-date margin-top-20 margin-bottom-20" *ngIf="!order.collectedDate">
                    <b>{{'PAGES.ORDER.LABEL.PICKUP_DATE'|translate}}:</b>
                    &nbsp; {{order.pickupDate|date:'dd MMM yyyy' }} {{order.pickupSlot}}
                </div>
                <div class="order-delivery-date margin-top-20 margin-bottom-20" *ngIf="order.collectedDate">
                    <b>{{'PAGES.ORDER.LABEL.PICKUP_ON'|translate}}:</b>
                    &nbsp; {{order.collectedDate|date:'dd MMM yyyy hh:mm a' }}
                </div>
                <div class="order-delivery-date margin-bottom-20" *ngIf="!order.deliveredDate">
                    <b>{{'PAGES.ORDER.LABEL.DELIVERED_DATE'|translate}}:</b>
                    &nbsp; {{order.deliveryDate|date:'dd MMM yyyy'}} {{order.deliverySlot}}
                </div>
                <div class="order-delivery-date margin-bottom-20" *ngIf="order.deliveredDate">
                    <b>{{'PAGES.ORDER.LABEL.DELIVERED_ON'|translate}}:</b>
                    &nbsp; {{order.deliveredDate|date:'dd MMM yyyy hh:mm a'}}
                </div>
                <div class="order-delivery-date margin-bottom-20">
                    <b>{{'PAGES.ORDER.LABEL.CHANGE_AMOUNT'|translate}}:</b>
                    {{order.change | number:'1.2-2'}}<span>&#3647;</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngFor="let items of order.uiItems">
            <h4 class="category-header">{{items[0].service.name}}</h4>
            <div class="custom-card">
                <div class="cart-item" *ngFor="let item of items">
                    <div class="product-detail-container">
                        <div class="product-icon-container">
                            <img class="product-icon" [src]="item.product.icon">
                        </div>
                        <div class="product-name">
                            {{item.product.name}}
                        </div>
                    </div>
                    <div class="product-prize-container">
                        <div class="prize-container">
                            {{item.quantity}} x {{item.price | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                        <div class="final-amount">
                            {{item.quantity * item.price  | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div clas="delivery-container">
            <h4 class="category-header">{{'PAGES.COMMON.LABEL.DELIVERY_OPTION'|translate}}</h4>
            <div class="delivery-preview {{order.deliveryType|lowercase}}">
                <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
            </div>
            <div class="delivery-payment-preview">
                <span>{{'PAGES.ORDER.LABEL.PAYMENT_BY'|translate}}</span>
                <ion-icon src="/assets/icon/payment-method-card.svg" *ngIf="order.paymentType==='CARD'"></ion-icon>
                <span *ngIf="order.paymentType==='CARD'">{{'PAGES.ORDER.LABEL.CARD'|translate}}</span>
                <span *ngIf="order.paymentType==='CASH'">&nbsp;{{'PAGES.ORDER.LABEL.CASH'|translate}}</span>
                <span *ngIf="order.paymentType==='QRCODE'">&nbsp;{{'PAGES.ORDER.LABEL.QR_CODE'|translate}}</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="order-amount-detail">
            <ion-row>
                <ion-col size="8">{{'PAGES.COMMON.LABEL.SUBTOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.subTotal| number:'1.2-2'}}<span>&#3647;</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8">{{'PAGES.COMMON.LABEL.DELIVERY'|translate}}
                    ({{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}})
                </ion-col>
                <ion-col size="4" class="order-amount">{{order.deliveryPrice| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="order.logisticCharge">
                <ion-col size="8">{{'PAGES.COMMON.LABEL.LOGISTIC'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.logisticCharge| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
            <ion-row class="total-row">
                <ion-col size="8">{{'PAGES.COMMON.LABEL.TOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.totalPrice| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="custom-card order-driver-detail" *ngIf="order.driver">
        <div class="ion-padding">
        </div>
    </div>
    <div class="clearfix"></div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="adminCall()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>