<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Promotion.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'Promotion.objName' | translate}} {{'Promotion.flashNews' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'Promotion.title' | translate}}</th>
          <th class="text-center">{{'Promotion.image' | translate}}</th>
          <th>{{'Promotion.path' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.title}}</td>
          <td class="text-center">
            <img class="promotion-image" *ngIf="record.file?.length > 0" [src]="record.file[0].path" alt="promotion"
              (click)="goToLink(record.file[0].path)">
          </td>
          <td><a (click)="goToLink(record.url)">{{record.url}}</a></td>
          <td class="text-center">
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PROMOTION','EditButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('PROMOTION','EditButton')"
              [routerLink]="['/dashboard/promotion/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="promotionDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="promotionDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-promotion-detail [recordId]="selectedId"></app-promotion-detail>
      </div>
    </div>
  </div>
</div>
