@import '../landing/landing.page.scss';

ion-content {
    --background: var(--app-background-color);

    .order-list {
        .single-order-block {
            background: var(--app-light-color);
            margin: 16px 0;
        }
    }
}

.order-customer-name {
    font-family: Nunito-Bold, sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    margin-top: 5px;
}

.order-completed-tag {
    position: absolute;
    top: 0px;
    right: 0px;

    ion-icon {
        margin-right: 5px;
        font-size: 21px;
    }

    span, ion-icon {
        color: #22ED5F !important;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        font-size: 18px;
    }
}

.ride-type-icon {
    position: absolute;
    top: 47px;
    right: 0px;

    .label {
        font-family: Nunito-SemiBold, sans-serif;
        color: #060606;
        font-size: 13px;
        line-height: 18px;

        label {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.single-order {
    .details {
        margin: 5px 0px 0px !important;
    }

    .payment-status {
        font-size: 15px !important;
        line-height: 20px !important;
        margin-top: 5px !important;

        .label {
            font-size: 16px;
        }

        img {
            width: 20px;
        }
    }

    .date-status {
        font-size: 15px !important;
        line-height: 20px !important;
        margin-top: 5px !important;
    }

}