<app-header [header]="header"></app-header>
<ion-content class="ion-padding" *ngIf="ordersLoaded">
    <ion-list class="order-list">
        <ion-item class="single-order-block" *ngFor="let order of completedOrders">
            <div class="single-order" (click)="openOrder(order)">
                <div class="order-no">
                    <span>{{'PAGES.COMPLETED_ORDERS.LABEL.ORDER' | translate}}{{order.orderId}}</span>
                </div>
                <div class="order-completed-tag">
                    <ion-icon src="/assets/icon/completed-task.svg"></ion-icon>
                    <span>Done</span>
                </div>
                <div class="order-customer-name">
                    <span>{{order.customerName}}</span>
                    <!--<img class="ion-float-end" src="/assets/images/completed.svg"/>-->
                </div>
                <div class="details">
                    <span>{{order.totalItems}} {{'PAGES.COMPLETED_ORDERS.LABEL.ITEMS' | translate}}</span>
                    <span class="label" *ngIf="order.status === 'COMPLETED'">
                            <img src="../assets/icon/guarantee.svg">
                        {{'PAGES.COMPLETED_ORDERS.LABEL.COMPLETED' | translate}}</span>
                </div>
                <div class="payment-status">
                    <span>{{'PAGES.COMPLETED_ORDERS.LABEL.PAYMENT_STATUS' | translate}}</span>
                    <span class="label"><img src="../assets/icon/check.svg"> {{order.paymentStatus}}</span>
                </div>
                <div class="date-status" *ngIf="order.rideType === 'PICKUP'">
                        <span>{{'PAGES.COMPLETED_ORDERS.LABEL.PICKUP_ON' | translate}}
                            {{order.createdOn | date: 'd-MMMM y h:mm a'}}</span>
                </div>
                <div class="date-status" *ngIf="order.rideType === 'DELIVERED'">
                        <span>{{'PAGES.COMPLETED_ORDERS.LABEL.DELIVERED_ON' | translate}}
                            {{order.createdOn | date: 'd-MMMM y h:mm a'}}</span>
                </div>
                <div class="ride-type-icon">
                    <span class="label"
                          *ngIf="order.rideType === 'PICKUP'">
                        <img
                            src="../assets/icon/pickup.svg"> <label>{{'PAGES.LANDING.LABEL.PICKUP' | translate}}</label></span>
                    <span class="label"
                          *ngIf="order.rideType === 'DELIVERED'">
                        <img
                            src="../assets/icon/delivery.svg"> <label>{{'PAGES.LANDING.LABEL.DELIVERY' | translate}}</label></span>
                </div>
            </div>
        </ion-item>
        <ion-item class="single-order-block" *ngIf="completedOrders.length === 0">
            <div class="margin-auto">{{'PAGES.COMPLETED_ORDERS.LABEL.NO_COMPLETED_ORDERS' | translate}}</div>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="call()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>