@import "custom";
@import "~@ng-select/ng-select/themes/default.theme.css";

.panel-primary {
  border-color: #0060AE;

  .panel-heading {
    color: #fff;
    background-color: #0060AE;
    border-color: #0060AE;
    border-radius: 0px;
  }
}

.extra-page {
  background: transparent linear-gradient(148deg, #0060AE 0%, #02335B 100%) 0% 0% no-repeat padding-box;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  z-index: 0;

  .display-align {
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      width: 300px;
    }
  }

  .message-container {
    width: 100%;
    text-align: center;
    color: #fff;

    .message-heading {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 26px;
    }

    .message-body {
      font-size: 21px;
      font-weight: 400;
    }
  }
}


.file-input {
  display: none !important;
}

.attachment-item-container {
  display: inline-block;
  vertical-align: initial;
  margin-right: 10px;
  height: 140px;
  width: 140px;
}

.add-new-image-container {
  border: 1px solid #ddd;
  height: 130px;
  width: 130px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  .add-new-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 21px;
    margin-left: -10px;
    margin-top: -8px;
  }
}

.image-preview-container {
  border: 1px solid #ddd;
  width: 140px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  .remove-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    color: #222;
    text-align: center;
    border-radius: 50%;
    margin-top: 1px;

    .fa {
      margin-top: 4px;
    }
  }

  img {
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    max-height: 130px;
    object-position: center;
  }
}

.upload-message {
  font-size: 12px;
}

.status-text {
  &.active {
    color: green !important;
  }

  &.inactive {
    color: red !important;
  }
}

.dataTables_empty {
  display: none;
}

.ng-dropdown-panel {
  min-width: 100%;
  width: max-content !important;
}


table.dataTable thead .sorting_desc:after {
  content: none;
}

table.dataTable thead .sorting:after {
  content: none;
}

table.dataTable thead .sorting_asc:after {
  content: none;
}

.filter-options {
  padding: 0;
  margin: 10px 0 18px;
  width: 100%;

  .ng-select-container {
    height: 33px !important;
  }

  .row {
    margin: 0;
    // display: flex;

    .custom-select {
      margin: 8px auto 12px;
      outline: none;
      padding: 0 8px;

      .select-label {
        margin-right: 8px;
        text-align: center;
        font-size: 13px;
        min-width: max-content;
      }

      ng-select {
        width: 100%;

        .ng-dropdown-panel {
          text-align: left;
        }
      }

      .custom-ng-select {
        width: calc(100% - 70px);
      }

      .searchbar {
        height: 36px;
        padding: 0 8px;
        width: calc(100% - 48px);
        border: 1px solid rgba(0, 0, 0, .2);
        margin-right: 8px;
      }

      .custom-datepicker {
        width: calc(100% - 48px);
        margin-right: 8px;
        display: flex;
        align-items: center;
      }

      .search-button {
        height: 36px;
        width: 100px;
        border-radius: 6px;
        background: #337ab7;
        border: none;
        color: white;
        font-size: 14px;
        outline: none;
      }
    }

    .driver-location-button {
      text-align: center;
      border: none;
      background: #ffffff;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
      height: 46px;
      padding: 0 4px;
      border-radius: 6px;
      font-size: 14px;
      outline: none;
      width: 100%;
      min-width: 68px;
      max-width: 120px;
    }

    .search-options {
      &>div {
        padding: 0 4px;
      }
    }
  }
}

.map-modal {
  width: 90%;
  max-width: 800px;

  .modal-body {
    padding: 0 8px;

    .map-container {
      width: 100%;
      height: 50vh;

      .model-heading {
        text-align: center;
        font-size: 24px;
        line-height: 1;
        font-weight: 600;
        margin: 12px 0;
      }

      #map {
        width: 100%;
        height: calc(100% - 44px);
      }
    }
  }
}

.sameday {
  display: grid;
  color: #E64571;
  font-weight: 900;
  font-size: 12px;

  .name {
    line-height: 1;
    white-space: pre;
  }

  img {
    width: 36px;
    margin: 0 auto;
  }
}

.status-paid {
  color: green;
  font-weight: 700;
}

.status-unpaid {
  color: red;
  font-weight: 700;
  white-space: pre;
}

.express {
  @extend .sameday;
  color: #00A2E8;
}


.font-weight-600 {
  font-weight: 600 !important;
}

.sweet-alert {
  padding: 30px;
}

.sweet-alert h2 {
  font-size: 22px;
  text-align: left;
  margin: 0 0 16px;
  font-weight: 600;
}

.sweet-alert p {
  word-break: normal;
  color: black;
  font-weight: 400 !important;
}

.sweet-alert button {
  background-color: #ffffff !important;
  color: black !important;
  width: 100px;
  height: 40px;
  border: none;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1) !important;
  margin: 40px 23px 0 23px !important;
}

.sweet-alert button.cancel,
.sweet-alert button.cancel:hover {
  background-color: rgba(0, 0, 0, 0.80) !important;
  color: #ffffff !important;
}

.primary-background {
  background: lightgray;
}


table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
  padding: 8px 20px;
  vertical-align: middle;
}

.display-grid {
  display: grid !important;
}

.language-label {
  background: #5d78ff;
  color: white;
  padding: 8px 0;
  border-radius: 6px;
  margin: 20px 20px 0 0;
  cursor: pointer;
  width: 80px;
  text-align: center;
}

.in-single-line {
  white-space: pre;
}

table.dataTable thead .sorting {
  background-image: url('/assets/images/sort_both.png') !important;
}

.entity-label {
  background-color: #f2f3f8;
  font-weight: 400;
}

table.dataTable thead .sorting_desc {
  background-image: url('/assets/images/sort_desc.png');
}

table.dataTable thead .sorting_asc {
  background-image: url('/assets/images/sort_asc.png');
}

.icon-background {
  background: #0060ae;
}

.white-space-normal {
  white-space: normal !important;
}
