/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:300,400,500,600,700);

$background-color:#F4F6F9;
$main-color:#398BF7;
$scroll-bar-color:#555;
$font-family:"Poppins", sans-serif;
$font-normal-color: #337ab7;

$other-background-color: $main-color;
$save-btn-color: $background-color;
$save-btn-color-active: $background-color;
$save-btn-border-color-active: $background-color;
$loader-color: $background-color;
$cancel-btn-color: $main-color;
$scroll-bar-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

$site-menu-background-color: #1e1e2d;
$site-menu-color: #a2a3b7;
$site-menu--active-color: #ffffff;
$site-background-color: #f2f3f8;
