<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{"USERS.objName" | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li [routerLink]="['/dashboard/users']">{{"USERS.objNames" | translate}}</li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'USERS.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{user.fullName}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #recordForm="ngForm" novalidate="novalidate">
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
             [ngClass]="{'has-error':!employeeId.valid && request.onClickValidation}">
          <label>{{"USERS.EmployeeId" | translate}}</label>
          <input class="form-control" type="text" name="employeeId" #employeeId="ngModel" [(ngModel)]="user.employeeId"
                 required="required" placeholder="{{'USERS.EmployeeId' | translate}}" [readonly]="!request.isNewRecord"
                 pattern="^[a-zA-Z0-9]*$" maxlength="7"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!role.valid && request.onClickValidation}">
          <label>{{"USERS.Role" | translate}}</label>
          <ng-select [items]="roles" bindLabel="name" bindValue="slug" name="role" [(ngModel)]="user.roleName"
                     [ngClass]="{'invalid-field':!role.valid && onClickValidation}" required="required"
                     (change)="onRoleChange(user.roleName)" [readonly]="!request.isNewRecord" #role="ngModel"
                     placeholder="{{'USERS.SELECT_ROLE' | translate}}">
          </ng-select>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
             [ngClass]="{'has-error':!firstName.valid && request.onClickValidation}">
          <label>{{"USERS.FirstName" | translate}}</label>
          <input class="form-control" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName"
                 required="required" placeholder="{{'USERS.FIRST_NAME' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!lastname.valid && request.onClickValidation}">
          <label>{{"USERS.LastName" | translate}}</label>
          <input class="form-control" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastName"
                 required="required" placeholder="{{'USERS.LAST_NAME' | translate}}">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!position.valid && request.onClickValidation}">
          <label>{{"USERS.Position" | translate}}</label>
          <input class="form-control" type="text" name="phone" #position="ngModel" [(ngModel)]="user.position"
                 required="required" placeholder="{{'USERS.Position' | translate}}" readonly="readonly">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!email.valid && request.onClickValidation}">
          <label>{{"USERS.Email" | translate}}</label>
          <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
                 [pattern]="emailPattern" required="required" placeholder="{{'USERS.EMAIL' | translate}}">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!password.valid && request.onClickValidation}">
          <label>
            {{"USERS.Password" | translate}}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-container="body" data-toggle="popover"
               data-placement="top" data-content="A password must contain
               <br>At least 8 characters
               <br>At least one lowercase character
               <br>At least one uppercase character
               <br>At least one number
               <br>At least one special character">
            </i>
          </label>
          <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                 required="required" placeholder="{{'USERS.Password' | translate}}" minlength="8"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        </div>
        <div *ngIf="request.onClickValidation && password.invalid" class="error-text">
          <span *ngIf="password.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
          </span>
          <span *ngIf="password.errors.pattern && !password.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
             [ngClass]="{'has-error':!confirmPassword.valid && request.onClickValidation}">
          <label>{{"USERS.Confirm_Password" | translate}}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-container="body" data-toggle="popover"
               data-placement="top" data-content="A password must contain
               <br>At least 8 characters
               <br>At least one lowercase character
               <br>At least one uppercase character
               <br>At least one number
               <br>At least one special character">
            </i>
          </label>
          <input class="form-control" type="password" name="confirmPassword" #confirmPassword="ngModel"
                 [(ngModel)]="user.confirmPassword" required="required"
                 placeholder="{{'USERS.Confirm_Password' | translate}}" minlength="8"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
          <div *ngIf="request.onClickValidation && confirmPassword.invalid" class="error-text">
            <span *ngIf="confirmPassword.errors.minlength">
              {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
            </span>
            <span *ngIf="confirmPassword.errors.pattern && !confirmPassword.errors.minlength">
              {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
            </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 no-padding text-right">
        <button class="btn btn-default site-button margin-right-10" type="button" (click)="save(recordForm.form.valid)"
                [disabled]="request.isRequested">
          <i class="lnr lnr-checkmark-circle"></i> {{"COMMON.SAVE" | translate}}
        </button>
        <button class="btn btn-primary site-cancel-button " type="button" [routerLink]="['/dashboard/users']">
          <i class="lnr lnr-cross-circle "></i>
          {{"COMMON.CANCEL" | translate}}
        </button>
        <div class="clearfix"></div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>
