<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class="term-and-condition-content">
        <h4>TERMS OF USE</h4>
        <p>
            These Terms of Use apply to you when you visit or use our webor website <a
                href="http://www.lotuslaundrybangkok.com/">http://www.lotuslaundrybangkok.com/</a> (“website”), our
            Lotus
            Laundry mobile application ("App") and our Services (defined below). These Terms of Use set out the legal
            rights and obligations as between you and (Pte.) Ltd Lotus Laundry, the owner and operator of the Or Any
            reason for the word “Or” the be infront of the word “website?” website, App and Services. Please read these
            Terms of Use carefully before you visit, download or use our Or website, our App and/or our Services.
        </p>
        <p>
            By accessing our or website, our App and/or using our Services, you hereby agree: that you have read and
            agree to be legally bound by these Terms of Use, that you accept and agree to be bound by our Privacy Policy
            and any other policy or terms and conditions uploaded by us on the Or website, and that you are the user of
            the Or website, App and/or Services and are 18 years of age or older. If you do not accept these Terms of
            Use, please leave the Or website, App and/or discontinue use of the Services immediately.
        </p>

        <div>
            <h4>Definitions</h4>
            <p>
                <b>1.1</b> "Applicable Laws" shall mean all laws of Thailand, ordinance, statutes, rules, orders,
                decrees, injunctions, licenses, permits, approvals, authorizations, consents, waivers, privileges,
                agreements and regulations of any governmental authority having jurisdiction over the relevant matter as
                such are in effect as of the date hereof or as may be amended, modified, enacted or revoked from time to
                time hereafter;
            </p>
            <p>
                <b>1.2</b> "Claim" includes any claim, proceeding, cause of action, action, demand, investigation or
                suit (including by way of contribution or indemnity) at law or in equity in relation to Loss;
            </p>
            <p>
                <b>1.3</b> "Intellectual Property" shall mean trademarks, names, pictures, titles, logos, texts, IP
                addresses, images, designs, copyrights and other proprietary materials owned and registered by Lotus
                Laundry;
            </p>
            <p>
                <b>1.4</b> "Losses" means all direct losses, liabilities, damages, fines, interest, awards, penalties,
                costs (including, reasonable legal costs, lawyers’ and arbitrator’s fees), charges and expenses and any
                other losses, expenses or damages which are reasonably foreseeable by the Parties;
            </p>
            <p>
                <b>1.5</b> “Lotus Laundry”, "We", "Us" or "Our/s" refers to (Pte.) Ltd. Lotus Laundry;
            </p>
            <p>
                <b>1.6</b> "Services" shall mean any service offered by and listed on the Or website; we have to add
                “and application”
            </p>
            <p>
                <b>1.7</b> "Or website" shall mean Lotus Laundry online webor website collectively, including all
                content and functionality available through www.lotuslaundrybangkok.com domain name and shall include
                the Lotus Laundry Mobile Application, webor website homepage and all other webpages and data files
                connected through hyperlinks excluding any third party webor websites on which does not have any
                control;
            </p>
            <p>
                <b>1.8</b> "You", "Your" or "User" shall mean the users and visitors of the Or website; we have to add
                “and application”
            </p>
            <p>
                <b>1.9</b> Other terms not defined above shall have the meaning as ascribed to the terms in the
                following clauses of this Terms of Use:
            </p>
            <table class="table">
                <tr>
                    <th>Terms</th>
                    <th>Clause Number</th>
                </tr>
                <tr>
                    <td>Account</td>
                    <td>9.1</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>15.1</td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td>7.2.3</td>
                </tr>
                <tr>
                    <td>Infringement</td>
                    <td>23.1</td>
                </tr>
                <tr>
                    <td>Infringement Notice</td>
                    <td>23.1</td>
                </tr>
                <tr>
                    <td>Infringing Material</td>
                    <td>23.1</td>
                </tr>
                <tr>
                    <td>Linked Or websites</td>
                    <td>18.1</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>9.1</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td>9.1</td>
                </tr>
                <tr>
                    <td>Voucher Codes</td>
                    <td>13.3</td>
                </tr>
            </table>
        </div>
        <h4><b>Or website and Domain Name</b></h4>
        <p>
            <b>2.1</b> The Or website and the domain www.lotuslaundrybangkok.com is owned, operated and maintained by
            Lotus Laundry Co. Ltd..
        </p>
        <p>
            <b>2.2</b> This Or website we have to add “and application” contains Intellectual Property the use, copy,
            reproduction, publishing, hosting, transmission or sharing of which by User or any third party shall amount
            to violation of rights of Lotus Laundry . Any punishment we should add here? Legal?
        </p>

        <h4><b>Right to Use and Amendment</b></h4>
        <p>
            <b>3.1</b> We reserve the right, at our sole discretion, to change, modify, add or remove portions of these
            Terms of Use at any time without any prior written notice to You.
        </p>
        <p>
            <b>3.2</b> It is your responsibility to review these Terms of Use periodically for updates / changes. Your
            continued use of the Or website we have to add “and application” following the posting of changes will mean
            that you accept and agree to the revisions.
        </p>
        <p>
            <b>3.3</b> As long as you comply with these Terms of Use and the Privacy Policy as provided on the Or
            website we have to add “and application”, We grant you a personal, non-exclusive, non-transferable, limited
            privilege to enter and use the Or website and Application.
        </p>
        <p><b>3.4</b> Throughout this Terms of Use, Lotus Laundry 's prior written consent means a communication coming
            from Lotus Laundry , specifically in response to your request, and specifically addressing the activity or
            conduct for which you seek authorization
        </p>
        <h4><b>Eligibility</b></h4>
        <p>
            <b>4.1</b> Use of the website and Mobile Application for availing Services is available only to persons who
            can form legally binding contracts as per Applicable Laws. Persons who are ‘incompetent to contract’
            including minors (below the age of 18 years) and un-discharged insolvents etc. are not eligible to use the
            Si??. If you are incompetent to contract as per Applicable Laws, you shall not register as a User of the Or
            website and shall not transact on or use the Or website.</p>
        <p><b>4.2</b>As a minor if you wish to use or transact on Or website, such use or transaction may be made by
            Your legal guardian or parents on the Or website who agree to be bound by the Terms of Use of the Or website
            and would be responsible for any consequences or implications of a minor using the Or website without adult
            supervision.
        </p>
        <p><b>4.3</b>We reserve the right to terminate Your membership and / or refuse to provide you with access to
            the website and Mobile Application if it is brought to Our notice or if it is discovered that you are
            incompetent to contract under Applicable Laws.
        </p>
        <h4><b>Services and Tools</b></h4>
        <p><b>5.1</b> Lotus Laundry operates an online laundry and dry cleaning delivery service through the website
            and Mobile Application.</p>
        <p><b>5.2</b>Lotus Laundry reserves the right to change, modify, suspend or discontinue the whole or any
            portion of the Services or Or website at any time.</p>
        <p><b>5.3</b>We may also impose limits on certain features or tools and restrict your access to parts of the
            entire Services or Or website without notice or liability.</p>
        <h4><b>License</b></h4>
        <p><b>6.1</b>Lotus Laundry hereby grants you a personal, non-exclusive and non- transferable license to use the
            website and Mobile Application and access and use the Services available via the website and Mobile
            Application subject to the terms set out in these Terms of Use.</p>
        <p><b>6.2</b>You agree not to reproduce, modify, copy, translate, adapt, publish, communicate, display,
            transmit, distribute, broadcast, sell, exploit, trade or use for any commercial or other purposes, any
            portion of, or any access to:</p>
        <p><b>6.2.1</b>The Or website;</p>
        <p><b>6.2.2</b>Any Service;</p>
        <p><b>6.2.3</b>Any information, materials, news, listings, advertisements, pricing, input, data, text, audio,
            video, songs, graphics, pictures, software, forums, blogs, message boards, comments, broadcasts,
            suggestions, ideas and other content, that is made available on or via the Or website or Services
            (collectively, "Content"), except, to the extent permitted, with the prior written consent of or unless
            expressly permitted in these Terms of Use.
        </p>
        <h4><b>Copyright</b></h4>
        <p><b>7.1</b> The Or website we have to add “and application” and all Content are the copyrighted work of Lotus
            Laundry, software providers, or business partners and reserves and retains all rights in the Or website and
            Content.</p>
        <p><b>7.2</b> Except as expressly provided in here, no part of the Or website we have to add “and application”
            and no content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded,
            translated, transmitted or distributed in any way (including mirroring, linking, spidering, scraping or any
            other technological means as well as any technology available in the future) to any other computer, server,
            webor website or other medium for publication or distribution or for any commercial enterprise, without Our
            express prior written consent.</p>
        <p><b>7.3</b> This Or website we have to add “and application” or any portion of this Or website (including but
            not limited to any Intellectual Property or other copyrighted material, trademarks, or other proprietary
            information) shall not be reproduced, duplicated, copied, sold, resold via website, distributed or otherwise
            exploited for any commercial purpose without express written consent of Lotus Laundry.</p>
        <p><b>7.4</b> You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary
            information (including images, text, page layout, or form) of Lotus Laundry and its affiliates without
            express written consent. You may not use any meta tags or any other ‘hidden text’ utilizing Lotus Laundry ’s
            names or trademarks without the express written consent of Lotus Laundry . Any unauthorized use terminates
            the permission or license granted by Lotus Laundry and Lotus Laundry shall take stringent action against any
            breach of Intellectual Property rights of Lotus Laundry.</p>
        <p><b>7.5</b> You shall not decompile, reverse engineer or otherwise attempt to discover the source code of the
            Or website we have to add “and application” or any Content, except under the specific circumstances
            expressly permitted by law or Lotus Laundry in writing.
        </p>
        <p><b>7.6</b> You may not hack into, interfere with, disrupt, disable, over- burden or otherwise impair the
            proper working of the Or website we have to add “and application”, Services or our servers, which shall
            include but is not limited to denial-of-service attacks, spoof attacks, session hacking, sniffing,
            tampering, spamming, reverse engineering or reprogramming.</p>
        <p><b>7.7</b> You are granted a limited, revocable, and non-exclusive right to create a hyperlink to the home
            page of the Or website as long as the link does not portray Lotus Laundry , Or website we have to add “and
            application” or their Services in a false, misleading, derogatory, or otherwise offensive matter. Providing
            such a link to the Or website shall not create a relationship of agency or partnership between You and Lotus
            Laundry and shall not entitle You to any financial incentive or remuneration from Lotus Laundry .</p>

        <h4><b>Account Information</b></h4>
        <p><b>8.1</b> To access certain parts of the website or Mobile Application or avail Our Services, you will be
            required to sign-up for a personal account with us ("Account") and create a unique access name ("User Name")
            and password by which you will access your Account ("Password"). You may also log in to our website and our
            App through Your account with certain social media providers or e-mail service providers. Lotus Laundry may
            at its sole discretion deny use of or request You to change any Username which is offensive, abusive or
            against Applicable Laws.</p>
        <p><b>8.2</b> You are solely responsible for safeguarding and maintaining the confidentiality of your User Name
            and Password. You agree not to:</p>
        <p><b>8.2.1</b> Share or permit others to use your Account or Password; or</p>
        <p><b>8.2.2</b> Assign or transfer your Account to any other person or entity.</p>

        <p><b>8.3</b> You shall be bound by and responsible for all communications and online activity transmitted or
            conducted
            through the use of your Account. We shall have no responsibility or liability for any damage, loss (direct
            or
            indirect), cost, liabilities or expenses arising as a result of or in connection with the wrongful or
            fraudulent
            use of your Account. If you are aware of any actual or suspected unauthorized use(s) of your Account, or
            loss,
            theft, or unauthorized disclosure of your Password, please promptly notify us at
            <a href="mailto:support@lotuslaundrybangkok.com">support@lotuslaundrybangkok.com</a></p>
        <p><b>8.4</b> Each mobile phone number may only register one (1) Account.</p>
        <p><b>8.5</b> Please provide accurate, complete, and up-to-date information required for your Account. You can
            update
            your
            account details at any time by accessing your Account. We will not be responsible for any problems or
            liability
            related to inaccurate or incomplete Personal Information, whether due to Your failure to update such
            Personal
            Information or otherwise.</p>
        <p><b>8.6</b> Where same delivery address is associated with multiple phone numbers and/or any fraudulent or
            wrongful
            use
            of an Account is detected or suspected, we reserve the right at our sole discretion and without liability,
            and
            without prejudice to our other rights and remedies under this Agreement or at law, to immediately:</p>
        <p><b>8.6.1</b> Cancel any orders placed through such Account(s);</p>
        <p><b>8.6.2</b> Cancel or invalidate any credits or discount vouchers, coupons or codes awarded to or used by
            such
            Account(s);</p>
        <p><b>8.6.3</b> Prohibit such Account(s) or persons from participating in any promotions, contests or surveys
            of;
            and/or</p>
        <p><b>8.6.4</b> Merge, suspend and/or terminate such Account(s).</p>
        <p><b>8.7</b> In the event of non-delivery on account of a mistake by you (i.e. wrong name or address or any
            other wrong information) any extra cost incurred by Lotus Laundry for redelivery shall be claimed from you.
        </p>
        <p><b>8.8</b> You will provide authentic and true information in all instances where such information is
            requested of you. Lotus Laundry reserves the right to confirm and validate the information and other details
            provided by you at any point of time. If upon confirmation your details are found not to be true (wholly or
            partly), it has the right in its sole discretion to reject the registration and debar you from using the
            Services and / or other affiliated websites without prior intimation whatsoever.</p>
        <h4><b>Laundry & Dry Cleaning Orders</b></h4>
        <p><b>9.1</b> Service Areas</p>
        <p><b>9.1.1</b> Lotus Laundry does not provide Services to all areas in Bangkok Thailand (We need to mentioned
            we will slowly expand our service areas over time). To find out if our Services are available in your area,
            please Refer to our map on our website (*Insert Link to page) enter your postal code on the order page (We
            do not have this service or option on the site) . You may also contact us at <a
                href="mailto:support@lotuslaundrybangkok.com">support@lotuslaundrybangkok.com</a>
            to check on our Service coverage. Lotus Laundry will only process and accept orders within our Service area
            coverage.5</p>
        <p><b>9.1.2</b>Lotus Laundry reserves the right to suspend or cancel its Services in any area without
            requirement of any prior notice. In such an event except any Force Majeure Event as provided in Clause 27 of
            the Terms of Use, undertakes to fulfill any orders undertaken by Lotus Laundry before suspension or
            cancellation of Services in any area.</p>
        <p><b>9.2</b>Orders</p>
        <p><b>9.2.1</b> All orders made by you shall be deemed to be an offer made by you to avail our laundry and
            dry-cleaning Services set out in your order upon these Terms of Use. All orders shall be subject to
            acceptance by Lotus Laundry. Processing of payment for an order shall not in itself constitute acceptance of
            the order by Lotus Laundry , provided that where an order for any service is rejected or cancelled by Lotus
            Laundry , any payment made for such order shall be reversed or refunded by Lotus Laundry in accordance with
            our prevailing refund policy at such time.</p>
        <p><b>9.2.3</b> All orders made by you are subject to acceptance of order by our designated Laundry Facility .
            Lotus Laundry reserves the right to cancel, amend or reject your order in whole or in part, at any time and
            without liability or compensation, when and if our designated Laundry Facility is unable to adequately
            fulfill such order that you have made through Lotus Laundry.</p>
        <p><b>9.3</b>Laundry and Dry Cleaning</p>
        <p><b>9.3.1</b> Lotus Laundry promises to exercise utmost care in handling your laundry, but we will not assume
            responsibility for any loss or damage, including but not limited to the following:
        </p>
        <p>(i) loss of buttons, ornaments or any other type of embellishment on the garment</p>
        <p>(ii) loss of any valuables, including bills and coins, left in the pockets of or attached to the garment,</p>
        <p>(iii) damage or staining of the garment, including caused by any cosmetics, food product, or otherwise. We
            suggest that you check your garments prior to handing them over to us for our collection to ensure that any
            of the aforementioned damage is unlikely to occur to your garments.</p>

        <p>
            <strong>9.3.2</strong>
            We will not be held responsible for any color run, fastness of color and print,
            damage shrinkage,
            bleeding, fading and dis-coloration due to defects of manufacturer and poor quality of fabric. In addition,
            we do not take responsibility for any deteriorated or flawed garments, which could result in small holes or
            tears. Any claims concerning the finished articles must be highlighted at the time of delivery.
        </p>


        <p>
            <strong>9.3.4</strong> Our liability, with respect to damaged items, shall be limited to and not exceeding
            ten (10) times the
            cost of cleaning regardless of brand or condition. Any damaged items must be reported via email to
            <a href="mailto:support@lotuslaundrybangkok.com">support@lotuslaundrybangkok.com</a> (should mention photo
            evidence, bill and date of wash and return) u within
            24
            hrs of clothes/garments delivery to customer and returned to us for inspection within 5 business days.
        </p>

        <p>
            <strong>9.3.5</strong> Customers with lost items have to report via Feedback option in the Or website (we do
            not have this
            option
            on the site) or by calling Lotus Laundry Customer Support or via email to <a
                href="mailto:support@lotuslaundrybangkok.com">support@lotuslaundrybangkok.com</a>
            within
            24 hours of delivery to customer. We will exercise our best reasonable efforts to track every item we
            process.
            Items deemed to be lost by us shall be limited to and not exceeding ten (10) times the cost of cleaning
            regardless of brand or condition. Lotus Laundry shall not take responsibility for any loose items lost when
            submitted inadvertently along with laundry including for example watches, loose change or any other
            currency,
            jewelry or cufflinks.
        </p>

        <p>
            <strong>9.3.6</strong> You agree to inform Lotus Laundry if any laundry item is of a high value so that
            special attention can
            be
            given to that item. (We should list out scenarios to be clear such as clothing that color will run, risk of
            shrinking, special material like wool, silk etc….)
        </p>

        <p>
            <strong>9.3.7</strong> Articles unclaimed and orders that are not paid within thirty (30) days from the date
            of order will be
            considered abandoned and Lotus Laundry shall have the right to dispose off such articles or deal with such
            articles as we deem fit.
        </p>

        <p><strong>9.3.8</strong> Payment for all orders shall be made in Thai Baht.</p>

        <p>
            <strong>9.3.9</strong> When You use Our Services, We use an online payment provider that is operated by a
            third party.
            Payments
            that You make for Our Services will be carried out and processed by this third-party payment provider. Your
            sensitive financial details, including but not limited to your debit or credit card details, are processed
            by
            and stored with this payment provider, and not Us in any way. By placing your order, you authorize us to
            obtain
            information about you from third parties from time to time and this may include verification checks
            involving
            your debit or credit card number or credit reports in order to authenticate your identity, to validate your
            credit card, to obtain an initial credit card authorization, to protect you and us from fraud, and to enable
            us
            to arrange delivery of your order to your nominated delivery address.
        </p>

        <p><strong>9.4</strong> Post Delivery Loss</p>
        <p>
            <strong>9.4.1</strong> We hope to provide a convenient service to all our customers and can leave orders
            outside residences
            at
            the lobby with the buildings or with a doorman/receptionist or any person authorized from the users
            residence/place of residence may it be a house keeper or other family member, provided the customer gives
            written consent. However, once delivery has been made, we will not be held responsible or liable for the
            loss or
            damage of any items. It is the customer’s sole responsibility to ensure the safety of items after delivery
            by.
        </p>

        <p><strong>9.5</strong> Inventory</p>
        <p>
            <strong>9.5.1</strong> Lotus Laundry may at its sole discretion keep record of your garments and store,
            retain, display or
            reproduce such records which may include images or photographs, and associate such records with your name or
            User Name for commercially reasonable periods for archive maintenance, inventory, quality control, loss
            prevention, and/or data collection.
        </p>

        <h4><strong>Price</strong></h4>
        <p>
            <strong>10.1</strong> Registration / Membership on the website and the Mobile Application is free. We do not
            charge for
            browsing
            on this Or website. The prices of Services displayed in the Or website are the maximum retail price (MRP)
            only
            and may vary from time to time. Unless otherwise specified, all prices mentioned are in Thai Bhat .
        </p>

        <p>
            <strong>10.2</strong> The prices and services are subject to change from time to time at our discretion. All
            prices of
            services
            displayed on the website are inclusive of GST. (Let me double check)
        </p>

        <p>
            <strong>10.3</strong> The Users shall be solely responsible for compliance of all Applicable Laws for making
            payments on
            orders
            through the Mobile Application or website.
        </p>

        <p>
            <strong>10.4</strong> We shall not be responsible for any Service charges and related taxes levied on you
            for the use of any
            payment and settlement mechanism or use of any specific bank for facilitating the payment and any such
            additional payments made by you shall be in addition to the price paid for availing the Services.
        </p>

        <p>
            <strong>10.5</strong> The Mobile Application Or website will not facilitate transaction with respect to any
            other form of
            currency with respect to the purchases made on Mobile Application Or website. We make no representation that
            Services provided through the Mobile Application Or website are appropriate or available for use in other
            locations other than areas specified in Bangkok Thailand .
        </p>

        <p>
            <strong>10.6</strong> We make no representation that Services provided through the Mobile Application Or
            website are
            appropriate
            or available for use in other locations other than areas specified in Bangkok Thailand .
        </p>

        <p>
            <strong>10.7</strong> Those who choose to access this Mobile Application Or website from other locations
            other than Bangkok
            Thailand do so at their own initiative and we are not responsible for providing Services to persons located
            outside our Service areas in Bangkok Thailand . For more information, please refer to Clause 10.1 above.
        </p>

        <p>
            <strong>10.8</strong> Pricing on any Services as is reflected on the Mobile Application and Or website may
            due to some
            technical
            issue, typographical error may be incorrectly reflected and in such an event Lotus Laundry may cancel your
            order(s) and refund any amounts paid by you in relation to such transactions.
        </p>

        <h4><strong>Payment (Payment for now will only be though the mobile application)</strong></h4>
        <p>
            <strong>11.1</strong> For the purpose of online ordering and payment, We use an online payment provider that
            is operated by a
            third party ("Payment Provider"). Payments that You make for Our Services will be carried out and processed
            by
            this Payment Provider. The processing of payments in connection with Your use of Our Services is subject to
            the
            terms, conditions and privacy policies of the Payment Provider, and your respective issuing bank / payment
            instrument issuing company in relation to the credit or debit card you use. We are not responsible for any
            errors on the part of the Payment Provider. We do not make any guarantee for the payment facility or that
            the
            transaction will be completed each time.
        </p>

        <p>
            <strong>11.2</strong> All the online bank transfers from valid bank accounts are processed using the gateway
            provided by the
            respective issuing bank, which supports payment facility to provide these services to the Users. All such
            online
            bank transfers on payment facility are also governed by the terms and conditions agreed to between you and
            the
            respective issuing bank.
        </p>

        <p>
            <strong>11.3</strong> While availing any of the payment method/s available on the Mobile Application Or
            website, we will not
            be
            responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or
            indirectly
            to You due to:
        </p>
        <p><strong>11.3.1</strong> Lack of authorization for any transaction/s, or</p>
        <p>
            <strong>11.3.2</strong> Exceeding the preset limit mutually agreed by you and between your issuing bank or
            payment facility,
            or
        </p>
        <p><strong>11.3.3</strong> Any payment issues arising out of the transaction, or</p>
        <p><strong>11.3.4</strong> Decline of transaction for any other reason/s.</p>

        <p>
            <strong>11.4</strong> Before accepting your request for Service or delivering the laundered articles to you,
            Lotus Laundry
            may
            request you to provide supporting documents (including but not limited to Govt. issued ID and address proof)
            to
            establish the ownership of the payment instrument used by you for your purchase. This is done in the
            interest of
            providing a safe online shopping environment to our users.
        </p>

        <p>
            <strong>11.5</strong> You understand, accept and agree that the payment facility provided by Lotus Laundry
            is neither a
            banking
            nor financial service but is merely a facilitator providing an electronic, automated online electronic
            payment,
            receiving payment through ‘Cash On Delivery’, QR Code Payment, collection and remittance facility for the
            transactions on the Mobile Application Or website using the existing authorized banking infrastructure and
            credit card payment gateway networks. Further, by providing payment facility, Lotus Laundry is neither
            acting as
            a trustee nor acting in a fiduciary capacity with respect to the transaction or the transaction price.
        </p>

        <p>
            <strong>11.6</strong> Lotus Laundry may do such checks as it deems fit before approving the receipt of/
            buyers commitment to
            pay
            (for ‘Cash On Delivery’ transactions) price for product from the buyer for security or other reasons at the
            discretion of Lotus Laundry . As a result of such check if Lotus Laundry is not satisfied with the
            creditability
            of the buyer or genuineness of the transaction / price paid for Services, it will have the right to reject
            the
            receipt of / buyers commitment to pay price of Service.
        </p>

        <h4><strong>Promotions, Voucher Codes and other privileges and programmes</strong></h4>
        <p>
            <strong>12.1</strong> From time to time Lotus Laundry may run promotions, contests, surveys, privileges and
            other programmes,
            subject to additional terms and conditions which can be found on the Or website and/or App and are hereby
            incorporated by reference into these Terms of Use.
        </p>

        <p>
            <strong>12.2</strong> Promotions, contests, privileges and programmes are only valid for the time period
            specified by Lotus
            Laundry .
        </p>


        <p>
            <strong>12.3</strong> The following terms, as and when applicable, shall apply to the use of credits,
            vouchers, coupons and
            codes
            ("Voucher Codes"): (Does voucher code mean promotion price in legal terms?)
        </p>
        <p>
            <strong>12.3.1</strong> Each Voucher Code is only eligible for a single use and is only valid for the time
            period specified
            by .
        </p>
        <p>
            <strong>12.3.2</strong> The Voucher Codes may only be redeemed by purchasing certain services from during
            the applicable
            validity
            period, unless otherwise stated.
        </p>
        <p>
            <strong>12.3.3</strong> Use of any Voucher Code must be indicated at the time of checkout, and all
            information required by
            must
            be provided. No retroactive use of the Voucher Code is permitted.
        </p>
        <p>
            <strong>12.3.4</strong> Voucher Codes cannot be used in conjunction with any other promotion, voucher,
            coupon, code or offer,
            including but not limited to discounted sale items, unless otherwise stated.
        </p>
        <p><strong>12.3.5</strong> A minimum spend may be required before use of the Voucher Code is permitted.</p>
        <p><strong>12.3.6</strong> Voucher Codes cannot be refunded, redeemed or exchanged for cash.</p>
        <p>
            <strong>12.3.7</strong> Resale, transfer and sharing of Voucher Codes are strictly prohibited.
            Notwithstanding the above,
            gift
            vouchers, if offered by , may be purchased by you and given to others.
        </p>
        <p>
            <strong>12.3.8</strong> No reproduction, alteration, adaptation, tampering, distribution, publication,
            broadcast or other
            communication or dissemination of Voucher Codes is allowed.
        </p>
        <p>
            <strong>12.3.9</strong> Voucher Codes are non-replaceable if lost, stolen, destroyed, duplicated, tampered
            with or otherwise
            misappropriated or fraudulently used.
        </p>
        <p>
            <strong>12.3.10</strong> reserves the right to verify the validity of any Voucher Code and to declare null
            and void, any
            Voucher
            Code which in it's opinion has been stolen, duplicated, tampered with, or which is suspected to have been
            misappropriated or fraudulently obtained or used.
        </p>
        <p>
            <strong>12.3.11</strong> Lotus Laundry reserves the right to vary or impose such other terms and conditions
            as it deems
            appropriate from time to time by posting the varied terms and conditions on the Or website.
        </p>

        <p>
            <strong>12.4</strong> Whenever any free gift is offered as part of a promotion, the free gift is offered on
            a "first come
            first
            served" (if there is a give out we will also give based on a random selection) basis subject to the
            availability
            of stocks. No cash will be offered in lieu of the gift.
        </p>

        <p>
            <strong>12.5</strong> Lotus Laundry’s decision on all matters relating to promotions, discounts, Voucher
            Codes and other
            privileges is final and binding.
        </p>

        <p>
            <strong>12.6</strong> Lotus Laundry reserves the right to discontinue any promotion, discount, Voucher Code
            programme,
            contest,
            privileges or programme at any time in our sole discretion without notice or liability.
        </p>

        <p>
            <strong>12.7</strong> In our referral program, the person who is referring and the person who is being
            referred cannot have
            the
            same address in registered in to be entitled to the referral discount as and when applicable
        </p>


        <h4><strong>Pickups and Deliveries</strong></h4>
        <p><strong>13.1</strong> Pickup and Delivery slots are subject to availability.</p>

        <p>
            <strong>13.2</strong> It is your responsibility to use the Services properly. If you cannot honor any
            appointment or schedule
            made through the Mobile Application Or website for availing Services, you agree to promptly communicate such
            change to Lotus Laundry .
        </p>

        <p>
            <strong>13.3</strong> Lotus Laundry will endeavor to deliver garments to your specified address within the
            time frame
            selected by
            you, but does not and cannot guarantee that the time frames will be met as there may be factors outside of
            our
            control which may result in early or delayed pickups or deliveries. You agree that Lotus Laundry shall not
            be
            liable for any pickups or deliveries made outside the specified time frame. In case of any anticipated
            delays,
            Lotus Laundry will endeavor to contact you and inform you by phone or email, but may be unable to inform you
            in
            some cases.
        </p>

        <p>
            <strong>13.4</strong> Please notify Lotus Laundry immediately of any change in your address, date or time of
            delivery, or
            contact
            number. Change of delivery or pickup address cannot be done on the same date. For e.g., at 10 PM on 15th
            February, customer can change the pickup address scheduled for say 1:00-2:00 PM on 16th February, but
            customer
            cannot change it at 00:05 AM on 16th February (We have our own timings rules to fill along with the express
            and
            same day delivery services). To change address in such cases, the customer has to first reschedule order
            (pickup
            or delivery) to any subsequent date and then modify the address alternatively customers can call the
            customer
            support hotline to make changes to their delivery. (*NOTE ADD LOTUS LAUNDRY DELIVERY TIMING SYSTEM AND RULES
            HERE*)
        </p>


        <h4><strong>Comments, Feedback and Other</strong></h4>
        <p>
            <strong>14.1</strong> You may provide or submit comments, feedback, suggestions and other content or
            information
            (collectively,
            "Comments") to Lotus Laundry so long as the content is not illegal, criminal, immoral, inappropriate,
            hateful,
            obscene, defamatory, offensive, violent, abusive, political, racist, religious, infringing or disrespectful
            in
            nature, and does not consist of or contain software viruses, solicitation or any form of "spam." You may not
            use
            a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a
            Comment.
            Lotus Laundry reserves the right (but not the obligation) to review, remove or edit such content.
        </p>

        <p>
            <strong>14.2</strong> Any Comments expressed on the website and the App are the personal opinions of the
            original author and
            not
            of Lotus Laundry . The Comments are provided for informational and entertainment purposes only and is not an
            endorsement or representation by Lotus Laundry or any other party. Lotus Laundry does not assume any
            responsibility or liability for any Comments, opinions or other content posted on the Or website or any
            Linked
            Or website and makes no express or implied warranty or guarantee about the accuracy, copyright compliance,
            legality, or any other aspect in relation to the same..
        </p>

        <p>
            <strong>14.3</strong> You hereby grant Lotus Laundry a non-exclusive, royalty-free, perpetual, irrevocable
            and sub-licensable
            license to use, reproduce, modify, adapt, translate, publish, display, communicate, transmit, broadcast,
            distribute and exploit any Comments that you provide or publish through or in relation to the Or website,
            for
            any purpose as Lotus Laundry may require at its sole discretion. You further agree that Lotus Laundry may
            use
            and publish your name (user name? (Is this a question?)) in connection with such Comments.
        </p>

        <h4><strong>Disclaimers & Limitations</strong></h4>
        <p>
            <strong>15.1</strong> While we make every effort to ensure that the Mobile Application and website Services
            and all Content
            is
            accurate and complete, we provide the website, Mobile Application, Services and Content on an ‘as is’, ‘as
            available’ basis only without warranties of any kind either express or implied. To the fullest extent
            permissible pursuant to Applicable Laws, Lotus Laundry disclaims all warranties, express or implied,
            including,
            but not limited to, implied warranties of satisfactory quality, merchantability or fitness for a particular
            purpose, compliance with description, or the warranty of non-infringement.
        </p>

        <p>
            <strong>15.2</strong> Without limiting the foregoing, Lotus Laundry does not warrant that the functions
            contained in or
            access to
            the website, Services, Content or other content will be timely, uninterrupted or error-free or without
            omission,
            that defects will be corrected, or that the website, Services, or Content are free of viruses or other
            harmful
            components, or that the download, installation or use of the Mobile Application or any Content in or with
            any
            device will not affect the functionality or performance of the device. Also, your access to the website may
            also
            be occasionally suspended or restricted to allow for repairs, maintenance, or the introduction of new
            facilities
            or services at any time without prior notice. We will attempt to limit the frequency and duration of any
            such
            suspension or restriction.
        </p>

        <p>
            <strong>15.3</strong> Lotus Laundry does not warrant or make any representations regarding the use or the
            results of the use
            of
            the Content, the Services or the website and Mobile Application in terms of their correctness, accuracy,
            completeness, reliability, or otherwise.
        </p>

        <p><strong>15.4</strong> You agree that:</p>
        <p>
            <strong>15.4.1</strong> Lotus Laundry shall be entitled at any time, at its sole and absolute discretion and
            without prior
            notice, to add to, vary, terminate, withdraw or suspend the operation of the whole or any part or feature of
            the
            website (we have to add “and application”), or Services without assigning any reason; and
        </p>
        <p>
            <strong>15.4.2</strong> Access to or the operation of the website and (we have to add “and application”),
            /or the Services
            may
            from time to time be interrupted or encounter technical or other problems and may not necessarily continue
            uninterrupted or without technical or other errors, and in any such event, Lotus Laundry shall not be liable
            for
            any loss, liability or damage which may be incurred as a result.
        </p>

        <h4><strong>Limitation of Liability</strong></h4>
        <p>
            <strong>16.1</strong> In no event shall Lotus Laundry , its officers, directors, employees, consultants,
            contractors or
            agents be
            liable to you for any Losses or Claims under any causes of action (whether in contract or tort including,
            but
            not limited to (negligence, or otherwise) caused through the use of, or the inability to use, the Services,
            the
            website or the contents thereon. In the event that Lotus Laundry is liable for Losses or Claims despite the
            foregoing provision, you agree that Lotus Laundry ’s aggregate liability to you for any and all causes of
            action
            shall be limited to ten times the cost of Services availed by you.
        </p>

        <p>
            <strong>16.2</strong> In no event shall Lotus Laundry be liable for any indirect, special, consequential, or
            incidental
            damages
            that result from the Services, website (we have to add “and application”) or Content, or your use of, or the
            inability to use, the Services, website (we have to add “and application”) or Content thereon, even if Lotus
            Laundry or Lotus Laundry’s authorized representative has been advised of, or should have foreseen, the
            possibility of such damages.
        </p>

        <p>
            <strong>16.3</strong> You agree that the above exclusions and limitations of liability enable the Services
            and the Content to
            be
            provided by Lotus Laundry at either reasonable costs or no costs to you.
        </p>


        <h4><strong>Linked Or websites</strong></h4>
        <p>
            <strong>17.1</strong> Lotus Laundry may provide links, plug-ins, widgets or other connections to other
            websites ("Linked Or
            websites") that may be of relevance and interest to users. You understand these links may lead
            unintentionally
            to websites containing information that you or others may find inappropriate or offensive. Lotus Laundry has
            no
            control over, and is not responsible for the content on or obtained through the Linked websites or for any
            Loss
            or Claim caused or alleged to be caused by or in connection with the use of or reliance on the Linked Or
            websites (including any virus, spyware, malware, worms, errors or damaging material contained in the Linked
            Or
            websites) or the availability, accuracy or reliability of any of the Linked websites. The Linked websites
            are
            provided by Lotus Laundry merely for convenience and the inclusion of these links does not imply an
            endorsement
            or recommendation by Lotus Laundry . You agree that Lotus Laundry is not responsible for any form of
            transmission received from any Linked website, nor is Lotus Laundry responsible if any of these Linked
            websites
            are not working appropriately or if it causes any damage to your handset.
        </p>

        <p>
            <strong>17.2</strong> You hereby agree to assume all risk arising from the use of the Linked websites and
            hereby irrevocably
            waive any claim against us with respect to the Linked websites. Lotus Laundry does not endorse, recommend or
            guarantee any of the Linked websites, and Lotus Laundry expressly disclaims all liabilities, Loss, Claim,
            indirect, special, consequential, or incidental damages, Losses or Claims and responsibilities arising in
            relation to any Linked websites.
        </p>

        <h4><strong>Security & Privacy</strong></h4>
        <p>
            <strong>18.1</strong> Lotus Laundry recognizes the importance of keeping your personal information and data
            secure and
            private.
            To understand our security and privacy policies and practices, please read our Privacy Policy (www..).
            (*NOTE*We
            will need a Privacy Policy documentation as well in our application and or website)
        </p>

        <p>
            <strong>18.2</strong> Please do not submit any personal information or data without first reading our
            Privacy Policy (www..)
            which explains our data use and privacy practices in detail.
        </p>

        <h4><strong>Necessary Infrastructure</strong></h4>
        <p>
            <strong>19.1</strong> You shall solely be responsible for maintaining the necessary computer equipment or
            mobile device and
            internet connections that may be required to access, use and transact on the website and the App.
        </p>


        <h4><strong>Violation of the Terms of Use</strong></h4>
        <p>
            <strong>20.1</strong> You agree that we may, in our sole discretion and without prior notice or liability,
            terminate your
            access
            to the Mobile Application and or website and block your future access to the website / Mobile Application if
            we
            determine that you have violated these Terms of Use or any other policy of Lotus Laundry . You also agree
            that
            any violation by you of these Terms of Use will cause irreparable harm to Lotus Laundry , for which monetary
            damages would be inadequate, and you consent to Lotus Laundry obtaining any injunctive or equitable relief
            that
            Lotus Laundry deems necessary or appropriate in such circumstances.
        </p>

        <p>
            <strong>20.2</strong> You agree that we may, in our sole discretion, and without prior notice, terminate
            your access to the
            website and or Mobile Application, for cause, which includes (but is not limited to): (1) requests by law
            enforcement or other government agencies; (2) a request by you (self-initiated account deletions); (3)
            discontinuance or material modification of the Or website or any Service offered on or through the Or
            website;
            or (4) unexpected technical issues or problems.
        </p>

        <p>
            <strong>20.3</strong> If Lotus Laundry takes any legal action against you as a result of your violation of
            these Terms of
            Use,
            Lotus Laundry will be entitled to recover from you, and you agree to pay, all reasonable attorneys’ fees and
            costs of such action, in addition to any other relief granted to Lotus Laundry .
        </p>

        <h4><strong>Suspension & Termination</strong></h4>
        <p>
            <strong>21.1</strong> The Terms of Use will continue to apply and survive indefinitely until terminated by
            either You or Us
            as
            set forth in this Terms of Use.
        </p>

        <p>
            <strong>21.2</strong> You agree that Lotus Laundry has the right in its sole and absolute discretion and
            without notice or
            liability to:
        </p>
        <p>
            <strong>21.2.1</strong> Restrict, suspend, or terminate your access to all or any part of the website or
            Mobile Application
            or
            Services; and/or
        </p>
        <p>
            <strong>21.2.2</strong> Terminate, deactivate or suspend your Account, delete your Account and all related
            information and
            files
            in your Account, without assigning any reason.
        </p>

        <p>
            <strong>21.3</strong> If you want to terminate your agreement with us, you may do so by:
        </p>
        <p>
            <strong>21.3.1</strong> not accessing the website or Mobile Application; or
        </p>
        <p>
            <strong>21.3.2</strong> closing your accounts for all of the services that you use, where we have made this
            option available
            to
            you on the website or Mobile Application.
        </p>

        <p>
            <strong>21.4</strong> Without prejudice to the generality of the above, Lotus Laundry reserves the right to
            deactivate your
            Account if it has been inactive for a period of 2 years or more or if you are in breach of any of our Terms
            of
            Use.
        </p>

        <p>
            <strong>21.5</strong> You agree that all terminations shall be made in our sole discretion and that Lotus
            Laundry shall not
            be
            liable to you or any third party for any termination of your Account (and accompanying deletion of your
            account
            information), or your access to the Or website and Services provided through the website or Mobile
            Application.
        </p>

        <p>
            <strong>21.6</strong> If you or Lotus Laundry terminates your use of the website (we have to add “and
            application”), we may
            delete any content or other materials relating to your use of the website and we will have no liability to
            you
            or any third party for doing so
        </p>

        <p>
            <strong>21.7</strong> The termination of this Terms of Use for any reason shall be without prejudice to any
            rights or
            liabilities
            of the User or Lotus Laundry which have accrued prior to such termination and shall not affect or prejudice
            any
            provision of this Terms of Use which expressly or by implication comes into effect or continues in effect
            after
            termination.
        </p>

        <h4><strong>Indemnity</strong></h4>
        <p>
            <strong>22.1</strong> You agree to indemnify and hold Lotus Laundry , and its officers, agents, partners,
            and employees,
            harmless
            from all Claims, demands, actions, proceedings, liabilities (including statutory liability and liability to
            third parties), penalties, and costs (including without limitation, legal costs on a full indemnity basis),
            awards, Losses and/or expenses, due to or arising out of:
        </p>
        <p><strong>22.1.1</strong> Any use of the website or any Service; (we have to add “and application”)</p>
        <p><strong>22.1.2</strong> Your connection to the website; (we have to add “and application”)</p>
        <p>
            <strong>22.1.3</strong> Your breach of any terms and conditions of these Terms of Use, Privacy Policy or any
            other policy of
            uploaded on the Or website;
        </p>
        <p><strong>22.1.4</strong> Your violation of any rights of another person or entity; or</p>
        <p><strong>22.1.5</strong> Your breach of any statutory requirement, duty, or Applicable Laws.</p>

        <h4><strong>Severability</strong></h4>
        <p>
            <strong>23.1</strong> If any provision of these Terms of Use is found to be illegal, void or unenforceable
            under any law or
            by
            any court of competent jurisdiction, that shall not affect the validity of the other provisions of these
            Terms
            of Use, which shall continue in force save that such provision shall be deemed to be deleted.
        </p>

        <h4><strong>Waiver</strong></h4>
        <p>
            <strong>24.1</strong> No waiver of any rights or remedies by Lotus Laundry shall be effective unless made in
            writing and
            signed
            by an authorized representative of Lotus Laundry .
        </p>

        <p>
            <strong>24.2</strong> A failure by Lotus Laundry to exercise or enforce any rights conferred upon us by
            these Terms of Use
            shall
            not be deemed to be a waiver or variation of any such rights or operate so as to bar the exercise or
            enforcement
            thereof at any subsequent time or times.
        </p>

        <h4><strong>Force Majeure</strong></h4>
        <p>
            <strong>25.1</strong> No party shall be liable for any failure to perform its obligations or provide any
            Services under these
            Terms of Use if the failure results from a Force Majeure Event (defined below), provided always that
            whenever
            possible, Lotus Laundry will resume that obligation within reasonable time of the relevant Force Majeure
            Event
            ceases or abates.
        </p>

        <p>
            <strong>25.2</strong> For purposes of these Terms of Use, a "Force Majeure Event" is an event which is a
            circumstance or
            event
            beyond the reasonable control of a party, and which results in the party being unable to observe or perform
            on
            time an obligation under these Terms of Use. Such circumstance or event shall include strikes, lockouts,
            industrial action or labor disputes, riots, civil unrest, war or threat of war, criminal or terrorist acts,
            government action or regulation, telecommunication or utility failures, power outages, fire, explosion,
            storm,
            flood, natural physical disasters, earthquake, epidemic, quarantine restrictions, disruption to supply
            lines,
            and general failure or impossibility of the use of aircraft, shipping, aircraft, motor transport or other
            means
            of public or private transport, or political interference with the normal operations of any party.
        </p>

        <h4><strong>Governing Law & Jurisdiction</strong></h4>
        <p>
            <strong>27.1</strong> These Terms of Use and all matters relating to your access to, or use of the website,
            Mobile
            Application
            and the Services shall be governed by and construed in accordance with the laws of Thailand.
        </p>

        <p>
            <strong>27.2</strong> Parties hereby agree to submit to the exclusive jurisdiction of the courts of Thailand
            for any relief
            as
            regards to any injunctive relief, specific performance, Losses or Claims or matter arising in relation to
            this
            website or (we have to add “and application”) Services, including any other relief under Applicable Laws
            available to you or Lotus Laundry .
        </p>

        <h4><strong>Suggestions</strong></h4>
        <p>
            <strong>28.1</strong> If you have any questions or concerns about these Terms of Use or any issues raised in
            these Terms of
            Use
            or on the Or website, please contact us at <a
                href="mailto:support@lotuslaundrybangkok.com">support@lotuslaundrybangkok.com</a>
        </p>
    </div>
    <div class="ion-text-right text-right">
        <ion-button (click)="accept()">{{'ACCEPT_BUTTON'|translate}}</ion-button>
    </div>
</ion-content>