ion-content {
    --padding-bottom: 15px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 15px;
    line-height: 30px;
    font-size: 16px;
}

.term-and-condition-content {
    text-align: justify;
}

.table {
    width: 100%;
    margin-bottom: 20px;

    tr > th {
        padding: 7px;
        border: 1px solid #ddd;
        text-align: center;
        font-weight: bold;
    }

    tr > td {
        padding: 7px;
        border: 1px solid #ddd;
        text-align: center;
    }
}