<ion-item class="header-item">
</ion-item>
<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/reset_password.svg" style="max-height: 230px;">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.RESET_PASSWORD.HEADING' | translate}}</ion-label>
            </div>
            <form name="passwordForm" novalidate="novalidate" #passwordForm="ngForm" autocomplete="off">
                <ion-item class="custom-input-item" [ngClass]="{ 'is-invalid': onClickValidation && iPassword.invalid}">
                    <ion-input type="password" #password="ngModel" name="iPassword"
                               placeholder="{{'USER_ACCOUNT_INPUT.PASSWORD'| translate}}" minlength="8"
                               [(ngModel)]="data.password" autocomplete="off" required="required"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                               #iPassword="ngModel">
                        <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                    </ion-input>
                    <fa-icon [icon]="['fas', 'info-circle']" slot="end"
                             (click)="modalService?.passwordRulePopover($event)">
                    </fa-icon>
                </ion-item>
                <div *ngIf="onClickValidation && password?.invalid" class="error-text">
                    <span *ngIf="onClickValidation && password.errors.required">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_REQUIRED'| translate}}
                    </span>
                    <span *ngIf="onClickValidation && password.errors.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
                    </span>
                    <span *ngIf="password.errors.pattern && !password.errors.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
                    </span>
                </div>
                <ion-item class="custom-input-item"
                          [ngClass]="{ 'is-invalid': onClickValidation && iConfirmPassword.invalid }">
                    <ion-input type="password" #confirmPassword="ngModel" name="iConfirmPassword"
                               placeholder="{{'USER_ACCOUNT_INPUT.COMFIRM_PASSWORD'| translate}}" minlength="8"
                               [(ngModel)]="data.confirmPassword" autocomplete="off" required="required"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                               #iConfirmPassword="ngModel" (ionChange)="onChange()">
                        <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                    </ion-input>
                    <fa-icon [icon]="['fas', 'info-circle']" slot="end"
                             (click)="modalService?.passwordRulePopover($event)">
                    </fa-icon>
                </ion-item>
                <div *ngIf="onClickValidation && confirmPassword?.invalid" class="error-text">
                    <span *ngIf="onClickValidation && confirmPassword.errors.required">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_REQUIRED'| translate}}
                    </span>
                    <span *ngIf="onClickValidation && confirmPassword.errors.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
                    </span>
                    <span *ngIf="confirmPassword.errors.pattern && !confirmPassword.errors.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
                    </span>
                </div>
                <div class="error-text">
                    <span *ngIf="onClickValidation && confirmPassword.valid && passwordNotMatched">
                        {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_MISMATCH'| translate}}
                    </span>
                </div>
            </form>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="onSubmit(passwordForm.form.valid)">
                    {{'FORM_BUTTONS.RESET_PASSWORD' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>