<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'PaymentLog.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'PaymentLog.objName' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'PaymentLog.userId' | translate}}</th>
          <th>{{'PaymentLog.cardNumber' | translate}}</th>
          <th>{{'PaymentLog.amount' | translate}}</th>
          <th>{{'PaymentLog.orderId' | translate}}</th>
          <th>{{'PaymentLog.transactionId' | translate}}</th>
          <th>{{'PaymentLog.createdOn' | translate}}</th>
          <th>{{'PaymentLog.status' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.userId}}</td>
          <td>{{record.cardNumber}}</td>
          <td>{{record.amount}}</td>
          <td>{{record.orderId}}</td>
          <td>{{record.transactionId}}</td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td>{{record.status}}</td>
          <td class="text-center">
            <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
              (click)="onItemSelection(record)" *ngIf="isPlusButton">
              {{'COMMON.SELECT' | translate}}
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PAYMENTLOG','DetailButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('PAYMENTLOG','DetailButton')"
              (click)="loadDetailPage(record.id)">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PAYMENTLOG','EditButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('PAYMENTLOG','EditButton')"
              [routerLink]="['/dashboard/payment-log/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PAYMENTLOG','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('PAYMENTLOG','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="paymentLogDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="paymentLogDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-paymentlog-detail [recordId]="selectedId"></app-paymentlog-detail>
      </div>
    </div>
  </div>
</div>
