<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Order.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/order']">{{'Order.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'Order.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{order.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #orderForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.userId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderUserId" required="required"
              [(ngModel)]="order.userId" #UserId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.deliveryDate" | translate}}
            </label>
            <my-date-picker name="orderDeliveryDate" [options]="myDatePickerOptions"
              [(ngModel)]="order.deliveryDateCalendar" required="required">
            </my-date-picker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.deliveryType" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderDeliveryType" required="required"
              [(ngModel)]="order.deliveryType" #DeliveryType="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.totalItems" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderTotalItems" required="required"
              [(ngModel)]="order.totalItems" #TotalItems="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.deliveryPrice" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderDeliveryPrice"
              [(ngModel)]="order.deliveryPrice" #DeliveryPrice="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.driverId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderDriverId" [(ngModel)]="order.driverId"
              #DriverId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.status" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="30" name="orderStatus"
                required="required" [(ngModel)]="order.status" #Status="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.paymentType" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="30" name="orderPaymentType"
                [(ngModel)]="order.paymentType" #PaymentType="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.paidAmount" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderPaidAmount" [(ngModel)]="order.paidAmount"
              #PaidAmount="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.tax" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderTax" required="required"
              [(ngModel)]="order.tax" #Tax="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.subTotal" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderSubTotal" required="required"
              [(ngModel)]="order.subTotal" #SubTotal="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.totalPrice" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderTotalPrice" required="required"
              [(ngModel)]="order.totalPrice" #TotalPrice="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.adressId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderAdressId" required="required"
              [(ngModel)]="order.adressId" #AdressId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.expectedPickUpMin" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderExpectedPickUpMin"
              [(ngModel)]="order.expectedPickUpMin" #ExpectedPickUpMin="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.expectedPickUpMax" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderExpectedPickUpMax"
              [(ngModel)]="order.expectedPickUpMax" #ExpectedPickUpMax="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.expectedDeliveryMin" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderExpectedDeliveryMin"
              [(ngModel)]="order.expectedDeliveryMin" #ExpectedDeliveryMin="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.expectedDeliveryMax" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderExpectedDeliveryMax"
              [(ngModel)]="order.expectedDeliveryMax" #ExpectedDeliveryMax="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Order.cartId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="orderCartId" [(ngModel)]="order.cartId"
              #CartId="ngModel">
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(orderForm.form)" *ngIf="authService.isAccessible('ORDER','AddButton')"
        [disabled]="authService.isDisabled('ORDER','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
