<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Service.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'Service.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('SERVICE','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('SERVICE','AddButton')">
      <span class="hidden-xs">{{'Service.ADD_NEW_SERVICE' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'Service.image' | translate}}</th>
          <th>{{"COMMON.Name" | translate}}</th>
          <th>{{'Service.description' | translate}}</th>
          <th>{{'Service.createdOn' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td class="primary-background text-center icon-background">
            <img *ngIf="record.image && record.image.length>0" [src]="record.image[0].path" width="50" alt=""
              (click)="openFiles(record.image[0].path)">
          </td>
          <td>{{record.name}}</td>
          <td>{{record.description}}</td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td class="text-center">
            <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
              (click)="onItemSelection(record)" *ngIf="isPlusButton">
              {{'COMMON.SELECT' | translate}}
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('SERVICE','DetailButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('SERVICE','DetailButton')" (click)="loadDetailPage(record.id)">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('SERVICE','EditButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('SERVICE','EditButton')"
              [routerLink]="['/dashboard/service/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('SERVICE','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('SERVICE','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="serviceDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="serviceDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-service-detail [recordId]="selectedId"></app-service-detail>
      </div>
    </div>
  </div>
</div>
