.order-detail-container .order-number {
    width: auto;
    margin-right: 20px;
}

.delivery-type-preview {
    font-size: 12px;
    line-height: 16px;
    font-family: Nunito-SemiBold, sans-serif;
    color: #000000;
    display: inline-block;
    vertical-align: middle;

    ion-icon {
        font-size: 25px !important;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

    &.express {
        color: #00A2E8;
    }

    &.sameday {
        color: #E64571;
    }
}

.you-assign-message {
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.heading-message {
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 21px;
    line-height: 31px;
}

.order-cloth-detail {
    margin-top: 10px;

    .item {
        display: inline-block;
        vertical-align: middle;
        width: 33.33%;
    }

    img, span {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        margin-right: 2px;
        width: 26px;
    }
}

.order-user-info-container {
    text-align: center;

    .order-user-name {
        margin-top: 5px;
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 22px;
        line-height: 28px;
    }

    .order-time-label {
        margin-top: 5px;
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

    .on-time-label {
        margin-top: 5px;
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 14px;
        line-height: 24px;
    }

    .order-change-label {
        margin-top: 5px;
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .order-payment-item {
        text-align: left;
        margin-bottom: 5px;

        .order-payment-label {
            margin-top: 5px;
            font-family: 'Nunito-Bold', sans-serif;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.payment-status {
    &.paid {
        color: green;
    }

    &.un-paid {
        color: red;
    }
}

.order-user-address-container {
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 14px;
    line-height: 24px;

    .customer-note {
        margin-top: 5px;
    }
}

.order-actions {
    text-align: center;

    .order-action-item {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        padding: 15px;

        &.map {
            img {
                background-color: #222;
                border-radius: 50%;
                height: 48px;
                padding: 8px;
            }
        }
    }
}

.margin-right-8 {
    margin-right: 8px !important;
}

.qr-code-container {
    text-align: center;
    width: 80%;
    padding: 10px;
    background-color: #C3C3C3;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px auto 0;
    font-weight: bold;

    img {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}