<app-header [header]="header"></app-header>
<ion-content *ngIf="order">
    <div class="ion-padding">
        <div class="order-detail-container">
            <div class="order-number">
                {{'PAGES.ORDER.LABEL.ORDER'|translate}}{{order.orderId}}
            </div>
            <div class="delivery-type-preview {{order.deliveryType|lowercase}}">
                <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
            </div>
        </div>
        <div class="custom-card user-tracking-card ion-padding margin-top-10" *ngIf="completed">
            <div class="you-assign-message ion-text-center" 
            *ngIf="rideType==='DELIVERED'">
                {{'PAGES.ORDER.LABEL.ORDER_DELIVERED'|translate}}
            </div>
            <div class="you-assign-message ion-text-center"
                *ngIf="rideType==='PICKUP'">
                {{'PAGES.ORDER.LABEL.ORDER_PICKED'|translate}}
            </div>
            <div class="clearfix"></div>
            <div class="order-cloth-detail">
                <div class="item">
                    <span class="label"
                        *ngIf="rideType==='PICKUP'">
                        <img src="../assets/icon/pickup.svg">
                        <span>{{'PAGES.ORDER.LABEL.PICKUP'|translate}}</span></span>
                    <span class="label"
                        *ngIf="rideType==='DELIVERED'">
                        <img src="../assets/icon/delivery.svg">
                        <span>{{'PAGES.ORDER.LABEL.DELIVERY'|translate}}</span>
                    </span>
                </div>
                <div class="item ion-text-center">{{order.totalItems}} {{'PAGES.ORDER.LABEL.ITEMS'|translate}}</div>
                <div class="item ion-text-center"
                    *ngIf="rideType==='PICKUP'">
                    {{'PAGES.ORDER.LABEL.FROM'|translate}}</div>
                <div class="item ion-text-center"
                    *ngIf="rideType==='DELIVERED'">
                    {{'PAGES.ORDER.LABEL.TO'|translate}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="order-user-info-container">
                <div class="order-user-name">{{order.customerDetails?.fullName}}</div>
                <div class="clearfix"></div>
                <div class="order-pickup-delivery-date">
                    <div class="order-time-label"
                        *ngIf="rideType==='PICKUP'">
                        {{'PAGES.ORDER.LABEL.TIME'|translate}}: {{order.pickupSlot}}
                    </div>
                    <div class="order-time-label"
                        *ngIf="rideType==='DELIVERED'">
                        {{'PAGES.ORDER.LABEL.TIME'|translate}}: {{order.deliverySlot}}
                    </div>
                </div>
                <div class="order-pickup-delivery-date">
                    <div class="on-time-label" *ngIf="rideType==='PICKUP'">
                        {{'PAGES.ORDER.LABEL.ON'|translate}} {{order.collectedDate | date: 'd MMMM y h:mm a'}}
                    </div>
                    <div class="on-time-label" *ngIf="rideType==='DELIVERED'">
                        {{'PAGES.ORDER.LABEL.ON'|translate}} {{order.deliveredDate | date: 'd MMMM y h:mm a'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="order-change-label"
                    *ngIf="order.status === 'AWAITING_COLLECTION' && order.paymentType==='CASH'">
                    {{'PAGES.ORDER.LABEL.CHANGE'|translate}} {{order.change}}&#3647; {{'PAGES.ORDER.LABEL.CHANGE_POST'|translate}}
                </div>
            </div>
            <div class="qr-code-container"
                *ngIf="order.status === 'AWAITING_COLLECTION' && order.paymentType==='QRCODE' && order.paymentStatus !== 'PAID'"
                (click)="openQrCodePayment()">
                <img src="/assets/icon/payment/qr.svg"> {{'PAGES.ORDER.LABEL.CLICK_QR_CODE'|translate}}
            </div>
            <div class="ion-text-center margin-top-10">
                <ion-button class="map-it-button" (click)="detail()">
                    {{'ORDER_DETAIL'|translate}}
                </ion-button>
            </div>
        </div>

        <div class="custom-card user-tracking-card ion-padding margin-top-10" *ngIf="!completed">
            <div class="you-assign-message"
                *ngIf="order.driverDetails?.id === authUser?.id && (order.status === 'ASSIGNED_DRIVER' || order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY')">
                {{'PAGES.ORDER.LABEL.ASSIGNED'|translate}}
            </div>
            <div class="you-assign-message ion-text-center" *ngIf="order.driverDetails?.id === authUser?.id && order.status === 'DELIVERED'">
                {{'PAGES.ORDER.LABEL.ORDER_DELIVERED'|translate}}
            </div>
            <div class="you-assign-message ion-text-center"
                *ngIf="(order.status === 'COLLECTED') || order.driverDetails?.id !== authUser?.id && (order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status === 'ON_THE_WAY' || order.status === 'DELIVERED')">
                {{'PAGES.ORDER.LABEL.ORDER_PICKED'|translate}}
            </div>
            <div class="clearfix"></div>
            <div class="order-cloth-detail">
                <div class="item">
                    <span class="label"
                        *ngIf="(order.driverDetails?.id === authUser?.id && (order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION')) || (order.driverDetails?.id !== authUser?.id && (order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY' || order.status === 'DELIVERED')) || order.status === 'COLLECTED'">
                        <img src="../assets/icon/pickup.svg">
                        <span>{{'PAGES.ORDER.LABEL.PICKUP'|translate}}</span></span>
                    <span class="label"
                        *ngIf="order.driverDetails?.id === authUser?.id && (order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY' || order.status === 'DELIVERED')">
                        <img src="../assets/icon/delivery.svg">
                        <span>{{'PAGES.ORDER.LABEL.DELIVERY'|translate}}</span>
                    </span>
                </div>
                <div class="item ion-text-center">{{order.totalItems}} {{'PAGES.ORDER.LABEL.ITEMS'|translate}}</div>
                <div class="item ion-text-center"
                    *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION' || order.status === 'COLLECTED'">
                    {{'PAGES.ORDER.LABEL.FROM'|translate}}</div>
                <div class="item ion-text-center"
                    *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY' || order.status === 'DELIVERED'">
                    {{'PAGES.ORDER.LABEL.TO'|translate}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="order-user-info-container">
                <div class="order-user-name">{{order.customerDetails?.fullName}}</div>
                <div class="clearfix"></div>
                <div class="order-pickup-delivery-date"
                    *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY'">
                    <div class="order-time-label"
                        *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                        {{'PAGES.ORDER.LABEL.TIME'|translate}}: {{order.pickupSlot}}
                    </div>
                    <div class="order-time-label"
                        *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                        {{'PAGES.ORDER.LABEL.TIME'|translate}}: {{order.deliverySlot}}
                    </div>
                </div>
                <div class="order-pickup-delivery-date"
                    *ngIf="order.status === 'COLLECTED' || order.status === 'DELIVERED'">
                    <div class="on-time-label" *ngIf="order.status === 'COLLECTED'">
                        {{'PAGES.ORDER.LABEL.ON'|translate}} {{order.collectedDate | date: 'd MMMM y h:mm a'}}
                    </div>
                    <div class="on-time-label" *ngIf="order.status === 'DELIVERED'">
                        {{'PAGES.ORDER.LABEL.ON'|translate}} {{order.deliveredDate | date: 'd MMMM y h:mm a'}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="order-change-label"
                    *ngIf="order.status === 'AWAITING_COLLECTION' && order.paymentType==='CASH'">
                    {{'PAGES.ORDER.LABEL.CHANGE'|translate}} {{order.change}}&#3647; {{'PAGES.ORDER.LABEL.CHANGE_POST'|translate}}
                </div>
            </div>
            <div class="qr-code-container"
                *ngIf="order.status === 'AWAITING_COLLECTION' && order.paymentType==='QRCODE' && order.paymentStatus !== 'PAID'"
                (click)="openQrCodePayment()">
                <img src="/assets/icon/payment/qr.svg"> {{'PAGES.ORDER.LABEL.CLICK_QR_CODE'|translate}}
            </div>
            <div class="ion-text-center margin-top-10" *ngIf="futureTodayDate">
                <ion-button class="map-it-button" (click)="detail()">
                    {{'ORDER_DETAIL'|translate}}
                </ion-button>
            </div>
            <div class="ion-text-center margin-top-10" *ngIf="todayDate || !futureTodayDate">
                <ion-button class="do-it-button margin-right-28" (click)="proceed()"
                    *ngIf="(order.status === 'ASSIGNED_DRIVER' || order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY') && authUser?.id === order?.driverDetails?.id"
                    [disabled]="order.processing">
                    <span
                        *ngIf="!order.processing && (order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION')">
                        {{'PAGES.ORDER.LABEL.PICKUP_BUTTON'|translate}}
                    </span>
                    <span
                        *ngIf="!order.processing && (order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY')">
                        {{'PAGES.ORDER.LABEL.DELIVER_BUTTON'|translate}}
                    </span>
                    <img src="/assets/icon/loading.svg" *ngIf="order.processing">
                </ion-button>
                <ion-button class="do-it-button margin-right-8" (click)="proceed()"
                    *ngIf="order.status === 'AWAITING_COLLECTION' && authUser?.id === order?.driverDetails?.id"
                    [disabled]="order.processing || (order.paymentStatus==='UNPAID' && order.paymentType !=='CASH')">
                    <span *ngIf="!order.processing && order.paymentStatus==='PAID'">{{'COLLECTED'|translate}}</span>
                    <span
                        *ngIf="!order.processing && order.paymentStatus==='UNPAID'">{{'PAID_COLLECTED'|translate}}</span>
                    <img src="/assets/icon/loading.svg" *ngIf="order.processing">
                </ion-button>
                <ion-button class="do-it-button margin-right-8" (click)="proceed()"
                    *ngIf="order.status === 'ON_THE_WAY' && authUser?.id === order?.driverDetails?.id"
                    [disabled]="order.processing">
                    <span *ngIf="!order.processing && order.paymentStatus==='PAID'">{{'DELIVERED'|translate}}</span>
                    <span
                        *ngIf="!order.processing && order.paymentStatus==='UNPAID'">{{'PAID_DELIVERED'|translate}}</span>
                    <img src="/assets/icon/loading.svg" *ngIf="order.processing">
                </ion-button>
                <ion-button class="do-it-button margin-right-28"
                    *ngIf="order.status === 'DELIVERED' && authUser?.id === order?.driverDetails?.id" [disabled]="true">
                    <span>{{'DELIVERED'|translate}}</span>
                </ion-button>
                <ion-button class="do-it-button margin-right-28"
                    *ngIf="order.status === 'COLLECTED' && authUser?.id === order?.driverDetails?.id" [disabled]="true">
                    <span>{{'PICKED_UP'|translate}}</span>
                </ion-button>
                <ion-button class="map-it-button" (click)="detail()">
                    {{'ORDER_DETAIL'|translate}}
                </ion-button>
            </div>
        </div>

        <div class="custom-card user-tracking-card ion-padding margin-top-10">
            <div class="heading-message">{{'PAGES.ORDER.LABEL.PAYMENT_DETAILS'|translate}}</div>
            <div class="clearfix"></div>
            <div class="order-user-info-container margin-top-10">
                <div class="order-payment-item">
                    <span class="order-payment-label ion-float-left">{{'PAGES.ORDER.LABEL.AMOUNT'|translate}}:</span>
                    <span class="ion-float-right">{{order.totalPrice| number:'1.2-2'}} &#3647;</span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="order-payment-item">
                    <span class="ion-float-left"
                        class="order-payment-label">{{'PAGES.ORDER.LABEL.PAYMENT_METHOD'|translate}}:</span>
                    <span class="ion-float-right">
                        <ion-icon src="assets/icon/payment-method-qr-code.svg" *ngIf="order.paymentType==='QRCODE'">
                        </ion-icon>
                        <ion-icon src="assets/icon/payment-method-cash.svg" *ngIf="order.paymentType==='CASH'">
                        </ion-icon>
                        <ion-icon src="/assets/icon/payment-method-card.svg" *ngIf="order.paymentType==='CARD'">
                        </ion-icon>
                        <span *ngIf="order.paymentType==='CARD'">{{'PAGES.ORDER.LABEL.CARD'|translate}}</span>
                        <span *ngIf="order.paymentType==='CASH'">&nbsp;{{'PAGES.ORDER.LABEL.CASH'|translate}}</span>
                        <span
                            *ngIf="order.paymentType==='QRCODE'">&nbsp;{{'PAGES.ORDER.LABEL.QR_CODE'|translate}}</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="order-payment-item">
                    <span class="order-payment-label">{{'PAGES.ORDER.LABEL.CHANGE_AMOUNT'|translate}}:</span> <span
                        class="ion-float-right">
                        {{order.change | number:'1.2-2'}}<span>&#3647;</span>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="order-payment-item">
                    <span class="order-payment-label">{{'PAGES.ORDER.LABEL.PAYMENT_STATUS'|translate}}:</span> <span
                        class="ion-float-right">
                        <span class="payment-status paid" *ngIf="order.paymentStatus==='PAID'">
                            <span>{{'PAGES.ORDER.LABEL.PAID'|translate}}</span>
                        </span>
                        <span class="payment-status un-paid" *ngIf="order.paymentStatus!=='PAID'">
                            <span>{{'PAGES.ORDER.LABEL.UNPAID'|translate}}</span>
                        </span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="custom-card user-tracking-card ion-padding margin-top-10">
            <div class="heading-message">{{'PAGES.ORDER.LABEL.ADDRESS'|translate}}</div>
            <div class="clearfix"></div>
            <div class="order-user-address-container margin-top-10">
                <div class="order-customer-address" *ngIf="order.deliveryAddress.residenceType==='HOME'">
                    {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                    {{order.deliveryAddress.provinceName}}
                    {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}}
                    , {{order.deliveryAddress.postalCode}}
                    {{order.deliveryAddress.phoneNo}}
                </div>
                <div class="order-customer-address" *ngIf="order.deliveryAddress.residenceType==='BUILDING'">
                    {{order.deliveryAddress.buildingName}}
                    {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                    {{order.deliveryAddress.streetNumber}} {{order.deliveryAddress.provinceName}}
                    {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}}
                    , {{order.deliveryAddress.postalCode}}
                    {{order.deliveryAddress.phoneNo}}
                </div>
                <div class="customer-note" *ngIf="order.deliveryAddress.note">
                    {{'PAGES.ORDER.LABEL.NOTE'|translate}}: {{order.deliveryAddress.note}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="order-actions" *ngIf="todayDate || !futureTodayDate">
        <div class="order-action-item">
            <img src="/assets/icon/chat-icon.png" (click)="chat()" />
            <div class="order-chat-label">{{'PAGES.ORDER.LABEL.CHAT'|translate}}</div>
        </div>
        <div class="order-action-item call">
            <img src="/assets/icon/call-icon.png" (click)="call()" />
            <div class="order-chat-label">{{'PAGES.ORDER.LABEL.CALL'|translate}}</div>
        </div>
        <div class="order-action-item map">
            <img src="/assets/icon/tracking/placeholders.png" (click)="map()" />
            <div class="order-chat-label">{{'PAGES.ORDER.LABEL.MAP'|translate}}</div>
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="main-fav-button" (click)="adminCall()">
            <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>