<div class="modal fade nav-scroll" id="imageFilePopUP" role="dialog">
    <div class="modal-dialog associated-dialog">
        <div class="modal-content">
            <div class="modal-body image-model-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img [src]="imageUrl" alt="" />
            </div>
        </div>
    </div>
</div>
