<!--<app-header [header]="header"></app-header>-->
<ion-content *ngIf="data">
    <div class="ion-padding">
        <ion-grid class="ion-text-center">
            <img src="/assets/images/call-loading.gif" class="call-loading"
                 *ngIf="twilioVoiceService.callStatus === 'CALLING' || twilioVoiceService.callStatus === 'INCOMING'"/>
            <img src="/assets/images/call-connected.png" class="call-loading" *ngIf="twilioVoiceService.callStatus === 'CONNECTED'"/>
            <img src="/assets/images/call-user-busy.png" class="call-loading"
                 *ngIf="twilioVoiceService.callStatus === 'DISCONNECTED' || twilioVoiceService.callStatus === 'REJECTED'"/>
            <ion-row>
                <ion-col>
                    <h2>{{callText}}</h2>
                    <!-- <h5 *ngIf="time>0 && twilioVoiceService.callStatus === 'CONNECTED'">
                        {{getDisplayTime()}}
                    </h5> -->
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="order-actions" *ngIf="twilioVoiceService.callStatus === 'CONNECTED'">
        <div class="order-action-item">
            <img *ngIf="speakerEnabled" src="/assets/images/speaker-off.svg" (click)="toggleSpeaker()"/>
            <img *ngIf="!speakerEnabled" class="speaker-on" src="/assets/images/speaker-on.svg"
                 (click)="toggleSpeaker()"/>
        </div>
        <div class="order-action-item call">
            <img src="/assets/images/large-call-disconnected.svg" (click)="disconnectCall()"/>
        </div>
    </div>
    <div class="order-actions" *ngIf="twilioVoiceService.callStatus === 'INCOMING'">
        <div class="order-action-item call">
            <img src="/assets/icon/large-call-icon.png" (click)="acceptCall()"/>
        </div>
        <div class="order-action-item call">
            <img src="/assets/images/large-call-disconnected.svg" (click)="rejectCall()"/>
        </div>
    </div>
    <div class="order-actions" *ngIf="twilioVoiceService.callStatus === 'CALLING'">
        <div class="order-action-item">
            <img *ngIf="speakerEnabled" src="/assets/images/speaker-off.svg" (click)="toggleSpeaker()"/>
            <img *ngIf="!speakerEnabled" class="speaker-on" src="/assets/images/speaker-on.svg"
                 (click)="toggleSpeaker()"/>
        </div>
        <div class="order-action-item call">
            <img src="/assets/images/large-call-disconnected.svg" (click)="disconnectCall()"/>
        </div>
    </div>
</ion-content>