<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="logo text-center">
        <img class="large-logo img-responsive" src="assets/images/logo.png" style="width: 40px;margin: 0 auto" />
        <img class="small-logo img-responsive" src="assets/images/logo.png" />
      </div>
    </div>
    <ul class="menu-container nav-scroll">
      <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          *ngIf="authService.isAccessible('COMMON','Dashboard')">
        <a [class.disabled]="authService.isDisabled('COMMON','Dashboard')" [routerLink]="['/dashboard']">
          <i class="fa fa-users"></i>{{'DASHBOARD.objName' | translate}}
        </a>
      </li>-->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('COMMON','UserPage')" (click)="setCurrentMenu('COMMON')">
        <a [class.disabled]="authService.isDisabled('COMMON','UserPage')" [routerLink]="['/dashboard/users']">
          <!-- <img class="menu-item-icon" src="assets/images/dashboard/users.svg" alt="users">
          <img class="menu-item-icon-active" src="assets/images/dashboard/users-active.svg" alt="users"> -->
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="menu-item-label">{{'USERS.objNames' | translate}}</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setCurrentMenu('COMMON')">
        <a [class.disabled]="authService.isDisabled('COMMON','UserPage')" [routerLink]="['/dashboard/customers']">
          <!-- <img class="menu-item-icon" src="assets/images/dashboard/customers.svg" alt="customers">
          <img class="menu-item-icon-active" src="assets/images/dashboard/customers-active.svg" alt="customers"> -->
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="menu-item-label">{{'CUSTOMER.objNames' | translate}}</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="setCurrentMenu('COMMON')">
        <a [class.disabled]="authService.isDisabled('COMMON','UserPage')" [routerLink]="['/dashboard/drivers']">
          <!-- <img class="menu-item-icon" src="assets/images/dashboard/drivers.svg" alt="drivers">
          <img class="menu-item-icon-active" src="assets/images/dashboard/drivers-active.svg" alt="drivers"> -->
          <i class="fa fa-male" aria-hidden="true"></i>
          <span class="menu-item-label">{{'DRIVER.objNames' | translate}}</span>
        </a>
      </li>
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('USERDEVICE','Page')">
         <a [class.disabled]="authService.isDisabled('USERDEVICE','Page')" [routerLink]="['/dashboard/user-device']">
           <i class="fa fa-phone"></i>{{'UserDevice.objName' | translate}}
         </a>
       </li>-->
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('MESSAGELOG','Page')">
         <a [class.disabled]="authService.isDisabled('MESSAGELOG','Page')" [routerLink]="['/dashboard/message-log']">
           <i class="fa fa-comments"></i>{{'MessageLog.objName' | translate}}
         </a>
       </li>-->
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('NOTIFICATION','Page')">
         <a [class.disabled]="authService.isDisabled('NOTIFICATION','Page')" [routerLink]="['/dashboard/notification']">
           <i class="fa fa-bell"></i>{{'Notification.objName' | translate}}
         </a>
       </li>-->
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('APPSETTING','Page')">
         <a [class.disabled]="authService.isDisabled('APPSETTING','Page')" [routerLink]="['/dashboard/app-setting']">
           <i class="fa fa-gear"></i>{{'AppSetting.objNames' | translate}}
         </a>
       </li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('LANGUAGE','Page')">
         <a [class.disabled]="authService.isDisabled('LANGUAGE','Page')" [routerLink]="['/dashboard/language']">
           <i class="fa fa-language"></i>{{'Language.objName' | translate}}
         </a>
       </li>-->

      <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          *ngIf="authService.isAccessible('USERADDRESS','Page')">
        <a [class.disabled]="authService.isDisabled('USERADDRESS','Page')" [routerLink]="['/dashboard/user-address']">
          <i class="fa fa-address-card"></i>{{'UserAddress.objName' | translate}}
        </a>
      </li>-->

      <li class="nav-item dropdown" *ngIf="authService.hasRole(['ROLE_ADMIN'])">
        <a class="nav-link dropdown-toggle" (click)="setCurrentMenu('MASTER')">
          <i class="fa fa-cog"></i>
          <span>{{'DASHBOARD.MASTER'|translate}}</span>
        </a>
        <ul class="nav-dropdown-items list-unstyled"
          [ngClass]="{'show-subMenu':currentMenu === 'MASTER', 'hide-subMenu':currentMenu !== 'MASTER'}">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('COUNTRY','Page')">
            <a [class.disabled]="authService.isDisabled('COUNTRY','Page')" [routerLink]="['/dashboard/country']">
              <i class="fa fa-flag"></i>
              <span class="menu-item-label">{{'Country.objName' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('STATE','Page')">
            <a [class.disabled]="authService.isDisabled('STATE','Page')" [routerLink]="['/dashboard/state']">
              <i class="fa fa-flag"></i>
              <span class="menu-item-label">{{'State.objName' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('CITY','Page')">
            <a [class.disabled]="authService.isDisabled('CITY','Page')" [routerLink]="['/dashboard/city']">
              <i class="fa fa-flag"></i>
              <span class="menu-item-label">{{'City.objName' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('DISTRICT','Page')">
            <a [class.disabled]="authService.isDisabled('DISTRICT','Page')" [routerLink]="['/dashboard/district']">
              <i class="fa fa-area-chart"></i>
              <span class="menu-item-label">{{'District.objName' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('SUBDISTRICT','Page')">
            <a [class.disabled]="authService.isDisabled('SUBDISTRICT','Page')"
              [routerLink]="['/dashboard/sub-district']">
              <i class="fa fa-area-chart"></i>
              <span class="menu-item-label">{{'SubDistrict.objName' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.isAccessible('PROVINCE','Page')">
            <a [class.disabled]="authService.isDisabled('PROVINCE','Page')" [routerLink]="['/dashboard/province']">
              <i class="fa fa-map"></i>
              <span class="menu-item-label">{{'Province.objName' | translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.hasRole(['ROLE_ADMIN'])">
        <a class="nav-link dropdown-toggle" (click)="setCurrentMenu('ADMINSETTING')">
          <i class="fa fa-cog"></i>
          <span>{{'DASHBOARD.ADMIN_SETTINGS'|translate}}</span>
        </a>
        <ul class="nav-dropdown-items list-unstyled"
          [ngClass]="{'show-subMenu':currentMenu === 'ADMINSETTING', 'hide-subMenu':currentMenu !== 'ADMINSETTING'}">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [class.disabled]="authService.isDisabled('POSTALCODE','Page')" [routerLink]="['/dashboard/postal-code']">
              <i class="fa fa-map-pin"></i>
              <span class="menu-item-label">{{'DASHBOARD.ADDRESS_SETTINGS' | translate}}</span>
            </a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('SERVICE','Page')" (click)="setCurrentMenu('SERVICE')">
        <a [class.disabled]="authService.isDisabled('SERVICE','Page')" [routerLink]="['/dashboard/service']">
          <i class="fa fa-server"></i>
          <span class="menu-item-label">{{'Service.objName' | translate}}</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('PRODUCT','Page')" (click)="setCurrentMenu('PRODUCT')">
        <a [class.disabled]="authService.isDisabled('PRODUCT','Page')" [routerLink]="['/dashboard/product']">
          <i class="fa fa-product-hunt"></i>
          <span class="menu-item-label">{{'Product.objName' | translate}}</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('PROMOTION','Page')" (click)="setCurrentMenu('PROMOTION')">
        <a [class.disabled]="authService.isDisabled('PROMOTION','Page')" [routerLink]="['/dashboard/promotion']">
          <i class="fa fa-gift"></i>
          <span class="menu-item-label">{{'Promotion.objNames' | translate}}</span>
        </a>
      </li>

      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('DELIVERYTYPE','Page')">
         <a [class.disabled]="authService.isDisabled('DELIVERYTYPE','Page')" [routerLink]="['/dashboard/delivery-type']">
           <i class="fa fa-product-hunt"></i>{{'DeliveryType.objName' | translate}}
         </a>
       </li> -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('ORDER','Page')" (click)="setCurrentMenu('ORDER')">
        <a [class.disabled]="authService.isDisabled('ORDER','Page')" [routerLink]="['/dashboard/order']">
          <i class="fa fa-shopping-cart"></i>
          <span class="menu-item-label">{{'Order.objNames' | translate}}</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('BROADCAST','Page')" (click)="setCurrentMenu('BROADCAST')">
        <a [class.disabled]="authService.isDisabled('BROADCAST','Page')" [routerLink]="['/dashboard/broadcast']">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <span class="menu-item-label">{{'BROADCAST.ENTITY_NAME' | translate}}</span>
        </a>
      </li>
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('PAYMENTLOG','Page')">
         <a [class.disabled]="authService.isDisabled('PAYMENTLOG','Page')" [routerLink]="['/dashboard/payment-log']">
           <i class="fa fa-credit-card"></i>{{'PaymentLog.objName' | translate}}
         </a>
       </li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('PACKING','Page')">
         <a [class.disabled]="authService.isDisabled('PACKING','Page')" [routerLink]="['/dashboard/packing']">
           <i class="fa fa-shopping-cart"></i>{{'Packing.objName' | translate}}
         </a>
       </li> -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="authService.isAccessible('DEFAULTMESSAGE','Page')" (click)="setCurrentMenu('DEFAULTMESSAGE')">
        <a [class.disabled]="authService.isDisabled('DEFAULTMESSAGE','Page')"
          [routerLink]="['/dashboard/default-message']">
          <i class="fa fa-comments"></i>{{'DefaultMessage.objName' | translate}}
        </a>
      </li>
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('CURRENCY','Page')">
         <a [class.disabled]="authService.isDisabled('CURRENCY','Page')" [routerLink]="['/dashboard/currency']">
           <i class="fa fa-credit-card"></i>{{'Currency.objName' | translate}}
         </a>
       </li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('NOTIFICATIONMASTER','Page')">
         <a [class.disabled]="authService.isDisabled('NOTIFICATIONMASTER','Page')"
            [routerLink]="['/dashboard/notification-master']">
           <i class="fa fa-bell"></i>{{'NotificationMaster.objName' | translate}}
         </a>
       </li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           *ngIf="authService.isAccessible('FEEDBACK','Page')">
         <a [class.disabled]="authService.isDisabled('FEEDBACK','Page')" [routerLink]="['/dashboard/feedback']">
           <i class="fa fa-comments"></i>{{'Feedback.objName' | translate}}
         </a>
       </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="setCurrentMenu('SETTING')">
          <i class="fa fa-cog"></i>
          <span>{{'DASHBOARD.ACCOUNT_SETTINGS'|translate}}</span>
        </a>
        <ul class="nav-dropdown-items list-unstyled"
          [ngClass]="{'show-subMenu':currentMenu === 'SETTING', 'hide-subMenu':currentMenu !== 'SETTING'}">
          <li routerLinkActive="active">
            <a [routerLink]="['/dashboard/account/settings']">
              <i class="fa fa-user"></i>
              <span>{{'DASHBOARD.PROFILE'|translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/dashboard/change/password']">
              <i class="fa fa-key"></i>
              <span>{{'DASHBOARD.CHANGE_PASSWORD'|translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="setCurrentMenu('REPORTS')">
          <i class="fa fa-cube"></i> {{'COMMON.REPORT' | translate}}
        </a>
        <ul class="nav-dropdown-items list-unstyled components"
            [ngClass]="{'show-subMenu':currentMenu === 'REPORTS', 'hide-subMenu':currentMenu !== 'REPORTS'}">
        </ul>
      </li>-->
      <li (click)="authService.logout()">
        <a>
          <i class="fa fa-sign-out"></i>
          <span class="menu-item-label">{{"DASHBOARD.LOGOUT" | translate}}</span>
        </a>
      </li>
    </ul>
    <div class="user-info-container">
      <div class="user-icon-container">
        <img class="img-responsive" src="assets/images/logo.png" width="40" />
      </div>
      <div class="user-profile-container">
        <div class="user-name">{{authService.getUser()?.fullName}}</div>
      </div>
    </div>
  </nav>
  <div id="content" class="content-body">
    <div class="page-outer-container nav-scroll">
      <div class="page-inner-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-file-cropper></app-file-cropper>
<app-image-popup-model></app-image-popup-model>
