.show-subMenu {
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.hide-subMenu {
  visibility: hidden;
  display: none;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.menu-item-icon {
  display: initial;
  width: 14px;
  margin-right: 4px;
}

.menu-item-icon-active {
  @extend .menu-item-icon;
  display: none;
}

.active {
  .menu-item-icon {
    display: none;
  }

  .menu-item-icon-active {
    display: initial;
  }
}
