ion-content {
    position: relative;
}

.order-detail-container {
    padding: 15px 35px;
    height: calc(100% - 121px);

    .delivery-image {
        max-height: calc(100% - 226px);
    }

    .header-title {
        text-align: center;
        font-family: Futura-Bold-BT, sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-top: 10px;
    }

    .order-user-name {
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 17px;
        line-height: 28px;
        color: #000000;
        letter-spacing: -0.34px;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .order-delivery-address {
        font-family: Nunito-SemiBold, sans-serif;
        font-size: 12px;
        line-height: 22px;
        color: #1D1E1E;
        margin-top: 5px;
    }

    .order-user-number {
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #1E1F20;
        margin-top: 5px;
    }

    .order-item-count {
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 15px;
        line-height: 28px;
        margin-top: 5px;
    }

    .order-slot-time {
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 6px;
        width: 150px;
        height: 30px;
        margin: 5px auto;

        span {
            font-family: Futura-Bold-BT, sans-serif;
            font-size: 10px;
            line-height: 12px;
            color: #000000;
        }
    }

    .order-type {
        font-family: Nunito-SemiBold, sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        margin-top: 5px;
    }
}

.order-call-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    .order-chat, .order-call {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        height: 121px;
        padding: 15px;
        border-top: 1px solid #ddd;
    }

    .order-chat {
        border-right: 1px solid #ddd;

    }

    .order-chat-label {
        margin-top: 15px;
    }
}
