<app-header [header]="header"></app-header>
<ion-content class="ion-text-center">
    <div class="order-detail-container" *ngIf="order">
        <img class="delivery-image" [src]="'/assets/icon/tracking/'+getDeliveryType()+'.svg'"/>
        <div class="header-title">
            <span *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status === 'AWAITING_COLLECTION'">
                {{'PAGES.MARKER_DETAIL.PICK_UP_ADDRESS'|translate}}
            </span>
            <span *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status === 'ON_THE_WAY'">
                {{'PAGES.MARKER_DETAIL.DELIVERY_ADDRESS'|translate}}
            </span>
        </div>
        <div class="order-user-name">
            {{order.customerName}}
        </div>
        <div class="order-delivery-address">
            <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='HOME'">
                {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}},
                {{order.deliveryAddress.provinceName}}, {{order.deliveryAddress.postalCode}}
            </span>
            <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='BUILDING'">
                {{order.deliveryAddress.buildingName}}
                {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                {{order.deliveryAddress.streetNumber}} {{order.deliveryAddress.subDistrictName}}
                , {{order.deliveryAddress.districtName}},
                {{order.deliveryAddress.postalCode}}
            </span>
        </div>
        <div class="order-user-number">
            {{order.deliveryAddress.phoneNo}}
        </div>
        <div class="order-item-count">
            {{'PAGES.MARKER_DETAIL.NUMBER_OF_ITEM'|translate}}- {{order.totalItems}}
        </div>
       <!-- <div class="order-slot-time">
            <span *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status === 'AWAITING_COLLECTION'">
                
            </span>
            <span *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status === 'ON_THE_WAY'">
                
            </span>
        </div>-->
        <div class="order-type">
            <span *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status === 'AWAITING_COLLECTION'">
                {{'PAGES.MARKER_DETAIL.PICK_UP_TIME'|translate}} {{order.pickupSlot}}
            </span>
            <span *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status === 'ON_THE_WAY'">
                {{'PAGES.MARKER_DETAIL.DELIVERY_UP_TIME'|translate}} {{order.deliverySlot}}
            </span>
        </div>
    </div>
    <div class="order-call-container">
        <div class="order-chat">
            <img src="/assets/icon/chat-icon.png" (click)="chat()"/>
            <div class="order-chat-label">{{'PAGES.MARKER_DETAIL.CHAT'|translate}}</div>
        </div>
        <div class="order-call">
            <img src="/assets/icon/call-icon.png" (click)="call()"/>
            <div class="order-chat-label">{{'PAGES.MARKER_DETAIL.CALL'|translate}}</div>
        </div>
    </div>
</ion-content>