<app-header [header]="header"></app-header>
<ion-content>
    <div class="map">
        <div class="map-container" *ngIf="order">
            <agm-map [fitBounds]="true" *ngIf="order.deliveryAddress">
                <agm-marker [animation]="'DROP'" [latitude]="order.deliveryAddress.latitude"
                            [longitude]="order.deliveryAddress.longitude"
                            [markerDraggable]="false"
                            [iconUrl]="'/assets/icon/tracking/customer.png'"
                            [agmFitBounds]="true">
                </agm-marker>
                <agm-marker [animation]="'DROP'" [latitude]="driver.latitude"
                            [longitude]="driver.longitude"
                            [markerDraggable]="false"
                            [iconUrl]="'/assets/icon/tracking/driver.png'"
                            [agmFitBounds]="true">
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="order-list" *ngIf="order">
        <ion-item class="single-order-block">
            <div class="single-order">
                <div class="order-no">
                    <span>{{'PAGES.LANDING.LABEL.ORDER' | translate}}{{order.orderId}}</span>
                </div>
                <div class="delivery-type-preview {{order.deliveryType|lowercase}}">
                    <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                    <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="details">
                    <span>{{order.totalItems}} {{'PAGES.LANDING.LABEL.ITEMS' | translate}}</span>
                    <span class="label"
                          *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                        <img src="../assets/icon/pickup.svg"> {{'PAGES.LANDING.LABEL.PICKUP' | translate}}</span>
                    <span class="label"
                          *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                        <img src="../assets/icon/delivery.svg"> {{'PAGES.LANDING.LABEL.DELIVERY' | translate}}</span>
                </div>
                <div class="order-time-slot"
                     *ngIf="order.status === 'ASSIGNED_DRIVER' || order.status==='AWAITING_COLLECTION'">
                    <span>{{'PAGES.LANDING.LABEL.PICKUP_TIME' | translate}}: {{order.pickupSlot}}</span>
                </div>
                <div class="order-time-slot"
                     *ngIf="order.status === 'ASSIGNED_DRIVER_FOR_DELIVERY' || order.status==='ON_THE_WAY'">
                    <span>{{'PAGES.LANDING.LABEL.DELIVERY_TIME' | translate}}: {{order.deliverySlot}}</span>
                </div>
                <div class="customer-name">
                    <span>{{order.customerDetails?.fullName}}</span>
                </div>
                <div class="customer-address">
                    <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='HOME'">
                        {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                        {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}},
                        {{order.deliveryAddress.provinceName}}, {{order.deliveryAddress.postalCode}}
                        <br>
                        {{order.deliveryAddress.phoneNo}}
                    </span>
                    <span class="address-value" *ngIf="order.deliveryAddress.residenceType==='BUILDING'">
                        {{order.deliveryAddress.buildingName}}
                        {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                        {{order.deliveryAddress.streetNumber}} {{order.deliveryAddress.subDistrictName}}
                        , {{order.deliveryAddress.districtName}},
                        {{order.deliveryAddress.postalCode}}{{order.deliveryAddress.phoneNo}}
                    </span>
                </div>
            </div>
        </ion-item>
    </div>
</ion-content>
