<div class="modal fade" id="cropImagePopup" role="dialog" data-keyboard="false" data-backdrop="static" *ngIf="isOpenCrop">
  <div class="modal-dialog associated-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">&times;</button>
        <h4 class="modal-title margin-bottom-15">{{"COMMON.CROP_IMAGES" |  translate}}</h4>
      </div>
      <div class="modal-body" >
        <div>
          <image-cropper [imageBase64]="request.imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
            (imageCropped)="imageCropped($event)" class="col-md-5" style="max-width: 400px" cropperMinWidth="120"
            cropperMinHeight="120">
          </image-cropper>
          <img class="preview-image image-responsive" [src]="request.croppedImage" class="col-md-5" />
          <button title="{{'COMMON.APPLY' | translate}}" class="btn btn-primary large-btn site-button col-md-2" type="button" (click)="applyCrop()">
            {{"COMMON.APPLY_CROP" |  translate}}
          </button>
        </div>
        <div class=" clearfix"></div>
        <div class="image-container" style="max-width:fit-content;">
          <div *ngFor="let file of data.files; let i = index" class="image-preview">
            <img class="preview-image" [src]="file.base64" (click)="selectCropFile(i)"
              *ngIf="file.type == 'image/png' || file.type == 'image/jpeg' || file.type == 'image/jpg'"
              [ngClass]="{'selected-crop-image': (i == request.selectedIndex)}" />
          </div>
        </div>
        <div class="text-right margin-top-10">
          <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button large-btn" type="button" (click)="uploadImages()">
            {{"COMMON.UPLOAD_ALL" |  translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
