<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Packing.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'Packing.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('PACKING','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('PACKING','AddButton')">
      <span class="hidden-xs">{{'Packing.ADD_NEW_PACKING' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'Packing.productId' | translate}}</th>
          <th>{{'Packing.serviceId' | translate}}</th>
          <th>{{'Packing.price' | translate}}</th>
          <th>{{'Packing.createdOn' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.productId}}</td>
          <td>{{record.serviceId}}</td>
          <td>{{record.price}}</td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td class="text-center">
            <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
              (click)="onItemSelection(record)" *ngIf="isPlusButton">
              {{'COMMON.SELECT' | translate}}
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PACKING','DetailButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('PACKING','DetailButton')" (click)="loadDetailPage(record.id)">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PACKING','EditButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('PACKING','EditButton')"
              [routerLink]="['/dashboard/packing/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('PACKING','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('PACKING','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        <tr *ngIf="records.length===0">
          <td class="text-center" colspan="15">
            {{"COMMON.NO_RECORDS_FOUND" | translate}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="packingDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="packingDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-packing-detail [recordId]="selectedId"></app-packing-detail>
      </div>
    </div>
  </div>
</div>
