ion-content {
    .main-container {
        padding: 30px 30px 0;

        .pay-container {
            font-weight: bold;
            margin-top: 20px;
            line-height: 28px;
            font-size: 19px;
        }

        .custom-button-item {
            ion-button {
                width: 100%;
                height: 100%;
                font-size: 18px;
                --background: #005DA8;
                --background-activated: #005DA8;
                --background-focused: #005DA8;
                --background-hover: #005DA8;
            }
        }
    }
}