<app-header [header]="header"></app-header>
<ion-content class="ion-text-center ion-padding">
    <div class="main-container">
        <h4>{{'PAGES.ORDER.LABEL.SCAN_QR_CODE'|translate}}</h4>
        <div *ngIf="order">
            <qrcode [qrdata]="order.qrCode" [size]="qrSize" [level]="'H'" allowEmptyString="false">
            </qrcode>
            <div class="clearfix"></div>
            <div class="pay-container">
                {{'PAGES.ORDER.LABEL.PAY_TO'|translate}}: Lotus Laundry
                <br>
                {{'PAGES.ORDER.LABEL.AMOUNT'|translate}}
                : {{order.totalPrice| number:'1.2-2'}} {{'PAGES.ORDER.LABEL.THB'|translate}}
            </div>
        </div>
        <ion-item class="custom-button-item margin-top-40">
            <ion-button (click)="doneCallback()">{{'PAGES.ORDER.BUTTON.DONE'|translate}}
            </ion-button>
        </ion-item>
    </div>
</ion-content>