<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/logo.png">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.LOGIN.HEADING'| translate}}</ion-label>
            </div>
            <form name="loginForm" novalidate="novalidate" #loginForm="ngForm" autocomplete="off">
                <ion-item class="custom-input-item">
                    <ion-input type="text" name="userName"
                               [ngClass]="{ 'is-invalid': onClickValidation && userName.invalid }"
                               placeholder="{{'USER_ACCOUNT_INPUT.EMAIL'| translate}}"
                               #userName="ngModel" [(ngModel)]="user.userName" autocomplete="off" required="required">
                        <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && userName?.invalid" class="error-text">
                    <span
                        *ngIf="userName?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_REQUIRED'| translate}}</span>
                    <span
                        *ngIf="userName?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_NOT_VALID'| translate}}</span>
                </div>
                <ion-item class="custom-input-item">
                    <ion-input type="password" name="password"
                               [ngClass]="{ 'is-invalid': onClickValidation && password?.errors?.required}"
                               placeholder="{{'USER_ACCOUNT_INPUT.PASSWORD'| translate}}" #password="ngModel"
                               [(ngModel)]="user.password" autocomplete="off" required="required">
                        <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && password?.invalid" class="error-text">
                    <span
                        *ngIf="password?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_REQUIRED'| translate}}</span>
                </div>
                <div class="forgot-remember-block">
                    <ion-item class="custom-label-item">
                        <div class="remember-me">
                            <ion-checkbox name="rememberMe" color="primary" mode="ios" [(ngModel)]="user.rememberMe">
                            </ion-checkbox>
                            <ion-label class="remember-label">{{'PAGES.LOGIN.LABEL.REMEMBER_ME'| translate}}</ion-label>
                        </div>
                    </ion-item>
                </div>
            </form>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="onSubmit(loginForm.form.valid)">{{'PAGES.LOGIN.BUTTON.LOG_IN'| translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>