ion-content {
    .main-container {
        .custom-label-item {
            ion-label {
                font-size: 12px;
                line-height: 14px;
                white-space: normal;

                span {
                    color: var(--app-hyperlink-text-color);
                    cursor: pointer;
                }
            }

            .terms-label {
                color: inherit !important;
                line-height: 14px;
                text-decoration: underline;
            }
        }
    }
}

.input-cover {
    display: none;
}

.title {
    color: var(--ion-color-primary);
}

ion-content .main-container .banner-container img {
    max-width: 56%;
}

.forgot-remember-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ion-item {
        margin: 0;

        .remember-me {
            display: flex;
            align-items: center;

            ion-checkbox {
                margin: 0 8px;
                --size: 18px;
                --transition: none;

                button {
                    width: max-content;
                }
            }
        }

        .forgot-password {
            z-index: 10;
            color: var(--app-hyperlink-text-color);
            cursor: pointer;
        }
    }
}

.change-language {
    width: 100%;
    text-align: right;
    font-size: 12px;
}