<app-header [header]="header"></app-header>
<ion-content class="ion-padding" *ngIf="!loading">
    <div *ngIf="!cart || cart.uiCartItems.length===0">
        <div class="custom-ui-card ion-text-center">
            {{'PAGES.COMMON.EMPTY_CART' | translate}}
        </div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="cart && cart.uiCartItems.length>0">
        <div class="add-more-item-category">
            <ion-icon slot="icon-only" class="plus-icon" src="/assets/icon/plus.svg" [routerLink]="['/categories']"
                routerDirection="root"></ion-icon>
            <ion-label class="forgot-label" [routerLink]="['/categories']" routerDirection="root">
                {{'ADD_MORE_ITEM'|translate}}</ion-label>
        </div>
        <div *ngFor="let cartItems of cart.uiCartItems;let index=index;">
            <h4 class="category-header">
                {{cartItems[0].service.name}}
                <span class="delete-service-icon">
                    <ion-icon slot="icon-only" (click)="removeServiceItem(index)" class="delete-icon"
                        src="/assets/icon/delete.svg"></ion-icon>
                </span>
            </h4>
            <div class="custom-card">
                <div class="cart-item" *ngFor="let cartItem of cartItems;let cIndex=index;">
                    <ion-icon slot="icon-only" (click)="removeItem(cartItem,index,cIndex)" class="delete-icon"
                        src="/assets/icon/delete.svg"></ion-icon>
                    <div class="product-detail-container">
                        <div class="product-icon-container">
                            <img class="product-icon" [src]="cartItem.product.icon">
                        </div>
                        <div class="product-name">
                            {{cartItem.product.name}}
                        </div>
                    </div>
                    <div class="product-prize-container">
                        <div class="prize-container">
                            {{cartItem.quantity}} x {{cartItem.price | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                        <div class="final-amount">
                            {{cartItem.quantity * cartItem.price  | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="count-container">
                            <ion-icon slot="icon-only" name="remove-circle-outline"
                                [ngClass]="{'disabled':cartItem.quantity<=1}" (click)="decrease(cartItem)"></ion-icon>
                            <span>{{cartItem.quantity}}</span>
                            <ion-icon slot="icon-only" name="add-circle-outline" (click)="increase(cartItem)">
                            </ion-icon>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div>
            <h4 class="category-header">
                {{'PAGES.COMMON.LABEL.LAUNDRY_INSTRUCTIONS'|translate}}
            </h4>
            <ion-item class="custom-input-item">
                <ion-textarea rows="4" cols="20" type="text" #laundryInstruction="ngModel" name="laundryInstruction"
                    [ngClass]="{ 'is-invalid': laundryInstruction.invalid}"
                    placeholder="{{'PAGES.COMMON.LABEL.LAUNDRY_INSTRUCTION_PLACEHOLDER' | translate}}"
                    [(ngModel)]="cart.laundryInstruction" autocomplete="off" maxlength="200">
                </ion-textarea>
            </ion-item>
        </div>
        <div clas="delivery-container">
            <h4 class="category-header">
                {{'PAGES.COMMON.LABEL.DELIVERY_OPTION'|translate}}
                <span class="info-delivery-icon" (click)="openInfoPopup()">
                    <ion-icon slot="icon-only" class="" src="/assets/icon/information-circle-outline.svg"></ion-icon>
                </span>
            </h4>
            <div class="custom-card">
                <div class="cart-item">
                    <div class="delivery-detail-container">
                        <select placeholder="Select" class="form-control delivery-select"
                            [(ngModel)]="selectedDeliveryType" (change)="onDeliveryChange(selectedDeliveryType)">
                            <option value="NORMAL">{{'PAGES.COMMON.DELIVERY.NORMAL' | translate}}</option>
                            <option value="EXPRESS">{{'PAGES.COMMON.DELIVERY.EXPRESS' | translate}}</option>
                            <option value="SAMEDAY">{{'PAGES.COMMON.DELIVERY.SAMEDAY' | translate}}</option>
                        </select>
                    </div>
                    <div class="delivery-prize-container">
                        <div class="final-amount">
                            {{getDeliveryFees()| number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="order-amount-detail">
            <ion-row>
                <ion-col size="8">{{'PAGES.COMMON.LABEL.SUBTOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{getSubtotal()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
            </ion-row>
            <ion-row>
                <!-- <ion-col size="8">{{'PAGES.COMMON.LABEL.DELIVERY'|translate}}
                    ({{'PAGES.COMMON.DELIVERY.' + cart.deliveryType | translate}})
                </ion-col> -->
                <ion-col size="8">
                    {{'PAGES.COMMON.DELIVERY.' + cart.deliveryType | translate}}
                    {{'PAGES.COMMON.LABEL.CHARGES'|translate}}
                </ion-col>
                <ion-col size="4" class="order-amount">{{getDeliveryFees()| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
            <!--<ion-row>
                <ion-col size="8">{{'PAGES.COMMON.LABEL.TAX'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{getTax()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
            </ion-row>-->
            <ion-row class="total-row">
                <ion-col size="8">{{'PAGES.COMMON.LABEL.TOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{getTotal()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
            </ion-row>
        </div>
        <div class="delivery-option-note">
            <span>{{'PAGES.COMMON.LABEL.NOTE'|translate}}:</span>
            {{'PAGES.COMMON.LABEL.MIN_VALUE_NOTE'|translate}}
            <span>100</span>&#3647;
            {{'PAGES.COMMON.LABEL.FOR_THE_DELIVERY'|translate}}
        </div>
        <div class="clearfix"></div>
        <ion-button class="proceed-button̥ margin-top-20" (click)="continue()">{{'PROCEED_BUTTON' | translate}}
        </ion-button>
    </div>
</ion-content>