.add-more-item-category {
    z-index: 10;
    color: var(--app-hyperlink-text-color);
    cursor: pointer;
    text-align: right;

    ion-icon {
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        cursor: pointer;
    }
}

.delete-service-icon {
    cursor: pointer;
    float: right;
}

.info-delivery-icon {
    cursor: pointer;
    float: right;
    font-size: 20px;
    ion-icon {
        font-size: 23px;
        color: #005fae;
    }
}

.delivery-option-note {
    padding: 10px;
    font-size: 15px;

    span {
        font-weight: 600;
    }
}
