<ion-content>
    <div class="error-box">
        <div class="icon-container">
            <img src="/assets/icon/cancel.svg">
        </div>
        <div class="header-text">
            {{'ORDER.PAYMENT_FAILED_LABEL' | translate}}
        </div>
        <div class="sub-header-text">
            {{'ORDER.FAILED_SUB_HEADING_LABEL' | translate}}
        </div>
        <div class="margin-top-40">
            <ion-button class="order-detail-button" (click)="back()">
                {{'BACK_BUTTON' | translate}}
            </ion-button>
        </div>
    </div>
</ion-content>
