ion-content {
    position: relative;
    --background: #FF0404;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 80px;
    --padding-bottom: 80px;
    box-shadow: 0px 3px 6px #00000029;

    .error-box {
        background: url("/assets/images/background-payment.png");
        height: 100%;
        border-radius: 6px;
        text-align: center;
        background-size: 100% 100%;

        .icon-container {
            height: 250px;
            line-height: 250px;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }

        .header-text {
            font-family: 'Futura-Bold-BT', sans-serif;
            font-size: 33px;
            line-height: 45px;
            color: #FF0404;
        }

        .sub-header-text {
            font-family: 'Nunito-Regular', sans-serif;
            color: #000000;
            font-size: 16px;
            line-height: 22px;
        }

        .order-detail-button {
            --background: var(--ion-color-primary);
            box-shadow: 0px 4px 20px #807E7EC4;
            border-radius: 6px;
            height: 48px;
            width: 250px;
        }
    }
}