﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome to Application</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" ">
    <link rel=" icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div id="main-container" class="wrapper base-page-container">
        <div class="app-root" style="width: 100%;">
            <div class="loader-container">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <script src="~/wwwroot/5.2efa52e08f5731d2c0f6.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3brvWQZQHeqmYjNNyG5y0xhgWun6cpj4&libraries=places"></script>
    <script src="~/wwwroot/runtime.378c819ddbc17c16b9f6.js" defer></script>
    <script src="~/wwwroot/polyfills-es5.46eb7f2687468e1624ff.js" nomodule defer></script>
    <script src="~/wwwroot/polyfills.d15cf5b3fe5c097b06a9.js" defer></script>
    <script src="~/wwwroot/styles.cf11577a434c95db4ae2.js" defer></script>
    <script src="~/wwwroot/scripts.4a2a36a5b39cf2280702.js" defer></script>
    <script src="~/wwwroot/main.90d2ee36f794a61f098c.js" defer></script>
</body>

</html>
