<app-header [header]="header"></app-header>
<ion-content>
    <div class="payment-header ion-text-center">
        <h4 class="category-header">{{'PAGES.PAYMENT.QRCODE.HEADING'|translate}}</h4>
        <img src="../assets/icon/payment/qrcode.svg" height="150">
    </div>
    <p>{{'PAGES.PAYMENT.QRCODE.SUB_HEADING_1'|translate}} {{cart?.total}} {{'PAGES.PAYMENT.QRCODE.SUB_HEADING_2'|translate}}</p>
    <form name="orderPaymentForm" class="order-payment-form" novalidate="novalidate" #orderPaymentForm="ngForm"
          autocomplete="off" *ngIf="pickupDeliveryAddress">
        <div class="margin-top-20" (click)="openTermPopup()">
            <ion-checkbox
                [ngClass]="{ 'is-invalid-checkbox':( onClickValidation && !iAgreementAccepted) }"
                #agreementAccepted="ngModel" name="agreementAccepted" slot="start"
                [(ngModel)]="iAgreementAccepted" mode="md" autocomplete="off" required="required"
                disabled="disabled"></ion-checkbox>
            <ion-label class="agree-checkbox-label">{{'PAGES.REGISTRATION.LABEL.AGREED'| translate}}
                <span><b>{{'PAGES.REGISTRATION.LABEL.TERMS_OF_SERVICE'| translate}}</b></span>
            </ion-label>
            <div class="margin-top-10 error-text" *ngIf="onClickValidation && !iAgreementAccepted">
                {{'USER_ACCOUNT_INPUT_ERROR.ACCEPT_TERM' | translate}}
            </div>
        </div>
        <ion-button class="custom-pay-button" (click)="makePayment()" [disabled]="!iAgreementAccepted">
            {{'PAYMENT.COMPLETE_ORDER' | translate}}
        </ion-button>
    </form>
</ion-content>