@import '../../authorization/otp-verification/otp-verification.page.scss';

ion-content {
    .flexible-content {
        height: 100%;

        .main-container {
            padding: 20px 30px;
        }
    }
}