<ion-item class="header-item">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
</ion-item>
<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/key.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.VERIFY_PASSWORD.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.VERIFY_PASSWORD.SUB_HEADING' | translate}}</ion-label>
            </div>
            <form name="passwordForm" novalidate="novalidate" #passwordForm="ngForm" autocomplete="off">
                <ion-item class="form-group custom-input-item">
                    <ion-input class="form-control" type="password" name="password"
                               [ngClass]="{ 'is-invalid': onClickValidation && (password?.errors?.required || password?.errors?.minlength) }"
                               placeholder="{{'USER_ACCOUNT_INPUT.OLD_PASSWORD' | translate}}" minlength="8"
                               #password="ngModel" [(ngModel)]="oldPassword" autocomplete="off" required="required"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                        <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && password.invalid" class="error-text">
                    <span
                        *ngIf="password.errors.required">{{'USER_ACCOUNT_INPUT_ERROR.OLD_PASSWORD_REQUIRED' | translate}}</span>
                    <span
                        *ngIf="password.errors.minlength">{{'USER_ACCOUNT_INPUT_ERROR.OLD_PASSWORD_DIGITS' | translate}}</span>
                    <span
                        *ngIf="!password.errors.minlength && password.errors.pattern">{{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_STANDARD' | translate}}</span>
                </div>
            </form>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="onSubmit(passwordForm.form.valid)">{{'FORM_BUTTONS.VERIFY_PASSWORD' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>