.pickup-delivery-date-card {
    padding: 15px;

    .order-delivery-date {
        margin-bottom: 15px;
        font-size: 13px;

        span {
            margin-top: 1px;
            display: inline-block;
            vertical-align: middle;
            &.large {
                font-size: 17px;
                margin-top: 0px !important;
                margin-right: 5px;
            }
        }
    }
}
