<app-header [header]="header"></app-header>
<ion-content class="ion-padding" *ngIf="pickupDeliveryAddress">
    <div clas="delivery-container">
        <div class="delivery-user-detail-info" *ngIf="pickupDeliveryAddress">
            <div class="delivery-user-info">
                <span class="user-name">{{user.fullName}}</span>
            </div>
            <div class="delivery-user-address">
                {{pickupDeliveryAddress.houseNumber}} {{pickupDeliveryAddress.streetNumber}}
                {{pickupDeliveryAddress.buildingName}} {{pickupDeliveryAddress.floor}} {{pickupDeliveryAddress.unit}}
                {{pickupDeliveryAddress.subDistrictName}}
                , {{pickupDeliveryAddress.districtName}}, {{pickupDeliveryAddress.postalCode}}
            </div>
            <div class="order-delivery-date">
                <span>{{'PAGES.CHECKOUT.LABEL.TEL'|translate}}:</span> {{pickupDeliveryAddress.phoneNo}}
            </div>
            <div class="order-delivery-date">
                <span>{{'PAGES.CHECKOUT.LABEL.NOTE'|translate}}:</span>
            </div>
            <div class="order-delivery-date">
                {{pickupDeliveryAddress.note}}
            </div>
            <div class="order-delivery-date">
                <span>{{'PAGES.CHECKOUT.LABEL.LAUNDRY_INSTRUCTIONS'|translate}}:</span>
            </div>
            <div class="order-delivery-date">
                {{cart.laundryInstruction}}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div clas="delivery-container">
        <h4 class="category-header">{{'PAGES.COMMON.LABEL.PICKUP_DELIVERY_DATE_TIME'|translate}}</h4>
        <div class="custom-card pickup-delivery-date-card">
            <div class="order-delivery-date">
                <span class="large">{{'PAGES.CHECKOUT.LABEL.PICKUP'|translate}}
                    : </span><span>{{cart.pickupDate|date:'dd MMMM yyyy'}} {{cart.pickupSlot}}</span>
            </div>
            <div class="order-delivery-date">
                <span class="large">{{'PAGES.CHECKOUT.LABEL.DELIVERY'|translate}}
                    : </span><span>{{cart.deliveryDate|date:'dd MMMM yyyy'}} {{cart.deliverySlot|uppercase}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div *ngFor="let cartItems of cart.uiCartItems">
        <h4 class="category-header">{{cartItems[0].service.name}}</h4>
        <div class="custom-card">
            <div class="cart-item" *ngFor="let cartItem of cartItems">
                <div class="product-detail-container">
                    <div class="product-icon-container">
                        <img class="product-icon" [src]="cartItem.product.icon">
                    </div>
                    <div class="product-name">
                        {{cartItem.product.name}}
                    </div>
                </div>
                <div class="product-prize-container">
                    <div class="prize-container">
                        {{cartItem.quantity}} x {{cartItem.price | number:'1.2-2'}}<span>&#3647;</span>
                    </div>
                    <div class="final-amount">
                        {{cartItem.quantity * cartItem.price | number:'1.2-2'}}<span>&#3647;</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div clas="delivery-container" *ngIf="cart">
        <h4 class="category-header">{{'PAGES.COMMON.LABEL.DELIVERY_OPTION'|translate}}</h4>
        <div class="delivery-preview {{cart.deliveryType|lowercase}}">
            <ion-icon src="/assets/icon/delivery/{{cart.deliveryType|lowercase}}.svg"></ion-icon>
            <span>{{'PAGES.COMMON.DELIVERY.' + cart.deliveryType | translate}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="order-amount-detail">
        <ion-row>
            <ion-col size="8">{{'PAGES.COMMON.LABEL.SUBTOTAL'|translate}}</ion-col>
            <ion-col size="4" class="order-amount">{{getSubtotal()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">
                {{'PAGES.COMMON.DELIVERY.' + cart.deliveryType | translate}}
                {{'PAGES.COMMON.LABEL.CHARGES'|translate}}
            </ion-col>
            <ion-col size="4" class="order-amount">{{getDeliveryFees()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
        </ion-row>
        <!--<ion-row>
            <ion-col size="8">{{'PAGES.COMMON.LABEL.TAX'|translate}}</ion-col>
            <ion-col size="4" class="order-amount">{{getTax()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
        </ion-row>-->
        <ion-row *ngIf="getLogisticCharge()>0 && logisticChargeShown">
            <ion-col size="8">{{'PAGES.COMMON.LABEL.LOGISTIC'|translate}}</ion-col>
            <ion-col size="4" class="order-amount">{{getLogisticCharge()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
        </ion-row>
        <ion-row class="total-row">
            <ion-col size="8">{{'PAGES.COMMON.LABEL.TOTAL'|translate}}</ion-col>
            <ion-col size="4" class="order-amount">{{getTotal()| number:'1.2-2'}}<span>&#3647;</span></ion-col>
        </ion-row>
    </div>
    <div class="clearfix"></div>
    <ion-button class="proceed-button̥ margin-top-20" (click)="continue()">{{'PLACE_ORDER_BUTTON' | translate}}
    </ion-button>
</ion-content>