<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Service.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/service']">{{'Service.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'Service.objName' | translate}}
        </li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{service.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #serviceForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-12">
          <div class="form-group" [ngClass]="{'has-error':name.invalid && onClickValidation}">
            <label class="control-label">
              {{"COMMON.Name" | translate}}
            </label>
            <div class="select-width">
              <input class="form-control" type="text" name="name" required="required" [(ngModel)]="service.name"
                #name="ngModel" placeholder="{{'Service.objName' | translate}} {{'COMMON.Name' | translate}}">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" [ngClass]="{'has-error':description.invalid && onClickValidation}">
            <label class="control-label">
              {{"Service.description" | translate}}
            </label>
            <div class="select-width">
              <textarea class="form-control" type="text" name="description" required="required"
                [(ngModel)]="service.description" #description="ngModel"
                placeholder="{{'Service.description' | translate}}" cols="5" rows="5" maxlength="500"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">
              {{"Service.image" | translate}}
            </label>
            <div class="image-container">
              <input class="file-input" id="serviceImageUploaderId" type="file" ng2FileSelect
                [uploader]="serviceImageUploader" *ngIf="hasFileUploaded(service.image)" />
              <div class="image-preview add-image-selection" *ngIf="hasFileUploaded(service.image)"
                onclick="$('#serviceImageUploaderId').click()">
                <img src="/assets/images/plus.png" class="new-image" alt="">
              </div>
              <div *ngFor="let file of service.image" class="image-preview" [ngClass]="{'hide':file.isDeleted}">
                <img class="preview-image" [src]="file.path" alt="" />
                <i (click)="removeFile(file)" class="fa fa-times remove-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">{{"COMMON.Languages" | translate}}</div>
      <div class="panel-body">
        <form #languageForm="ngForm" novalidate="novalidate">
          <div class="col-md-6 no-padding-left">
            <div class="form-group" [ngClass]="{'has-error':languageId.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"CountryLanguageMapping.languageId" | translate}}
              </label>
              <div class="color-picker-input">
                <select class="form-control select-2" name="languageId" [(ngModel)]="serviceLanguage.languageId"
                  required="required" #languageId="ngModel">
                  <option [value]="language.id" *ngFor="let language of languages" [hidden]="language.name==='English'">
                    {{language.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding-right">
            <div class="form-group" [ngClass]="{'has-error':iServiceName.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"COMMON.Name" | translate}}
              </label>
              <div class="color-picker-input">
                <input class="form-control" type="text" name="iServiceName" required="required"
                  [(ngModel)]="serviceLanguage.name" #iServiceName="ngModel"
                  placeholder="{{'COMMON.Name' | translate}}">
              </div>
            </div>
          </div>
          <div class="col-md-12 no-padding">
            <div class="form-group" [ngClass]="{'has-error':iServiceName.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"Service.description" | translate}}
              </label>
              <div class="color-picker-input">
                <textarea class="form-control" type="text" name="description" required="required"
                  [(ngModel)]="serviceLanguage.description" #description="ngModel"
                  placeholder="{{'Service.description' | translate}}" cols="5" rows="5" maxlength="500"></textarea>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 no-padding text-right">
            <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
              (click)="addLanguage(languageForm.valid)">
              <span class="glyphicon glyphicon-plus"></span> &nbsp; {{"COMMON.ADD" | translate}}
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered margin-top-20">
          <thead>
            <th>{{"CountryLanguageMapping.languageId" | translate}}</th>
            <th> {{"COMMON.Name" | translate}}</th>
            <th> {{"Service.description" | translate}}</th>
            <th width="100">{{'COMMON.ACTION' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of service.serviceLanguages">
              <ng-template [ngIf]="!item.isDeleted">
                <td>{{item.languageName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td class="text-center">
                  <a title="{{'COMMON.DELETE' | translate}}" class="btn btn-danger btn-xs margin-right-5"
                    (click)="removeLanguage(item)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </ng-template>
            </tr>
            <tr *ngIf="!service.serviceLanguages || service.serviceLanguages.length == 0">
              <td class="text-center" colspan="4">{{"COMMON.NO_RECORDS_FOUND" | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(serviceForm.form)" *ngIf="authService.isAccessible('SERVICE','AddButton')"
        [disabled]="authService.isDisabled('SERVICE','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
