<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" data-dismiss="modal" aria-label="Close" *ngIf="recordId">
      <img src="/assets/images/back.png" class="img-responsive">
    </a>
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()" *ngIf="!recordId">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'City.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a data-dismiss="modal" aria-label="Close">{{'City.objNames' | translate}}</a></li>
        <li class="active">{{'COMMON.DETAIL' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right"
            title="{{'COMMON.EDIT' | translate}}" *ngIf="authService.isAccessible('CITY','EditButton')"
            data-dismiss="modal" aria-label="Close" [routerLink]="['/dashboard/city/edit/'+record.id]">
      <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container no-padding">
  <div class="site-card">
    <div class="custom-tab-container">
      <ul class="nav nav-pills nav-tabs">
        <li [ngClass]="{'active':tabView == 'DETAIL'}"><a
          (click)="onChangeTab('DETAIL')">{{'City.objName' | translate}}</a></li>
        <li [ngClass]="{'active':tabView == 'DISTRICT'}">
          <a (click)="onChangeTab('DISTRICT')">{{'District.objName' | translate}}</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="custom-tab-content-container">
      <table class="table table-bordered table-striped" [hidden]="tabView !== 'DETAIL'"
             *ngIf="tabViewed['DETAIL'] || tabView == 'DETAIL'">
        <tbody>
        <tr>
          <td class="detail-page-label" width="200">
            {{"City.stateId" | translate}}
          </td>
          <td>
            <a [routerLink]="['/dashboard/state/detail/'+record.stateId]">
              {{record.stateName}}
            </a>
          </td>
        </tr>
        <tr>
          <td class="detail-page-label" width="200">
            {{"COMMON.Name" | translate}}
          </td>
          <td>{{record.name}}</td>
        </tr>
        <tr>
          <td class="detail-page-label" width="200">
            {{"City.updatedOn" | translate}}
          </td>
          <td>{{record.updatedOn|date:'dd/MM/yyyy'}}</td>
        </tr>
        </tbody>
      </table>
      <app-district [filterParam]="filterParam" [isDetailPage]="isDetailPage"
                    *ngIf="tabView === 'DISTRICT'"></app-district>
    </div>
  </div>
</div>
