<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Order.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard/order']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/order']" data-dismiss="modal"
            aria-label="Close">{{'Order.objNames' | translate}}</a></li>
        <li class="active">
          <span *ngIf="editMode">{{'COMMON.EDIT' | translate}}</span>
          <span *ngIf="!editMode">{{'COMMON.DETAIL' | translate}}</span>
        </li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <div class="custom-tab-container">
      <ul class="nav nav-pills nav-tabs">
        <li [ngClass]="{'active':tabView == 'DETAIL'}"><a
            (click)="onChangeTab('DETAIL')">{{'Order.objName' | translate}}</a>
        </li>
        <li [ngClass]="{'active':tabView == 'DETAIL'}" *ngIf="record.status === 'DELIVERED'"
          (click)="printPdf(record.id)"><a (click)="onChangeTab('DETAIL')">{{'Order.printToPdf' | translate}}</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="custom-tab-content-container row">
      <div class="col-md-12 col-sm-12 col-xs-12"
        [ngClass]="{'col-md-6' : record.driverDetails, 'col-sm-6' : record.driverDetails}">
        <div class="map-label">{{'Order.CUSTOMERS_LOCATION' | translate}}</div>
        <div class="map-container">
          <div id="customerMap"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="record.driverDetails">
        <div class="map-label">{{'Order.DRIVERS_LOCATION' | translate}}</div>
        <div class="map-container">
          <div id="driverMap"></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 order-info">
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.customer" | translate}}</div>
          <div class="col-md-2 entity-value">{{record.customerDetails?.fullName}}</div>
          <div class="col-md-2 entity-label">{{"Order.noteToCustomer" | translate}}</div>
          <div class="col-md-6 entity-value">
            <div class="col-md-10 entity-sub-value justify-start">{{record.adminNote}}</div>
            <div class="col-md-2 entity-sub-value justify-center">
              <button *ngIf="record.status !== 'DELIVERED' && record.status !== 'CANCELLED'"
                class="btn btn-primary btn-xs" (click)="changeAdminNote()">
                <span *ngIf="record.adminNote">{{"Order.change" | translate}}</span>
                <span *ngIf="!record.adminNote || record.adminNote===null">{{"Order.add" | translate}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.orderId" | translate}}</div>
          <div class="col-md-2 entity-value">#{{record.orderId}}</div>
          <div class="col-md-2 entity-label">{{"Order.orderDate" | translate}}</div>
          <div class="col-md-6 entity-value">{{record.createdOn|date:'dd/MM/yyyy h:mm a'}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.deliveryType" | translate}}</div>
          <div class="col-md-10 entity-value">
            <div *ngIf="record.deliveryType === 'SAMEDAY'" class="sameday">
              <img src="assets/images/order/sameday.svg" alt="sameday">
              <div class="name">{{record.deliveryTypeSlug}}</div>
            </div>
            <div *ngIf="record.deliveryType === 'EXPRESS'" class="express">
              <img src="assets/images/order/express.svg" alt="express">
              <div class="name">{{record.deliveryTypeSlug}}</div>
            </div>
            <div *ngIf="record.deliveryType === 'NORMAL'">{{record.deliveryTypeSlug}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.status" | translate}}</div>
          <div class="col-md-10 entity-value">
            <div class="col-md-12 entity-sub-value justify-start">
              <div class="status-data" [ngClass]="{'status-delivered' : record.status === 'DELIVERED'}">
                {{record.statusSlug}}
              </div>
              <button
                *ngIf="record.status === 'COLLECTED'  || record.status === 'CLEANING_IN_PROGRESS' || (authService.hasRole(['ROLE_ADMIN']) && (record.status === 'AWAITING_COLLECTION' || record.status === 'ON_THE_WAY'))"
                class="btn btn-primary btn-xs" (click)="changeStatus()">{{"Order.changeStatus" | translate}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.collectionDriver" | translate}}</div>
          <div class="col-md-10 entity-value no-padding">
            <div class="col-md-3 entity-sub-value"
              *ngIf="record.status === 'ASSIGNED_DRIVER' || record.status === 'AWAITING_COLLECTION'">
              {{record.driverDetails?.firstName}}
            </div>
            <div class="col-md-4 entity-sub-value"
              *ngIf="record.status === 'ASSIGNED_DRIVER' || record.status === 'AWAITING_COLLECTION'">
              {{record.driverDetails?.nationalId}}
            </div>
            <div class="col-md-3 entity-sub-value"
              *ngIf="record.status === 'ASSIGNED_DRIVER' || record.status === 'AWAITING_COLLECTION'">
              {{record.driverDetails?.licencePlate}}
            </div>
            <div class="col-md-3 entity-sub-value"
              *ngIf="record.status !== 'NEW' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">
              {{record.pickupDriverDetail?.firstName}}
            </div>
            <div class="col-md-4 entity-sub-value"
              *ngIf="record.status !== 'NEW' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">
              {{record.pickupDriverDetail?.nationalId}}
            </div>
            <div class="col-md-3 entity-sub-value"
              *ngIf="record.status !== 'NEW' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">
              {{record.pickupDriverDetail?.licencePlate}}
            </div>
            <div class="col-md-2 entity-sub-value  justify-center">
              <button *ngIf="record.status === 'NEW'" class="btn btn-primary btn-xs"
                (click)="changeDriver()">{{"Order.assignDriver" | translate}}</button>
              <button *ngIf="record.status === 'ASSIGNED_DRIVER'" class="btn btn-primary btn-xs"
                (click)="changeDriver()">{{"Order.changeDriver" | translate}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.collectionDate" | translate}}</div>
          <div class="col-md-10 entity-value no-padding">
            <div class="col-md-4 entity-sub-value">{{record.pickupDate|date:'dd/MM/yyyy'}}</div>
            <div class="col-md-5 entity-sub-value">{{record.pickupSlot}}</div>
            <div class="col-md-3 entity-sub-value justify-center"
              *ngIf="(record.status === 'NEW' || record.status === 'ASSIGNED_DRIVER')">
              <button class="btn btn-primary btn-xs"
                (click)="changeDate('PICKUP')">{{"Order.changeDate" | translate}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.collectionAddress" | translate}}</div>
          <div class="col-md-10 entity-value">
            <span class="address-value white-space-normal" *ngIf="record.deliveryAddress && record.deliveryAddress.residenceType==='HOME'">
              {{record.deliveryAddress.houseNumber}} {{record.deliveryAddress.streetNumber}}
              {{record.deliveryAddress.subDistrictName}}, {{record.deliveryAddress.districtName}}
              , {{record.deliveryAddress.postalCode}}
              {{record.deliveryAddress.phoneNo}} {{record.deliveryAddress.ext}}
            </span>
            <span class="address-value white-space-normal"
              *ngIf="record.deliveryAddress && record.deliveryAddress.residenceType==='BUILDING'">
              {{record.deliveryAddress.buildingName}}
              {{record.deliveryAddress.floor}} {{record.deliveryAddress.unit}}
              {{record.deliveryAddress.streetNumber}}
              {{record.deliveryAddress.subDistrictName}}, {{record.deliveryAddress.districtName}}
              , {{record.deliveryAddress.postalCode}}
              {{record.deliveryAddress.ext}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.customerNote" | translate}}</div>
          <div class="col-md-10 entity-value">{{record.deliveryAddress?.note}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.deliveryDriver" | translate}}</div>
          <div class="col-md-10 entity-value no-padding">
            <div class="col-md-3 entity-sub-value">
              <span
                *ngIf="!showstatusModal && record.status !== 'COLLECTED' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">{{record.driverDetails?.firstName}}</span>
            </div>
            <div class="col-md-4 entity-sub-value">
              <span
                *ngIf="!showstatusModal && record.status !== 'COLLECTED' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">{{record.driverDetails?.nationalId}}</span>
            </div>
            <div class="col-md-3 entity-sub-value justify-start">
              <span
                *ngIf="!showstatusModal && record.status !== 'COLLECTED' && record.status !== 'ASSIGNED_DRIVER' && record.status !== 'AWAITING_COLLECTION'">{{record.driverDetails?.licencePlate}}</span>
            </div>
            <div class="col-md-2 entity-sub-value justify-center">
              <button *ngIf="record.status === 'CLEANING_COMPLETED'" class="btn btn-primary btn-xs"
                (click)="changeDriver()">{{"Order.assignDriver" | translate}}</button>
              <button *ngIf="record.status === 'ASSIGNED_DRIVER_FOR_DELIVERY'" class="btn btn-primary btn-xs"
                (click)="changeDriver()">{{"Order.changeDriver" | translate}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.deliveryDate" | translate}}</div>
          <div class="col-md-10 entity-value no-padding">
            <div class="col-md-4 entity-sub-value">{{record.deliveryDate|date:'dd/MM/yyyy'}}</div>
            <div class="col-md-5 entity-sub-value">{{record.deliverySlot}}</div>
            <div class="col-md-3 entity-sub-value justify-center">
              <button class="btn btn-primary btn-xs" *ngIf="!orderCompleted && record.status !== 'ON_THE_WAY' && record.status !== 'DELIVERED'"
                (click)="changeDate('DELIVERY')">{{"Order.changeDate" | translate}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.deliveryAddress" | translate}}</div>
          <div class="col-md-10 entity-value">
            <span class="address-value" *ngIf="record.deliveryAddress && record.deliveryAddress.residenceType==='HOME'">
              {{record.deliveryAddress.houseNumber}} {{record.deliveryAddress.streetNumber}}
              {{record.deliveryAddress.subDistrictName}}, {{record.deliveryAddress.districtName}}
              , {{record.deliveryAddress.postalCode}}
              {{record.deliveryAddress.phoneNo}}
              {{record.deliveryAddress.ext}}
            </span>
            <span class="address-value"
              *ngIf="record.deliveryAddress && record.deliveryAddress.residenceType==='BUILDING'">
              {{record.deliveryAddress.buildingName}}
              {{record.deliveryAddress.floor}} {{record.deliveryAddress.unit}}
              {{record.deliveryAddress.streetNumber}}
              {{record.deliveryAddress.subDistrictName}}, {{record.deliveryAddress.districtName}}
              , {{record.deliveryAddress.postalCode}}
              {{record.deliveryAddress.phoneNo}}
              {{record.deliveryAddress.ext}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.customerNote" | translate}}</div>
          <div class="col-md-10 entity-value">{{record.deliveryAddress?.note}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">{{"Order.payment" | translate}}</div>
          <div class="col-md-1 entity-value">{{record.paymentTypeSlug}}</div>
          <div class="col-md-1 entity-label">{{"Order.status" | translate}}</div>
          <div class="col-md-1 entity-value">
            <span class="status-paid" *ngIf="record.paymentStatus === 'PAID'">{{record.paymentStatusSlug}}</span>
            <span class="status-unpaid" *ngIf="record.paymentStatus === 'UNPAID'">{{record.paymentStatusSlug}}</span>
          </div>
          <div class="col-md-2 entity-label">{{"Order.invoiceNo" | translate}}</div>
          <div class="col-md-1 entity-value">{{record.orderId}}</div>
          <div class="col-md-2 entity-label">{{"Order.paymentDate" | translate}}</div>
          <div class="col-md-2 entity-value">{{record.paymentDate|date:'dd/MM/yyyy h:mm a'}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">
            {{"Order.change" | translate}} {{"Order.required" | translate}}
          </div>
          <div class="col-md-2 entity-value">{{record.change| number : '1.2-2'}}&#3647;</div>
          <div class="col-md-2 entity-label">{{"Order.collectedAt" | translate}}</div>
          <div class="col-md-2 entity-value">{{record.collectedDate|date:'dd/MM/yyyy h:mm a'}}</div>
          <div class="col-md-2 entity-label">{{"Order.deliveredOn" | translate}}</div>
          <div class="col-md-2 entity-value">{{record.deliveredDate|date:'dd/MM/yyyy h:mm a'}}</div>
        </div>
        <div class="row">
          <div class="col-md-2 entity-label">
            {{"Order.laundryInstruction" | translate}}
          </div>
          <div class="col-md-10 entity-value white-space-normal">{{record.laundryInstruction}}</div>
        </div>
      </div>
    </div>
    <div class="order-items">
      <div class="block-heading">{{'Order.orderItems' | translate}}</div>
      <div class="items">
        <div class="row item-heading">
          <div class="single-heading"
            [ngClass]="editMode ? 'col-md-3' : 'col-md-4'">
            {{'OrderItem.product' | translate}}
          </div>
          <div class="col-md-2 single-heading">{{'OrderItem.service' | translate}}</div>
          <div class="single-heading justify-end"
            [ngClass]="editMode ? 'col-md-1' : 'col-md-2'">
            {{'OrderItem.quantity' | translate}}</div>
          <div class="col-md-2 single-heading justify-end">{{'OrderItem.price' | translate}}</div>
          <div class="col-md-2 single-heading justify-end">{{'OrderItem.total' | translate}}</div>
          <div class="col-md-2 single-heading justify-center"
            *ngIf="editMode">
            {{'OrderItem.action' | translate}}
          </div>
        </div>
        <div class="row item-data" *ngFor="let item of record.orderItems; let index = index">
          <div class="single-data"
            [ngClass]="editMode ? 'col-md-3' : 'col-md-4'">
            <div *ngIf="!item.productIsEditable">{{item.product?.name}}</div>
            <div *ngIf="item.productIsEditable">
              <select name="product" [(ngModel)]="selectedProductId" (ngModelChange)="selectProduct(item)"
                required="required" #product="ngModel">
                <option [value]="product.id" *ngFor="let product of products">
                  {{product.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-2 single-data">
            <div *ngIf="!item.serviceIsEditable">{{item.service?.name}}</div>
            <div *ngIf="item.serviceIsEditable">
              <select name="service" [(ngModel)]="selectedServiceId" required="required" #service="ngModel">
                <option [value]="service.id" *ngFor="let service of services">
                  {{service.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="single-data justify-end"
            [ngClass]="editMode ? 'col-md-1' : 'col-md-2'">
            <div>{{item.quantity}}</div>
          </div>
          <div class="col-md-2 single-data justify-end">&#3647; {{item.subTotal | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{item.totalPrice | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data justify-center"
            *ngIf="editMode">
            <button class="btn btn-primary btn-xs"
              (click)="editOrderItem(item, index)">{{'OrderItem.edit' | translate}}</button>
            <button class="btn btn-danger btn-xs margin-left-10"
              (click)="removeOrderItem(item, index)">{{'OrderItem.delete' | translate}}</button>
          </div>
        </div>
        <div class="row item-data"
          *ngIf="editMode">
          <div class="col-md-3 single-data">
            <button class="btn btn-primary" (click)="addOrderItem()">{{'OrderItem.add' | translate}}</button>
          </div>
          <div class="col-md-2 single-data"></div>
          <div class="col-md-1 single-data"></div>
          <div class="col-md-2 single-data"></div>
          <div class="col-md-2 single-data"></div>
          <div class="col-md-2 single-data"></div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length > 0">
          <div class="single-data justify-end"
            [ngClass]="editMode ? 'col-md-8' : 'col-md-10'">
            {{'OrderItem.subTotal' | translate}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{record.subTotal | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data"
            *ngIf="editMode">
          </div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length > 0">
          <div class="single-data justify-end"
            [ngClass]="editMode ? 'col-md-8' : 'col-md-10'">
            {{ 'Order.'+record.deliveryType | translate}} {{'OrderItem.charges' | translate}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{record.deliveryPrice | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data"
            *ngIf="editMode">
          </div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length > 0">
          <div class="single-data justify-end"
            [ngClass]="editMode ? 'col-md-8' : 'col-md-10'">
            {{'OrderItem.logisticsCharges' | translate}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{record.logisticCharge | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data"
            *ngIf="editMode">
          </div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length > 0">
          <div class="single-data justify-end"
            [ngClass]="editMode ? 'col-md-8' : 'col-md-10'">
            {{'OrderItem.tax' | translate}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{record.tax | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data"
            *ngIf="editMode">
          </div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length > 0">
          <div class="single-data justify-end"
            [ngClass]="editMode? 'col-md-8' : 'col-md-10'">
            {{'OrderItem.grandTotal' | translate}}</div>
          <div class="col-md-2 single-data justify-end">&#3647; {{record.totalPrice | number : '1.2-2'}}</div>
          <div class="col-md-2 single-data"
            *ngIf="editMode">
          </div>
        </div>
        <div class="row item-data" *ngIf="record.orderItems?.length === 0">
          <div class="single-data col-md-12 justify-center"> {{'Order.NO_ORDER_ITEMS' | translate}}</div>
        </div>
      </div>
      <div class="item-button-container">
        <button
          *ngIf="editMode"
          class="btn btn-primary margin-right-10" (click)="saveOrderItems()">{{'OrderItem.save' | translate}}</button>
        <button class="btn btn-info" style="width: 65px;"
          [routerLink]="['/dashboard/order']">{{'OrderItem.back' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div id="assignDriver" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignDriver" aria-hidden="true"
  data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showDriverAssignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.assignDriver' | translate}}</div>
        <div class="custom-select">
          <div class="select-label">{{'Modal.assignTo' | translate}}:</div>
          <ng-select class="custom-ng-select" [items]="drivers" bindLabel="fullName" bindValue="id" name="driver"
            #driver="ngModel" [(ngModel)]="selectedDriverId" (change)="selectDriver()" required="required"
            placeholder="{{'Order.SELECT_DRIVER' | translate}}">
          </ng-select>
        </div>
        <div class="workload" *ngIf="selectedDriverId">
          <div class="name">{{selectedDriver?.firstName}}'s {{'Order.WORKLOAD' | translate}}</div>
          <div class="value">{{selectedDriver?.workLoad}}</div>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="assignDriver()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelDriverAssignment()">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="adminNote" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminNote" aria-hidden="true"
  data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showAdminNoteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.enterNote' | translate}}</div>
        <div class="custom-textarea">
          <textarea [(ngModel)]="record.adminNote" placeholder="{{'CUSTOMER.ADD_NOTES_HERE' | translate}}"></textarea>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="changeNote()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelAdminNote()"
            data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="statusModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="statusModal" aria-hidden="true"
  data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showstatusModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.changeStatus' | translate}}</div>
        <div class="custom-select">
          <div class="select-label">{{'Modal.newStatus' | translate}}:</div>
          <select class="custom-selectbox" name="status" [(ngModel)]="record.status" (ngModelChange)="selectStatus()"
            required="required" #status="ngModel">
            <option [value]="status.status" *ngFor="let status of orderStatuses">
              {{status.name}}
            </option>
          </select>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="saveStatus()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelStatusAssignment()"
            data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="orderItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderItemModal"
  aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showOrderItemModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.editItem' | translate}}</div>
        <div class="custom-select">
          <div class="select-label">{{'Modal.service' | translate}}:</div>
          <select class="custom-selectbox" name="service" [(ngModel)]="selectedOrderItem.serviceId"
            (ngModelChange)="selectOrderItemEntity(selectedOrderItem, true, 'SERVICE')" required="required"
            #service="ngModel">
            <option [value]="service.id" *ngFor="let service of services">
              {{service.name}}
            </option>
          </select>
        </div>
        <div class="custom-select">
          <div class="select-label">{{'Modal.product' | translate}}:</div>
          <select class="custom-selectbox" name="product" [(ngModel)]="selectedOrderItem.productId"
            (ngModelChange)="selectOrderItemEntity(selectedOrderItem, true, 'PRODUCT')" required="required"
            #product="ngModel">
            <option [value]="product.id" *ngFor="let product of products">
              {{product.name}}
            </option>
          </select>
        </div>
        <div class="custom-modal-data">
          <div class="modal-key">{{'Modal.quantity' | translate}}:</div>
          <div class="modal-value">
            <input type="number" [(ngModel)]="selectedOrderItem.quantity" (keyup)="calculateOrderItemPrice()"
              (change)="calculateOrderItemPrice()">
          </div>
        </div>
        <div class="custom-modal-data"
          *ngIf="selectedOrderItem.quantity && selectedOrderItem.productId && selectedOrderItem.serviceId">
          <div class=" modal-key">{{'Modal.totalPrice' | translate}}:</div>
          <div class="modal-value">{{selectedOrderItem.totalPrice}}</div>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="saveUpdatedOrderItem()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelOrderItemEdit()"
            data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dateSlotModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dateSlotModal"
  aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false" *ngIf="showDateSlotModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body assign-modal">
        <div class="modal-heading">{{'Modal.changeDateTime' | translate}}</div>
        <div class="row timeslots">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="margin-top-5">
              <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="pickerDate"
                (dateChanged)="onPickupDateChanged(null, $event)" required>
              </my-date-picker>
            </div>
          </div>
          <div *ngIf="currentDateModalType === 'PICKUP'" class="col-md-7 col-sm-7 col-xs-12 no-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 timeslot" *ngFor="let slot of pickupSlots"
              (click)="onPickupSlotSelection(slot)">
              <div class="time" [ngClass]="{'slot-selected': record.pickupSlot === slot.id}">{{slot.slug}}</div>
            </div>
          </div>
          <div *ngIf="currentDateModalType === 'DELIVERY'" class="col-md-7 col-sm-7 col-xs-12 no-padding">
            <div class="col-md-6 col-sm-6 col-xs-6 timeslot" *ngFor="let slot of deliverySlots"
              (click)="onDeliverySelection(slot)">
              <div class="time" [ngClass]="{'slot-selected': record.deliverySlot === slot.id}">{{slot.id}}</div>
            </div>
          </div>
        </div>
        <div class="modal-buttons">
          <button class="primary-button" (click)="updateDate()">{{'Modal.ok' | translate}}</button>
          <button class="secondary-button" (click)="cancelSlotChange()"
            data-dismiss="modal">{{'Modal.cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
