.map-container {
  width: 100%;
  height: 360px;

  #customerMap,
  #driverMap {
    width: 100%;
    height: 100%;
  }
}

.change-button {
  background: #337ab7;
  color: #ffffff;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  height: 32px;
  outline: none;
  max-width: 100%;
  white-space: normal;
  line-height: 1.1;
}

.edit-button {
  background: #337ab7;
  color: #ffffff;
  border: none;
  width: 60px;
  height: 28px;
  border-radius: 6px;
  outline: none;
  margin: 0 2px;
  padding: 0;
}

.delete-button {
  @extend .edit-button;
  background: #ea4e4e;
}

.back-button {
  @extend .edit-button;
  background: #34c1f1;
}

.item-button-container {
  margin: 16px 0px;
  text-align: right;

  button {
    width: 100px;
  }

  .button-large {
    font-size: 20px;
    height: 40px;
    margin: 0 0 0 16px;
  }
}

.entity-label {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 0 8px;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  white-space: normal;
}

.entity-value {
  @extend .entity-label;
  text-transform: initial;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;

  .entity-sub-value {
    border-right: 1px solid rgba(0, 0, 0, .2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;

    &:last-child {
      border-right: none;
    }
  }
}

.status-data {
  color: #fb6262;
  margin-right: 20px;
}

.status-delivered {
  @extend .status-data;
  color: #629e62;
  font-size: 16px;
  font-weight: 600;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.order-items {
  .block-heading {
    font-size: 25px;
    font-weight: 600;
  }

  .items {
    margin-top: 12px;

    .item-heading {
      padding: 0 15px;

      .single-heading,
      .single-data {
        border: 1px solid rgba(0, 0, 0, .2);
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        border-right: 0;
        background: rgba(0, 0, 0, 0.03);

        &:last-child {
          border-right: 1px solid rgba(0, 0, 0, .2);
        }
      }

    }

    .item-data {
      @extend .item-heading;

      .single-data {
        border-top: 0;
        font-size: 13px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
      }
    }
  }
}

.order-info {
  padding: 0 30px;
  margin: 12px 0;
}

.timeslots {
  margin: 20px auto;

  .timeslot {
    display: table;
    margin: 0 0 8px;
    cursor: pointer;
    padding: 4px;

    .time {
      text-align: center;
      height: 40px;
      display: table-cell;
      vertical-align: middle;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
      border-radius: 6px;
      white-space: pre;
      font-size: 14px;
      padding: 0 4px;
      letter-spacing: 0;
    }

    .slot-selected {
      background: #337ab7;
      color: #ffffff;
      font-weight: 600;
      user-select: none;
    }
  }
}

.map-label {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
  line-height: 1;
}

.sameday {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E64571;
  font-weight: 900;

  .name {
    line-height: 1;
    white-space: pre;
  }

  img {
    width: 44px;
    margin-right: 8px;
  }
}

.express {
  color: #00A2E8;
  @extend .sameday;
}

.address-value{
  white-space: initial;
}

.entity-sub-value{
  white-space: initial;
}
