/* Padding classes */

.padding-16 {
    padding: 16px !important;
}

.margin-auto {
    margin: auto;
}

/* Margin left classes */

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-left-28 {
    margin-left: 28px !important;
}


/* Margin right classes */

.margin-right-0 {
    margin-right: 0 !important;
}


/* Margin top classes */
.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-16 {
    margin-top: 16px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-24 {
    margin-top: 24px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-48 {
    margin-top: 48px !important;
}

.margin-top-72 {
    margin-top: 72px !important;
}


/* Margin bottom classes */

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}


/* Margin horizontal classes */

.margin-horizontal-8 {
    margin: 0 8px !important;
}


/* Margin vertical classes */

.margin-vertical-8 {
    margin: 8px 0 !important;
}


/* Padding left classes */


/* Padding right classes */


/* Padding top classes */

.padding-top-16 {
    padding-top: 16px !important;
}


/* Padding bottom classes */

.padding-bottom-16 {
    padding-bottom: 16px !important;
}


/* Padding horizontal classes */

.padding-horizontal-24 {
    padding: 0 24px !important;
}


/* Padding horizontal classes */


/* Border Radius  classes */

.border-radius-24 {
    --border-radius: 24px !important;
    border-radius: 24px !important;
}


/* Other Custom  classes */

.width-100 {
    width: 100% !important;
}

[no-padding] {
    padding: 0 !important;
}

[absolute] {
    position: absolute !important;
}

.is-invalid {
    border: 2px solid red !important;
    box-shadow: none !important;
}

.is-invalid-float {
    ion-input {
        border-bottom: 2px solid red !important;
    }
}

.error-text {
    font-size: 1rem;
    width: 100%;
    color: red;
    animation: error-text-animation;
    animation-duration: .8s;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    margin-bottom: 4px;
}

.flexible-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.order-detail-container {
    margin-top: 10px;

    .order-number {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 18px;
        line-height: 21px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 135px);
    }

    .order-date {
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: 135px;
    }
}

.delivery-preview {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.delivery-payment-preview {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 14px;
    line-height: 16px;

    span, ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    ion-icon {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.delivery-user-detail-info {
    font-family: Nunito-SemiBold, sans-serif;
    color: #1D1E1E;
    font-size: 12px;
    line-height: 22px;

    .delivery-user-info {
        .user-name {
            font-family: Nunito-Bold, sans-serif;
            color: #000000;
            font-size: 16px;
            line-height: 26px;
            text-transform: capitalize;
        }
    }
}

.order-delivery-date {
    margin-top: 10px;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;

    span {
        font-family: Nunito-Bold, sans-serif;
    }
}

.order-driver-detail {
    min-height: 250px;
}

.loading-wrapper {
    padding: 11px !important;
    border-radius: 6px !important;
}


.map-all-button,
.map-it-button {
    --background: #005DA8;
    box-shadow: 0px 4px 20px #979191C4;
    border-radius: 6px;
    height: 40px;
    min-width: 100px;
    font-size: 14px;
}

.map-all-button {
    min-width: 150px;
}

.do-it-button {
    --background: #379FF6;
    box-shadow: 0px 4px 20px #979191C4;
    border-radius: 6px;
    height: 40px;
    min-width: 100px;
    font-size: 14px;

    &:disabled,
    &[disabled] {
        border: 1px solid #999999 !important;
        --background: #cccccc !important;
        color: #ffffff !important;
        --opacity: 1 !important;
    }
}

.customer-address {
    color: #91A1B1;
    font-size: 12px;
    line-height: 16px;
    margin-right: 5px;
}

.order-date-label {
    font-family: Nunito-Bold, sans-serif;
    font-size: 21px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    position: relative;

    span, ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .left-arrow-icon {
        margin-right: 10px;
        color: #005DA8 !important;
        font-size: 28px;
    }

    .right-arrow-icon {
        margin-left: 10px;
        color: #005DA8 !important;
        font-size: 28px;
    }

    .calender-icon {
        position: absolute;
        right: 0px;
        top: 2px;
        color: #005DA8 !important;
        font-size: 28px;
    }
}

.margin-right-28 {
    margin-right: 28px !important;
}