ion-content {
    .main-container {
        .custom-label-item {
            ion-label {
                font-size: 12px;
                line-height: 14px;
                white-space: normal;

                span {
                    color: var(--app-hyperlink-text-color);
                    cursor: pointer;
                }
            }

            .terms-label {
                color: inherit !important;
                line-height: 14px;
                text-decoration: underline;
            }
        }
    }
}

.input-cover {
    display: none;
}