<ion-content class="register-page">
    <ion-icon class="register-back-button" (click)="back()" icon="md-arrow-back"
              *ngIf="view === 'DETAIL_INFO'"></ion-icon>
    <div class="flexible-content">
        <div class="main-container">
            <div class="page-header">
                <ion-label class="title">{{'PAGES.REGISTRATION.HEADING'| translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.REGISTRATION.SUB_HEADING'| translate}}</ion-label>
            </div>
            <div *ngIf="view==='BASIC_INFO'" class="margin-top-20">
                <form name="registerForm1" novalidate="novalidate" #registerForm1="ngForm" autocomplete="off"
                      [mustMatch]="['password', 'confirmPassword']">
                    <div class="custom-radio-group-container">
                        <ion-radio-group #locality="ngModel" [(ngModel)]="user.locality" name="locality"
                                         autocomplete="off" required="required">
                            <ion-label class="radio-header-label margin-right-10">
                                {{'PAGES.REGISTRATION.LABEL.ARE_YOU'| translate}}</ion-label>
                            <div class="custom-radio-container">
                                <ion-item class="custom-radio-item">
                                    <ion-label>{{'PAGES.REGISTRATION.LABEL.RESIDENT'| translate}}</ion-label>
                                    <ion-radio
                                        [ngClass]="{ 'is-invalid-radio': onClickValidationBasicForm && locality?.errors?.required }"
                                        class="custom-ion-radio" slot="start" value="RESIDENT" mode="md" checked>
                                    </ion-radio>
                                </ion-item>
                                <!-- <ion-item class="custom-radio-item">
                                     <ion-label>{{'PAGES.REGISTRATION.LABEL.TOURIST'| translate}}</ion-label>
                                     <ion-radio
                                         [ngClass]="{ 'is-invalid-radio': onClickValidationBasicForm && locality?.errors?.required }"
                                         class="custom-ion-radio" slot="start" value="TOURIST" mode="md"></ion-radio>
                                 </ion-item>-->
                            </div>
                        </ion-radio-group>
                    </div>
                    <ion-item class=" custom-input-item">
                        <ion-input type="text" #firstName="ngModel" name="firstName"
                                   [ngClass]="{ 'is-invalid': onClickValidationBasicForm && firstName?.errors?.required }"
                                   placeholder="{{'USER_ACCOUNT_INPUT.FIRST_NAME'| translate}}"
                                   [(ngModel)]="user.firstName"
                                   autocomplete="off" required="required" pattern="^[a-zA-Z]{2,20}$">
                            <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="firstName.touched && firstName?.errors">
                        <div *ngIf="firstName?.errors?.required" class="error-text">
                            {{'USER_ACCOUNT_INPUT_ERROR.FIRST_NAME_REQUIRED'| translate}}
                        </div>
                        <div *ngIf="firstName?.errors?.pattern" class="error-text">
                            {{'USER_ACCOUNT_INPUT_ERROR.MIN_MAX_ALPHANUMERIC'| translate}}
                        </div>
                    </div>
                    <ion-item class="custom-input-item">
                        <ion-input type="text" #lastName="ngModel" name="lastName"
                                   [ngClass]="{ 'is-invalid': onClickValidationBasicForm && lastName?.errors?.required }"
                                   placeholder="{{'USER_ACCOUNT_INPUT.LAST_NAME'| translate}}"
                                   [(ngModel)]="user.lastName"
                                   autocomplete="off" required="required" pattern="^[a-zA-Z]{2,20}$">
                            <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="lastName.touched && lastName?.errors">
                        <div *ngIf="lastName?.errors?.required" class="error-text">
                            {{'USER_ACCOUNT_INPUT_ERROR.LAST_NAME_REQUIRED'| translate}}
                        </div>
                        <div *ngIf="lastName?.errors?.pattern" class="error-text">
                            {{'USER_ACCOUNT_INPUT_ERROR.MIN_MAX_ALPHANUMERIC'| translate}}
                        </div>
                    </div>
                    <ion-item class="custom-input-item">
                        <ion-input type="text" #nickName="ngModel" name="nickName"
                                   placeholder="{{'USER_ACCOUNT_INPUT.NICK_NAME'| translate}}"
                                   [(ngModel)]="user.nickName" autocomplete="off">
                            <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <ion-item class="custom-calender-item">
                        <fa-icon [icon]="['fas', 'user-circle']" slot="start"></fa-icon>
                        <ion-datetime displayFormat="DD MMM YYYY" #dob="ngModel" name="dob" [(ngModel)]="user.dob"
                                      placeholder="{{'PAGES.REGISTRATION.LABEL.DOB'| translate}}" autocomplete="off"
                                      [max]="maxDate" required="required">
                        </ion-datetime>
                        <fa-icon [icon]="['far', 'calendar']" slot="end"></fa-icon>
                    </ion-item>
                    <div class="custom-radio-group-container">
                        <ion-radio-group #gender="ngModel" [(ngModel)]="user.gender" name="gender" autocomplete="off"
                                         required="required">
                            <ion-label class="radio-header-label">
                                {{'PAGES.REGISTRATION.LABEL.GENDER'| translate}}</ion-label>
                            <div class="custom-radio-container inline">
                                <ion-item class="custom-radio-item">
                                    <ion-label>{{'PAGES.REGISTRATION.LABEL.MALE'| translate}}</ion-label>
                                    <ion-radio
                                        [ngClass]="{ 'is-invalid-radio': gender.touched && gender?.errors?.required }"
                                        class="custom-ion-radio" slot="start" value="MALE" mode="md" checked>
                                    </ion-radio>
                                </ion-item>
                                <ion-item class="custom-radio-item">
                                    <ion-label>{{'PAGES.REGISTRATION.LABEL.FEMALE'| translate}}</ion-label>
                                    <ion-radio
                                        [ngClass]="{ 'is-invalid-radio': gender.touched && gender?.errors?.required }"
                                        class="custom-ion-radio" slot="start" value="FEMALE"
                                        mode="md"></ion-radio>
                                </ion-item>
                            </div>
                        </ion-radio-group>
                    </div>
                </form>
                <ion-item class="custom-button-2-item">
                    <ion-button (click)="next(registerForm1.form.valid)" [disabled]="!registerForm1.form.valid">
                        {{'FORM_BUTTONS.NEXT'| translate}}</ion-button>
                </ion-item>
                <div class="clearfix"></div>
                <ion-item class="custom-label-item">
                    <ion-label>{{'PAGES.REGISTRATION.LABEL.EXISTING_USER'| translate}}
                        <span [routerLink]="['/login']"
                              routerDirection="root">{{'PAGES.REGISTRATION.LABEL.LOG_IN'| translate}}</span>
                    </ion-label>
                </ion-item>
                <div class="clearfix"></div>
            </div>
            <div *ngIf="view==='DETAIL_INFO'">
                <form name="registerForm2" novalidate="novalidate" #registerForm2="ngForm" autocomplete="off"
                      [mustMatch]="['password', 'confirmPassword']">
                    <div class="custom-phone-item">
                        <div class="custom-select-item-2"
                             [ngClass]="{ 'is-invalid': countryCode.touched && countryCode?.errors?.required }">
                            <ion-select [interfaceOptions]="actionSheetOptions" interface="action-sheet"
                                        #countryCode="ngModel" name="countryCode"
                                        [(ngModel)]="user.countryCode" autocomplete="off"
                                        [required]="user.locality === 'RESIDENT'"
                                        [cancelText]="'PAGES.COMMON.LABEL.CANCEL'  | translate">
                                <!--<ion-select-option value="+1">+1</ion-select-option>-->
                                <ion-select-option value="+66">+66</ion-select-option>
                                <!--<ion-select-option value="+91">+91</ion-select-option>
                                <ion-select-option value="+228">+228</ion-select-option>
                                <ion-select-option value="+505">+505</ion-select-option>
                                <ion-select-option value="+1-649">+1-649</ion-select-option>-->
                            </ion-select>
                        </div>
                        <ion-item class="custom-input-item">
                            <ion-input type="tel" inputmode="tel" #mobileNo="ngModel" name="mobileNo"
                                       [ngClass]="{ 'is-invalid': mobileNo.touched && (mobileNo?.errors?.required || mobileNo?.errors?.minlength) }"
                                       placeholder="987654321" minlength="10"
                                       maxlength="10" [(ngModel)]="user.mobileNo"
                                       [brmasker]="{mask:'0000000000', len:10, type:'num'}" autocomplete="off"
                                       [required]="user.locality === 'RESIDENT'" (ionChange)="mobileZeroError=false">
                                <fa-icon [icon]="['fas', 'phone']" rotate="90" slot="end"></fa-icon>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="mobileNo.touched && (mobileNo?.invalid || countryCode?.invalid)"
                         class="error-text">
                        <span
                            *ngIf="mobileNo?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.MOBILE_NUMBER_REQUIRED'| translate}}</span>
                        <span
                            *ngIf="mobileNo?.errors?.minlength">{{'USER_ACCOUNT_INPUT_ERROR.MOBILE_NUMBER_DIGITS'| translate}}</span>
                    </div>
                    <div class="error-text">
                        <span
                            *ngIf="mobileZeroError">{{'USER_ACCOUNT_INPUT_ERROR.MOBILE_NUMBER_ZERO'| translate}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <ion-item class="custom-input-item">
                        <ion-input type="email" #email="ngModel" name="email"
                                   [ngClass]="{ 'is-invalid': email.touched && (email?.errors?.required || email?.errors?.pattern) }"
                                   placeholder="{{'USER_ACCOUNT_INPUT.EMAIL'| translate}}" [(ngModel)]="user.email"
                                   autocomplete="off" required="required"
                                   pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                            <fa-icon [icon]="['fas', 'envelope']" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="email.touched && email?.invalid" class="error-text">
                        <span
                            *ngIf="email?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_REQUIRED'| translate}}</span>
                        <span
                            *ngIf="email?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_NOT_VALID'| translate}}</span>
                    </div>
                    <ion-item class="custom-input-item"
                              [ngClass]="{ 'is-invalid': password.touched && (password?.errors?.required || password?.errors?.minlength || password?.errors?.pattern) }">
                        <ion-input type="password" name="password"
                                   placeholder="{{'USER_ACCOUNT_INPUT.PASSWORD'| translate}}" minlength="8"
                                   #password="ngModel"
                                   [(ngModel)]="user.password"
                                   pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                                   autocomplete="off"
                                   required="required">
                            <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                        </ion-input>
                        <fa-icon [icon]="['fas', 'info-circle']" slot="end"
                                 (click)="popoverService?.passwordRulePopover($event)">
                        </fa-icon>
                    </ion-item>
                    <div *ngIf="password.touched && password.invalid" class="error-text">
                        <span *ngIf="password.errors.required">
                            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_REQUIRED'| translate}}
                        </span>
                        <span *ngIf="password.errors.minlength">
                            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
                        </span>
                        <span *ngIf="password.errors.pattern && !password.errors.minlength">
                            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
                        </span>
                    </div>
                    <ion-item class="custom-input-item">
                        <ion-input type="password" name="confirmPassword"
                                   [ngClass]="{ 'is-invalid': confirmPassword.touched && (confirmPassword?.errors?.required || confirmPassword?.errors?.minlength || confirmPassword?.errors?.mustMatch) }"
                                   placeholder="{{'USER_ACCOUNT_INPUT.COMFIRM_PASSWORD'| translate}}" minlength="8"
                                   #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" autocomplete="off"
                                   required="required">
                            <fa-icon [icon]="['fas', 'lock']" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="error-text">
                        <span *ngIf="confirmPassword?.errors?.required">
                            {{'USER_ACCOUNT_INPUT_ERROR.CONFIRM_PASSWORD_REQUIRED'| translate}}
                        </span>
                        <span *ngIf="confirmPassword.errors.minlength || confirmPassword.errors?.mustMatch">
                            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_MISMATCH'| translate}}
                        </span>
                        <span *ngIf="confirmPassword.errors.pattern && !confirmPassword.errors.minlength">
                            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
                        </span>
                    </div>
                    <div (click)="openTermPopup()">
                        <ion-checkbox
                            [ngClass]="{ 'is-invalid-checkbox': onClickValidationDetailForm && (agreementAccepted?.errors?.required || !user.agreementAccepted) }"
                            #agreementAccepted="ngModel" name="agreementAccepted" slot="start"
                            [(ngModel)]="user.agreementAccepted" mode="md" autocomplete="off" required="required"
                            disabled="disabled"></ion-checkbox>
                        <ion-label class="agree-checkbox-label">{{'PAGES.REGISTRATION.LABEL.AGREED'| translate}}
                            <span><b>{{'PAGES.REGISTRATION.LABEL.TERMS_OF_SERVICE'| translate}}</b></span>
                        </ion-label>
                    </div>
                </form>
                <ion-item class="custom-button-2-item">
                    <ion-button (click)="register(registerForm2.form.valid)"
                                [disabled]="!registerForm2.form.valid || !user.agreementAccepted">
                        {{'FORM_BUTTONS.SUBMIT'| translate}}</ion-button>
                </ion-item>
                <ion-item class="custom-label-item">
                    <ion-label>{{'PAGES.REGISTRATION.LABEL.EXISTING_USER'| translate}}
                        <span [routerLink]="['/login']"
                              routerDirection="root">{{'PAGES.REGISTRATION.LABEL.LOG_IN'| translate}}</span>
                    </ion-label>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>