<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="main-fav-button" (click)="call()">
        <ion-img src="/assets/icon/admin-call-icon.png"></ion-img>
    </ion-fab-button>
</ion-fab>