<!--<div class="login-box-container">
  <div class="col-md-12 no-padding" id="loginContainer">
    <div class="col-md-12 no-padding login-logo-container">
      <img src="/assets/images/logo.png" class="img-responsive login-logo">
    </div>
    <form class="login-form" #recoverForm="ngForm" novalidate="novalidate">
      <h3 class="margin-top-10 margin-bottom-20">{{"RECOVER_PASSWORD" | translate}}</h3>
      <div class="form-item" [ngClass]="{'has-error':!password.valid && onClickValidation}">
        <h5>{{"PASSWORD" | translate}}</h5>
        <input class="form-control" type="password" placeholder="{{'ENTER' | translate}} {{'NEW_PASSWORD' | translate}}"
               name="password" #password="ngModel" [(ngModel)]="data.password" required="required" autofocus>
      </div>
      <div class="form-item margin-top-20"
           [ngClass]="{'has-error':(!confirmPassword.valid && onClickValidation) || data.confirmPassword !== data.password} ">
        <h5>{{"CONFIRM_PASSWORD" | translate}}</h5>
        <input class="form-control" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}"
               name="confirmPassword"
               #confirmPassword="ngModel" [(ngModel)]="data.confirmPassword" required="required">
      </div>
      <div class="clearfix"></div>
      <div class="margin-top-20">
        <button class="btn btn-primary site-button"
                (click)="resetPassword(recoverForm.form.valid)">{{"RECOVER_PASSWORD" | translate}}</button>
      </div>
    </form>
  </div>
</div>-->


<div id="user-login">
  <div class="container-fluid">
    <div class="row">
      <form autocomplete="off" novalidate="novalidate" #recoverForm="ngForm">
        <div class="col-md-8 col-xs-12 col-sm-7">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="inner-widget display-align">
                <div class="img">
                  <img src="assets/images/logo-full.png" class="img-responsive"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-5 bg-color">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="inner-widget">
                <div class="logo">
                  <img src="assets/images/logo.png" class="img-responsive"/>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row" id="email-verification">
            <div class="col-md-12 text-center">
              <div class="inner-widget">
                <div class="page-heading-title padding-top-20 padding-bottom-20">
                  <h3>{{"RECOVER_PASSWORD" | translate}}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="form-item" [ngClass]="{'has-error':!password.valid && onClickValidation}">
                <h5>{{"PASSWORD" | translate}}</h5>
                <input class="form-control" type="password"
                       placeholder="{{'ENTER' | translate}} {{'NEW_PASSWORD' | translate}}"
                       name="password" #password="ngModel" [(ngModel)]="data.password" required="required" autofocus>
              </div>
              <div class="form-item margin-top-20"
                   [ngClass]="{'has-error':(!confirmPassword.valid && onClickValidation) || data.confirmPassword !== data.password} ">
                <h5>{{"CONFIRM_PASSWORD" | translate}}</h5>
                <input class="form-control" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}"
                       name="confirmPassword"
                       #confirmPassword="ngModel" [(ngModel)]="data.confirmPassword" required="required">
              </div>
              <button class="btn btn-primary site-button margin-top-20 pull-right"
                      (click)="resetPassword(recoverForm.form.valid)">{{"RECOVER" | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

