<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/checked.svg">
            </div>
            <div class="page-header" *ngIf="type==='REGISTER'">
                <ion-label class="title">{{'PAGES.OTP_VERIFICATION.REGISTRATION.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.OTP_VERIFICATION.REGISTRATION.EMAIL_HEADING' | translate}}
                </ion-label>
                <ion-label class="sub-title">{{email}}</ion-label>
            </div>
            <div class="page-header" *ngIf="type==='PHONE_NUMBER_CHANGE'">
                <ion-label class="title">{{'PAGES.SUCCESS.LABEL.PHONE_NUMBER_CHANGE' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.SUCCESS.LABEL.OK_HEADING' | translate}}
                </ion-label>
                <ion-label class="sub-title">{{email}}</ion-label>
            </div>
            <ion-item class="custom-button-item" *ngIf="type==='REGISTER'">
                <ion-button [routerLink]="['/login']" routerDirection="root">
                    {{'FORM_BUTTONS.OK' | translate}}
                </ion-button>
            </ion-item>
            <ion-item class="custom-button-item" *ngIf="type==='PHONE_NUMBER_CHANGE'">
                <ion-button [routerLink]="['/account/settings']" routerDirection="root">
                    {{'FORM_BUTTONS.OK' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>