<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Product.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/product']">{{'Product.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'Product.objName' | translate}}
        </li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{product.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #productForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-error':productGender.invalid && onClickValidation}">
            <label class="control-label">
              {{"Product.gender" | translate}}
            </label>
            <div class="select-width">
              <select class="form-control" name="productGender" required="required" [(ngModel)]="product.gender"
                #productGender="ngModel">
                <option value="">{{'COMMON.SELECT_OPTION' | translate}}</option>
                <option *ngFor="let filter of filters" [value]="filter.value">
                  {{filter.translatedName|translate}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-error':name.invalid && onClickValidation}">
            <label class="control-label">
              {{"COMMON.Name" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" name="name" required="required" [(ngModel)]="product.name"
                #name="ngModel" placeholder="{{'COMMON.Name' | translate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"Product.image" | translate}}
            </label>
            <div class="image-container">
              <input class="file-input" id="productImageUploaderId" type="file" ng2FileSelect
                [uploader]="productImageUploader" *ngIf="hasFileUploaded(product.image)" />
              <div class="image-preview icon-background add-image-selection" *ngIf="hasFileUploaded(product.image)"
                onclick="$('#productImageUploaderId').click()">
                <img src="/assets/images/plus.png" class="new-image" alt="">
              </div>
              <div *ngFor="let file of product.image" class="image-preview icon-background" [ngClass]="{'hide':file.isDeleted}">
                <img class="preview-image" [src]="file.path" alt="" />
                <i (click)="removeFile(file)" class="fa fa-times remove-icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-error':rank.invalid && onClickValidation}">
            <label class="control-label">
              {{"Product.Rank" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="number" name="rank" required="required" [(ngModel)]="product.rank"
                #rank="ngModel" placeholder="{{'Product.Rank' | translate}}" />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">{{"COMMON.Languages" | translate}}</div>
      <div class="panel-body">
        <form #languageForm="ngForm" novalidate="novalidate">
          <div class="col-md-6 no-padding-left">
            <div class="form-group" [ngClass]="{'has-error':languageId.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"CountryLanguageMapping.languageId" | translate}}
              </label>
              <div class="color-picker-input">
                <select class="form-control select-2" name="languageId" [(ngModel)]="productLanguage.languageId"
                  required="required" #languageId="ngModel">
                  <option [value]="language.id" *ngFor="let language of languages" [hidden]="language.name==='English'">
                    {{language.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding-right">
            <div class="form-group" [ngClass]="{'has-error':iServiceName.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"COMMON.Name" | translate}}
              </label>
              <div class="color-picker-input">
                <input class="form-control" type="text" name="iServiceName" required="required"
                  [(ngModel)]="productLanguage.name" #iServiceName="ngModel"
                  placeholder="{{'COMMON.Name' | translate}}">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 no-padding text-right">
            <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
              (click)="addLanguage(languageForm.valid)" [disabled]="languageForm.invalid">
              <span class="glyphicon glyphicon-plus"></span> &nbsp; {{"COMMON.ADD" | translate}}
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered margin-top-20">
          <thead>
            <th>{{"CountryLanguageMapping.languageId" | translate}}</th>
            <th> {{"COMMON.Name" | translate}}</th>
            <th width="100">{{'COMMON.ACTION' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of product.productLanguages">
              <ng-template [ngIf]="!item.isDeleted">
                <td>{{item.languageName}}</td>
                <td>{{item.name}}</td>
                <td class="text-center">
                  <a title="{{'COMMON.DELETE' | translate}}" class="btn btn-danger btn-xs margin-right-5"
                    (click)="removeLanguage(item)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </ng-template>
            </tr>
            <tr *ngIf="!product.productLanguages || product.productLanguages.length == 0">
              <td class="text-center" colspan="4">{{"COMMON.NO_RECORDS_FOUND" | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">{{"Product.productPrice" | translate}}</div>
      <div class="panel-body">
        <form #priceForm="ngForm" novalidate="novalidate">
          <div class="col-md-6 no-padding-left">
            <div class="form-group" [ngClass]="{'has-error':serviceId.invalid && onClickPriceValidation}">
              <label class="control-label">
                {{"ProductPrice.serviceId" | translate}}
              </label>
              <div class="color-picker-input">
                <select class="form-control select-2" name="serviceId" [(ngModel)]="productPrice.serviceId"
                  required="required" #serviceId="ngModel">
                  <option value="undefined">{{'COMMON.SELECT_OPTION' | translate}}</option>
                  <option [value]="service.id" *ngFor="let service of services">
                    {{service.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding-right">
            <div class="form-group" [ngClass]="{'has-error':iPrice.invalid && onClickPriceValidation}">
              <label class="control-label">
                {{"ProductPrice.price" | translate}}
              </label>
              <div class="color-picker-input">
                <input class="form-control" type="text" name="iPrice" required="required"
                  [(ngModel)]="productPrice.price" #iPrice="ngModel" appTwoDigitDecimaNumber
                  placeholder="{{'ProductPrice.price' | translate}}">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 no-padding text-right">
            <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
              (click)="addPrice(priceForm.valid)" [disabled]="priceForm.invalid">
              <span class="glyphicon glyphicon-plus"></span>&nbsp; {{"COMMON.ADD" | translate}}
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered margin-top-20">
          <thead>
            <th>{{"ProductPrice.serviceId" | translate}}</th>
            <th width="200"> {{"ProductPrice.price" | translate}}</th>
            <th width="100">{{'COMMON.ACTION' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of product.productPrices">
              <ng-template [ngIf]="!item.isDeleted">
                <td>{{item.serviceName}}</td>
                <td class="text-right">{{item.price | number:'1.2-2'}} <span>&#3647;</span></td>
                <td class="text-center">
                  <a title="{{'COMMON.DELETE' | translate}}" class="btn btn-danger btn-xs margin-right-5"
                    (click)="removePrice(item)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </ng-template>
            </tr>
            <tr *ngIf="!product.productPrices || product.productPrices.length == 0">
              <td class="text-center" colspan="4">{{"COMMON.NO_RECORDS_FOUND" | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="saveProduct(productForm.form)" *ngIf="authService.isAccessible('PRODUCT','AddButton')"
        [disabled]="authService.isDisabled('PRODUCT','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
