<ion-item class="header-item" *ngIf="otpType === 'PHONE_NUMBER' || otpType === 'EMAIL'">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
</ion-item>
<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container" *ngIf="otpType === 'REGISTRATION'">
                <img src="../assets/images/hand-image.png">
            </div>
            <div class="banner-container" *ngIf="otpType === 'FORGOT_PASSWORD' || otpType === 'PHONE_NUMBER'">
                <img src="../assets/images/hand-image.png">
            </div>
            <div class="banner-container" *ngIf="otpType === 'EMAIL'">
                <img src="../assets/images/otp_lock.svg">
            </div>
            <div class="page-header" *ngIf="otpType === 'REGISTRATION'">
                <ion-label class="title">{{'PAGES.OTP_VERIFICATION.REGISTRATION_OTP.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.OTP_VERIFICATION.REGISTRATION_OTP.SUB_HEADING' | translate}}
                </ion-label>
            </div>
            <div class="page-header" *ngIf="otpType === 'FORGOT_PASSWORD'">
                <ion-label class="title">{{'PAGES.OTP_VERIFICATION.EMAIL.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.OTP_VERIFICATION.EMAIL.SUB_HEADING' | translate}}
                </ion-label>
            </div>
            <div class="page-header" *ngIf="otpType === 'PHONE_NUMBER'">
                <ion-label class="title">{{'PAGES.OTP_VERIFICATION.PHONE_NUMBER.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.OTP_VERIFICATION.PHONE_NUMBER.SUB_HEADING' | translate}}
                </ion-label>
            </div>
            <div class="page-header" *ngIf="otpType === 'EMAIL'">
                <ion-label class="title">{{'PAGES.OTP_VERIFICATION.EMAIL.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.OTP_VERIFICATION.EMAIL.SUB_HEADING' | translate}}
                </ion-label>
            </div>
            <form name="otpForm" novalidate="novalidate" #otpForm="ngForm" autocomplete="off">
                <ion-item class="form-group custom-input-item">
                    <ion-input type="tel" inputmode="tel" class="form-control" name="otp"
                        [ngClass]="{ 'is-invalid': onClickValidation && (otp?.errors?.required || otp?.errors?.minlength) }"
                        placeholder="{{'USER_ACCOUNT_INPUT.OTP' | translate}}" minlength="6" maxlength="6"
                        #otp="ngModel" [(ngModel)]="userOtpVerification.otp"
                        [brmasker]="{mask:'000000', len:6, type:'num'}" autocomplete="off" required="required">
                        <img src="../assets/images/correct-icon.svg">
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && otp?.invalid" class="error-text">
                    <span *ngIf="otp?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.OTP_REQUIRED' | translate}}</span>
                    <span *ngIf="otp?.errors?.minlength">{{'USER_ACCOUNT_INPUT_ERROR.OTP_DIGITS' | translate}}</span>
                </div>
                <div class="forgot-remember-block">
                    <ion-item class="form-group custom-label-item">
                        <div class="forgot-password" (click)="sendOtp()" *ngIf="nextOTP<=0">
                            <ion-label class="forgot-label">{{'PAGES.OTP_VERIFICATION.LABEL.RESEND_CODE' | translate}}
                            </ion-label>
                        </div>
                        <div class="forgot-password" *ngIf="nextOTP>0">
                            {{getDisplayTime()}}
                        </div>
                    </ion-item>
                </div>
            </form>
            <ion-item class="custom-button-item">
                <ion-button (click)="onSubmit(otpForm.form.valid)">{{'FORM_BUTTONS.PROCEED' | translate}}</ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>