ion-content {
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    --padding-bottom: 16px !important;
    --padding-top: 16px !important;

    .payment-header {
        h4 {
            font-size: 22px;
            line-height: 42px;
            color: #1A1A1A;
        }

        p {
            color: #6C738A;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.custom-pay-button {
    margin-top: 20px;
    background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #807E7EC4;
    border-radius: 6px;
    width: 100%;
    height: 48px;
}