<app-header [header]="header"></app-header>
<ion-content>
    <div class="payment-header">
        <h4 class="category-header">{{'PAGES.PAYMENT.CREDIT.HEADING'|translate}}</h4>
        <p>{{'PAGES.PAYMENT.CREDIT.SUB_HEADING'|translate}}</p>
    </div>
    <form name="orderPaymentForm" class="order-payment-form" novalidate="novalidate" #orderPaymentForm="ngForm"
          autocomplete="off" *ngIf="pickupDeliveryAddress">
        <ion-item [ngClass]="{'is-invalid-float': onClickValidation && (name.errors?.required)}">
            <ion-label position="floating">{{'PAYMENT.CARD_HOLDER_LABEL' | translate}}</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="payment.name" #name="ngModel"
                       required="required" autocomplete="off"></ion-input>
        </ion-item>
        <div class="margin-top-10 error-text" *ngIf="onClickValidation && name.errors?.required">
            {{'PAYMENT.ERROR_CARD_NAME_REQUIRED' | translate}}
        </div>
        <div class="clearfix"></div>
        <div class="margin-top-20">
            <ion-item [ngClass]="{'is-invalid-float': onClickValidation && (card.errors?.required)}">
                <ion-label position="floating">{{'PAYMENT.CARD_NUMBER_LABEL' | translate}}</ion-label>
                <ion-input type="tel" name="card" [(ngModel)]="payment.card" #card="ngModel"
                           required="required"
                           [brmasker]="{mask:'0000-0000-0000-0000', len:19, type:'num'}"
                           maxlength="19"></ion-input>
            </ion-item>
            <div class="margin-top-10 error-text" *ngIf="onClickValidation && card.errors?.required">
                {{'PAYMENT.ERROR_CARD_NUMBER_REQUIRED' | translate}}
            </div>
        </div>
        <ion-row>
            <ion-col>
                <ion-item [ngClass]="{'is-invalid-float': onClickValidation  && (expiry.errors?.required)}">
                    <ion-label position="floating">{{'PAYMENT.CARD_EXPIRY_LABEL' | translate}}</ion-label>
                    <ion-input type="tel" name="expiry" [(ngModel)]="payment.expiry" #expiry="ngModel"
                               required="required"
                               [brmasker]="{mask:'00/00', len:5, type:'num'}"
                               maxlength="5"></ion-input>
                </ion-item>
                <div class="margin-top-10 error-text" *ngIf="onClickValidation && expiry.errors?.required">
                    {{'PAYMENT.ERROR_CARD_EXPIRY_REQUIRED' | translate}}
                </div>
            </ion-col>
            <ion-col>
                <ion-item class="cvv-input-container"
                          [ngClass]="{'is-invalid-float': onClickValidation && (cvv.errors?.required)}">
                    <ion-label position="floating">{{'PAYMENT.CARD_CVV_LABEL' | translate}}</ion-label>
                    <ion-input type="tel" name="cvv" [(ngModel)]="payment.cvv" #cvv="ngModel"
                               required="required"
                               [brmasker]="{mask:'000', len:3, type:'num'}"
                               maxlength="3">
                        <ion-icon name="ios-help-circle" slot="right"></ion-icon>
                    </ion-input>
                </ion-item>
                <div class="margin-top-10 error-text" *ngIf="onClickValidation && cvv.errors?.required">
                    {{'PAYMENT.ERROR_CARD_CVV_REQUIRED' | translate}}
                </div>
            </ion-col>
        </ion-row>
        <div class="margin-top-20" (click)="openTermPopup()">
            <ion-checkbox
                [ngClass]="{ 'is-invalid-checkbox': onClickValidation && (agreementAccepted?.errors?.required || !user.agreementAccepted) }"
                #agreementAccepted="ngModel" name="agreementAccepted" slot="start"
                [(ngModel)]="iAgreementAccepted" mode="md" autocomplete="off" required="required"
                disabled="disabled"></ion-checkbox>
            <ion-label class="agree-checkbox-label">{{'PAGES.REGISTRATION.LABEL.AGREED'| translate}}
                <span><b>{{'PAGES.REGISTRATION.LABEL.TERMS_OF_SERVICE'| translate}}</b></span>
            </ion-label>
            <div class="margin-top-10 error-text" *ngIf="onClickValidation && !iAgreementAccepted">
                {{'USER_ACCOUNT_INPUT_ERROR.ACCEPT_TERM' | translate}}
            </div>
        </div>
        <ion-button class="custom-pay-button" (click)="makePayment(orderPaymentForm.form.valid)">
            {{'PAYMENT.PAY' | translate}}
        </ion-button>
    </form>
</ion-content>