$font-color: #707070;
$font-color-2: #B41D86;
$btn-bg-color: transparent linear-gradient(294deg, #0060AE 0%, #02335B 100%) 0% 0% no-repeat padding-box;
$text-center: center;
$text-right: right;
$text-upper-case: uppercase;

#user-login {
  background: transparent linear-gradient(148deg, #0060AE 0%, #02335B 100%) 0% 0% no-repeat padding-box;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  z-index: 0;

  .bg-color {
    background-color: #fff;
    height: 100vh;
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 175px;
    min-width: 150px;
    margin: 0 auto;
    padding-top: 40px;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .inner-widget {
    position: relative;

    .img {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;

      img {
        width: 50%;
        margin: 0 auto;
      }
    }

    .account-issue-option {
      width: 273px;
      min-width: 273px;
      margin: 0 auto;
      text-align: $text-right;

      h5 {
        color: $font-color;
      }
    }

    .no-account-option {
      text-align: $text-center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h5 {
        color: $font-color;
        text-transform: $text-upper-case;
        font-size: 14px;
        padding-right: 2px;
      }

      .link {
        color: $font-color-2;
        text-transform: $text-upper-case;
        font-size: 14px;
        padding-left: 2px;
      }
    }

    .bottom-line {
      width: 273px;
      min-width: 273px;
      margin: 0 auto;
      padding-top: 175px;

      p {
        font-size: 12px;
        color: $font-color;
        text-align: $text-center;
      }
    }

    .display-align {
      display: flex;
      align-items: center;
      justify-content: center;

      .img {
        width: 20px;
        width: 20px;

      }
    }

    .banner-footer {
      position: absolute;
      bottom: -74px;
      right: 0;
      width: 50%;

      img {

      }
    }

  }
}

.btn-login {
  width: 100%;
  background: $btn-bg-color;
  border-style: none;
  outline: none;
  padding: 9px 0px;
  font-size: 16px;
  margin: 0 auto;
}

.email-validation {
  input {
    color: red !important;

    ::placeholder {
      color: red !important;
    }
  }

  .input-icon {
    i {
      color: red !important;
    }
  }
}

