<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'MessageLog.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/message-log']">{{'MessageLog.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'MessageLog.objName' | translate}}
        </li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{messageLog.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #messagelogForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"MessageLog.userId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="messageLogUserId" [(ngModel)]="messageLog.userId"
              #UserId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"MessageLog.message" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="max" name="messageLogMessage"
                [(ngModel)]="messageLog.message" #Message="ngModel">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"MessageLog.languageId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="messageLogLanguageId"
              [(ngModel)]="messageLog.languageId" #LanguageId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"MessageLog.type" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" minlength="0" maxlength="50" name="messageLogType"
                [(ngModel)]="messageLog.type" #Type="ngModel">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(messagelogForm.form)" *ngIf="authService.isAccessible('MESSAGELOG','AddButton')"
        [disabled]="authService.isDisabled('MESSAGELOG','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
