.password-popover {
    padding: 16px 20px;
    background: var(--app-light-color);


    fa-icon {
        position: absolute;
        right: 20px;
        top: 16px;
        line-height: 1;
        color: #404244;
        font-size: 14px;
    }

    .header {
        font-family: Nunito-SemiBold, sans-serif;
        font-size: 12px;
        line-height: 22px;
        color: #1D1E20;
    }

    .rule {
        font-family: Nunito-Regular, sans-serif;
        font-size: 10px;
        line-height: 22px;
        color: #404244;
    }
}