<div class="password-popover" #passwordPopover>
    <fa-icon [icon]="['fas', 'times']" slot="end" (click)="close()"></fa-icon>
    <div class="header">{{ 'PAGES.COMMON.PASSWORD_RULE.MUST_CONTAIN' | translate}}:</div>
    <div class="rule">{{ 'PAGES.COMMON.PASSWORD_RULE.AT_LEAST' | translate}}</div>
    <div class="rule">{{ 'PAGES.COMMON.PASSWORD_RULE.LOWERCASE' | translate}} ({{passwordRule.lowercaseLetters}})</div>
    <div class="rule">{{ 'PAGES.COMMON.PASSWORD_RULE.UPPERCASE' | translate}} ({{passwordRule.uppercaseLetters}})</div>
    <div class="rule">{{ 'PAGES.COMMON.PASSWORD_RULE.NUMBER' | translate}} ({{passwordRule.numbers}})</div>
    <div class="rule">{{ 'PAGES.COMMON.PASSWORD_RULE.SPECIAL_CHARACTER' | translate}}
        ({{passwordRule.specialCharacters}})</div>
</div>