<ion-item class="header-item">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
</ion-item>
<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/email.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.VERIFY_EMAIL.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.VERIFY_EMAIL.SUB_HEADING' | translate}}</ion-label>
            </div>
            <form name="emailForm" novalidate="novalidate" #emailForm="ngForm" autocomplete="off">
                <ion-item class="form-group custom-input-item">
                    <ion-input type="email" #email="ngModel" name="email"
                        [ngClass]="{ 'is-invalid': onClickValidation && (email?.errors?.required || email?.errors?.pattern) }"
                        placeholder="{{'USER_ACCOUNT_INPUT.EMAIL'| translate}}" [(ngModel)]="emailAddress"
                        autocomplete="off" required="required"
                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                        <fa-icon [icon]="['fas', 'envelope']" slot="end"></fa-icon>
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && email?.invalid" class="error-text">
                    <span
                        *ngIf="email?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_REQUIRED' | translate}}</span>
                    <span
                        *ngIf="email?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_NOT_VALID'| translate}}</span>
                </div>
            </form>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="onSubmit(emailForm.form.valid)">{{'FORM_BUTTONS.SAVE' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>