<div class="extra-page">
  <div class="display-align">
    <div class="img">
      <img src="assets/images/logo-full.png" class="img-responsive"/>
    </div>
  </div>
  <div class="message-container">
    <div class="message-heading">Account Verification</div>
    <div class="message-body">Sorry, Your email verified link has been expired. Please try again</div>
  </div>
</div>
