<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'UserCordinate.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/user-cordinate']">{{'UserCordinate.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}}
          {{'UserCordinate.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{userCordinate.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #usercordinateForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserCordinate.userId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userCordinateUserId" required="required"
              [(ngModel)]="userCordinate.userId" #UserId="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserCordinate.latitude" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userCordinateLatitude" required="required"
              [(ngModel)]="userCordinate.latitude" #Latitude="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserCordinate.longitude" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userCordinateLongitude" required="required"
              [(ngModel)]="userCordinate.longitude" #Longitude="ngModel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              {{"UserCordinate.orderId" | translate}}
            </label>
            <input class="form-control" type="number" min="0" name="userCordinateOrderId"
              [(ngModel)]="userCordinate.orderId" #OrderId="ngModel">
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(usercordinateForm.form)" *ngIf="authService.isAccessible('USERCORDINATE','AddButton')"
        [disabled]="authService.isDisabled('USERCORDINATE','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
