@import '../login/login.page.scss';

.flexible-content {
    height: 100%;
}

ion-content .main-container .banner-container img {
    max-width: 90%;
}

.back-icon {
    color: #DEDEDE;
    margin-right: 5px;
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
}

.back-to-login-text {
    display: inline-block;
    vertical-align: middle;
}