<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/forgot_banner.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.FORGOT_PASSWORD.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.FORGOT_PASSWORD.SUB_HEADING' | translate}}</ion-label>
            </div>
            <form name="forgotForm" novalidate="novalidate" #forgotForm="ngForm" autocomplete="off">
                <ion-item class="form-group custom-input-item">
                    <ion-input type="text" name="userName"
                               [ngClass]="{ 'is-invalid': onClickValidation && userName.invalid }"
                               placeholder="{{'USER_ACCOUNT_INPUT.ENTER_EMAIL_NUMBER' | translate}}" minlength="10"
                               #userName="ngModel" [(ngModel)]="user.userName"
                               autocomplete="off" required="required"
                               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                        <fa-icon [icon]="['fas', 'envelope']" slot="end"></fa-icon>
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && userName?.invalid" class="error-text">
                   <span
                       *ngIf="userName?.errors?.required">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_REQUIRED'| translate}}</span>
                    <span
                        *ngIf="userName?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.EMAIL_NOT_VALID'| translate}}</span>
                </div>
            </form>
            <ion-item class="custom-button-item">
                <ion-button (click)="onSubmit(forgotForm.form.valid)">{{'FORM_BUTTONS.SUBMIT' | translate}}</ion-button>
            </ion-item>
            <ion-item class="custom-label-item">
                <ion-label [routerLink]="['/login']" routerDirection="root">
                    <fa-icon class="back-icon" [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                    <span class="back-to-login-text">{{'PAGES.FORGOT_PASSWORD.LABEL.BACK_TO_LOGIN' | translate}}</span>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>