<ion-item class="header-item">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
</ion-item>
<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/forgot_banner.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">{{'PAGES.CHANGE_PHONE_NUMBER.HEADING' | translate}}</ion-label>
                <ion-label class="sub-title">{{'PAGES.CHANGE_PHONE_NUMBER.SUB_HEADING' | translate}}</ion-label>
            </div>
            <form name="phoneNumberForm" novalidate="novalidate" #phoneNumberForm="ngForm" autocomplete="off">
                <div class="custom-phone-item">
                    <div class="custom-select-item-2"
                         [ngClass]="{ 'is-invalid': onClickValidation && countryCode.invalid }">
                        <ion-select [interfaceOptions]="actionSheetOptions" interface="action-sheet" mode="ios"
                                    #countryCode="ngModel" name="countryCode" [(ngModel)]="user.countryCode"
                                    placeholder="+" autocomplete="off" required="required">
                            <!--<ion-select-option value="+1">+1</ion-select-option>-->
                            <ion-select-option value="+66">+66</ion-select-option>
                            <!--<ion-select-option value="+91">+91</ion-select-option>
                            <ion-select-option value="+228">+228</ion-select-option>
                            <ion-select-option value="+505">+505</ion-select-option>
                            <ion-select-option value="+1-649">+1-649</ion-select-option>-->
                        </ion-select>
                    </div>
                    <ion-item class="custom-input-item">
                        <ion-input type="tel" inputmode="tel"  #mobileNo="ngModel" name="mobileNo"
                                   [ngClass]="{ 'is-invalid': onClickValidation && (mobileNo?.errors?.required || mobileNo?.errors?.minlength) }"
                                   placeholder="{{'USER_ACCOUNT_INPUT.MOBILE_NUMBER'| translate}}" minlength="9"
                                   maxlength="9" [(ngModel)]="user.mobileNo"
                                   [brmasker]="{mask:'000000000', len:9, type:'num'}" autocomplete="off"
                                   required="required">
                            <fa-icon [icon]="['fas', 'phone']" rotate="90" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                </div>
                <div *ngIf="onClickValidation && (mobileNo?.invalid || countryCode?.invalid)" class="error-text">
                    <span
                        *ngIf="countryCode?.errors?.required && !mobileNo?.errors?.required && !mobileNo?.errors?.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.COUNTRY_CODE_REQUIRED'| translate}}</span>
                    <span *ngIf="mobileNo?.errors?.required">
                        {{'USER_ACCOUNT_INPUT_ERROR.MOBILE_NUMBER_REQUIRED'| translate}}</span>
                    <span *ngIf="mobileNo?.errors?.minlength">
                        {{'USER_ACCOUNT_INPUT_ERROR.MOBILE_NUMBER_DIGITS'| translate}}</span>
                </div>
            </form>
            <ion-item class="custom-button-item margin-top-20">
                <ion-button (click)="onSubmit(phoneNumberForm.form.valid)">{{'FORM_BUTTONS.SUBMIT' | translate}}
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>