.order-delivery-date-container {
    padding-left: 10px;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.payment-success {
    background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #27262629;
    border-radius: 6px;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 12px;
    line-height: 16px;
    height: 33px;
    width: 48%;
}

.payment-failure {
    box-shadow: 0px 0px 15px #27262629;
    border-radius: 6px;
    font-family: Nunito-SemiBold, sans-serif;
    font-size: 12px;
    line-height: 16px;
    height: 33px;
    width: 48%;
}
.order-status-container {
    width: 100% !important;
}
