<app-header [header]="header"></app-header>
<ion-content *ngIf="order">
    <div class="ion-padding">
        <div class="order-detail-container">
            <div class="order-number">
                {{'PAGES.ORDER.LABEL.ORDER'|translate}}{{order.orderId}}
            </div>
            <div class="order-date">
                {{'PAGES.ORDER.LABEL.ORDER_PLACED_ON'|translate}}-{{order.createdOn|date:'dd MMM'}}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="custom-card user-tracking-card ion-padding">
            <div class="order-user-name">Hi {{user?.firstName}}</div>
            <div class="user-order-status-container">
                <div class="cloth-label">
                    {{'PAGES.ORDER_DETAIL.YOUR_CLOTH_STATUS'|translate}} {{'PAGES.ORDER_DETAIL.YOUR_CLOTH_STATUS_1'|translate}}
                </div>
                <!-- <div class="order-status-container" *ngIf="order.status==='AWAITING_COLLECTION' || order.status==='ON_THE_WAY'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-pickup.svg"
                        *ngIf="order.status==='AWAITING_COLLECTION'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-delivery.svg"
                        *ngIf="order.status==='ON_THE_WAY'">
                    <span *ngIf="order.status==='AWAITING_COLLECTION'">
                        {{'PAGES.ORDER.LABEL.AWAITING_COLLECTION'|translate}}
                    </span>
                    <span *ngIf="order.status==='ON_THE_WAY'">
                        {{'PAGES.ORDER.LABEL.ON_THE_WAY'|translate}}
                    </span>
                </div> -->
                <div class="clearfix"></div>
                <div class="order-status-container" *ngIf="order.status==='NEW'">
                    <img class="payment-status-icon" src="/assets/icon/status/order-placed.svg">
                    <span>{{'PAGES.ORDER.LABEL.ORDER_PLACED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ASSIGNED_DRIVER'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver.svg">
                    <span>{{'PAGES.ORDER.LABEL.ASSIGNED_DRIVER'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='AWAITING_COLLECTION'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-pickup.svg">
                    <span>{{'PAGES.ORDER.LABEL.AWAITING_COLLECTION'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='COLLECTED'">
                    <img class="payment-status-icon" src="/assets/icon/status/collected.svg">
                    <span>{{'PAGES.ORDER.LABEL.COLLECTED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='CLEANING_IN_PROGRESS'">
                    <img class="payment-status-icon" src="/assets/icon/status/cleaning-In-progress.svg">
                    <span>{{'PAGES.ORDER.LABEL.CLEANING_IN_PROGRESS'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='CLEANING_COMPLETED'">
                    <img class="payment-status-icon" src="/assets/icon/status/cleaning-finished.svg">
                    <span>{{'PAGES.ORDER.LABEL.CLEANING_COMPLETED'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ASSIGNED_DRIVER_FOR_DELIVERY'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver.svg">
                    <span>{{'PAGES.ORDER.LABEL.ASSIGNED_DRIVER_FOR_DELIVERY'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='ON_THE_WAY'">
                    <img class="payment-status-icon" src="/assets/icon/status/driver-delivery.svg">
                    <span>{{'PAGES.ORDER.LABEL.ON_THE_WAY'|translate}}</span>
                </div>
                <div class="order-status-container" *ngIf="order.status==='DELIVERED'">
                    <img class="payment-status-icon" src="/assets/icon/status/delivered.svg">
                    <span>{{'PAGES.ORDER.LABEL.DELIVERED'|translate}}</span>
                </div>
                <!---->
                <div class="order-status-container" *ngIf="order.status==='CANCELLED'">
                    <img class="payment-status-icon" src="/assets/icon/status/cancelled.svg">
                    <span>{{'PAGES.ORDER.LABEL.CANCELLED'|translate}}</span>
                </div>
            </div>
            <ion-button class="track-order-button margin-top-10" (click)="tracking(order)"
                *ngIf="order.status==='AWAITING_COLLECTION' || order.status==='ON_THE_WAY'">
                {{'PAGES.ORDER.BUTTON.TRACK_ORDER'|translate}}
                <ion-icon src="/assets/icon/tracking-button-icon.svg"></ion-icon>
            </ion-button>
            <div class="ion-text-center"
                *ngIf="order.status==='AWAITING_COLLECTION' && order.paymentType==='QRCODE' && order.paymentStatus!=='PAID'">
                <ion-button class="payment-success margin-top-10" (click)="paymentSuccess(order)">
                    DONE
                </ion-button>
                <ion-button color="secondary" class="payment-failure margin-top-10" (click)="paymentFaliure(order)">
                    FAILURE
                </ion-button>
            </div>
        </div>
        <!--<div *ngIf="order.status==='CANCELLED'" class="margin-top-20">
            &lt;!&ndash;<h4 class="category-header">{{'ORDER.LABEL.ORDER_STATUS'|translate}}</h4>&ndash;&gt;
            <div class="order-delivery-date-container">
                <div class="cancel-order-status">
                    <img class="payment-status-icon" src="/assets/icon/status/cancelled.svg">
                    <span>{{'PAGES.ORDER.LABEL.CANCELLED'|translate}}</span>
                </div>
            </div>
        </div>-->
        <div>
            <h4 class="category-header">{{'ORDER.LABEL.ORDER_HISTORY'|translate}}</h4>
            <div class="order-delivery-date-container">
                <div class="order-delivery-date margin-top-20 margin-bottom-20">
                    <b>{{'PAGES.ORDER.LABEL.PICKUP_DATE'|translate}}
                        :</b> {{order.pickupDate|date:'dd MMM yyyy' }} {{order.pickupSlot}}
                </div>
                <div class="order-delivery-date margin-bottom-20">
                    <b>{{'PAGES.ORDER.LABEL.DELIVERY_DATE'|translate}}
                        :</b> {{order.deliveryDate|date:'dd MMM yyyy'}} {{order.deliverySlot}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngFor="let items of order.uiItems">
            <h4 class="category-header">{{items[0].service.name}}</h4>
            <div class="custom-card">
                <div class="cart-item" *ngFor="let item of items">
                    <div class="product-detail-container">
                        <div class="product-icon-container">
                            <img class="product-icon" [src]="item.product.icon">
                        </div>
                        <div class="product-name">
                            {{item.product.name}}
                        </div>
                    </div>
                    <div class="product-prize-container">
                        <div class="prize-container">
                            {{item.quantity}} x {{item.price | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                        <div class="final-amount">
                            {{item.quantity * item.price  | number:'1.2-2'}}<span>&#3647;</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div clas="delivery-container" *ngIf="order">
            <h4 class="category-header">{{'PAGES.COMMON.LABEL.DELIVERY_OPTION'|translate}}</h4>
            <div class="delivery-preview {{order.deliveryType|lowercase}}">
                <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
            </div>
            <div class="delivery-payment-preview">
                <span>{{'PAGES.COMMON.LABEL.PAYMENT_BY'|translate}}</span>
                <ion-icon src="/assets/icon/payment-method-card.svg" *ngIf="order.paymentType==='CARD'"></ion-icon>
                <span *ngIf="order.paymentType==='CARD'">{{'PAGES.COMMON.LABEL.CARD'|translate}}</span>
                <span *ngIf="order.paymentType==='CASH'">&nbsp;{{'PAGES.COMMON.LABEL.CASH'|translate}}</span>
                <span *ngIf="order.paymentType==='QRCODE'">&nbsp;{{'PAGES.COMMON.LABEL.QR_CODE'|translate}}</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="order-amount-detail">
            <ion-row>
                <ion-col size="8">{{'PAGES.COMMON.LABEL.SUBTOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.subTotal| number:'1.2-2'}}<span>&#3647;</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8">
                    {{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}
                    {{'PAGES.COMMON.LABEL.CHARGES'|translate}}
                </ion-col>
                <ion-col size="4" class="order-amount">{{order.deliveryPrice| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="order.logisticCharge">
                <ion-col size="8">{{'PAGES.COMMON.LABEL.LOGISTIC'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.logisticCharge| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
            <ion-row class="total-row">
                <ion-col size="8">{{'PAGES.COMMON.LABEL.TOTAL'|translate}}</ion-col>
                <ion-col size="4" class="order-amount">{{order.totalPrice| number:'1.2-2'}}<span>&#3647;</span>
                </ion-col>
            </ion-row>
        </div>
        <div class="clearfix"></div>
        <div clas="delivery-container">
            <h4 class="category-header">{{'PAGES.COMMON.LABEL.DELIVERY_TO'|translate}}</h4>
            <div class="delivery-user-detail-info">
                <div class="delivery-user-info">
                    <span class="user-name">{{user.fullName}}</span>
                </div>
                <div class="delivery-user-address">
                    {{order.deliveryAddress.houseNumber}} {{order.deliveryAddress.streetNumber}}
                    {{order.deliveryAddress.buildingName}}
                    {{order.deliveryAddress.floor}} {{order.deliveryAddress.unit}}
                    {{order.deliveryAddress.subDistrictName}}, {{order.deliveryAddress.districtName}}
                    , {{order.deliveryAddress.postalCode}}
                    <br>
                    {{order.deliveryAddress.phoneNo}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="custom-card order-driver-detail" *ngIf="order.driver">
        <div class="ion-padding">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="rate-it ion-text-center" (click)="rating()" *ngIf="order.status==='DELIVERED' && !order.rating">
        <h6>RATE IT</h6>
    </div>
</ion-content>