.payment-header {
    padding: 16px 30px;

    h4 {
        font-size: 22px;
        line-height: 42px;
        color: #1A1A1A;
    }

    p {
        color: #6C738A;
        font-size: 14px;
        line-height: 20px;
    }
}

.payment-cards {
    ion-item {
        border-radius: 2px;
        --padding-start: 30px;
        --padding-top: 15px;
        --padding-bottom: 15px;
        cursor: pointer !important;

        ion-label {
            h3 {
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 16px;
                line-height: 14px;
                color: #091337;
            }

            p {
                font-size: 10px;
                color: #6C738A;
            }
        }

        &:hover,
        &.gray {
            --background: #F6F6F6 !important;
            border-radius: 2px !important;
        }

        .icon-detail-arrow {
            color: #B4B8C4 !important;
        }
    }

}