<app-header [header]="header"></app-header>
<ion-content>
    <div class="payment-header">
        <h4 class="category-header">{{'PAYMENT_HEADING'|translate}}</h4>
        <p>{{'PAYMENT_SUB_HEADING'|translate}}</p>
    </div>
    <div class="payment-cards" *ngIf="cart">
        <ion-item class="payment-item" detail="false" lines="none" (click)="placeOrder('CARD')"
                  *ngIf="hasPaymentActive('CREDIT_CARD')">
            <ion-icon src="assets/icon/payment-method-card.svg" class="card-icon" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'PAYMENT.CREDIT_CARD_LABEL'|translate}}</h3>
                <p>{{'PAYMENT.CREDIT_CARD_DESC_LABEL'|translate}}</p>
            </ion-label>
            <ion-icon name="ios-arrow-forward" class="icon-detail-arrow" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="payment-item" detail="false" lines="none" (click)="placeOrder('CASH')"
                  *ngIf="hasPaymentActive('CASH')">
            <ion-icon src="assets/icon/payment-method-cash.svg" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'PAYMENT.COD_LABEL'|translate}}</h3>
                <p>{{'PAYMENT.COD_DESC_LABEL'|translate}}</p>
            </ion-label>
            <ion-icon name="ios-arrow-forward" class="icon-detail-arrow" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="payment-item" detail="false" lines="none" (click)="placeOrder('QR_CODE')"
                  *ngIf="hasPaymentActive('QR_CODE')">
            <ion-icon src="assets/icon/payment-method-qr-code.svg" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'PAYMENT.QR_CODE_LABEL'|translate}}</h3>
                <p>{{'PAYMENT.QR_CODE_DESC_LABEL'|translate}}</p>
            </ion-label>
            <ion-icon name="ios-arrow-forward" class="icon-detail-arrow" slot="end"></ion-icon>
        </ion-item>
    </div>
</ion-content>
