.site-button {
    width: 48%;
    height: 48px;
    background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #807E7EC4;
    border-radius: 6px;

}

.address-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.map-container {
    position: relative;
    margin-bottom: 10px;
}

#map_canvas, agm-map {
    width: 100%;
    height: calc(100vh - 204px);
}

.current-location {
    font-size: 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer !important;
}

.site-textbox {
    height: 48px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 4px 20px var(--app-input-box-shadow);
}