<ion-content class="address-page">
    <ion-icon class="address-back-button" (click)="close()" icon="md-arrow-back"></ion-icon>
    <div class="address-container main-container">
        <div class="address-header-pickup">
            <h4>{{'PAGES.COMMON.RECORD_GPS_LOCATION'|translate}}</h4>
        </div>
        <div class="clearfix"></div>
        <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
               class="form-control site-textbox margin-bottom-10"/>
        <div class="clearfix"></div>
        <div class="map-container">
            <agm-map [latitude]="detail.latitude" [zoom]="detail.zoom" [longitude]="detail.longitude"
                     [zoomControl]="false">
                <agm-marker [animation]="'DROP'" [latitude]="detail.latitude" [longitude]="detail.longitude"
                            [markerDraggable]="true"
                            iconUrl="/assets/icon/marker.svg" (dragEnd)="onMarkerDrag($event)">
                </agm-marker>
            </agm-map>
            <ion-icon class="current-location" slot="icon-only" src="/assets/icon/current-location.svg"
                      (click)="getUserLocation()"></ion-icon>
        </div>
        <div class="">
            <ion-button class="site-button" color="light"
                        (click)="close()">{{'PAGES.COMMON.CANCEL'| translate}}</ion-button>
            <ion-button class="site-button" (click)="process()">{{'PAGES.COMMON.SAVE'| translate}}</ion-button>
        </div>
    </div>
</ion-content>