.notification-button {
    position: relative;
    top: 1px;
    right: 1px;
    overflow: visible !important;
    width: 60px !important;
    height: 50px !important;
    font-size: 19px !important;

    .notifications-badge {
        position: absolute;
        top: 5px;
        right: 7px;
        border-radius: 50%;
        font-size: 8px;
        text-align: center;
        padding-left: 5px;
        padding-top: 4px;
    }
}