<ion-header class="ion-text-center">
    <ion-toolbar *ngIf="header">
        <ion-buttons slot="start" *ngIf="header.showMenu">
            <ion-menu-toggle>
                <img src="/assets/images/fav-icon.png" style="width: 38px;margin-left: 10px;margin-top: 2px;">
            </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="header.showBackButton">
            <ion-back-button [defaultHref]="header.parentLink"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="header.showModalBackButton">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" icon="md-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-align-items-center" *ngIf="header.title">{{header.title|translate}}</ion-title>
        <ion-buttons slot="end" *ngIf="!header.hideCartIcon">
            <ion-button class="notification-button" (click)="loadCart()">
                <ion-icon slot="icon-only" src="/assets/icon/basket.svg">
                </ion-icon>
                <ion-badge class="notifications-badge" color="primary"
                           *ngIf="dataService.cartItemTotal>0">{{dataService.cartItemTotal}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>