<app-header [header]="header"></app-header>
<ion-content>
    <div>
        <div class="map">
            <div class="map-container" *ngIf="tracking && tracking.showMap">
                <agm-map [latitude]="tracking.latitude" [zoom]="tracking.zoom" [longitude]="tracking.longitude"
                         [zoomControl]="false">
                    <agm-direction [origin]="tracking.origin" [destination]="tracking.destination"
                                   [markerOptions]="tracking.markerOptions"
                                   [renderOptions]="tracking.renderOptions">
                    </agm-direction>
                </agm-map>
            </div>
        </div>
        <div class="driver-detail-container ion-text-center" *ngIf="order">
            <div class="driver-info-container no-margin" *ngIf="order.driverDetails">
                <div class="driver-name" *ngIf="order.status==='AWAITING_COLLECTION'">
                    <b>{{'PAGES.ORDER_TRACKING.HEADING_TO_YOUR_PICKUP' | translate}}</b></div>
                <div class="driver-name" *ngIf="order.status==='ON_THE_WAY'">
                    <b>{{'PAGES.ORDER_TRACKING.HEADING_TO_YOUR_DELIVERY' | translate}}</b></div>
                <div class="driver-name"><b>
                    {{'PAGES.ORDER_TRACKING.ORDER' | translate}}#{{order.orderId}}</b>
                    <div class="delivery-type-preview {{order.deliveryType|lowercase}}">
                        <ion-icon src="/assets/icon/delivery/{{order.deliveryType|lowercase}}.svg"></ion-icon>
                        <span>{{'PAGES.COMMON.DELIVERY.' + order.deliveryType | translate}}</span>
                    </div>
                </div>
                <div class="driver-name"><b>{{order.customerDetails.fullName}}</b></div>
                <div class="eta-time-section ion-text-center"
                     *ngIf="tracking && tracking.time && tracking.time.duration"><span
                    class="eta-time">{{tracking.time.duration.text}}({{tracking.time.distance.text}})</span></div>
            </div>
            <div class="clearfix"></div>
            <div class="order-call-container">
                <div class="order-chat">
                    <img src="/assets/icon/chat-icon.png" (click)="chat()"/>
                    <div class="order-chat-label">{{'PAGES.MARKER_DETAIL.CHAT'|translate}}</div>
                </div>
                <div class="order-call">
                    <img src="/assets/icon/call-icon.png" (click)="call()"/>
                    <div class="order-chat-label">{{'PAGES.MARKER_DETAIL.CALL'|translate}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
