#map_canvas, agm-map, .map {
    width: 100%;
    height: calc(100vh - 264px);

    .map-container {
        position: relative;

        .eta-time {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: blue;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.driver-detail-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #E5E5E5;
    padding: 10px 20px;
    height: 208px;

    .driver-icon {
        box-shadow: 0px 3px 6px #00000029;
        width: 79px;
        height: 79px;
        float: left;
        border-radius: 50%;
    }

    .driver-action-container {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 79px);
        height: 79px;
        text-align: right;

        img {
            display: inline-block;
            vertical-align: top;
            cursor: pointer !important;
            margin-right: 10px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 50%;
        }
    }

    .driver-info-container {
        font-family: 'Nunito-Regular', sans-serif;
        color: #000000;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
        margin-top: 20px;

        .driver-name {
            b {
                font-size: 16px;
                line-height: 26px;
                font-family: 'Nunito-Bold', sans-serif;
                letter-spacing: -0.32px;
            }
        }

        .vehicle-no {
            font-family: 'Nunito-Bold', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #0060AE;
            margin-top: 10px;
        }

        .number-plate {
            font-family: 'Nunito-SemiBold', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #282F39;
            margin-top: 10px;
        }
    }
}

.eta-time-section {
    font-family: 'Nunito-SemiBold', sans-serif;
    font-size: 17px;
    line-height: 22px;
    color: #282F39;

    .eta-time {
        color: #0AB253;
    }
}

.order-call-container {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    .order-chat, .order-call {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        height: 77px;
        padding: 7px;
        border-top: 1px solid #ddd;

        img {
            height: 36px;
        }
    }

    .order-chat {
        border-right: 1px solid #ddd;

    }
}

.delivery-type-preview {
    font-size: 12px;
    line-height: 16px;
    font-family: Nunito-SemiBold, sans-serif;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    ion-icon {
        font-size: 25px !important;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

    &.express {
        color: #00A2E8;
    }

    &.sameday {
        color: #E64571;
    }
}