<app-header [header]="header"></app-header>
<ion-content class="ion-padding">
    <div class="item-header-container">
        <h4>{{'SELECT_ITEMS_LABEL'|translate}}</h4>
        <div class="select-container">
            <select class="form-control filter-select" [(ngModel)]="request.type"
                (change)="onTypeChanged(request.type)">
                <option *ngFor="let filter of filters" [value]="filter.value">
                    {{filter.translatedName|translate}}
                </option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <ion-list class="ion-text-center ion-align-items-center">
        <div *ngIf="loading">
            <img src="/assets/images/loading.gif" class="img-responsive">
        </div>
        <h4 class="category-title" *ngIf="items.length>0">
            {{categoryName}}
        </h4>
        <div class="product-item" *ngFor="let item of items | orderBy: 'name'">
            <div class="product-icon-container">
                <img class="product-icon" [src]="item.icon || '/assets/icon/default-icon-color.png'">
            </div>
            <div class="product-name">
                {{item.name}}
            </div>
            <div class="product-price">
                {{item.price}}<span>&#3647;</span>
            </div>
            <div class="product-count">
                <ion-icon slot="icon-only" name="remove-circle-outline" [ngClass]="{'disabled':item.quantity<=0}"
                    (click)="decrease(item)"></ion-icon>
                <span>{{item.quantity}}</span>
                <ion-icon slot="icon-only" name="add-circle-outline" (click)="increase(item)"></ion-icon>
            </div>
        </div>
    </ion-list>
    <div class="clearfix"></div>
    <ion-row>
        <ion-col>
            <ion-button class="back-button" expand="block" (click)="back()">
                {{'BACK_BUTTON'|translate}}
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="add-to-basket-button" expand="block" *ngIf="view==='ADD'" [disabled]="!isValid()"
                (click)="addToBasket()">
                {{'ADD_TO_BASKET_BUTTON'|translate}}
            </ion-button>
            <ion-button class="view-basket-button" expand="block" *ngIf="view==='VIEW'"
                (click)="viewBasket() && !isValid()">
                {{'VIEW_BASKET_BUTTON'|translate}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>