.item-header-container {
    font-size: 14px;

    h4 {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        margin: 3px 0px 0px;
        float: left;
    }

    .select-container {
        float: right;

        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        .filter-select {
            width: 133px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

ion-list {
    width: 100%;
}

.product-item {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    min-height: 155px;
    background: var(--app-site-blue-color);
    box-shadow: 0px 8px 15px #E7EAF0;
    border-radius: 6px;
    text-align: center;
    margin: 10px 5px;
    color: #fff;

    .product-icon-container {
        width: 99px;
        height: 70px;
        line-height: 70px;

        .product-icon {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }
    }

    .product-name {
        font-family: 'Nunito-Bold', sans-serif;
        color: #fff;
        font-size: 10px;
        line-height: 14px;
        min-height: 28px;
    }

    .product-price {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #fff;
    }

    .product-count {
        padding-bottom: 10px;

        ion-icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 25px;
            cursor: pointer;

            &.disabled {
                cursor: default;
                opacity: .4;
                pointer-events: none;
            }
        }

        span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 19px;
        }
    }
}

.add-to-basket-button {
    --background: #005DA8 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #979191C4;
    border-radius: 6px;
    height: 48px;
}

.view-basket-button {
    --background: #379FF6 0% 0% no-repeat padding-box;
    ;
    box-shadow: 0px 4px 20px #979191C4;
    border-radius: 6px;
    height: 48px;
}

.back-button {
    --background: #1C2129 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 4px 20px #979191C4 !important;
    border-radius: 6px;
    height: 48px;
}

.category-title {
    font-weight: bold;
}