<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'Feedback.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'Feedback.objName' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'Feedback.orderId' | translate}}</th>
          <th>{{'Feedback.type' | translate}}</th>
          <th>{{'Feedback.message' | translate}}</th>
          <th>{{'Feedback.rating' | translate}}</th>
          <th>{{'Feedback.driverId' | translate}}</th>
          <th>{{'Feedback.createdOn' | translate}}</th>
          <th>{{'Feedback.userId' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.orderId}}</td>
          <td>{{record.type}}</td>
          <td>
            <div [innerHtml]="record.message" style="max-height: 100px;overflow:auto"></div>
          </td>
          <td>{{record.rating}}</td>
          <td>{{record.driverId}}</td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td>{{record.userId}}</td>
          <td class="text-center">
            <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5"
              (click)="onItemSelection(record)" *ngIf="isPlusButton">
              {{'COMMON.SELECT' | translate}}
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('FEEDBACK','DetailButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('FEEDBACK','DetailButton')" (click)="loadDetailPage(record.id)">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('FEEDBACK','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('FEEDBACK','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="feedbackDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="feedbackDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-feedback-detail [recordId]="selectedId"></app-feedback-detail>
      </div>
    </div>
  </div>
</div>
