<!DOCTYPE html>
<html lang="en" data-ng-app="applicationApp">

<head>
   <title>LotusLaundry</title>
   	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/">
	<link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/wwwroot/js/sweetalert/sweetalert.css">
	<link rel="stylesheet" href="~/wwwroot/css/datepicker.css">
	<link rel="stylesheet" href="~/wwwroot/css/select-2.css">
	<link rel="stylesheet" href="~/wwwroot/css/style.css">
</head>

<body>
	@RenderBody()

    <!-- Common Files -->
	<script type="text/javascript" src="~/wwwroot/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="~/wwwroot/js/plugins/moment.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/sweetalert.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/chart.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/fullcalendar.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/jquery-ui.custom.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/select2.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/pace.min.js"></script>

	<script type="text/javascript" src="~/wwwroot/js/angular/angular.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/dirPagination.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/angular-translate.min.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/plugins/angular-translate-loader-static-files.js"></script>

	<script type="text/javascript" src="~/wwwroot/js/main.js"></script>

	<!-- Application Base Files -->
	<script type="text/javascript" src="~/wwwroot/app.js"></script>
	<script type="text/javascript" src="~/wwwroot/js/common.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/common/commonService.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/common/commonUtils.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/interceptor/auth.interceptor.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/signIn/oAuthValidateService.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/common/constants.js"></script>
	
	<script type="text/javascript" src="~/wwwroot/angular/signIn/signInController.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/account/accountSettingsController.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/account/changePasswordController.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/account/recoverPasswordController.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/header/headerController.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/pages/Contact/ContactUsListController.js"></script>
    <!--Controllers-->
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Users/UsersListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Users/UsersEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Users/UsersDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Feedback/FeedbackListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Feedback/FeedbackEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Feedback/FeedbackDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/UserDevice/UserDeviceListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserDevice/UserDeviceEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserDevice/UserDeviceDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/PasswordLog/PasswordLogListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PasswordLog/PasswordLogEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PasswordLog/PasswordLogDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/MessageLog/MessageLogListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/MessageLog/MessageLogEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/MessageLog/MessageLogDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Notification/NotificationListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Notification/NotificationEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Notification/NotificationDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/AppSetting/AppSettingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/AppSetting/AppSettingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/AppSetting/AppSettingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Country/CountryListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Country/CountryEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Country/CountryDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/CountryLanguageMapping/CountryLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CountryLanguageMapping/CountryLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CountryLanguageMapping/CountryLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Language/LanguageListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Language/LanguageEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Language/LanguageDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/State/StateListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/State/StateEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/State/StateDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/StateLanguageMapping/StateLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/StateLanguageMapping/StateLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/StateLanguageMapping/StateLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/City/CityListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/City/CityEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/City/CityDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/CityLanguageMapping/CityLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CityLanguageMapping/CityLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CityLanguageMapping/CityLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/UserAddress/UserAddressListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserAddress/UserAddressEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserAddress/UserAddressDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/District/DistrictListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/District/DistrictEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/District/DistrictDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/DistrictLanguageMapping/DistrictLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DistrictLanguageMapping/DistrictLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DistrictLanguageMapping/DistrictLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrict/SubDistrictListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrict/SubDistrictEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrict/SubDistrictDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrictLanguageMapping/SubDistrictLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrictLanguageMapping/SubDistrictLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrictLanguageMapping/SubDistrictLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Province/ProvinceListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Province/ProvinceEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Province/ProvinceDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/ProvinceLanguageMapping/ProvinceLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProvinceLanguageMapping/ProvinceLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProvinceLanguageMapping/ProvinceLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/UserCordinate/UserCordinateListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserCordinate/UserCordinateEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserCordinate/UserCordinateDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Service/ServiceListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Service/ServiceEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Service/ServiceDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/ServiceLanguageMapping/ServiceLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ServiceLanguageMapping/ServiceLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ServiceLanguageMapping/ServiceLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Product/ProductListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Product/ProductEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Product/ProductDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/ProductLanguageMapping/ProductLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductLanguageMapping/ProductLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductLanguageMapping/ProductLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/ProductPrice/ProductPriceListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductPrice/ProductPriceEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductPrice/ProductPriceDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryType/DeliveryTypeListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryType/DeliveryTypeEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryType/DeliveryTypeDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryTypeLanguageMapping/DeliveryTypeLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryTypeLanguageMapping/DeliveryTypeLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryTypeLanguageMapping/DeliveryTypeLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Cart/CartListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Cart/CartEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Cart/CartDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/CartItem/CartItemListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItem/CartItemEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItem/CartItemDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/CartItemServiceMapping/CartItemServiceMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItemServiceMapping/CartItemServiceMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItemServiceMapping/CartItemServiceMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Order/OrderListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Order/OrderEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Order/OrderDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItem/OrderItemListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItem/OrderItemEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItem/OrderItemDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItemServiceMapping/OrderItemServiceMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItemServiceMapping/OrderItemServiceMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItemServiceMapping/OrderItemServiceMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/OrderLog/OrderLogListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderLog/OrderLogEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderLog/OrderLogDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/PaymentLog/PaymentLogListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PaymentLog/PaymentLogEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PaymentLog/PaymentLogDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Packing/PackingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Packing/PackingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Packing/PackingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/PackingLanguageMapping/PackingLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PackingLanguageMapping/PackingLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PackingLanguageMapping/PackingLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessage/DefaultMessageListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessage/DefaultMessageEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessage/DefaultMessageDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessageLanguageMapping/DefaultMessageLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessageLanguageMapping/DefaultMessageLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessageLanguageMapping/DefaultMessageLanguageMappingDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/Currency/CurrencyListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Currency/CurrencyEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Currency/CurrencyDetailController.js"></script>
    	<script type="text/javascript" src="~/wwwroot/angular/pages/CurrencyLanguageMapping/CurrencyLanguageMappingListController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CurrencyLanguageMapping/CurrencyLanguageMappingEditController.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CurrencyLanguageMapping/CurrencyLanguageMappingDetailController.js"></script>
	<!--@@NEW_CONTROLLER_FILE_HERE@@  -->
	
	<script type="text/javascript" src="~/wwwroot/angular/signIn/signInRepository.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/account/accountRepository.js"></script>
	<script type="text/javascript" src="~/wwwroot/angular/pages/Contact/ContactUsRepository.js"></script>
    <!--Repositories-->
		<script type="text/javascript" src="~/wwwroot/angular/pages/Users/UsersRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Feedback/FeedbackRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserDevice/UserDeviceRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PasswordLog/PasswordLogRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/MessageLog/MessageLogRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Notification/NotificationRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/AppSetting/AppSettingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Country/CountryRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CountryLanguageMapping/CountryLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Language/LanguageRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/State/StateRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/StateLanguageMapping/StateLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/City/CityRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CityLanguageMapping/CityLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserAddress/UserAddressRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/District/DistrictRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DistrictLanguageMapping/DistrictLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrict/SubDistrictRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/SubDistrictLanguageMapping/SubDistrictLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Province/ProvinceRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProvinceLanguageMapping/ProvinceLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/UserCordinate/UserCordinateRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Service/ServiceRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ServiceLanguageMapping/ServiceLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Product/ProductRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductLanguageMapping/ProductLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/ProductPrice/ProductPriceRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryType/DeliveryTypeRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DeliveryTypeLanguageMapping/DeliveryTypeLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Cart/CartRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItem/CartItemRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CartItemServiceMapping/CartItemServiceMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Order/OrderRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItem/OrderItemRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderItemServiceMapping/OrderItemServiceMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/OrderLog/OrderLogRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PaymentLog/PaymentLogRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Packing/PackingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/PackingLanguageMapping/PackingLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessage/DefaultMessageRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/DefaultMessageLanguageMapping/DefaultMessageLanguageMappingRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/Currency/CurrencyRepository.js"></script>
		<script type="text/javascript" src="~/wwwroot/angular/pages/CurrencyLanguageMapping/CurrencyLanguageMappingRepository.js"></script>
    <!--@@NEW_REPOSITORY_FILE_HERE@@  -->
</body>
</html>
