<ion-item class="header-item">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
</ion-item>
<ion-content>
    <div class="main-container">
        <div class="page-header">
            <ion-label class="title">{{'PAGES.USER_SETTINGS.HEADING'| translate}}</ion-label>
            <ion-label class="sub-title">{{'PAGES.USER_SETTINGS.SUB_HEADING'| translate}}</ion-label>
        </div>
        <form name="userForm" novalidate="novalidate" #userForm="ngForm" autocomplete="off">
            <ion-item class=" custom-input-item">
                <ion-input type="text" #firstName="ngModel" name="firstName"
                           [ngClass]="{ 'is-invalid': onClickValidation && firstName?.errors?.required }"
                           placeholder="{{'USER_ACCOUNT_INPUT.FIRST_NAME'| translate}}"
                           [(ngModel)]="user.firstName"
                           autocomplete="off" required="required" pattern="^[a-zA-Z]{2,20}$">
                    <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                </ion-input>
            </ion-item>
            <div *ngIf="onClickValidation && firstName?.errors">
                <div *ngIf="firstName?.errors?.required" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.FIRST_NAME_REQUIRED'| translate}}
                </div>
                <div *ngIf="firstName?.errors?.pattern" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.MIN_MAX_ALPHANUMERIC'| translate}}
                </div>
            </div>
            <ion-item class="custom-input-item">
                <ion-input type="text" #lastName="ngModel" name="lastName"
                           [ngClass]="{ 'is-invalid': onClickValidation && lastName?.errors?.required }"
                           placeholder="{{'USER_ACCOUNT_INPUT.LAST_NAME'| translate}}"
                           [(ngModel)]="user.lastName"
                           autocomplete="off" required="required" pattern="^[a-zA-Z]{2,20}$">
                    <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                </ion-input>
            </ion-item>
            <div *ngIf="onClickValidation && lastName?.errors">
                <div *ngIf="lastName?.errors?.required" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.LAST_NAME_REQUIRED'| translate}}
                </div>
                <div *ngIf="lastName?.errors?.pattern" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.MIN_MAX_ALPHANUMERIC'| translate}}
                </div>
            </div>
            <ion-item class="custom-input-item">
                <ion-input type="text" #nickName="ngModel" name="nickName"
                           [ngClass]="{ 'is-invalid': onClickValidation && nickName?.errors?.required }"
                           placeholder="{{'USER_ACCOUNT_INPUT.NICK_NAME'| translate}}"
                           [(ngModel)]="user.nickName"
                           autocomplete="off" required="required">
                    <fa-icon [icon]="['fas', 'user-circle']" slot="end"></fa-icon>
                </ion-input>
            </ion-item>
            <div *ngIf="onClickValidation && nickName?.errors?.required" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.NICK_NAME_REQUIRED'| translate}}
            </div>
            <ion-item class="custom-calender-item">
                <fa-icon [icon]="['fas', 'user-circle']" slot="start"></fa-icon>
                <ion-datetime displayFormat="DD MMM YYYY" #dob="ngModel" name="dob" [(ngModel)]="user.dob"
                              placeholder="{{'PAGES.REGISTRATION.LABEL.DOB'| translate}}" autocomplete="off"
                              [max]="maxDate" required="required">
                </ion-datetime>
                <fa-icon [icon]="['far', 'calendar']" slot="end"></fa-icon>
            </ion-item>
            <div class="custom-radio-group-container">
                <ion-radio-group #gender="ngModel" [(ngModel)]="user.gender" name="gender" autocomplete="off"
                                 required="required">
                    <ion-label class="radio-header-label">
                        {{'PAGES.REGISTRATION.LABEL.GENDER'| translate}}</ion-label>
                    <div class="custom-radio-container">
                        <ion-item class="custom-radio-item">
                            <ion-label>{{'PAGES.REGISTRATION.LABEL.MALE'| translate}}</ion-label>
                            <ion-radio
                                [ngClass]="{ 'is-invalid-radio': onClickValidation && gender?.errors?.required }"
                                class="custom-ion-radio" slot="start" value="MALE" mode="md" checked>
                            </ion-radio>
                        </ion-item>
                        <ion-item class="custom-radio-item">
                            <ion-label>{{'PAGES.REGISTRATION.LABEL.FEMALE'| translate}}</ion-label>
                            <ion-radio
                                [ngClass]="{ 'is-invalid-radio': onClickValidation && gender?.errors?.required }"
                                class="custom-ion-radio" slot="start" value="FEMALE" mode="md"></ion-radio>
                        </ion-item>
                    </div>
                </ion-radio-group>
            </div>
        </form>
        <ion-item class="custom-button-item">
            <ion-button (click)="onSubmit(userForm.form.valid)">
                {{'FORM_BUTTONS.SAVE'| translate}}</ion-button>
        </ion-item>
    </div>
</ion-content>