<div class="breadcrumb-container" *ngIf="!isPlusButton">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'State.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li><a [routerLink]="['/dashboard/state']">{{'State.objNames' | translate}}</a></li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'State.objName' | translate}}</li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{state.name}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #stateForm="ngForm" novalidate="novalidate">
      <div class="row justify-content-start">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-error':countryId.invalid && onClickValidation}">
            <label class="control-label">
              {{"State.countryId" | translate}}
            </label>
            <div class="select-width">
              <ng-select [items]="countries" bindLabel="name" bindValue="id" name="countryId" #countryId="ngModel"
                [(ngModel)]="state.countryId" #countryId="ngModel"
                [ngClass]="{'invalid-field':!countryId.valid && onClickValidation}" required="required"
                placeholder="{{'COMMON.SELECT' | translate}} {{'Country.objName' | translate}}">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-error':stateName.invalid && onClickValidation}">
            <label class="control-label">
              {{"State.objName" | translate}} {{"COMMON.Name" | translate}}
            </label>
            <div class="color-picker-input">
              <input class="form-control" type="text" name="stateName" required="required" [(ngModel)]="state.name"
                #stateName="ngModel" placeholder="{{'State.objName' | translate}} {{'COMMON.Name' | translate}}">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">{{"COMMON.Languages" | translate}}</div>
      <div class="panel-body">
        <form #stateLanguageForm="ngForm" novalidate="novalidate">
          <div class="col-md-6 no-padding-left">
            <div class="form-group" [ngClass]="{'has-error':languageId.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"CountryLanguageMapping.languageId" | translate}}
              </label>
              <div class="color-picker-input">
                <select class="form-control select-2" name="languageId" [(ngModel)]="stateLanguage.languageId"
                  required="required" #languageId="ngModel">
                  <option [value]="language.id" *ngFor="let language of languages" [hidden]="language.name==='English'">
                    {{language.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding-right">
            <div class="form-group" [ngClass]="{'has-error':iStateName.invalid && onClickMappingValidation}">
              <label class="control-label">
                {{"State.objName" | translate}} {{"COMMON.Name" | translate}}
              </label>
              <div class="color-picker-input">
                <input class="form-control" type="text" name="iStateName" required="required"
                  [(ngModel)]="stateLanguage.name" #iStateName="ngModel"
                  placeholder="{{'State.objName' | translate}} {{'COMMON.Name' | translate}}">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 no-padding text-right">
            <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
              (click)="addStateLanguage(stateLanguageForm.valid)">
              <span class="glyphicon glyphicon-plus"></span> &nbsp; {{"COMMON.ADD" | translate}}
            </button>
          </div>
        </form>
        <div class="clearfix"></div>
        <table class="table table-striped table-bordered margin-top-20">
          <thead>
            <th>{{"CountryLanguageMapping.languageId" | translate}}</th>
            <th> {{"CountryLanguageMapping.name" | translate}}</th>
            <th width="100">{{'COMMON.ACTION' | translate}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of state.stateLanguages">
              <ng-template [ngIf]="!item.isDeleted">
                <td>{{item.languageName}}</td>
                <td>{{item.name}}</td>
                <td class="text-center">
                  <a title="{{'COMMON.DELETE' | translate}}" class="btn btn-danger btn-xs margin-right-5"
                    (click)="removeLanguage(item)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </ng-template>
            </tr>
            <tr *ngIf="!state.stateLanguages || state.stateLanguages.length == 0">
              <td class="text-center" colspan="3">{{"COMMON.NO_RECORDS_FOUND" | translate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding text-right">
      <button title="{{'COMMON.SAVE' | translate}}" class="btn btn-primary site-button" type="button"
        (click)="save(stateForm.form)" *ngIf="authService.isAccessible('STATE','AddButton')"
        [disabled]="authService.isDisabled('STATE','AddButton')">
        {{"COMMON.SAVE" | translate}}
      </button>
      <button title="{{'COMMON.CANCEL' | translate}}" class="btn btn-default site-cancel-button margin-left-10"
        type="button" (click)="navigate()">
        {{"COMMON.CANCEL" | translate}}
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
