<div class="extra-page">
  <div class="display-align">
    <div class="img">
      <img src="assets/images/logo-full.png" class="img-responsive"/>
    </div>
  </div>
  <div class="message-container">
    <div class="message-heading">Page Not Found</div>
    <div class="message-body">You Don't have access to view Page.</div>
    <a class="btn btn-info site-white-button margin-top-20" href="/">
      Previous page
    </a>
  </div>
</div>
