/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import "theme/fonts.scss";

/* Custom */
@import "theme/style.scss";

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

/* Ion-Header */
ion-header {
    ion-toolbar {
        --background: var(--app-light-color) 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 25px #23222221;
    }
}

.custom-ion-select {
    min-width: 100% !important;
    border-radius: 6px;
    display: flex;
    align-items: center;
    --padding-end: 8px;
}

.header-item {
    --inner-border-width: 0;
    line-height: 1;
    --padding-start: 0;
    --background: var(--app-background-color);

    .header-back-button {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 22px;

        fa-icon {
            font-size: 18px;
            line-height: 24px;
            color: var(--app-back-button-color);

        }
    }

    .header-title {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        ion-label {
            font-family: Nunito-Bold, sans-serif;
            letter-spacing: -0.32px;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

form {
    position: relative;
}

ion-content {
    --background: var(--app-background-color);

    .main-container {
        width: 100%;
        padding: 45px 30px 0;
        max-width: 425px;
        margin: 0 auto;

        .banner-container {
            width: 100%;
            text-align: center;
            margin-top: var(--app-default-margin);
        }

        .page-header {
            width: 100%;
            display: grid;
            text-align: center;

            .title {
                color: var(--app-dark-color);
                font-family: Futura-Heavy, sans-serif;
                font-size: 22px;
                margin: var(--app-default-margin) 0 4px 0;
            }

            .sub-title {
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 14px;
                margin: 4px 0 var(--app-default-margin) 0;
            }
        }

        .custom-input-item,
        .custom-button-item,
        .custom-label-item,
        .custom-select-item,
        .custom-radio-item,
        .custom-textarea-item,
        .custom-checkbox-item,
        .custom-calender-item {
            margin: var(--app-default-margin) 0;
            --padding-top: 0;
            --padding-bottom: 0;
            --padding-start: 0;
            --padding-end: 0;
            --inner-padding-bottom: 0;
            --inner-padding-end: 0;
            --inner-padding-top: 0;
            --inner-padding-start: 0;
            --min-height: 48px;
            --inner-border-width: 0;
            --border-radius: 6px;
            box-shadow: 0px 4px 20px var(--app-input-box-shadow);
            --highlight-color-focused: ffffff;
            --highlight-color-valid: ffffff;
            --highlight-color-invalid: ffffff;

        }

        .custom-input-item {
            ion-input {
                --padding-bottom: 0;
                --padding-end: 0;
                --padding-start: 0;
                --padding-top: 0;
                --placeholder-color: var(--app-input-color);
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 14px;
                line-height: 19px;
                height: 100%;
                border-radius: 6px;

                fa-icon,
                img {
                    line-height: 1;
                    margin: 0 18px;
                    color: var(--app-icon-color);
                    font-size: 14px;
                    width: 12px;
                }
            }

            fa-icon {
                line-height: 1;
                margin: 0 18px;
                color: var(--app-icon-color);
                font-size: 16px;
                width: 12px;
            }

            ion-textarea {
                --padding-bottom: 10px;
                --padding-end: 10px;
                --padding-start: 10px;
                --padding-top: 10px;
                border-radius: 6px;
                margin: 0;
            }
        }

        .custom-button-item {
            box-shadow: 0px 0px 12px 0px var(--app-button-box-shadow);
            border-radius: 6px;

            ion-button {
                --background: var(--ion-color-primary);
                --background-activated: var(--ion-color-primary);
                --background-focused: var(--ion-color-primary);
                --background-hover: var(--ion-color-primary);
                width: 100%;
                height: 100%;
                font-family: Nunito-ExtraBold, sans-serif;
                font-size: 16px;
                line-height: 18px;
                text-transform: initial;
                margin: 0;
                letter-spacing: -0.1px;
                --border-radius: 6px;

                button {
                    padding: 0;
                }
            }
        }

        .custom-button-2-item {
            @extend .custom-button-item;

            ion-button {
                --background: var(--ion-color-secondary);
                --background-activated: var(--ion-color-secondary);
                --background-focused: var(--ion-color-secondary);
                --background-hover: var(--ion-color-secondary);
            }
        }

        .custom-label-item {
            --background: var(--app-background-color);
            --border-radius: 0;
            text-align: center;
            box-shadow: none;
            --min-height: unset;
            --ripple-color: transparent;

            .forgot-label,
            .remember-label {
                font-family: 'Nunito-SemiBold', sans-serif;
                margin: 0;
                height: 100%;
            }
        }

        .custom-select-item {
            ion-label {
                margin: 0;
            }

            .custom-ion-select {
                --padding-top: 0;
                --padding-bottom: 0;
                --padding-left: 0;
                --padding-right: 0;
                height: 48px;
            }
        }

        .custom-textarea-item {
            --background: transparent;
            box-shadow: none;

            ion-label {
                transition: none;
                transform: none;
                white-space: normal;
                font-family: Nunito-Bold, sans-serif;
                font-size: 12px;
                line-height: 18px;
                margin: 12px 0;

                span {
                    font-family: Nunito-SemiBold, sans-serif;
                }
            }

            ion-textarea {
                background: var(--app-light-color);
                box-shadow: 0px 4px 20px var(--app-input-box-shadow);
                --padding-bottom: 14px;
                --padding-end: 14px;
                --padding-start: 14px;
                --padding-top: 14px;
                --placeholder-color: var(--app-input-color);
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 14px;
                line-height: 19px;
                height: 100%;
                border-radius: 6px;
            }
        }

        .custom-checkbox-item {
            --background: transparent;
            box-shadow: none;
            --ripple-color: transparent;

            ion-label {
                white-space: normal;
                font-family: Nunito-Regular, sans-serif;
                font-size: 12px;
                line-height: 16px;

                span {
                    font-family: Nunito-Bold, sans-serif;
                }
            }

            ion-checkbox {
                margin: 0 12px 0 0;
                --size: 28px;
                --background-checked: var(--app-background-color);
                --border-color-checked: var(--app-background-color);
                --border-color: #CED0D2;
                --border-color-checked: #CED0D2;
                --border-width: 1px;
                --checkmark-color: var(--ion-color-secondary);
            }
        }

        .custom-calender-item {
            border-radius: 6px;

            ion-datetime {
                --padding-bottom: 0;
                --padding-end: 0;
                --padding-start: 0;
                --padding-top: 0;
                --placeholder-color: var(--app-input-color);
                font-family: Nunito-SemiBold, sans-serif;
                font-size: 14px;
                line-height: 19px;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
            }

            fa-icon,
            img {
                line-height: 1;
                margin: 0 18px;
                color: var(--app-icon-color);
                font-size: 14px;
                width: 12px;
            }
        }

        .custom-next-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            --border-radius: 50%;

            fa-icon {
                font-size: 20px;
            }
        }

        .stacked-label-item {
            text-align: left;
            margin: 26px 0;
            font-family: Nunito-SemiBold, sans-serif;

            .key {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--app-input-color);
                font-size: 12px;
                line-height: 16px;
            }

            .value {
                color: #343639;
                font-size: 14px;
                line-height: 19px;
                margin: 8px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                span:first-child {
                    white-space: normal;
                }

                .status {

                    fa-icon {
                        color: #193425;
                        margin: 0 12px;
                        cursor: pointer;
                    }

                    .verified {
                        color: #0AB253;
                    }

                    .unverified {
                        color: #AE0E0E;
                    }
                }
            }
        }
    }
}

/* Ionic Native Elements CSS STARTS*/
.action-sheet-group.sc-ion-action-sheet-ios {
    overflow: scroll;
}

ion-slides {
    ion-img {
        width: 100% !important;
    }

    .swiper-pagination-bullets {
        text-align: right;
        padding-right: 10px;

        .swiper-pagination-bullet {
            background: var(--app-light-color) 0% 0% no-repeat padding-box !important;
            opacity: 0.52 !important;
            cursor: pointer !important;

            &.swiper-pagination-bullet-active {
                background: var(--app-light-color) 0% 0% no-repeat padding-box !important;
                opacity: 1 !important;
            }
        }
    }
}

.item-has-focus .label-stacked.sc-ion-label-md-h {
    color: initial;
}

/* Ionic Native Elements CSS ENDS*/

.clearfix {
    clear: both;
    content: '';
}

.form-control {
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
}

.custom-card {
    background: var(--app-light-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #E7EAF0;
    border-radius: 6px;
}

.custom-ui-card {
    background: var(--app-light-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #E7EAF0;
    border-radius: 6px;
    padding: 15px;
}

.proceed-button̥ {
    height: 50px !important;
    --background: #005FAE;
    box-shadow: 0px 4px 20px #6B6868C4;
    border-radius: 6px;
    width: 100%;
}

ion-button {
    text-transform: capitalize;
}

/*****Cart Page******/
.category-header {
    font-family: 'Futura-Bold-BT', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.cart-item {
    padding: 10px;
    text-align: center;

    .delete-icon {
        cursor: pointer !important;
    }

    .product-detail-container {
        width: 70px;
        display: inline-block;
        vertical-align: middle;
        background: #005FAE;
        box-shadow: 0px 8px 15px #E7EAF0;
        border-radius: 6px;
        color: #fff;
        margin-left: 5px;

        .product-icon-container {
            width: 70px;
            height: 60px;
            line-height: 60px;

            .product-icon {
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
        }

        .product-name {
            font-family: 'Nunito-Bold', sans-serif;
            color: #fff;
            font-size: 10px;
            line-height: 14px;
            padding-bottom: 3px;
        }
    }

    .product-prize-container {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 91px);

        .count-container {
            float: left;
            margin-left: 5px;
            margin-top: 1px;

            ion-icon {
                display: inline-block;
                vertical-align: middle;
                font-size: 23px;
                cursor: pointer;

                &.disabled {
                    cursor: default;
                    opacity: .4;
                    pointer-events: none;
                }
            }

            span {
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
                margin-right: 2px;
            }
        }

        .prize-container {
            float: left;
            margin-left: 5px;
            font-size: 17px;
            line-height: 21px;
        }

        .final-amount {
            float: right;
            text-align: right;
            margin-right: 5px;
            font-family: 'Futura-Bold-BT', sans-serif;
            font-size: 18px;
            line-height: 19px;
        }
    }

    .delivery-detail-container {
        width: 200px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;

        .delivery-select {
            width: 150px;
        }
    }

    .delivery-prize-container {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 200px);

        .final-amount {
            float: right;
            text-align: right;
            margin-right: 12px;
            font-family: 'Futura-Bold-BT', sans-serif;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.order-amount-detail {
    padding: 10px;

    .order-amount {
        text-align: right;
        padding-right: 12px;
    }

    .total-row {
        padding-top: 10px;
        border-top: 1px solid #919090;
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
    }
}

/*****Cart Page******/
.delivery-preview {
    font-size: 11px;
    line-height: 16px;
    font-family: Nunito-SemiBold, sans-serif;
    color: #000000;

    ion-icon {
        font-size: 25px !important;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

    &.express {
        color: #00A2E8;
    }

    &.sameday {
        color: #E64571;
    }
}

.order-payment-form {
    ion-item {
        --padding-start: 0px !important;
        --inner-padding-end: 0px !important;

        ion-input {
            input {
                height: 48px !important;
            }
        }

        ion-datetime {
            height: 48px !important;
        }

        &.cvv-input-container {
            ion-icon {
                position: absolute !important;
                right: 2px !important;
                color: var(--ion-color-primary) !important;
            }
        }
    }
}

.main-fav-button:not(.fab-button-close-active) {
    --background: none !important;
    --box-shadow: none !important;
    --background-hover: none !important;
}

ion-fab-list {
    ion-icon {
        color: #000000;
    }
}

.custom-radio-group-container {
    margin: 20px 0 0;

    ion-radio-group {
        .radio-header-label {
            font-family: Nunito-Bold, sans-serif;
            font-size: 16px;
            line-height: 22px;
        }

        .custom-radio-container {

            &.inline {
                display: flex;
                align-items: center;
                border-radius: 6px;
            }

            .custom-radio-item {
                --background: var(--app-background-color);
                box-shadow: none;
                margin: 0 18px 0 0;
                --ripple-color: transparent;
                --min-height: 12px;

                ion-label {
                    font-family: Nunito-Bold, sans-serif;
                    font-size: 13px;
                    line-height: 15px;
                }

                .custom-ion-radio {
                    margin: 0 12px 0 0;
                    --color: #D5D5D5;
                    --color-checked: var(--ion-color-secondary);
                    --border-width: 1px;
                }
            }
        }
    }
}

.postal-code-input {
    --padding-start: 16px !important;
}

.address-page {
    position: relative;

    .main-container {
        .custom-input-item {
            margin: 20px 0;
        }
    }

    .address-back-button {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 28px;
    }

    .address-container {
        padding-top: 30px;
        padding-bottom: 30px;

        .address-header-pickup {
            text-align: center;
        }
    }

    .save-button {
        background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 20px #807E7EC4;
        border-radius: 6px;
        width: 100%;
        height: 48px;
    }

    .gps-location {
        background: var(--ion-color-primary) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 20px #807E7EC4;
        border-radius: 6px;
        width: 100%;
        height: 48px;
        font-size: 12px;
    }
}

.custom-phone-item {
    display: flex;
    align-items: center;

    .custom-select-item-2 {
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--app-light-color);
        border-radius: 6px;
        box-shadow: 0px 4px 20px var(--app-input-box-shadow);
        margin: var(--app-default-margin) 0;
        margin-right: 16px;

        ion-select {
            --padding-top: 0;
            --padding-bottom: 0;
            --padding-start: 12px;
            --padding-end: 12px;
            font-family: Nunito-SemiBold, sans-serif;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .custom-input-item {
        width: 100%;
    }
}

.password-rule-popover {
    position: absolute;
    width: 100%;
    background: var(--app-light-color);
    border-radius: 6px;
    z-index: 100;
    margin: 0 auto;
    box-shadow: 0px 4px 20px var(--app-input-box-shadow);
    transition: all 1s ease-out;
}

.gps-location-item {
    font-size: 12px;
    --padding-start: 0px !important;
}


.register-page {
    position: relative;

    .register-back-button {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 28px;
        cursor: pointer !important;
    }
}

.float-right {
    float: right;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}