<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'City.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'City.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('CITY','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('CITY','AddButton')">
      <span class="hidden-xs">{{'City.ADD_NEW_CITY' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th width="200">{{'State.objName' | translate}}</th>
          <th>{{'COMMON.Name' | translate}}</th>
          <th width="100">{{'City.createdOn' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>
            <a [routerLink]="['/dashboard/state/detail/'+record.stateId]">
              {{record.stateName}}
            </a>
          </td>
          <td>{{record.name}} </td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td class="text-center">
            <a title="{{'COMMON.SELECT' | translate}}" class="btn btn-info btn-xs margin-right-5" (click)="onItemSelection(record)"
              *ngIf="isPlusButton">
              {{'COMMON.SELECT' | translate}}
            </a>
            <a title="{{'COMMON.DETAIL' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('CITY','DetailButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('CITY','DetailButton')" (click)="loadDetailPage(record.id)">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('CITY','EditButton') && !isDetailPage && !isPlusButton"
              [class.disabled]="authService.isDisabled('CITY','EditButton')"
              [routerLink]="['/dashboard/city/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('CITY','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('CITY','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-city-edit *ngIf="request.loadEditPage" [onCancel]="onCancel.bind(this)"></app-city-edit>

<div class="modal fade site-detail-modal right" id="cityDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="cityDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-city-detail [recordId]="selectedId"></app-city-detail>
      </div>
    </div>
  </div>
</div>
