<ion-app>
    <ion-split-pane disabled="true" contentId="side-menu-content">
        <ion-menu class="menu-page" type="overlay" contentId="side-menu-content">
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngIf="authService.getUser()">
                        <div class="user-profile-image">
                            <img [src]="authService.getUser().profilePic.path" *ngIf="authService.getUser().profilePic && authService.getUser().profilePic!==null 
                                 && !authService.getUser().profilePic.isDeleted">
                            <img [src]="'/assets/icon/no-image.svg'"
                                 *ngIf="!authService.getUser().profilePic || authService.getUser().profilePic===null || authService.getUser().profilePic.isDeleted">
                        </div>
                        <!--(click)="openPage('account/settings')"-->
                        <ion-label class="user-profile-text">
                            <span>{{authService.getUser()?.fullName}}</span>
                            <!--<ion-icon slot="start" name="settings"></ion-icon>-->
                        </ion-label>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item detail="false" lines="none" (click)="openPage('my/orders')">
                            <ion-icon slot="start" class="box-icon" src="/assets/icon/box.svg"></ion-icon>
                            <ion-label>
                                {{'MY_ORDERS_LABEL' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item detail="false" lines="none" (click)="openPage('completed/orders')">
                            <ion-icon slot="start" class="box-icon" src="/assets/icon/task.svg"></ion-icon>
                            <ion-label>
                                {{'COMPLETED_ORDERS_LABEL' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <!-- <ion-menu-toggle auto-hide="false">
                         <ion-item detail="false" lines="none" (click)="openPage('account/settings')">
                             <ion-icon slot="start" name="settings"></ion-icon>
                             <ion-label>
                                 {{'SETTINGS_LABEL' | translate}}
                             </ion-label>
                         </ion-item>
                     </ion-menu-toggle>-->
                    <ion-menu-toggle auto-hide="false">
                        <ion-item detail="false" lines="none" (click)="logout()">
                            <ion-icon slot="start" src="/assets/icon/logout.svg"></ion-icon>
                            <ion-label>
                                {{'LOGOUT_LABEL' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <div class="build-version-container">
                        <img class="build-version-logo" src="/assets/icon/build-info-icon.svg"/>
                        <span>{{'BUILD_LABEL' | translate}}</span> <span class="version-no">{{versionCode}}</span>
                    </div>
                    <img class="company-logo" src="/assets/images/side.png"/>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="side-menu-content" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>