<div class="breadcrumb-container" *ngIf="!isPlusButton && !isDetailPage">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'DefaultMessage.objName' | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'DefaultMessage.objName' | translate}}</li>
      </ol>
    </div>
    <button class="btn btn-primary add-new-item-button pull-right" (click)="onNewRecord()"
      *ngIf="authService.isAccessible('DEFAULTMESSAGE','AddButton')" title="{{'COMMON.ADD' | translate}}"
      [class.disabled]="authService.isDisabled('DEFAULTMESSAGE','AddButton')">
      <span class="hidden-xs">{{'DefaultMessage.ADD_NEW_DEFAULTMESSAGE' | translate}}</span>
      <span class="visible-xs">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container" [hidden]="request.loadEditPage" [ngClass]="{'no-padding':isDetailPage}">
  <div class="site-card" *ngIf="hasDataLoad">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>{{'DefaultMessage.Message' | translate}}</th>
          <th>{{'DefaultMessage.createdOn' | translate}}</th>
          <th width="50">{{'COMMON.ACTION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.message}}</td>
          <td>{{record.createdOn|date:'dd/MM/yyyy hh:mm'}} </td>
          <td class="text-center">
            <a title="{{'COMMON.EDIT' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('DEFAULTMESSAGE','EditButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('DEFAULTMESSAGE','EditButton')"
              [routerLink]="['/dashboard/default-message/edit/'+record.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a title="{{'COMMON.DELETE' | translate}}" class="action-button"
              *ngIf="authService.isAccessible('DEFAULTMESSAGE','DeleteButton') && !isPlusButton"
              [class.disabled]="authService.isDisabled('DEFAULTMESSAGE','DeleteButton')" (click)="remove(record.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade site-detail-modal right" id="defaultMessageDetailPage" tabindex="-1" role="dialog"
  aria-labelledby="defaultMessageDetailPage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedId">
        <app-defaultmessage-detail [recordId]="selectedId"></app-defaultmessage-detail>
      </div>
    </div>
  </div>
</div>
