<ion-item class="header-item">
    <div class="header-back-button" (click)="back()">
        <fa-icon [icon]="['fas', 'arrow-left']" slot="end"></fa-icon>
    </div>
    <div class="header-title">
        <ion-label>{{'PAGES.ACCOUNT_SETTINGS.HEADING' | translate}}</ion-label>
    </div>
</ion-item>
<ion-content>
    <div class="main-container" *ngIf="user">
        <ion-avatar>
            <div class="edit-icon" (click)="openProfileImagePopup()">
                <fa-icon [icon]="['fas', 'pencil-alt']" slot="end"></fa-icon>
            </div>
            <img [src]="user.profilePic.path"
                 *ngIf="user.profilePic && user.profilePic!==null && !user.profilePic.isDeleted">
            <img [src]="'/assets/icon/no-image.svg'"
                 *ngIf="!user.profilePic || user.profilePic===null || user.profilePic.isDeleted">
        </ion-avatar>
        <div class=" account-header">
            <ion-label class="user-name">{{user.fullName}}</ion-label>
            <ion-label class="edit-label" (click)="openUserSettings()">
                {{'PAGES.ACCOUNT_SETTINGS.LABEL.EDIT_ACCOUNT' | translate}}
            </ion-label>
        </div>
        <div class="languages">
            <ion-label *ngFor="let language of languages" (click)="onLanguageSelect(language)"
                       [ngClass]="{ 'selected' : language.isSelected}">
                <span>{{language.name}}</span>
                <img [src]="language.icon">
            </ion-label>
        </div>
        <form name="accountForm" novalidate="novalidate" #accountForm="ngForm" autocomplete="off">
            <div class="stacked-label-item">
                <div class="key">{{'USER_ACCOUNT_INPUT.MOBILE_NUMBER' | translate}}</div>
                <div class="value">
                    <span>{{user.mobileNo}}</span>
                    <span class="status">
                        <fa-icon *ngIf="user.mobileNoConfirmed" [icon]="['fas', 'pencil-alt']" slot="end"
                                 (click)="changePhoneNumber()"></fa-icon>
                        <span *ngIf="user.mobileNoConfirmed"
                              class="verified">{{'PAGES.ACCOUNT_SETTINGS.LABEL.VERIFIED' | translate}}</span>
                        <span *ngIf="!user.mobileNoConfirmed"
                              class="unverified">{{'PAGES.ACCOUNT_SETTINGS.LABEL.UNVERIFIED' | translate}}</span>
                    </span>
                </div>
            </div>
            <div class="stacked-label-item">
                <div class="key" position="stacked">{{'USER_ACCOUNT_INPUT.EMAIL' | translate}}
                </div>
                <div class="value" position="stacked">
                    <span>{{user.email}}</span>
                    <span class="status">
                        <!--<fa-icon *ngIf="user.emailConfirmed" [icon]="['fas', 'pencil-alt']" slot="end"></fa-icon>-->
                        <span *ngIf="user.emailConfirmed"
                              class="verified">{{'PAGES.ACCOUNT_SETTINGS.LABEL.VERIFIED' | translate}}</span>
                        <span *ngIf="!user.emailConfirmed" class="unverified"
                              (click)="verifyEmail()">{{'PAGES.ACCOUNT_SETTINGS.LABEL.UNVERIFIED' | translate}}</span>
                    </span>
                </div>
                <div class="ion-text-right" *ngIf="!user.emailConfirmed">
                    <div class="resend-verification" (click)="resend()" *ngIf="nextOTP<=0">
                        <ion-label
                            class="forgot-label">{{'PAGES.ACCOUNT_SETTINGS.LABEL.RESEND_EMAIL_VERIFICATION' | translate}}
                        </ion-label>
                    </div>
                    <div class="resend-verification" *ngIf="nextOTP>0">
                        {{getDisplayTime()}}
                    </div>
                </div>
            </div>
            <div class="stacked-label-item">
                <div class="key" position="stacked">{{'USER_ACCOUNT_INPUT.PASSWORD' | translate}}</div>
                <div class="value" position="stacked">
                    <span>******</span>
                    <span class="change-password-label"
                          (click)="verifyPassword()">{{'PAGES.ACCOUNT_SETTINGS.LABEL.CHANGE_PASSWORD' | translate}}</span>
                </div>
            </div>
        </form>
        <div class="user-address-container margin-bottom-20">
            <h6 class="address-label-heading">{{'ADDRESS.ADDRESS'| translate}}</h6>
            <div class="clearfix"></div>
            <h6 class="delivery-address-text">{{'PAGES.USER_SETTINGS.LABEL.PICKUP_DELIVERY_ADDRESS' | translate}}</h6>
            <ion-icon *ngIf="pickupDeliveryAddresses.length === 0" class="plus-icon delivery-address-plus-icon"
                      src="/assets/icon/plus.svg" (click)="addAddress('PICKUP_DELIVERY')"></ion-icon>
            <div class="clearfix"></div>
            <div class="value" *ngFor="let pickupDeliveryAddress of pickupDeliveryAddresses">
                <span
                    class="address-value" *ngIf="pickupDeliveryAddress.residenceType==='HOME'">
                    {{pickupDeliveryAddress.houseNumber}} {{pickupDeliveryAddress.streetNumber}}
                    {{pickupDeliveryAddress.subDistrictName}}, {{pickupDeliveryAddress.districtName}}
                    , {{pickupDeliveryAddress.postalCode}}
                    {{pickupDeliveryAddress.phoneNo}} {{pickupDeliveryAddress.ext}}
                </span>
                <span
                    class="address-value" *ngIf="pickupDeliveryAddress.residenceType==='BUILDING'">
                    {{pickupDeliveryAddress.buildingName}}
                    {{pickupDeliveryAddress.floor}} {{pickupDeliveryAddress.unit}}
                    {{pickupDeliveryAddress.streetNumber}}
                    {{pickupDeliveryAddress.subDistrictName}}, {{pickupDeliveryAddress.districtName}}
                    , {{pickupDeliveryAddress.postalCode}}
                    {{pickupDeliveryAddress.phoneNo}} {{pickupDeliveryAddress.ext}}
                </span>
                <span class="status">
                    <span>
                        <ion-icon slot="icon-only" (click)="editAddress(pickupDeliveryAddress)" class="edit-icon"
                                  src="/assets/icon/edit.svg"></ion-icon>
                    </span>
                </span>
            </div>
            <div *ngIf="pickupDeliveryAddresses.length>0 && pickupDeliveryAddresses[0].note">
                <h6>{{'ADDRESS.NOTE'| translate}}</h6>
                <div class="value">
                <span
                    class="address-value">{{pickupDeliveryAddresses[0].note}}
                </span>
                </div>
            </div>
        </div>
    </div>
</ion-content>