.flexible-content {
    height: 100vh;
}

ion-content .main-container {
    width: 85%;

    .banner-container {
        margin-top: 0;
    }

    .page-header .sub-title {
        margin: 4px auto 0;
    }
}

.language-option {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 20vh;
    background     : var(--app-light-color);
    margin         : 20px auto;
    border-radius  : 6px;
    box-shadow     : 0px 4px 20px var(--app-input-box-shadow);
    border-radius  : 6px;

    .name {
        font-family: 'Futura-Bold-BT', sans-serif;
        font-size  : 22px;
        line-height: 26px;
    }

    .icon {
        display: flex;
        width  : 51px;
        margin : 0 9px;

    }
}

.next-button-container {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    height         : 45px;
    margin         : 20px auto 0;

    .custom-next-button {
        float: right;
    }
}


.language-selected {
    border   : 3px solid var(--ion-color-primary);
    animation: selected .4s ease-out;
    transform: scale(1.1);
}

.language-unselected {
    border   : none;
    animation: unselected .4s ease-out;
    transform: scale(1.0);
}

@keyframes unselected {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes selected {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}

/** MEDIA QUERIES **/

@media screen and (min-width: 480px) {

    .language-option,
    .next-button-container {
        max-width: 380px;
    }
}