<ion-content>
    <div class="flexible-content">
        <div class="main-container">
            <div class="banner-container">
                <img src="../assets/images/language.svg">
            </div>
            <div class="page-header">
                <ion-label class="title">Choose language</ion-label>
                <ion-label class="sub-title">Choose your language here</ion-label>
            </div>
            <div *ngFor="let language of languages" class="language-option"
                [ngClass]="{'language-selected' : language.isSelected, 'language-unselected': !language.isSelected}"
                (click)="onLanguageSelect(language)">
                <span class="name">{{language.name}}</span>
                <span class="icon"><img [src]="['../assets/icon/languages/'+language.code+'.svg']"></span>
            </div>
            <div class="next-button-container">
                <ion-button class="custom-next-button" (click)="proceed()">
                    <fa-icon [icon]="['fas', 'chevron-right']" slot="end"></fa-icon>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>