<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{"DRIVER.objName" | translate}} {{'ADMINISTRATION' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li [routerLink]="['/dashboard/drivers']">{{"DRIVER.objNames" | translate}}</li>
        <li class="active" *ngIf="request.isNewRecord">{{"COMMON.NEW" | translate}} {{'DRIVER.objName' | translate}}
        </li>
        <li class="active" *ngIf="!request.isNewRecord">{{"COMMON.UPDATE" | translate}} {{driver.fullName}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #recordForm="ngForm" novalidate="novalidate">
      <div class="col-md-12">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!role.valid && request.onClickValidation}">
          <label>{{"DRIVER.Status" | translate}}</label>
          <ng-select [items]="status" bindLabel="name" bindValue="slug" name="role" [(ngModel)]="driver.status"
            [ngClass]="{'invalid-field':!role.valid && request.onClickValidation}" required="required" #role="ngModel"
            placeholder="{{'DRIVER.SELECT_STATUS' | translate}}">
          </ng-select>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!staffId.valid && request.onClickValidation}">
          <label>{{"DRIVER.StaffId" | translate}}</label>
          <input class="form-control" type="text" name="staffId" #staffId="ngModel" [(ngModel)]="driver.employeeId"
            required="required" placeholder="{{'DRIVER.StaffId' | translate}}" pattern="^[a-zA-Z0-9]*$" maxlength="7"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':!nationalId.valid && request.onClickValidation}">
          <label>{{"DRIVER.NationalId" | translate}}</label>
          <input class="form-control" type="text" name="nationalId" #nationalId="ngModel"
            [(ngModel)]="driver.nationalId" [mask]="nationalIdMast" required="required" minlength="13" maxlength="13"
            placeholder="{{'DRIVER.NationalId' | translate}}" />
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':!firstName.valid && request.onClickValidation}">
          <label>{{"DRIVER.FirstName" | translate}}</label>
          <input class="form-control" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="driver.firstName"
            required="required" placeholder="{{'DRIVER.FirstName' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!lastname.valid && request.onClickValidation}">
          <label>{{"DRIVER.LastName" | translate}}</label>
          <input class="form-control" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="driver.lastName"
            required="required" placeholder="{{'DRIVER.LastName' | translate}}">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!dobDate.valid && request.onClickValidation}">
          <label>{{"DRIVER.DOB" | translate}}</label>
          <my-date-picker name="dobDate" [options]="myDatePickerOptions" [(ngModel)]="driver.dobCalendar" required
            #dobDate="ngModel" placeholder="{{'DRIVER.DOB' | translate}}">
          </my-date-picker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':!licenseId.valid && request.onClickValidation}">
          <label>{{"DRIVER.LicenseId" | translate}}</label>
          <input class="form-control" type="text" name="licenseId" #licenseId="ngModel" [(ngModel)]="driver.licenseId"
            maxlength="100" required="required" placeholder="{{'DRIVER.LicenseId' | translate}}">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!iEmail.valid && request.onClickValidation}">
          <label>{{"DRIVER.Email" | translate}}</label>
          <input class="form-control" type="email" name="iEmail" #iEmail="ngModel" [(ngModel)]="driver.email" email
            [pattern]="emailPattern" required="required" placeholder="{{'DRIVER.Email' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':!phoneNumber.valid && request.onClickValidation}">
          <label>{{"DRIVER.PhoneNumber" | translate}}</label>
          <input class="form-control" type="tel" name="phoneNumber" #phoneNumber="ngModel"
            [(ngModel)]="driver.phoneNumber" minlength="10" maxlength="10" required="required"
            placeholder="{{'DRIVER.PhoneNumber' | translate}}" mask="0000000000">
        </div>
        <div *ngIf="request.onClickValidation && phoneNumber.invalid" class="error-text">
          <span *ngIf="phoneNumber.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PHONE_NUMBER_DIGITS'| translate}}
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':newPassword.invalid && request.onClickValidation}">
          <label>{{"DRIVER.Password" | translate}}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-container="body" data-toggle="popover"
              data-placement="top" data-content="A password must contain
               <br>At least 8 characters
               <br>At least one lowercase character
               <br>At least one uppercase character
               <br>At least one number
               <br>At least one special character">
            </i>
          </label>
          <input class="form-control" type="password" name="newPassword" #newPassword="ngModel"
            [(ngModel)]="driver.password" required="required" placeholder="{{'DRIVER.Password' | translate}}"
            minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        </div>
        <div *ngIf="request.onClickValidation && newPassword.invalid" class="error-text">
          <span *ngIf="newPassword.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
          </span>
          <span *ngIf="newPassword.errors.pattern && !newPassword.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error': (!confirmPassword.valid || driver.password !== driver.confirmPassword) && request.onClickValidation}">
          <label>{{"DRIVER.ConfirmPassword" | translate}}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-container="body" data-toggle="popover"
              data-placement="top" data-content="A password must contain
               <br>At least 8 characters
               <br>At least one lowercase character
               <br>At least one uppercase character
               <br>At least one number
               <br>At least one special character">
            </i>
          </label>
          <input class="form-control" type="password" name="confirmPassword" #confirmPassword="ngModel"
            [(ngModel)]="driver.confirmPassword" required="required" placeholder="{{'DRIVER.Password' | translate}}"
            minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        </div>
        <div *ngIf="request.onClickValidation && confirmPassword.invalid" class="error-text">
          <span *ngIf="confirmPassword.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_DIGITS'| translate}}
          </span>
          <span *ngIf="confirmPassword.errors.pattern && !confirmPassword.errors.minlength">
            {{'USER_ACCOUNT_INPUT_ERROR.PASSWORD_PATTERN'| translate}}
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error':!bikeInformation.valid && request.onClickValidation}">
          <label>{{"DRIVER.BikeInformation" | translate}}</label>
          <input class="form-control" type="text" name="bikeInformation" #bikeInformation="ngModel"
            [(ngModel)]="driver.bikeInformation" required="required"
            placeholder="{{'DRIVER.BikeInformation' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.LicensePlate" | translate}}</label>
          <input class="form-control" type="text" name="licencePlate" #licencePlate="ngModel"
            [(ngModel)]="driver.licencePlate" required="required" placeholder="{{'DRIVER.LicensePlate' | translate}}">
        </div>
      </div>
      <div class="clearfix"></div>
      <input class="file-input" id="attachment" type="file" ng2FileSelect [uploader]="attachmentUploader"
        *ngIf="!loading" />
      <div class="col-md-6">
        <div class="form-group attachment-item-container margin-bottom-10"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.ProfilePic" | translate}}</label>
          <div class="add-new-image-container" (click)="openFileUploader('PROFILE_PIC')" *ngIf="!profilePic">
            <i class="fa fa-plus add-new-icon" aria-hidden="true"></i>
          </div>
          <div class="image-preview-container" *ngIf="profilePic">
            <a [href]="profilePic.path" target="_blank"><img [src]="profilePic.path" class="img-responsive"></a>
            <span class="remove-icon" (click)="removeFile(profilePic)" *ngIf="!driver.isDeleted">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 margin-bottom-20">
        <label>{{"DRIVER.UploadDocument" | translate}}
          <span class="upload-message">({{"DRIVER.UploadDocumentWarring" | translate}})</span>
        </label>
        <div class="clearfix"></div>
        <div class="form-group attachment-item-container margin-bottom-10 margin-top-20"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.ID_CARD_FRONT" | translate}}</label>
          <div class="add-new-image-container" (click)="openFileUploader('ID_CARD_FRONT')" *ngIf="!idCardFront">
            <i class="fa fa-plus add-new-icon" aria-hidden="true"></i>
          </div>
          <div class="image-preview-container" *ngIf="idCardFront">
            <a [href]="idCardFront.path" target="_blank"><img [src]="idCardFront.path" class="img-responsive"></a>
            <span class="remove-icon" (click)="removeFile(idCardFront)" *ngIf="!driver.isDeleted">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </div>
        <div class="form-group attachment-item-container margin-bottom-10 margin-top-20"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.ID_CARD_BACK" | translate}}</label>
          <div class="add-new-image-container" (click)="openFileUploader('ID_CARD_BACK')" *ngIf="!idCardBack">
            <i class="fa fa-plus add-new-icon" aria-hidden="true"></i>
          </div>
          <div class="image-preview-container" *ngIf="idCardBack">
            <a [href]="idCardBack.path" target="_blank"><img [src]="idCardBack.path" class="img-responsive"></a>
            <span class="remove-icon" (click)="removeFile(idCardBack)" *ngIf="!driver.isDeleted">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </div>
        <div class="form-group attachment-item-container margin-bottom-10 margin-top-20"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.DRIVER_LICENSE_FRONT" | translate}}</label>
          <div class="add-new-image-container" (click)="openFileUploader('DRIVER_LICENSE_FRONT')"
            *ngIf="!driverLicenceFront">
            <i class="fa fa-plus add-new-icon" aria-hidden="true"></i>
          </div>
          <div class="image-preview-container" *ngIf="driverLicenceFront">
            <a [href]="driverLicenceFront.path" target="_blank"><img [src]="driverLicenceFront.path"
                class="img-responsive"></a>
            <span class="remove-icon" (click)="removeFile(driverLicenceFront)" *ngIf="!driver.isDeleted">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </div>
        <div class="form-group attachment-item-container margin-bottom-10 margin-top-20"
          [ngClass]="{'has-error': !licencePlate.valid && request.onClickValidation}">
          <label>{{"DRIVER.DRIVER_LICENSE_BACK" | translate}}</label>
          <div class="add-new-image-container" (click)="openFileUploader('DRIVER_LICENSE_BACK')"
            *ngIf="!driverLicenceBack">
            <i class="fa fa-plus add-new-icon" aria-hidden="true"></i>
          </div>
          <div class="image-preview-container" *ngIf="driverLicenceBack">
            <a [href]="driverLicenceBack.path" target="_blank"><img [src]="driverLicenceBack.path"
                class="img-responsive"></a>
            <span class="remove-icon" (click)="removeFile(driverLicenceBack)" *ngIf="!driver.isDeleted">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 text-right margin-bottom-20 margin-top-20">
        <button class="btn btn-default site-button margin-right-10" type="button" (click)="save(recordForm.form.valid)"
          [disabled]="request.isRequested" *ngIf="!driver.isDeleted">
          <i class="lnr lnr-checkmark-circle"></i> {{"COMMON.SAVE" | translate}}
        </button>
        <button class="btn btn-primary site-cancel-button " type="button" [routerLink]="['/dashboard/drivers']">
          <i class="lnr lnr-cross-circle "></i>
          {{"COMMON.CANCEL" | translate}}
        </button>
        <div class="clearfix"></div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
