<div class="extra-page">
  <div class="display-align">
    <div class="img">
      <img src="assets/images/logo-full.png" class="img-responsive"/>
    </div>
  </div>
  <div class="message-container">
    <div class="message-heading">Not Found</div>
    <div class="message-body">The page you have requested is not found.</div>
  </div>
</div>
