.postal-code-item {
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover,
  &:focus
  &:active,
  &.active {
    background-color: #337ab7;
    color: #fff;
  }
}
