ion-slide {
    height: 205px;

    .pro-text {
        position: absolute;
        font-family: Nunito-ExtraBold, sans-serif;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: -0.48px;
        color: #FFFFFF;
        text-shadow: 0px 3px 6px #000000BF;
        bottom: 23px;
        left: 23px;
        text-align: left;
        width: 80%;
    }
}

.time-text {
    font-size: 18px;
    color: green;
}

.time-text-loading {
    font-size: 14px;
    color: green;
}

.orderid-text {
    font-size: 18px;
}

.payment-status-icon {
    margin-left: 5px;
    margin-right: 2px;
    max-height: 35px !important;
    width: 25px;
}

.order-status-container span {
    font-family: Nunito-SemiBold, sans-serif;
    color: #104B7A;
    margin-left: 5px;
    font-size: 14px !important;
    line-height: 18px;
}