<app-header [header]="header"></app-header>
<ion-content class="ion-padding" *ngIf="loading">
    <div class="ion-text-center">
        <img src="/assets/images/loading.gif" class="img-responsive">
    </div>
</ion-content>
<ion-content class="ion-padding" *ngIf="!loading">
    <div class="custom-card user-tracking-card ion-padding margin-bottom-20 no-margin-top" *ngIf="orders.length > 1">
        <div class="order-user-name">Hi {{user?.fullName}} {{'PAGES.ORDER_DETAIL.YOU_HAVE_MULTIPLE_ORDERS'|translate}}
        </div>
        <ion-button class="track-order-button margin-top-10" (click)="loadLanding()">
            {{'PAGES.ORDER.BUTTON.VIEW_ORDERS'|translate}}
        </ion-button>
    </div>
    <div class="custom-card user-tracking-card ion-padding margin-bottom-20 no-margin-top" *ngIf="orders.length === 1">
        <div class="order-user-name">Hi {{user?.fullName}}
        </div>
        <div class="user-order-status-container">
            <div class="cloth-label">
                {{'PAGES.ORDER_DETAIL.ORDER_ID'|translate}} <span class="orderid-text">{{orders[0].orderId}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="cloth-label margin-top-10">
                {{'PAGES.ORDER_DETAIL.YOUR_CLOTH_TEXT'|translate}}
            </div>
            <div class="order-status-container">
                <img class="payment-status-icon" src="/assets/icon/status/driver-pickup.svg"
                     *ngIf="orders[0].status==='AWAITING_COLLECTION'">
                <img class="payment-status-icon" src="/assets/icon/status/driver-delivery.svg"
                     *ngIf="orders[0].status==='ON_THE_WAY'">
                <span *ngIf="orders[0].status==='AWAITING_COLLECTION'">
                    {{'PAGES.ORDER.LABEL.AWAITING_COLLECTION'|translate}}
                </span>
                <span *ngIf="orders[0].status==='ON_THE_WAY'">
                    {{'PAGES.ORDER.LABEL.ON_THE_WAY'|translate}}
                </span>
            </div>
            <div class="clearfix"></div>
            <div class="cloth-label margin-top-10">
                {{'PAGES.ORDER_DETAIL.YOUR_CLOTH_COMING'|translate}} <span class="time-text"
                                                                           *ngIf="orders[0].time">{{orders[0].time?.duration?.text}}</span>
                <span class="time-text-loading" *ngIf="!orders[0].time">Loading..</span>
            </div>
        </div>
        <ion-button class="track-order-button margin-top-10" (click)="tracking(orders[0])">
            {{'PAGES.ORDER.BUTTON.TRACK_ORDER'|translate}}
            <ion-icon src="/assets/icon/tracking-button-icon.svg"></ion-icon>
        </ion-button>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let promotion of promotions" (click)="openLink(promotion)">
            <ion-img [src]="promotion.file[0].path" *ngIf="promotion.file && promotion.file.length>0"></ion-img>
            <ion-img src="/assets/images/slider-image.png" *ngIf="!promotion.file || promotion.file.length<=0">
            </ion-img>
            <div class="pro-text">{{promotion.title}}</div>
        </ion-slide>
    </ion-slides>
    <ion-list class="categories-container">
        <div class="category-main-item">
            <div class="category-icon" (click)="openPage('/categories')">
                <img [src]="'/assets/icon/washing-machine.svg'"/>
            </div>
            <div class="category-text">
                <h4 class="category-name" (click)="openPage('/categories')">{{'PAGES.LANDING.ON_DEMAND'|translate}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="category-main-item">
            <div class="category-icon" (click)="openSite('/')">
                <img [src]="'/assets/icon/promotions.svg'"/>
            </div>
            <div class="category-text" (click)="openSite('/')">
                <h4 class="category-name">{{'PAGES.LANDING.PROMOTIONS'|translate}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="category-main-item">
            <div class="category-icon" (click)="openSite('/subscription')">
                <img [src]="'/assets/icon/subscription.svg'"/>
            </div>
            <div class="category-text" (click)="openSite('/subscription')">
                <h4 class="category-name">{{'PAGES.LANDING.SUBSCRIPTION_PACKAGES'|translate}}</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
        <ion-fab-button class="main-fav-button">
            <ion-img src="/assets/images/fav-icon.png"></ion-img>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="/landing" routerDirection="root">
                <ion-icon name="ios-home"></ion-icon>
            </ion-fab-button>
            <ion-fab-button routerLink="/my/orders" routerDirection="root">
                <ion-icon src="/assets/icon/box.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button routerLink="/account/settings" routerDirection="root">
                <ion-icon name="md-settings"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>