<div class="breadcrumb-container">
  <div class="col-md-12 breadcrumb-detail-container">
    <a class="menu-icon-button" (click)="commonUtil.toggleMenu()">
      <img src="/assets/images/menu.png" class="img-responsive">
    </a>
    <div class="project-name-container">
      <h3 class="project-name">{{'ACCOUNT_SETTINGS' | translate}}</h3>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">{{'DASHBOARD.objName' | translate}}</a></li>
        <li class="active">{{'ACCOUNT_SETTINGS' | translate}}</li>
      </ol>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="site-page-container">
  <div class="site-card">
    <form #recordForm="ngForm" novalidate="novalidate">
      <div class="col-md-12">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!employeeId.valid && onClickValidation}">
          <label>{{"USERS.EmployeeId" | translate}}</label>
          <input class="form-control" type="text" name="employeeId" #employeeId="ngModel" [(ngModel)]="user.employeeId"
                 required="required" placeholder="{{'USERS.EmployeeId' | translate}}" readonly="readonly"/>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!firstName.valid && onClickValidation}">
          <label>{{"USERS.FirstName" | translate}}</label>
          <input class="form-control" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName"
                 required="required" placeholder="{{'FIRST_NAME' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!lastname.valid && onClickValidation}">
          <label>{{"USERS.LastName" | translate}}</label>
          <input class="form-control" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastName"
                 required="required" placeholder="{{'LAST_NAME' | translate}}">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!position.valid && onClickValidation}">
          <label>{{"USERS.Position" | translate}}</label>
          <input class="form-control" type="text" name="phone" #position="ngModel" [(ngModel)]="user.position"
                 required="required" placeholder="{{'USERS.Position' | translate}}" readonly="readonly">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group margin-bottom-10" [ngClass]="{'has-error':!email.valid && onClickValidation}">
          <label>{{"USERS.Email" | translate}}</label>
          <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
                 required="required" placeholder="{{'EMAIL' | translate}}">
        </div>
      </div>
      <div class="col-md-6">
        <label class="language-label" (click)="changeLanguage('en')">English</label>
        <label class="language-label" (click)="changeLanguage('th')">Thai</label>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 no-padding text-right">
        <button class="btn btn-default site-button margin-right-10" type="button" (click)="update(recordForm.form)">
          <i class="lnr lnr-checkmark-circle"></i> {{"COMMON.SAVE" | translate}}
        </button>
        <div class="clearfix"></div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>
