ion-content .main-container {
    .key {
        color: var(--app-dark-color);
        font-size: 14px;
        line-height: 19px;
        --padding-start: 0px;

        .plus-icon {
            font-size: 22px;
            margin-left: 5px;
        }
    }

    .value {
        span {
            color: #91A1B1;
            font-size: 12px;
            line-height: 16px;
        }

        .address-value {
            width: 90%;
            display: inline-block;
            vertical-align: middle;
        }

        .status {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer !important;
        }
    }

    .custom-button-item {
        margin: 30px 0;
    }
}