.call-loading {
    margin-top: 80px;
    max-width: 128px;
    margin-bottom: 80px;
}

.order-actions {
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;

    .order-action-item {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 25px;
    }
}