<ion-content class="address-page">
    <ion-icon class="address-back-button" (click)="close()" icon="md-arrow-back"></ion-icon>
    <div class="address-container main-container">
        <div class="address-header-pickup">
            <img class="address-icon" src="/assets/icon/address.svg"/>
            <h4 *ngIf="address.type === 'PICKUP_DELIVERY'">{{'ADDRESS.PICKUP_ADDRESS_LABEL'|translate}}</h4>
            <h4 *ngIf="address.type === 'CONTACT'">{{'ADDRESS.CONTACT_ADDRESS_LABEL'|translate}}</h4>
            <p>{{'ADDRESS.ADDRESS_SUB_LABEL'|translate}}</p>
        </div>
        <form name="addressForm" novalidate="novalidate" #addressForm="ngForm" autocomplete="off">
            <h6 class="no-margin">{{'ADDRESS.ADDRESS'| translate}}</h6>
            <div class="custom-radio-group-container no-margin">
                <ion-radio-group #locality="ngModel" [(ngModel)]="address.residenceType" name="iResidenceType"
                                 autocomplete="off" required="required" #iResidenceType="ngModel">
                    <div class="custom-radio-container">
                        <ion-item class="custom-radio-item">
                            <ion-label>{{'ADDRESS.RESIDENT_HOME'| translate}}</ion-label>
                            <ion-radio class="custom-ion-radio" slot="start" value="HOME" mode="md"
                                       [ngClass]="{ 'is-invalid-radio': onClickValidation && iResidenceType.invalid }"
                                       checked></ion-radio>
                        </ion-item>
                        <ion-item class="custom-radio-item">
                            <ion-label>{{'ADDRESS.RESIDENT_TOURIST'| translate}}</ion-label>
                            <ion-radio
                                [ngClass]="{ 'is-invalid-radio': onClickValidation && iResidenceType.invalid }"
                                class="custom-ion-radio" slot="start" value="BUILDING" mode="md"></ion-radio>
                        </ion-item>
                    </div>
                </ion-radio-group>
            </div>
            <div *ngIf="address.residenceType!=='BUILDING'">
                <ion-item class="custom-select-item">
                    <ion-input class="postal-code-input" type="text" name="houseNumber"
                               [ngClass]="{ 'is-invalid': onClickValidation && houseNumber.invalid}"
                               placeholder="{{'ADDRESS.HOUSE_NUMBER' | translate}}" [(ngModel)]="address.houseNumber"
                               autocomplete="off" required="required" #houseNumber="ngModel">
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && houseNumber.invalid" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.HOUSE_NUMBER_REQUIRED'| translate}}
                </div>
            </div>
            <div *ngIf="address.residenceType!=='BUILDING'">
                <ion-item class="custom-input-item">
                    <ion-input class="postal-code-input" type="text" name="streetNumber"
                               [ngClass]="{ 'is-invalid': onClickValidation && streetNumber.invalid}"
                               placeholder="{{'ADDRESS.STREET_NUMBER' | translate}}" [(ngModel)]="address.streetNumber"
                               autocomplete="off" required="required" #streetNumber="ngModel">
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && streetNumber.invalid" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.STREET_NUMBER_REQUIRED'| translate}}
                </div>
            </div>
            <div *ngIf="address.residenceType==='BUILDING'">
                <ion-item class="custom-input-item">
                    <ion-input class="postal-code-input" type="text" name="buildingName"
                               [ngClass]="{ 'is-invalid': onClickValidation && buildingName.invalid}"
                               placeholder="{{'ADDRESS.BUILDING_NUMBER' | translate}}"
                               [(ngModel)]="address.buildingName"
                               autocomplete="off" required="required" #buildingName="ngModel">
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && buildingName.invalid" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.BUILDING_NUMBER_REQUIRED'| translate}}
                </div>
            </div>
            <ion-row *ngIf="address.residenceType==='BUILDING'">
                <ion-col class="no-padding-left">
                    <ion-item class="custom-input-item no-margin">
                        <ion-input class="postal-code-input" type="text" name="floorNo"
                                   [ngClass]="{ 'is-invalid': onClickValidation && floorNo.invalid}"
                                   placeholder="{{'ADDRESS.FLOOR_NO' | translate}}" [(ngModel)]="address.floor"
                                   autocomplete="off" required="required" #floorNo="ngModel">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="onClickValidation && floorNo.invalid" class="error-text margin-top-10">
                        {{'USER_ACCOUNT_INPUT_ERROR.FLOOR_NO_REQUIRED'| translate}}
                    </div>
                </ion-col>
                <ion-col class="no-padding-right">
                    <ion-item class="custom-input-item no-margin">
                        <ion-input class="postal-code-input" type="text" name="unitNo"
                                   [ngClass]="{ 'is-invalid': onClickValidation && unitNo.invalid}"
                                   placeholder="{{'ADDRESS.UNIT_NO' | translate}}" [(ngModel)]="address.unit"
                                   autocomplete="off" required="required" #unitNo="ngModel">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="onClickValidation && unitNo.invalid" class="error-text margin-top-10">
                        {{'USER_ACCOUNT_INPUT_ERROR.UNIT_NO_REQUIRED'| translate}}
                    </div>
                </ion-col>
            </ion-row>
            <div *ngIf="address.residenceType==='BUILDING'">
                <ion-item class="custom-input-item">
                    <ion-input class="postal-code-input" type="text" name="streetNumber"
                               [ngClass]="{ 'is-invalid': onClickValidation && streetNumber.invalid}"
                               placeholder="{{'ADDRESS.STREET_NUMBER' | translate}}" [(ngModel)]="address.streetNumber"
                               autocomplete="off" required="required" #streetNumber="ngModel">
                    </ion-input>
                </ion-item>
                <div *ngIf="onClickValidation && streetNumber.invalid" class="error-text">
                    {{'USER_ACCOUNT_INPUT_ERROR.STREET_NUMBER_REQUIRED'| translate}}
                </div>
            </div>
            <ion-item class="custom-select-item">
                <ion-label>{{'ADDRESS.ADDRESS_PROVINCE'|translate}}</ion-label>
                <ion-select class="custom-ion-select" [interfaceOptions]="actionSheetOptions"
                            interface="action-sheet" #province="ngModel" name="province"
                            placeholder="{{'ADDRESS.ADDRESS_PROVINCE' | translate}}"
                            [ngClass]="{ 'is-invalid': onClickValidation && province?.errors?.required }"
                            [(ngModel)]="address.provinceId" [selectedText]="address.province" autocomplete="off"
                            required="required" (ionChange)="onProvinceSelection(address.provinceId)"
                            [cancelText]="'PAGES.COMMON.LABEL.CANCEL'  | translate">
                    <ion-select-option [value]="province.id"
                                       *ngFor="let province of provinces">{{province.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="onClickValidation && district?.errors?.required" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.DISTRICT_REQUIRED'| translate}}
            </div>
            <ion-item class="custom-select-item">
                <ion-label>{{'ADDRESS.ADDRESS_DISTRICT'|translate}}</ion-label>
                <ion-select class="custom-ion-select" [interfaceOptions]="actionSheetOptions"
                            interface="action-sheet" #district="ngModel" name="district"
                            placeholder="{{'ADDRESS.ADDRESS_DISTRICT' | translate}}"
                            [ngClass]="{ 'is-invalid': onClickValidation && district?.errors?.required }"
                            [(ngModel)]="address.districtId" [selectedText]="address.district" autocomplete="off"
                            required="required" (ionChange)="onDistrictSelection(address.districtId,true)"
                            [cancelText]="'PAGES.COMMON.LABEL.CANCEL'  | translate">
                    <ion-select-option [value]="district.id"
                                       *ngFor="let district of districts">{{district.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="onClickValidation && district?.errors?.required" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.DISTRICT_REQUIRED'| translate}}
            </div>
            <ion-item class="custom-select-item">
                <ion-label>{{'ADDRESS.ADDRESS_SUB_DISTRICT'|translate}}</ion-label>
                <ion-select class="custom-ion-select" [interfaceOptions]="actionSheetOptions"
                            interface="action-sheet" #subDistrict="ngModel" name="subDistrict"
                            placeholder="{{'ADDRESS.ADDRESS_SUB_DISTRICT' | translate}}"
                            [ngClass]="{ 'is-invalid': onClickValidation && subDistrict?.errors?.required }"
                            [(ngModel)]="address.subDistrictId" [selectedText]="address.subDistrict" autocomplete="off"
                            required="required" (ionChange)="onSubDistrictSelection(address.subDistrictId)"
                            [cancelText]="'PAGES.COMMON.LABEL.CANCEL'  | translate"
                            [disabled]="!address.districtId">
                    <ion-select-option [value]="subDistrict.id"
                                       *ngFor="let subDistrict of subDistricts">{{subDistrict.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="onClickValidation && subDistrict?.errors?.required" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.SUB_DISTRICT_REQUIRED'| translate}}
            </div>
            <ion-item class="custom-select-item">
                <ion-input class="postal-code-input" type="tel" inputmode="tel" name="postalCode"
                           [ngClass]="{ 'is-invalid': onClickValidation && (postalCode?.errors?.required || postalCode?.errors?.minlength) }"
                           placeholder="{{'ADDRESS.ADDRESS_POSTAL_CODE'| translate}}" minlength="5" maxlength="5"
                           #postalCode="ngModel" [(ngModel)]="address.postalCode"
                           [brmasker]="{mask:'00000', len:5, type:'num'}"
                           autocomplete="off" required="required">
                </ion-input>
            </ion-item>
            <div *ngIf="onClickValidation && postalCode?.errors?.required" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.POSTAL_CODE_REQUIRED'| translate}}
            </div>
            <ion-row>
                <ion-col class="no-padding-left">
                    <ion-item class="custom-input-item no-margin">
                        <ion-input type="tel" inputmode="tel" #phoneNo="ngModel" name="phoneNo"
                                   [ngClass]="{ 'is-invalid': onClickValidation && phoneNo.invalid }"
                                   placeholder="{{'ADDRESS.PHONE_NUMBER'| translate}}" minlength="7"
                                   maxlength="9" [(ngModel)]="address.phoneNo"
                                   pattern="^[0-9]{7,9}(\\.\\d{1,2})?$" autocomplete="off"
                                   required="required">
                            <fa-icon [icon]="['fas', 'phone']" rotate="90" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="onClickValidation && phoneNo?.invalid" class="error-text">
                        <span
                            *ngIf="phoneNo.invalid && !phoneNo?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.PHONE_NUMBER_REQUIRED'| translate}}</span>
                        <span
                            *ngIf="phoneNo?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.PHONE_NUMBER_NOT_VALID'| translate}}</span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="no-padding-left">
                    <ion-item class="custom-input-item no-margin">
                        <ion-input type="tel" inputmode="tel" #aPhoneNo="ngModel" name="aPhoneNo"
                                   [ngClass]="{ 'is-invalid': onClickValidation && aPhoneNo.invalid }"
                                   placeholder="{{'ADDRESS.ALTERNATE_PHONE_NUMBER'| translate}}" minlength="7"
                                   maxlength="9" [(ngModel)]="address.alternatePhoneNo"
                                   pattern="^[0-9]{7,9}(\\.\\d{1,2})?$" autocomplete="off">
                            <fa-icon [icon]="['fas', 'phone']" rotate="90" slot="end"></fa-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="onClickValidation && aPhoneNo?.invalid" class="error-text">
                        <span
                            *ngIf="aPhoneNo.invalid && !aPhoneNo?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.PHONE_NUMBER_REQUIRED'| translate}}</span>
                        <span
                            *ngIf="aPhoneNo?.errors?.pattern">{{'USER_ACCOUNT_INPUT_ERROR.PHONE_NUMBER_NOT_VALID'| translate}}</span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-item class="custom-input-item">
                <ion-textarea rows="4" cols="20" type="text" #note="ngModel" name="note"
                              [ngClass]="{ 'is-invalid': onClickValidation && note.invalid }"
                              placeholder="{{'ADDRESS.ADD_SHORT_NOTE' | translate}}" [(ngModel)]="address.note"
                              autocomplete="off" required="required" #note="ngModel">
                </ion-textarea>
            </ion-item>
            <div *ngIf="onClickValidation && note.invalid" class="error-text">
                {{'USER_ACCOUNT_INPUT_ERROR.ADD_SHORT_NOTE_REQUIRED'| translate}}
            </div>
            <ion-row>
                <ion-col class="no-padding-left">
                    <ion-item class="gps-location-item">
                        <ion-avatar slot="start">
                            <img src="/assets/icon/gps.png">
                        </ion-avatar>
                        <ion-label>
                            {{'ADDRESS.GPS_UNKNOWN' | translate}}
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col class="no-padding-right">
                    <ion-button class="gps-location" [disabled]="!hasValidAddress()"
                                (click)="openLocationPopup()">{{'ADDRESS.ADD_GPS_LOCATION' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
        <ion-button class="save-button" (click)="onSubmit(addressForm.form.valid)">{{'SAVE_BUTTON' | translate}}
        </ion-button>
    </div>
</ion-content>